[2017-10-25 22:34] rpeszek commented on #520
If it helps, here is a trivial example:
https://github.com/rpeszek/eta-misc-test/tree/eta-issue-520

All code is in just one file [Main.hs](https://github.com/rpeszek/eta-misc-test/blob/eta-issue-520/src/Main.hs).
To reproduce do etlas run and as first curl do this:
[code]
It was deadlocking reliably on my mac.

[2017-10-26 02:58] rahulmutt commented on #520
It turns out the deadlocking is due to a bug in concurrent lazy evaluation of static thunks. Thanks @jneira & @rpeszek for making it easy for me to reproduce it.

[2017-10-26 14:36] swingbit opened #541 "NPE when reading with Data.Text.IO"
This simple example uses `Data.Text.IO` to implement a basic `cat`: reads from a file, outputs from stdout:
[code]

Here is its cabal file:
[code]

When I run it (using the cabal file as input):
[code]

Notice that using `System.IO` instead of `Data.Text.IO` works fine.
I have also tried `Data.Text.Lazy.IO`, it still fails.

Some details:
[code]
[code]
[code]

[2017-10-27 03:33] igrep opened #542 "Exporting a static method whose arguments include JIntArray causes a panic"
Sample code to reproduce:

[code]

The error:

[code]

[2017-10-27 07:33] #542 closed

[2017-10-27 08:00] rahulmutt commented on #541
Thanks for reporting this! I was able to reproduce this locally on the most recent build.

[2017-10-27 08:05] rahulmutt commented on #542
This is fixed on `0.0.9b3`, see the [updated docs](http://eta-lang.org/docs/html/getting-started.html#method-1-binary-installation) on how to select the new version with `etlas`.

[2017-10-27 08:06] rahulmutt commented on #521
This is fixed on `0.0.9b3`, see the [updated docs](http://eta-lang.org/docs/html/getting-started.html#method-1-binary-installation) on how to select the new version with Etlas 1.1.0.0.

[2017-10-27 10:31] Gurkenglas opened #543 "traverse print [1..] overflows the stack"
This ought to take constant space, as it does in Haskell.

[code]

[2017-10-27 15:39] rahulmutt commented on #543
Yes, indeed. This stack trace pattern looks like something that can be optimized with #442. That should be implemented within the next couple of weeks.

Closing because that issue can solve this. I'll verify that this problem is fixed once I implement #442 and re-open it if it isn't.

[2017-10-27 20:51] bkyrlach opened #544 "Runtime error using FFI wrapper..."
I'm trying to implement [Rapidoid ReqRespHandler](https://github.com/rapidoid/rapidoid/blob/master/rapidoid-http-fast/src/main/java/org/rapidoid/http/ReqRespHandler.java) and even though the bytecode that's generated looks correct, I get an ```java.lang.AbstractMethodError``` at runtime.

The interface method I'm trying to wrap is this...

[code]

I have the following FFI declaration...

[code]

T

[2017-10-27 20:55] rahulmutt commented on #544
The FFI declaration looks fine to me. It would be great it you can create a github repo with a minimal setup so I can play around with this. Thanks!

[2017-10-27 21:08] bkyrlach commented on #544
Sure thing... repo is [here](https://github.com/bkyrlach/EtaExample)

If you do ```etlas run``` and then hit [http://localhost:8080/test](http://localhost:8080/test) you should see the error.

[2017-10-30 10:30] rahulmutt commented on #544
Ok I've done a successful repro. I'll see if I can tweak the example to make it work.

At the outset, something looks strange:

It's giving an error about a method signature `(Object, Object)Object` and the method signature you actually generated was `(Req, Resp)Object` for execute.

[2017-10-30 10:33] rahulmutt commented on #539
Closing, as this has been resolved.

[2017-10-30 10:33] #539 closed

[2017-10-30 10:34] rahulmutt commented on #537
@flyfish30 Any updates on this?

[2017-10-30 13:51] rahulmutt opened #545 "[etlas] Fix the new-build command"
The `new-build` command currently has several problems:

1) It builds an uberjar even though the uberjar flag is not on.
2) It seems to not apply patches correctly causing build failures.

[2017-10-30 15:21] bkyrlach commented on #544
Yeah, I verified that it's generating the correct implementation by decompiling the output jar. Hope you figure it out. :)

[2017-10-30 15:34] rahulmutt commented on #544
Ok, I think I see the problem:
[code]
Note that it derives from `TwoParamLambda` and `execute` is an attempt to *override* it. Generics compile down all parameters to just `Object` so it actually expects an implementation for `Object execute(Object req, Object resp)`.

So the correct way to do this is:
[code]

And then use `mkHandler` for all your implementations. I tried this with your sample pro

[2017-10-30 15:44] bkyrlach commented on #544
Thank you so much for your help. Did you have to change anything else? I made the change you suggested, but I just get a different error.

[code]

[2017-10-30 16:47] bkyrlach commented on #544
I was able to get something to work, but it certainly feels wrong. Here are the changes I had to make.

I added definition for the implementation of ```Resp```.

[code]

I also had to change the definition of result...

[code]

This works, but having to tie things to a concrete implementation of the ```Resp``` interface seems very wrong. Any thoughts?

[2017-10-30 16:55] rahulmutt commented on #544
`Response` is an interface so you must use the `@interface` annotation in your import string.

[code]
I did the `a <: Object` so that it automatically inserts `superCast` for you.

For your particular example:
[code]

This works successfully. The last time, I forgot to run the request.

[2017-10-30 17:03] bkyrlach commented on #544
That works. Thank you so much!

[2017-10-30 17:03] #544 closed

[2017-10-30 17:04] rahulmutt commented on #544
No problem! Feel free to file issues on any questions you have as well.

[2017-10-31 08:11] rahulmutt commented on #520
@jneira @rpeszek I've pushed a fix to master which should fix the deadlocking - can you guys give it a try?

[2017-11-01 04:53] #140 closed

[2017-11-01 16:42] JustusAdam commented on #539
Out of curiosity, wouldn't it make more sense to marshal `Int#` to `int` and `Int` to `Integer`?

[2017-11-01 16:48] rahulmutt commented on #539
A normal user should never have to deal with `Int#` when he codes, that's the main reason for it. But even though you specify `Int`, internally it compiles down to `Int#` so you get all of GHC's unboxing optimizations playing nicely with FFI.

[2017-11-02 05:20] jneira opened #547 ""Duplicate field name&signature" error in class generated from a module with foreign exports"
When  trying to execute code which depends on a class with foreign export i got this error:
[code]
Examining the class generated we can see that the duplicated method is:
[code]
that corresponds with the code in [Network.Wai.Servlet.Examples](https://github.com/jneira/wai-servlet/blob/master/src/Network/Wai/Servlet/Examples.hs#L72-L75) :
[code]

[2017-11-02 06:03] rahulmutt opened #548 "Auto-generate deriving Class declaration when using @-syntax"
With @-syntax, you can declare JWTs like so:

[code]

A couple of problems with this:
1) It's easy to forget to add the `deriving Class` bit and it's required for when you have generic types.
2) The usage of the @-syntax clearly conveys that you are declaring a JWT *anyways* so it makes sense to automatically derive it and make a note in the docs that it is being done.

So the new syntax should be

[2017-11-02 15:39] rahulmutt opened #549 "[etlas] Self-upgrade"
[code]
Should upgrade to the latest Etlas, overwriting the existing executable or making a indirect launcher script that selects the version.

[2017-11-02 17:57] #547 closed

[2017-11-02 17:58] rahulmutt commented on #547
I fixed this on master. If this is seriously biting anyone who is not doing source installation, please let me know and I can do a prompt binary release. Otherwise, I'll wait till we have a couple more changes before the next one.

[2017-11-02 20:09] jrciii opened #550 "foreign export causing: java.lang.ClassFormatError: Duplicate field name&signature in class file"
Using this project on Windows: https://github.com/jrciii/gradleEtaLibraryFromJava

I get the following:

[code]

The culprit in the scratch.scratch.Scratch class:
[code]
My .hs file src/main/eta/Scratch/Scratch.hs:
[code]

[2017-11-02 20:52] rahulmutt commented on #550
This is a duplicate of #547. I'll cut a release and close this once it's done.

[2017-11-02 21:19] jneira commented on #547
i've tested it again with a084b2db version and the error seems to be fixed

[2017-11-04 17:40] rahulmutt commented on #550
Just released 0.0.9b5 that contains the fix for this. Closing.

[2017-11-04 17:40] #550 closed

[2017-11-04 17:54] rahulmutt commented on #305
It turns out this is not necessary.

You can create a `cabal.config` with a single line:
[code]
To get the same effect.

[2017-11-04 17:54] #305 closed

[2017-11-06 23:49] igrep opened #551 "Warnings by Proguard"
In [my android project at the latest commit](https://github.com/igrep/keep-me-contributing-hs/tree/815bb6a93be4914e699d5580455ff6e64d1460d7), Proguard detects warnings below by `gradle app:build` (Extracted only warnings which look related to eta):

[code]

[2017-11-06 23:52] igrep commented on #551
And https://github.com/igrep/keep-me-contributing-hs/blob/815bb6a93be4914e699d5580455ff6e64d1460d7/app/proguard-rules.pro is the Proguard config file.

[2017-11-07 02:58] rpeszek commented on #520
My simple app
https://github.com/rpeszek/eta-misc-test/tree/eta-issue-520
works fine

My other app still experiences out of memory error in
[code]
as above.  This does not seem to be related to concurrency so form my end it looks like concurrency issue could be fixed.

[2017-11-07 16:18] rahulmutt commented on #520
@jneira and @rpeszek - Thanks for the updates! Can you each file separate issues for each unexpected behavior you have observed after the fix?

[2017-11-08 01:50] rpeszek commented on #520
@rahulmutt Sure, I will try to reproduce and gather some info.
 I will try to file the ticket tomorrow.

[2017-11-08 23:21] rpeszek opened #552 "OutOfMemoryError in eta.runtime.io.ByteArray.create"
This program causes OutOfMemory Error:
[code]
it needs mime-types package and
[code]
Stacktrace:
[code]
I will attach URO to minimal program that contains this code after this ticket is created.

[2017-11-08 23:26] rpeszek commented on #552
Minimal code in:
https://github.com/rpeszek/eta-misc-test/tree/eta-issue-552
(checkout branch eta-issue-552)

[2017-11-09 14:12] rpeszek commented on #552
Forgot to indicate eta version that is causing it:
I compiled recent 69710288b79586092da3007561344163b0d542de commit from master branch.

[2017-11-12 04:11] igrep opened #553 "java.lang.NoClassDefFoundError: eta/time/Utils when calling Data.Time.LocalTime.getZonedTime"
# Minimum program to reproduce

`etlas build` this program as a uberjar.

[code]

# The error message

[code]

# My environment

[code]

[2017-11-12 13:57] igrep commented on #553
I confirmed the built jar `C:\Users\igrep\AppData\Roaming\etlas\x86_64-windows-eta-0.0.9.6-ghc7_10_3\time-1.8.0.3-WEwfNV542G61Hff69NMMS\HStime-1.8.0.3-WEwfNV542G61Hff69NMMS.jar` actually dosn't contain a file like `eta/time/Utils.class`.

[2017-11-13 00:22] rahulmutt commented on #553
I wonder if this is some encoding issue w/ javac. Can you try
[code]
and share the output?

[2017-11-13 09:57] rahulmutt opened #554 "Compile CAFs to WeakReferences"
It can happen that CAFs that correspond to giant lists that are used inside a function can cause a massive memory leaks due to the fact that they are bound to static fields. Instead, CAFs should compile down to `WeakReference`'s and the initialization code should be changed accordingly.

See https://github.com/typelead/eta-hackage/issues/60 for an example.

[2017-11-13 12:23] igrep commented on #553
Here you're.

<details>
<summary>the output of etlas build -v3.</summary>
[code]
</summary>

[2017-11-13 12:38] igrep commented on #553
I'm interested in which lines are the indication of the encoding issue with javac. 🤔

[2017-11-13 12:43] rahulmutt commented on #553
Hmm it seems to have been built fine.

In your local clone of the `time-1.8.0.3`, can you do `etlas clean`, `etlas build`, and then share the contents of `dist/build/*/**`?

[2017-11-13 12:47] igrep commented on #553
Hmm... `Utils.class` is actually created... But dist/build/HStime-1.8.0.3-WEwfNV542G61Hff69NMMS.jar doesn't contain it... (I confirmed by unzipping it).

[code]

[2017-11-13 13:00] rahulmutt commented on #553
Ok so that means `javac` succeeded, but another part of the compiler failed - the part that collects all the class files into one jar. I just did a similar command on my system and it was almost identical barring this:
[code]
`__extras.jar` is a special file that collects all the class files that were compiled via javac indirectly through `eta`. For some reason, it's not being created in your case

[2017-11-13 13:04] rahulmutt commented on #551
Can you make sure you have these rules?
[code]

And for the `deepseq` stuff, it looks like I bug I'll have to fix later, but you can work around it for now by `-dontwarn deepseq.**`.

[2017-11-15 17:12] rahulmutt opened #555 "Add conversion functions for JChar <-> Char"

[2017-11-15 17:15] rahulmutt opened #556 "Generate documentation for standard libraries and upload to docs website"
Docs for:
- `ghc-prim`
- `integer`
- `base`

[2017-11-16 04:04] carymrobbins opened #557 "ClassFormatError: Invalid method Code length"
When attempting to run Eta's Lexer via Eta, I get the following exception -

[code]

[2017-11-16 04:17] rahulmutt commented on #557
This is due to the fact that `alex` generates a huge lexer state transition table and the code to initialize it takes that much space since there are so many different states.

The state transition function is also pretty huge, but the size should decrease with a patch I'm working on now to make static method dispatch the default when the function is known at compile-time.

[2017-11-16 16:43] rahulmutt opened #558 "Tunable code size threshold"
The JIT is highly sensitive to size of methods that are generated. This means we should be wary of how much compile-time inlining is done. But at the same time, compile-time inlining enables a cascade of other optimizations making lazy functional programs *extremely* efficient. As a result, it is possible to get huge STG functions that end up generating methods that exceed the 65,535. While this d

[2017-11-16 17:23] rahulmutt opened #559 "Optimize representation of Array#"
The current representation is `eta.runtime.io.Array` which is essentially a boxed version of `Closure[]`.

The goal is to remove that boxing and use `Closure[]` directly as the representation. The outcome is that bytecodes for array operations will be shorted and the lack of indirection will be a slight boost in performance.

This change must also update all the primops involving Array# and all th

[2017-11-17 15:16] rahulmutt opened #560 "Split JavaConverter into two typeclasses to aid type inference"
As @mandubian pointed out on Gitter:

[code]
makes type inference really difficult.

We can split it up and add functional dependencies to make it better:

[code]

[2017-11-17 15:16] rahulmutt opened #561 "Document example for @wrapper & multiple-method interface"

[2017-11-17 16:22] rahulmutt opened #562 "Deprecate support for IO In FFI declarations"
When doing FFI, there's always a confusion about whether to use `IO` or whether to use `Java`. The support for `IO` was added for convenience but it looks like it is hurting more than it is helping.

@mandubian says on Gitter:

it shows where I'm in java world

Which is a very strong point. The whole point of the FFI is to clearly separate functions that are imported from the Java world and having

[2017-11-20 14:13] rahulmutt opened #563 "[etlas] eta-options: is not recognized"
The `eta-options` field is not recognized even though it should be since it was added to the list of fields to parse in the etlas codebase.

[2017-11-20 16:25] JustusAdam opened #564 "Lazyness induced `NullPointerException`"
Without `deepseq` -ing this code

[code]

(from this [file](https://github.com/ohua-dev/ohua-core/blob/master/src/Ohua/Internal/Monad.hs#L68))
Causes a `NullPointerException` in the `let a =` line.

[code]

### Reproduce

- clone `ohua-dev/ohua-core` on the `npe-bug` branch
- `etlas build` (using a sandbox sandbox is recommended, an appropriate `cabal.config` file is present) and `etlas exec npe-b

[2017-11-20 16:30] rahulmutt opened #565 "[etlas] etlas exec inside of a sandbox fails"
According to @JustusAdam:
`etlas exec eta — —version`
will give
`eta: unrecognised flag: --print-global-package-db`
in the presence of a sandbox.

[2017-11-21 19:08] puffnfresh commented on #562
I don't really get the problem, but I don't care very much about Java vs IO.

I think pure Java things should be able to be typed as normal Haskell values.

[2017-11-21 22:01] mandubian commented on #562
@puffnfresh it's just that when you try to write a FFI to a Java lib, you don't know whether you should build API with Java or IO monad or both... I experimented exactly that!
Personally I would prefer all automatically built FFI to be only using Java monads...
Then I can call `java myJavaMonadAPI` from Haskell and it clearly shows where java is called in Haskell code.
... Or the other solution in

[2017-11-22 11:39] rahulmutt opened #566 "Update docs about downloading binaries in Safari"
When downloaded with Safari, a `.dms` extension is automatically given. A note should be in the docs about what to do in that case. In particular, it should mention that one should manually rename it from `etlas.dms` to `etlas`.

[2017-11-23 04:07] igrep commented on #553
Hmmm... Seems I've met with another bug...
After building `eta` and `eta-pkg` from the source package, and then `etlas select local`:

[code]

And `etlas install --dependencies-only` complains it can't find bootstrap packages of the locally built eta...:

[code]

[2017-11-23 06:14] igrep commented on #553
Should I do `stack install` instead of `stack install eta`?

[2017-11-23 06:24] rahulmutt commented on #553
You should use `./cleaninstall.sh` script which will build and install the boot packages as well.

[2017-11-24 00:14] igrep commented on #553
I got another error by `./cleaninstall.sh`... 😞

[code]

javac complains `eta.ghc_prim` doesn't exist...

Then here's the full output:

<details><pre>

'--local-bin-path' will be removed in a future release.

Please use '--local-bin' instead.

eta-0.0.9: unregistering (missing dependencies: happy)

happy-1.19.5: configure

happy-1.19.5: build

happy-1.19.5: copy/register

eta-0.0.9: configure (lib

[2017-11-24 00:17] rahulmutt commented on #553
Did you run the script after applying the changes I mentioned earlier?

[2017-11-24 00:19] igrep commented on #553
Yes. `git diff` actually showed the patch.
You mean the error can be caused by the same bug?

[2017-11-24 03:17] rahulmutt commented on #553
Yes, the error will still be caused. But you should get an additional output when compiling`ghc-prim`. The way to see the message is as follows:
[code]

[2017-11-25 07:55] pysaumont opened #567 "Project initialization not working"
Hello,

Having downloaded Etlas under Fedora 23 and trying to initialize a project, I get this message:

Config file path source is default config file.
Config file /home/username/.etlas/config not found.
Writing default configuration to /home/username/.etlas/config
no user package environment file found at
/home/username/Applications/Eta/eta-first
Discovering the installation paths for your Eta e

[2017-11-25 07:57] rahulmutt commented on #567
Can you run the command:

[code]
and share the output?

[2017-11-25 08:01] pysaumont commented on #567
/home/username/.etlas/binaries/6899fa2dcac85d20d417-8f2e61d843ea88e4f30ab3f81ca0e396.ssl.cf5.rackcdn.com/eta-0.0.9.6/binaries/x86_64-linux/eta: error while loading shared libraries: libbz2.so.1.0: cannot open shared object file: No such file or directory

[2017-11-25 08:03] rahulmutt commented on #567
Which linux are you running? You'll need to install that shared library in order for it to work. I'll update the docs to include a note that you should have the shared libraries installed. In the long-term, we'll gradually trim off those dependencies to make the binary installation smoother.

See:
http://eta-lang.org/docs/html/getting-started.html#ubuntu

[2017-11-25 08:21] pysaumont commented on #567
I am running Fedora 23. I thought that installing bzip2-devel was only necessary for source installation (as indicated in the "Getting started with Eta" page).

By the way, installing bzip2-devel was not enough. Here is what I did:

sudo  dnf install bzip2-devel
sudo ln -s `find /usr/lib64/ -type f -name "libbz2.so.1*"` /usr/lib64/libbz2.so.1.0

I found these instructions here:

[https://michaelhe

[2017-11-25 08:23] rahulmutt commented on #567
No problem. I'll leave this issue open as a reminder that we need to update the docs.

[2017-11-25 09:45] igrep commented on #553
Unfortunately, I can't get the messages by `traceShow`.
I'm not really sure if `etlas` ran the modified `eta.exe`.
Anyway, here's the output of `etlas install --allow-boot-library-installs --reinstall --force-reinstalls -v3 > ghc-prim_install.log 2>&1`:

<details><pre>
no user package environment file found at
C:\Users\igrep\Downloads\tmp\eta\libraries\ghc-prim
no user package environment file fou

[2017-11-25 09:47] rahulmutt commented on #553
One way to verify *which* eta your project is using is to take a look at `~/.etlas/binaries/eta` which should have the value `$PATH` in two lines. If not, you can run `etlas select local`. Can you verify and try again?

[2017-11-25 12:21] igrep commented on #553
Thanks. Looks I'm actually using the eta modified by me.

[code]

But tweeking the `compileFiles` or `doMake` functions don't have any effect...

[code]

[2017-11-25 12:22] rahulmutt commented on #553
My bad, `etlas install` hides the build log. You should just do an `etlas clean && etlas build` instead.

[2017-11-25 12:53] igrep commented on #553
I added many traces and prints:

[code]

Then, the `etlas clean && etlas build` printed:

[code]

[2017-11-28 20:12] jrciii opened #568 "panic! DsForeign.getPrimTyOf [Char]"
What's going on:
[code]

Code:
[code]

[Full project here](https://github.com/jrciii/gradleEtaLibraryFromJava)

[2017-11-29 07:43] xmonader opened #569 "binary download links are broken"
Links here are broken http://eta-lang.org/docs/html/getting-started.html#method-1-binary-installation

[code]

[2017-11-29 07:45] rahulmutt commented on #569
I was able to download it via a browser successfully. Perhaps you need to download using https or maybe you are behind some firewall?

[2017-11-29 07:49] xmonader commented on #569
@rahulmutt  Sadly I can't from browser i get connection resetted. I live in Egypt maybe that's the problem. Can you please provide another mirror, archlinux package or maybe add bin releases to github?

[2017-11-29 07:52] rahulmutt commented on #569
I can look into adding bin releases to github. We'll need someone to volunteer to build a package for archlinux.

[2017-11-29 07:53] rahulmutt commented on #569
For now you can do source installation - I recall we have many arch users who've built successfully from source.

[2017-11-29 07:54] rahulmutt commented on #568
This is related to #284. In essence, `String` is not supported for foreign exports. Use `JString` instead.

[2017-11-29 07:55] xmonader commented on #569
I just got so disappointed of having stack on my machine which is prerequisite and thought Eta maybe a good solution, haskell compatible with less tooling size :(

[2017-11-29 07:56] rahulmutt commented on #569
You can actually build this with cabal if you wish. Stack just makes the builds reproducible, but I'm sure cabal will work just as fine. I'd be happy to help if you face any issues making it build with cabal.

[2017-11-29 07:57] xmonader commented on #569
Thank you so much! Feel free to close this issue ^_^

[2017-11-29 07:59] rahulmutt commented on #569
Great, thanks! Closing.

[2017-11-29 07:59] #569 closed

[2017-11-29 09:03] jneira opened #570 "Method "fromEnum (x :: Int64)" throws "value x is outside of Int's bounds""
* Detected when trying to use the function `epochTimeToHTTPDate :: EpochTime -> HTTPDate` from http-date package
* Minimal example:
[code]
* Output:
[code]

[2017-11-29 10:47] jneira commented on #570
* The cause could be the implementation of `epochTimeToHTTPDate :: EpochTime -> HTTPDate`:
[code]
* It is using fromEnum and it must return an Int. EpochTime is an alias for CTime (wirh constructor CTime Int64)
* But it is a little bit strange that the function would be wrong :-/

[2017-11-29 11:20] jneira commented on #570
* Never mind, it turns out EpochTime is in seconds and i was trying to use milliseconds instead

[2017-11-29 11:20] #570 closed

[2017-11-29 12:29] rahulmutt opened #571 "Maven plugin for Eta"
This issue is there so that people can subscribe to it and get updates on the progress of the Maven plugin. If Maven support is a huge blocker for you from using Eta, please like this thread and with enough likes we'll add this issue at the milestones.

[2017-11-29 12:33] rahulmutt opened #572 "Vert.x Support"
This issue is to track the progress of the Vert.x integration for Eta via Eta Fibers. The timeline for this has not yet been decided.

If you would really like to see this happen, please like this issue and we can add it to our milestones.

[2017-11-29 12:36] rahulmutt commented on #570
Anyways, thanks for reporting @jneira! It's better reporting something you feel is wrong than letting it go.

[2017-11-30 03:11] rahulmutt commented on #568
Closing as this has been resolved.

[2017-11-30 03:11] #568 closed

[2017-11-30 03:14] rahulmutt opened #573 "Rename core runtime types"
`eta.runtime.stg.Closure` is by far the most frequently occuring class name in Eta class files. Reducing the size of the name can reduce class file size overall. All the core types like `Function`, `Value`, and `Thunk` should all be move to the simple `eta` package.

Example:

`eta.runtime.stg.Closure` -> `eta.Closure`
`eta.runtime.apply.Function` -> `eta.Function`

[2017-11-30 03:38] #491 closed

[2017-11-30 16:47] #41 closed

[2017-11-30 16:51] rahulmutt commented on #41
https://github.com/typelead/eta-hackage/commit/3dc0c76f2049b568a35cc33fe44af05f1aeb1680

Only compatible with 4a9936f and beyond.

[2017-11-30 16:53] rahulmutt commented on #40
Closing, directory has been ported for a while now.

[2017-11-30 16:53] #40 closed

[2017-12-01 11:45] rahulmutt opened #574 "Port zlib"
This requires replacing the C FFI bindings to zlib with Java bindings. (Grep for the foreign calls in the package.)

[2017-12-01 11:46] rahulmutt opened #575 "Port bzlib-conduit"
This should replace the C FFI bindings to bz2 with a java bindings that can achieve the same functionality.

[2017-12-01 11:49] rahulmutt commented on #423
We've made progress on this front:
- @carymrobbins has demonstrated that about 50% of the compiler can be compiled with Eta itself. The rest of the 50% requires us to port `zlib`, `bzlib-conduit`, and `network`.
- I've gotten `eta-pkg` and `etlas-cabal` (the library backend for `etlas`) to both compile with Eta itself. They work for the most part with a few minor bugs that need to be resolved.

[2017-12-01 17:20] rahulmutt commented on #564
Thanks for reporting this! I was able to reproduce it on the current master. Let me know if this is blocking you w/o a workaround and I'll make it a priority. Otherwise, I'll take a look when we start a round of bug fixes.

[2017-12-01 17:32] rahulmutt commented on #562
We'll defer this question until after the FFI generator comes out - it's an active work item right now. I have a feeling this won't matter much when all the bindings are more or less generated for you.

At that point, IO can be used by people who are doing fine-grained imports - just a handful of methods from a Java library.

I want to make sure there's a balance between flexibility of library aut

[2017-12-01 17:34] rahulmutt commented on #562
So I guess a compromise to this issue is to make the FFI generator generate `Java` monadic actions by default and add some overrides in case you want to generate IO for whatever reason (you're importing a library full of static, effectful methods).

[2017-12-02 01:08] JustusAdam commented on #564
Its not blocking currently, as including a single `deepseq` (I wonder if a `seq` would perhaps suffice) is enough to make it work. This workaround has no measurable influence right now so its fine. But I'd appreciate being updated if there are new developments on this front ;)

[2017-12-02 08:43] rahulmutt commented on #149
https://www.reddit.com/r/scala/comments/24txt5/scala_is_a_subtle_beast_or_why_you_should_never/

^ After reading this I'm not sure it's a good idea to change the default of catching `Exception`. If you really want to catch some set of exceptions that are not subclasses of `Exception`, you always have the option of doing `foreign import primop` and defining your own catch primop that catches the ex

[2017-12-02 18:54] rahulmutt opened #576 "Specialize unboxed return types"
[code]
The function above has a generated method that has signature
[code]

In the static case, we *know* that `add` can in fact return an `int` . The current solution is to store the return value in `context.I1` which tends to be quite efficient since the value will be fresh in the cache throughout the computation, but by passing it directly, we can pass around the return value in (most likely) r

[2017-12-02 18:59] rahulmutt opened #577 "Migrate runtime options to properties"
In the JVM world, it's natural and convenient to configure an application through a properties file. The Eta runtime system is currently configurable either through:

1. Passing `+RTS [rts flags] -RTS` to command line arguments. This was taken from GHC but it doesn't make much sense on the JVM and is a bit awkward.

2. Calling functions in `Eta.Runtime` which can help you configure some parameters

[2017-12-03 17:15] rahulmutt commented on #149
Collecting some of @raulraja's comments on Gitter:

https://github.com/typelevel/cats/blob/5f1981436fe4cdf3c57be6f87958791d19c5db4d/core/src/main/scala/cats/ApplicativeError.scala#L118

There's a valid reason to handle the NonFatal case - safe resource handling.

[2017-12-04 17:09] chengenzhao commented on #572
Happy to see this issue
For fiber, it may be similar to [coroutine](https://kotlinlang.org/docs/reference/coroutines.html) in Kotlin language, this repo maybe helpful for Vert.x eta support.
https://github.com/vert-x3/vertx-lang-kotlin/tree/master/vertx-lang-kotlin-coroutines
For relatively pure fp language support
this document maybe helpful(clojure support for Vert.x 2)
http://vertx.io/vertx2/co

[2017-12-05 17:34] carymrobbins opened #578 "Handle Java security restrictions properly"
Currently, importing, exporting, and accessing protected and private fields and methods doesn't work well. We have to generally use Java to change `protected` to `public` to be able to access `protected` fields, for example.

My proposal would be to use newtype wrappers and a type class which only allows safe access at compile time

[code]

You could then import protected methods with something li

[2017-12-05 17:39] carymrobbins commented on #578
Note that this proposal was designed to work in user-land; however, it may be better/simpler to just have vanilla newtypes and make the `Accessible` type class magical such that the compiler has rules around when and where the `<.>` can be used. Also, we may not need `<.>` at all since we can only access private/protected fields from the class itself, eliminating the need for explicitly calling `t

[2017-12-05 18:39] rahulmutt commented on #442
In the [origin/trampoline](https://github.com/typelead/eta/tree/trampoline) branch, a new function in `Data.Function` has been implemented:
[code]
Effectively what it does is takes the computation that is passed as an argument, and turns on the tail-call optimization. The tail call optimization has a minor overhead:
- bytecode size increase for dynamic functions calls by 5-10 bytes depending on th

[2017-12-05 20:35] agocorona commented on #442
So a continuation monad can auto-trampoline  itself in the monad instance. Is that ok?

m >>= k  = Cont $ \c -> runCont m $ \a -> trampoline $ runCont (k a) c

[2017-12-06 03:42] rahulmutt commented on #442
@agocorona That would be setup a *lot* of trampolines because it's in the bind. The best practice is to use `trampoline` in the `run` function for the Monad. So if you had a `runCont :: Cont r a -> a` then you'd use trampoline in only that function. You should call `trampoline` at the top-level function for running your monad, which in most cases there are just a handful.

[2017-12-06 04:10] carymrobbins opened #579 "IllegalMonitorStateException thrown from Eta"
Occurs when trying to run JUnit tests manually; may be related to an `IncompatibleClassChangeError` I was attempting to work around.

[code]

[2017-12-06 04:34] rahulmutt commented on #579
This is actually a bug. The lazy initialization code for thunks uses a synchronized block to prevent access from multiple threads but it doesn't have a exception handler like it should. This is causing a problem for JIT as well which is not able to compile such methods.

[2017-12-06 04:36] rahulmutt commented on #164
The above description is completely invalid and we will be using a YAML config file to specify which classes you want to import. The work for this is being done on
https://github.com/typelead/eta-ffi.

[2017-12-06 04:38] rahulmutt commented on #572
Hi @chengenzhao, I've added this to the v0.2 milestone. The dependencies for this are:
- #164 - Generate FFI Imports so we can easily create FFI bindings for the Vert.x API. This is actively being worked on now.
- The new Fiber implementation based on trampolining. This implementation should be much faster and once the base is done, we can create functions to convert callback and future-based APIs

[2017-12-06 13:06] vietj commented on #572
nice to see this effort!

please don't hesitate to open discussion in community for this effort

[2017-12-06 13:48] aiya000 commented on #372
I think so too strongly 👍

[2017-12-07 05:03] rahulmutt commented on #398
All the issues in this thread were resolved, closing.

[2017-12-07 05:03] #398 closed

[2017-12-08 15:17] jcranky opened #580 "[eta-tour]: Bug - github user name with quotes not handled correctly"
Source Code:
[code]

Output:
[code]

[2017-12-09 04:01] rahulmutt commented on #580
This is somewhat related to #472. We need to do proper escaping for all unicode characters (and quotes).

[2017-12-12 04:46] Jyothsnasrinivas opened #581 "[etlas] Automatically fix broken packages"
When package A depends on package B and you reinstall package B, package A will now be broken. We should have a mechanism to (1) store *how* the package was installed (either locally or through a package server) (2) reinstall all broken packages in topologically sorted order.

This will be extremely helpful when fixing bugs in packages that are deep in the dependency chain.

[2017-12-12 10:10] jneira opened #582 "[etlas] Incorrect classpath to package library in the package executable launch script"
When you install a package which has a library and a executable, the launch script of the latter seems to have a incorrect path for its lib when you executes the global copy in `$ETLAS_DIR/bin` (f.e. with `etlas exec exec-name` instead `etlas run`)
The nix script generated contains:
[code]
The package lib jar (`HSwai-servlet-handler-jetty-0.1.0.0-DMCQsc8EeUMHtnbzY4tt1c.jar`) is not there for the s

[2017-12-13 00:33] rahulmutt commented on #442
Closing. This has been merged to master and seems to be working in a lot of cases.

[2017-12-13 00:33] #442 closed

[2017-12-13 01:36] puffnfresh opened #583 "[etlas] Allow Nix to provide packages"
The usual way Nix provides packages to the Cabal library is by setting `GHC_PACKAGE_PATH`. We need something similar for the Etlas library.

We also need Etlas to not download patches or sources itself. We should be able to tell Etlas where the patches and sources exist for a package.

[2017-12-13 02:09] rahulmutt commented on #583
1) You can do something similar with `etlas` as follows:

[code]

Those flags should be available for the `etlas install` command.

2) This will require a couple of steps:

- Create `eta-hackage` as a nix binding and lock it down to a commit of `eta-hackage`. It should essentially copy the `patches` directory into the nix store.

- Download the tarball for the package you want directly (for Hackag

[2017-12-13 02:15] rahulmutt commented on #583
And some details on building the boot libraries:
- `rts` package needs to be installed as follows:
  1. Build all the `*.java` files under `rts/src` with the following flags:
     `javac -XDignore.symbol.file -Xlint:unchecked -source 1.7 -target 1.7 [files]`
   2. Combine the class files generated above into a jar and send it to `libraries/rts/build/HSrts.jar`
   3. Run `etlas install --allow-boot

[2017-12-13 08:10] rahulmutt commented on #164
@Jyothsnasrinivas and I worked on a new version of the spec. See the first post in this issue for a link.

[2017-12-13 16:24] hvze opened #584 "[etlas] etlas build with modified base requirements"
I began with my project [Refract](https://github.com/hvze/Refract) and tried to use `etlas build` with it, but it spat this back out at me.

[code]

[2017-12-13 16:37] rahulmutt commented on #584
It looks like your installation is broken.

Can you share the output of

[code]

[2017-12-13 16:50] rahulmutt opened #585 "[etlas] Avoid downloading excessive index files"
Directory structures after binary installation look something like this:
[code]
That means `etlas` does *a lot* of requests. It should avoid downloading all those index files and stop when it finds a recent installation.

[2017-12-13 17:36] rahulmutt opened #586 "Making subtype polymorphism more useful"
Currently in Eta, subtyping is implemented as a typeclass + type family. While this shows how powerful the type system is, there are some very incovenient limitations which defeat the purpose of code reuse.

[code]

The program above does not compile, although interpreting `<:` as the subtype relationship makes one think that it should. The reason is that the `a <: A` constraint cannot be derived

[2017-12-13 18:02] rahulmutt commented on #584
@hvze You mentioned on Gitter that cleaning out `~/.eta` and `~/.etlas` fixed your problem so I'm closing this.

[2017-12-13 18:02] #584 closed

[2017-12-14 10:53] indegro opened #587 "Build time error msg -- eta.exe: panic! (the 'impossible' happened)"
I tried to use eta with hlint package to write custom processor.
And got build error --

Failed to install binary-0.8.5.1
Build log ( C:\Users\ddushyn\AppData\Roaming\etlas\logs\eta-0.0.9.6\binary-0.8.5.1-XCulyUW0jLDfM8QjWWONO.log ):
Preprocessing library for binary-0.8.5.1..
Building library for binary-0.8.5.1..
eta.exe: panic! (the 'impossible' happened)
  (Eta version 0.0.9b6):
        Cannot p

[2017-12-14 18:40] Jyothsnasrinivas opened #588 "[etlas] Show message when updating"
Etlas will stall with no output when updating after a long period of inactivity due to the auto-update feature. It should at least show a message that it's performing an update.

[2017-12-14 22:01] puffnfresh commented on #583
I'll write the code using the existing Shake code. I'll refactor anything which isn't exposed.

The first problem I'm running into is the prompt:

Nix isn't giving it stdio, therefore it crashes with:

[code]

[2017-12-14 23:13] puffnfresh commented on #583
Got past that problem with https://github.com/typelead/etlas/pull/26

[2017-12-14 23:33] puffnfresh commented on #583
I have to pass `--disable-auto-update` to Etlas, otherwise it tries to download the index via git and fails.

[2017-12-15 02:10] puffnfresh commented on #583
I did an install of ghc-prim but it doesn't expose GHC.Prim - I see that the Shake build has [`fixGhcPrimConf`](https://github.com/typelead/eta/blob/master/shake/Build.hs#L110) but it doesn't seem to be used anywhere.

[2017-12-15 02:29] rahulmutt commented on #583
You can update the Etlas config at `~/.etlas/config` and set `auto-update` to True.

Hmm well the CI is somehow passing even without that. @jneira discovered that GHC.Prim was being exported twice and removed the `fixGHCPrimConf`. Are you getting errors when building `integer`?

[2017-12-15 03:09] puffnfresh commented on #583
Etlas puts GHC.Prim into the exposed modules by looking at the unit-id. I'm using "etlas register" on the .cabal file, which doesn't read the ghc-options to execute the unit-id hack.

I've written a dodgy awk script to work around this for now.

[2017-12-15 05:14] rahulmutt opened #589 "Backpack Support"
We already have a good chunk of code to support Backpack in both the Eta compiler and the Etlas build tool. We can backport the remaining code and enable Backpack in Eta since the stable version of Backpack is out.

[2017-12-15 05:21] rahulmutt commented on #587
To get more verbose output, you can add a `-v3` flag.

Can you upload your full project on github so I can reproduce? Moreover, which version of `eta` are you using (`etlas exec eta -- --version`)?

[2017-12-15 13:21] indegro commented on #587
I copies project to repository
https://github.com/indegro/eta-with-hlint

`etlas exec eta -- --version`

[2017-12-15 13:36] indegro commented on #587
I have found at the moment that etlas could not compile process library

Found patch in eta-hackage for process-1.6.2.0
Configuring process-1.6.2.0...
Building process-1.6.2.0...
Failed to install process-1.6.2.0
Build log ( C:\Users\ddushyn\AppData\Roaming\etlas\logs\eta-0.0.9.6\process-1.6.2.0-BfZhYw6AMJMKqIaPw2vYzO.log ):
Preprocessing library for process-1.6.2.0..
Building library for process-

[2017-12-16 04:47] rahulmutt commented on #587
Right, because there is a change in the `base` library needed to make it work. Can you try out the latest Docker image or install the `master` version with source?

[2017-12-16 06:19] aiya000 opened #591 "an official example always happens ClassCastException"
The below code is existed in [this official example](http://eta-lang.org/docs/html/eta-tutorials.html#working-with-arrays)

[code]
but it doesn't work in eta 0.0.9b3 😞

- - -

The below is my java :smile:

[code]

[2017-12-17 07:51] rahulmutt commented on #591
I am unable to reproduce this with `0.0.9b6`, can you upgrade and try again?

[2017-12-17 13:29] aiya000 commented on #591
I tried again, but it is shown...

(Test.hs is equivalent to Main.hs)

[code]

[2017-12-17 22:00] puffnfresh opened #592 "NullPointerException from show and text pack"
I get a NullPointerException with the following:

[code]

[2017-12-17 22:54] agocorona opened #593 "Different behaviour of program with "etlas run" and with "java -jar RunProgram.jar""
Running this code : https://gist.github.com/agocorona/e138f02ec34e4adfa1f82249dc748bf2

with `etlas run` produces:
[code]
and stop. it should not stop and it should not switch from thread to thread since it does not use yield and it uses one single capability

but   with `eta src/Fibes-new.hs &&   java -jar  src/RunFibers-new.jar `  produces the expected behaviour

[2017-12-18 06:24] rahulmutt commented on #592
Seems related to #541 and #564 as well as the current blocking bug in eta-ffi.

All the examples share on thing in common: using the `text` package which eventually generates a case-of-case expression in STG [1] in which the scrutinee expression contains let-no-escape bindings.

This bug fix is the highest priority right now and should be fixed soon.

[1] This should ideally be optimized, but we c

[2017-12-18 14:47] #592 closed

[2017-12-18 15:11] rahulmutt commented on #564
This seems to be fixed as of https://github.com/typelead/eta/commit/8a3f0f66579fdf3c21d5868593d1aeef8eb1a552. I will do a release and close this issue once a binary release is out.

[2017-12-18 15:12] rahulmutt commented on #591
@aiya000 Can you try doing a source installation of `master` or run the latest Docker image and let me know if it doesn't work even then?

[2017-12-18 15:15] rahulmutt commented on #593
By default `etlas` builds with `-O2` enabled.

Can you try `eta -O2 src/Fibes-new.hs && java -jar src/RunFibers-new.jar` and see if that matches `etlas run`?

[2017-12-18 15:17] rahulmutt commented on #591
@aiya000 After setting `-O0`, I was able to reproduce your issue on `master`.

[2017-12-18 15:24] rahulmutt commented on #592
This turned out to be a bug in how `codec-jvm` detects & removes redundant goto instructions. Fixed on `master`.

[2017-12-18 15:24] rahulmutt commented on #541
Fixed on `master`.

[2017-12-18 15:24] #541 closed

[2017-12-18 15:26] rahulmutt commented on #591
You can work around this by setting an extra `-O2` flag.

[2017-12-18 15:33] rahulmutt commented on #574
`zlib` has been ported a while back and is now on `eta-hackage`.

[2017-12-18 15:33] #574 closed

[2017-12-18 15:35] rahulmutt commented on #423
`network` and `zlib` are both ported. `bzlib-conduit` can be patched out of usage in `zlib` (used in exactly two places) so we are in a state to start work on the last remaining work to self-hoist: replace the C FFI calls (there are very few) in the `eta` compiler to Java FFI calls.

[2017-12-18 16:17] JustusAdam commented on #564
Once the release is out I can test if it works and then close the issue if you like.

[2017-12-19 03:35] rahulmutt commented on #174
Ported.

[2017-12-19 03:35] #174 closed

[2017-12-19 03:38] rahulmutt commented on #563
This doesn't appear to be a problem. Unable to reproduce.

[2017-12-19 03:38] #563 closed

[2017-12-19 05:41] aiya000 commented on #591
@rahulmutt  Thanks 👍
I'll check it !

[2017-12-19 10:38] jneira commented on #582
I think we could change the path of the lib to point to the etlas database in the nix script or windows launcher.jar in the dist dir of the project to copy that version to etlas/bin, when doing `etlas install` .
Cause each `etlas build` or `install` regenerates de dist dir it would point alway to the correct version of the lib (the project local copy with `build` and the global lib with `install`)

[2017-12-19 10:50] rahulmutt commented on #582
At what point in the execution do you need to determine whether it's a build or install?

[2017-12-19 13:02] rahulmutt opened #594 "[etlas] Recompilation checking for java source files"
If you change the Java sources listed in the `java-sources:` field, `etlas` will not rebuild the new file since it doesn't do any checking for that at the moment. It should be changed so that it does.

[2017-12-19 17:42] jneira commented on #582
I think the ideal point would be the [`libPaths` subexpression of `getDependencyClassPaths` function](https://github.com/typelead/etlas/blob/master/etlas-cabal/Distribution/Simple/Eta.hs#L638-L645) in Eta.hs

[2017-12-20 04:56] aiya000 commented on #591
I got the same bad result...  :sob:

(I think my operation maybe wrong)

I wrote this diff in the `master` branch, and installed.

[code]

[code]

very sorry, please help me :sob:

Is anything wrong ?

[2017-12-20 19:17] joshsh commented on #571
Is there any more information on the Maven plugin? Is the idea that the Eta compiler will be bundled in the plugin, making Eta "just another JVM language" that can be used in any Maven project? Because that would be a great thing; it seems it would greatly reduce the barrier to entry if developers could build an Eta project without separately downloading the Etlas binary.

[2017-12-20 19:28] joshsh commented on #571
That's great. Still +1 for Maven support, but I'm glad to learn of the Gradle plugin.

[2017-12-24 05:49] #233 closed

[2017-12-25 18:06] phanimahesh opened #595 "Failed to install binary-0.8.5.1: Cannot parse #if directive"
Trying to compile https://github.com/simonmichael/hledger/tree/master/hledger-lib with eta, using gradle

### `build.gradle`
[code]

And got:
[code]

I have no idea what's happening, just following the instructions. :P

Trying to compile hledger-lib to use it in an android project for something, got this far and got stuck. I thought a patch is missing and may be needed, but no, a patch exists. Wha

[2017-12-26 04:29] clojurians-org opened #596 "how to do offline install eta programming enviroment"
i want to use eta on my work.
my personal PC has network connection while my work PC has no internet because of data security.
i can download whole eta staff on my personal PC, then send thoses file to my work PC.
but the question is, which files is needed by eta for offline work, or how to build a offline standalone package for developing?

[2017-12-26 08:23] rahulmutt commented on #596
Are you allowed to build from source on your work PC? And also, what is the OS of your personal PC vs work PC?

The process for building an offline package is as follows:
1. Install Etlas on your personal PC.
2. Run `etlas update`
3. Create a stub etlas project and add as the dependencies all the packages you want to use in your work computer.
4. Run `etlas install --dependencies-only` to make sur

[2017-12-26 10:27] clojurians-org commented on #596
thanks. i can build source code . i'll try it.
my personal PC OS is MacOS, the work PC OS is REDHAT 6.
and i has the private maven repository that will proxy for downloading the maven package.

[2017-12-26 13:54] rahulmutt commented on #591
@aiya000 Am I correct in understanding that it was working before you made the diff and it stopped working when you added `-threaded -rtsopts`? Why did you make the diff in the `eta` compiler options?

[2017-12-26 14:02] rahulmutt commented on #595
Sorry about that, there's a mistake in the patch that only gets executed on the older versions of Eta. I fixed the patch. Start the project from scratch and try again.

[2017-12-27 06:23] aiya000 commented on #591
@rahulmutt Sorry I misunderstood you advice that means 'Add -O2 flag to eta.cabal before eta is made' :bow:

But I can run it now with below 👍
Thanks !

[code]

[2017-12-28 12:11] phanimahesh commented on #595
binary compiles fine, but there are other dependencies that still need patching. Should I open patch requests on eta-hackage? I can try to write the patches myself but will probably need some initial handholding.

[2017-12-28 16:04] rahulmutt commented on #595
Sure, go ahead. I'm closing this issue since it's solved.

[2017-12-28 16:04] #595 closed

[2017-12-29 03:42] chengenzhao commented on #596
We got the same problem, mac also
when executing eta update, it stuck there
and we tried to use gradle plugin but it seems like it is not in maven central repository?

[2017-12-31 05:37] rahulmutt commented on #596
@chengenzhao Yes, `etlas` maintains a separate repository. The function of the Gradle plugin is to notify gradle of the locations of the Eta-compiled jar files. We do eventually plan to start uploading packages to Maven but we are currently working out the binary compatibility story.

[2018-01-02 12:00] hardliner66 opened #597 "Installation of attoparsec fails"
I tried to install aeson, which depends on attoparsec.

But the installation of attoparsec failed with the following output:
[code]

[2018-01-02 12:05] rahulmutt commented on #597
Just pushed a fix. Run `etlas update` and try installing `attoparsec` again. Everything should work fine.

[2018-01-02 12:10] hardliner66 commented on #597
That was fast.

I tried to run etlas update but it failed:
[code]

[2018-01-02 12:15] rahulmutt commented on #597
Looks like some server issue. You can update just the patches manually:

[code]
Then try installing again.

[2018-01-02 12:16] rahulmutt opened #598 "[etlas] etlas update --patches-only"
`etlas update --patches-only`

Will update *just* the patches for cases where you don't want to query the package repository.

[2018-01-02 12:16] rahulmutt commented on #597
Filed #598 to add a flag to `etlas update` that can update just the patches.

[2018-01-02 12:43] hardliner66 commented on #597
I reinstalled eta and it worked.

but etlas update still doesn't work. Maybe there is a problem with the update command.

[2018-01-02 12:47] rahulmutt commented on #597
It looks like an issue with the Hackage package index download and we don't have control over that. Try it again over the after a while (say hours, maybe even tomorrow) and let us know if it's still giving you the same error.

[2018-01-02 12:50] hardliner66 commented on #597
I will retry some other day. Thanks.

[2018-01-02 12:50] #597 closed

[2018-01-02 14:51] hardliner66 opened #599 "Random runtime exceptions due to MemoryManager"
OS: Windows 10 x64
JDK: 1.8.0_144

While trying out some stuff with eta, I got the following exception:
`Exception in thread "main" eta.runtime.exception.EtaException: JException java.lang.RuntimeException: java.lang.IllegalStateException: getBoundedBuffer#0: The block that corresponds to the address 8096 is not allocated in memory`

I ran etlas run again and everything worked again.

After that I

[2018-01-02 14:59] rahulmutt commented on #599
Thanks for the report!

This bug has been around for a while and it has to do with Eta's Memory Manager which handles off-heap memory.

This is actually our highest priority right now and work is being done on the `managed-heap` branch. The main implementation was finished yesterday and we are currently resolving some bugs that occur in very special cases. As soon as it stabilizes, we'll cut a rel

[2018-01-03 07:24] rahulmutt commented on #593
@agocorona I think this is resolved, so I'm closing this. Feel free to re-open if you face the same issue again.

[2018-01-03 07:24] #593 closed

[2018-01-03 14:07] rahulmutt commented on #591
I investigated this for a bit and here's the problem:

The function `alength` in `Java.Array` is implemented using a single primop `alength#` which expects an array type. The problem is that Java has no common super type for all arrays, so the only way to make the bytecode verification work out is to define individual primops for each of the primitive array types as well as a single primop for obj

[2018-01-04 02:46] NickSeagull commented on #48
Any progress on this? Looking forward to use Spring Boot with Eta :smile:

[2018-01-04 03:21] carymrobbins opened #600 "Support accessing protected fields/methods via the FFI"
It is currently impossible to access protected fields/methods from the FFI. The workaround is to write a wrapper class which "promotes" the protected fields/methods to public ones.

Below is an example stack trace and test case demonstrating the issue.

[code]

[code]

[2018-01-04 06:30] rahulmutt commented on #600
Support for protected fields is missing, but support for protected methods is already there:
[code]

[code]

I'll add support for these as well:
- protected fields
- protected static fields
- protected static methods

[2018-01-04 09:30] jneira commented on #582
As commented with @rahulmutt, i am exploring the possible solution of generating a special script/jar launcher in the install phase with the correct classpath an copy them to ~/etlas/bin instead of the launchers generated in the build phase.
The current wip version is in the [fix-global-exec branch of my etlas fork](https://github.com/typelead/etlas/compare/master...jneira:fix-global-exec?expand=1

[2018-01-04 10:56] rahulmutt commented on #48
In terms of progress, the `@...` syntax is now parsed and we'll have to add a rule to extend the `foreign export` syntax to allow people to use it. We'll need to add it in bit to the compiler that translates them to Java annotations.

Moreover, we need to figure out a way to export entire ADTs to support models/annotations.

[2018-01-04 11:01] rahulmutt commented on #48
@NickSeagull If you can take a simple Spring Boot application and write up some pseudo-code in a Gist on how you would like the same application to look in Eta and file an issue, that would be really helpful!

[2018-01-04 13:31] NickSeagull commented on #48
Great! Should I do so in this one or open a new one?

[2018-01-04 13:32] rahulmutt commented on #48
Open a new one, thanks!

[2018-01-04 14:24] NickSeagull opened #601 "RFC - Annotations and ADT foreign export"
There are many frameworks that depend on annotations. I will be using **Spring Boot** as an example.

[Spring Boot](https://projects.spring.io/spring-boot/) is a widespread Java framework that does not enforce any kind of structure, while being able to use all the [Spring Boot modules](https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/) to make application development easier.

T

[2018-01-04 15:03] rahulmutt commented on #601
Thanks for the beautiful write-up, @NickSeagull!

I agree, this looks quite feasible. I made the following edits to your original issue:

- I moved the annotations into the types instead of the identifiers. Since types describe a value, we can treat annotations as types that just add more context, but are effectively treated as comments by the typechecker. So `@Autowired PostRepository ~ PostRepos

[2018-01-04 19:15] rahulmutt opened #602 "Invokedynamic Support [First Phase]"
The way we generate function closures is very similar to how Scala does it and we can take the contents of this [Gist](https://gist.github.com/retronym/0178c212e4bacffed568) to apply invokedynamic for Eta in the first phase.

[2018-01-04 21:02] rahulmutt commented on #564
@JustusAdam Just did a binary release for Eta v0.7 which should have the fix above. Please test it out and close this issue if it's fixed.

[2018-01-04 21:03] rahulmutt commented on #599
@hardliner66 Just did a binary release for Eta v0.7 which should have the fix above. Please test it out and close this issue if it's fixed.

[2018-01-05 08:27] rahulmutt commented on #587
@indegro Just did a binary release for Eta v0.7 which should have the fix above. Please test it out and close this issue if it's fixed. You can run `etlas select --latest` to get the new version.

[2018-01-05 08:27] #587 closed

[2018-01-05 08:29] rahulmutt commented on #520
@rpeszek @jneira Just did a binary release for Eta v0.7 which should fix all the weird bugs above. Please test it out and close this issue if it's fixed. You can run `etlas select --latest` to get the new version.

[2018-01-05 08:58] rahulmutt opened #603 "Optimization produces incorrect results"
@jarekratajski reported this:

[code]
produces
[code]
when it should produce:
[code]
Reproduced on v0.7.

[2018-01-05 08:59] rahulmutt commented on #603
More info: https://gist.github.com/jarekratajski/8b28fa61bde683e4bfd6352c9068a6ec

This may be related to #478.

[2018-01-05 09:32] indegro commented on #587
Hello @rahulmutt .
Sorry for late response.
I just updated etlas and eta version as you recommened and found the following errors

 Build log ( C:\Users\ddushyn\AppData\Roaming\etlas\logs\eta-0.7.0.1\extra-1.6.2-BGvXahguXVDB3TUcwFAqx9.log ):
Preprocessing library for extra-1.6.2..
Building library for extra-1.6.2..
src\System\Directory\Extra.hs:32:18:
    Could not find module 'System.Posix'
    U

[2018-01-05 10:26] jneira commented on #582
Finally i got a initial working version that handles the three possibles types of library dir
* relative: used by `Distibution.Simple.ETA.buildExe`
  * the path is `$DIR/../libName.jar`
* absolute and local (the project dir): used by `etlas deps`
  * the path is `path-to-project/dist/build/libName.jar`
* absolute and global: used by `Distibution.Simple.ETA.installExe`
  * the path is `~/etlas/eta-

[2018-01-05 12:30] hardliner66 commented on #599
It works now. I let it run 1000 times and it didn't crash once.

[2018-01-05 12:30] #599 closed

[2018-01-05 13:21] jarekratajski commented on #603
To be more precise: with -O0  problem prevail.
Correct behavior only with -O0 AND BangPatterns params. I am just looking at code of eta compiler... do you have any hint where to look at first?

[2018-01-05 14:38] jarekratajski commented on #603
While analyzing decompiled code :
`public final Closure apply6(StgContext var1, Closure var2, Closure var3, Closure var4, Closure var5, Closure var6, Closure var7) {
            Object var9 = null;
            Object var10 = null;
            Object var11 = null;
            boolean var8 = false;

            while(true) {
                while(var8) {
                    Main.sat_s7YH var12 = new

[2018-01-05 14:46] rahulmutt commented on #603
Thanks for taking a look! So swapping the order of params fixes it. We still need to investigate why the original problem happened.

The way to debug stuff like this is:
1) Check that the optimized intermediate code (in this case, STG) does what's expected. To check this, you can:
- Add `-ddump-stg -ddump-to-file` flags when compiling directly with `eta`
- Add `eta-options: -ddump-stg -ddump-to-fi

[2018-01-05 14:52] jarekratajski commented on #603
Disclaimer:  I am total newbie to Haskell and GHC and even compilers. Sorry.
But looking at STG I think it is proper
[code]

``` } in  fibbtcoinner1_s8MR sat_s8MW sat_s8MX sum_s8MT;```
Seems that Java produced somehow messes sat_s8MX  with sum_s8MT.
But at least here at STG level they seem to be different.

[2018-01-05 15:22] rahulmutt commented on #603
Here's the output with `-O2` which is less code to look at and makes the problem a lot more clear (it's just as you pointed out):
[code]

[2018-01-05 15:30] rahulmutt commented on #603
This problem is extremely subtle which is why we didn't encounter this yet. It is more likely to happen with very small and simple recursive functions which don't transform *all* their arguments when making a recursive call.

The problem is that last line `paramClosure3 = paramClosure2` which corresponds to passing the `sum` parameter in the recursive call in a different position. The issue is tha

[2018-01-05 16:14] jarekratajski commented on #603
Does it have to do something with?
[code]
in Layout.sh

[2018-01-05 16:46] rahulmutt commented on #603
Yes exactly that :) It turns out that #478 has the same problem so that will also be fixed if we fix this.

The tricky part here is that we can't really inspect inside a `Code` data type since it just has a monadic action that generates it when supplied with a constant pool and some other parameters. This lack of introspection actually cripples our ability to do bytecode optimization, so we need t

[2018-01-05 16:52] rahulmutt commented on #603
For reference, this is GHC's code to handle the problem:
https://github.com/ghc/ghc/blob/master/compiler/codeGen/StgCmmUtils.hs#L375-L444

[2018-01-05 17:00] jarekratajski commented on #603
I understand the problem and more or less get the code. I will try - but I now I am too  weak to really solve it.  So please do not count on me too much.

[2018-01-05 17:38] rahulmutt commented on #603
Sure no worries. Give it a try and share any attempts here.

[2018-01-06 06:18] rahulmutt commented on #603
@jarekratajski I was taking a look at `multiAssign` usages and it turns out that both code locations allow you to access `CgLoc` (Code-generation locations) where they are currently sending in `Code`. `CgLoc`'s you can at least pattern match on so it would be easier to construct the topological sort.

[2018-01-06 11:19] rahulmutt opened #604 "Put all the mem(cpy, cmp, set) utility functions in MemoryManager"
When doing patches, we find ourselves rewriting the same functions over and over. These common utility functions should be put inside the MemoryManager.

[2018-01-06 11:51] rahulmutt commented on #587
@indegro I just pushed a patch for `extra-1.6.2` - turns out they added FFI calls in the new version because `1.5.*` was working before. Please file new issues for any additional errors you have.

[2018-01-06 14:10] indegro opened #605 "Failed to install cmdargs package"
Building library for cmdargs-0.10.19..
[ 1 of 25] Compiling System.Console.CmdArgs.Verbosity ( System\Console\CmdArgs\Verbosity.hs, dist\build\System\Console\CmdArgs\Verbosity.jar )
[ 2 of 25] Compiling System.Console.CmdArgs.Implicit.Type ( System\Console\CmdArgs\Implicit\Type.hs, dist\build\System\Console\CmdArgs\Implicit\Type.jar )
[ 3 of 25] Compiling System.Console.CmdArgs.Implicit.Ann ( Syst

[2018-01-06 14:15] rahulmutt commented on #605
I just pushed a patch that disabled a flag that compiled the modules that rely on TemplateHaskell. Run `etlas update` and try again.

[2018-01-06 14:15] #605 closed

[2018-01-06 14:16] indegro commented on #605
@rahulmutt Thank you. Let me try again

[2018-01-06 17:46] joshsh opened #606 ""Cannot parse #if directive" while installing dependencies"
I get a strange failure message when attempting to install a dependency via `etlas`, version 1.1.0.0. See below. The dependency version in question is already available via `cabal`.

Steps to reproduce:
* use `etlas init` to create a minimal executable project with the default `Main.hs`
* at this point, a 19 MB uber-jar can be successfully created using `etlas configure --enable-uberjar-mode` and

[2018-01-06 19:38] rahulmutt commented on #606
Do you still get this error after running `etlas update`? I recently fixed the `binary` patch. Another alternative is to upgrade to Eta v0.7 with `etlas select latest`.

[2018-01-07 01:08] jarekratajski commented on #603
I did small trial where I fix only one call of multiAssign and it seems to work
there are some dirty places there

[2018-01-07 04:18] rahulmutt commented on #603
Ok great. I gave some feedback on your work so far - great start! Please put your test cases in `tests/basic/multiAssign/`. We don't run those tests yet, but we will eventually and it'll be great to keep track of them.

[2018-01-07 05:42] joshsh commented on #606
Thank you; running `etlas update` solved the problem.

[2018-01-07 05:42] #606 closed

[2018-01-07 11:19] indegro opened #607 "Yaml build error -- eta.exe: panic! (the 'impossible' happened)"
I tryied to use yaml library and

produces the error

Preprocessing library for yaml-0.8.25.1..
Building library for yaml-0.8.25.1..
[ 1 of 10] Compiling Text.Libyaml     ( Text\Libyaml.hs, dist\build\Text\Libyaml.jar )
eta.exe: panic! (the 'impossible' happened)
  (Eta version 0.7.0b1):
        tcCheckFIType: Unsupported calling convention.
  ccall unsafe "value yaml_alias_event_initialize"

[2018-01-07 16:34] rahulmutt commented on #607
We will eventually need `yaml` for the `eta-ffi` (FFI Generator) work. If you are interested in helping port it, you can start using the [eta-snakeyaml](https://github.com/typelead/eta-snakeyaml) package which provides bindings for the [SnakeYAML](https://bitbucket.org/asomov/snakeyaml) Java library.

[2018-01-08 06:56] jneira commented on #582
Testing the changes we've detected that when you do an `etlas configure --enable-uberjar-mode`, the next `etlas build`s honours it when generating the classpath for launchers files. The classpath only includes the uberjar.
However `etlas install` ignores the configuration and generates the files with an incorrect classpath: it includes the full one. As the install phase always call the build phase

[2018-01-08 06:58] rahulmutt commented on #582
I wonder if this is just a bug in `etlas`. I think we should verify first that in `cabal`, the configure flags are indeed ignore for the `install` command.

[2018-01-08 10:09] jneira commented on #582
You are right, i've done a test (somewhat incomplete but i think is valid):
- `cabal configure --enable-executable-dynamic & cabal build` : i get an error:  `Perhaps you haven't installed the "dyn" libraries for package base-4.9.0.0`
- `cabal clean & cabal configure --enable-executable-dynamic & cabal install`: the executable is built and installed succesfully
  - after that if i do a `cabal build

[2018-01-08 10:25] jneira commented on #582
So other option could be force eta to recompile the jar in the install phase if we detect that the config value for uberjar-mode is different between the last `etlas build` and the actual `etlas install`. The behaviour would be more similar to cabal in this way.

[2018-01-08 10:44] jneira commented on #582
I have to note that the tests has been done with cabal version  1.24.0.2 and maybe the behaviour has changed in 2.*

[2018-01-08 10:50] rahulmutt commented on #582
The test should ideally be done in 2.* since `etlas` is based on that.

[2018-01-08 11:11] jneira commented on #582
Yeah, i've tested it with version 2.0.0.1 and update the relevant comments (the behaviour has not changed)

[2018-01-08 11:46] indegro commented on #607
@rahulmutt In my case yaml packae is a transitive dependency.
I would like to try to port it. Could you please guide me through this process?

Are there any links that help me do that?

[2018-01-08 12:00] rahulmutt commented on #607
No links yet, but here are some steps:

1. `etlas get yaml`
  Fetchs the package and extracts it into your current directory. It'll be of the form `yaml-[version]`.
2. `cd yaml-[version]`
2. `git init && git add . && git commit -m "First"`
  Sets up the reference point for the patch.
3. `etlas build`
  This is the step you'll be coming back to quite a bit. Basically, you keep patching stuff until

[2018-01-09 03:31] rahulmutt commented on #603
@jarekratajski Do you have a timeline for the fix for this? Ideally, I'd like to see a fix by the end of the week since this is a pretty important bug. If your current schedule does not allow for that, please create a PR with the work you've done so far and I'll finish up the remaining bits.

[2018-01-09 04:58] jarekratajski commented on #603
@rahulmutt I will have some time in next 48 hours for that - so hopefully I can do it or at least push  something better.

[2018-01-09 05:01] rahulmutt commented on #603
@jarekratajski Great, thanks for the update.

[2018-01-09 06:41] jneira commented on #582
Commenting with @rahulmutt about the issue we tought that maybe the best option to regenerate the executable jar could be make eta relinking the sources when the input files other than modules or packages (taht is, java sources and lib jars) changed. That is a feature in its own, tracked in #594.

[2018-01-09 06:58] jneira commented on #594
The change could be compute the input files hashes, saving them and compare the possible new input files in subsequent calls to trigger either a compile or only a linking if modules had not been changed and is possible.
This can be done in etlas at first but at some point the compiler could be changed so it will have this behaviour.

[2018-01-10 03:45] Jyothsnasrinivas opened #608 "[etlas] etlas test missing dependencies error message"
According to @indegro, etlas gives this error message when running `etlas test` with missing dependencies:

`etlas: Encountered missing dependencies: HUnit -any, hspec >=1.3, mockery -any, temporary -any Run 'etlas install --dependencies-only' to install the dependencies.`

It should suggest to add the `--enable-tests` flag.

[2018-01-10 07:00] jneira opened #609 "Trigger the linker phase when linked files other than modules change"
Actually eta does not regenerate the main jar if the jars included as input files to be linked change.
If you do a `etlas --make Module.hs module-dep.jar` and later `module-dep.jar` changes, a second call doesn't generate a new run-module.jar with those changes. This is so even if you add or remove jars from the call.
A full build including compile would not be neccesary, only a new linking.

[2018-01-10 07:17] jneira commented on #582
I turns out that java sources are included in the executable jar in the compiler phase of eta. At this point we need eta to do a "relinking" cause the difference between the uberjar and normal modes is about the maven/modules jars included by etlas in its call to eta. Java sources are included in the executable jar in both modes.
So I filed a new issue about: #609

[2018-01-10 07:58] jneira commented on #609
The change could be modify the [ETA.Main.DriverPipeline.linkingNeeded](https://github.com/typelead/eta/blob/master/compiler/ETA/Main/DriverPipeline.hs#L1280-L1304) to take in account all the files involved in the link phase.
Actually [ghc](https://github.com/ghc/ghc/blob/ghc-7.10/compiler/main/DriverPipeline.hs#L435-L467) check if linking is needed:
- checking if any of object files or extra_ld_in

[2018-01-10 08:07] rahulmutt commented on #609
I like this solution a lot better and as you said, it'll fix a lot of problems at once.

[2018-01-10 16:43] jarekratajski commented on #603
@rahulmutt  I need some help.
I've tried to do it mostly 1 by 1 GHC with Digraph
and it does not build packages anymore

And I do not know how to "debug" it efficiently.

I suspect I've mixed somehow  "stores" with "loads" in Layout.hs unscramble
or I did not get how CodeGen monad works
Line 161 - 162 in Expr.hs   ... are not codes generated by emitMultiAssign lost.

If I only knew how to print de

[2018-01-10 16:46] rahulmutt commented on #603
@jarekratajski Can you show me a diff of your changes? I can take a look at where you are and see if I can help you forward.

Are you getting compile-time errors or run-time errors? I can help out with debugging methods if you're specific on what kind of info you need.

[2018-01-10 16:47] jarekratajski commented on #603
moment... maybe I did very stupid thing and compiler even says me what

[2018-01-10 17:15] jarekratajski commented on #603
What I need is to compile eta - without recompiling base packages.
I've "screweed" something but I need to test it on a single small file.
Otherwise I wil not find out.

I did a stupid pull request to easily track changes.

[2018-01-10 17:17] jarekratajski commented on #603
Version number was changed before - that is now fixed.

[2018-01-10 17:20] jarekratajski commented on #603
cleaninstall.sh results in

[code]

Must be that I somehow do not emit correct assigns now.

[2018-01-10 17:33] jarekratajski commented on #603
Or after  last change in Layout.hs I get now.
[4 of 5] Compiling GHC.Magic        ( GHC/Magic.hs, dist/build/GHC/Magic.jar )
[5 of 5] Compiling GHC.Classes      ( GHC/Classes.hs, dist/build/GHC/Classes.jar )
eta: panic! (the 'impossible' happened)
  (Eta version 0.7.0b1):
        getCgIdInfo: no module eta_B1

[2018-01-10 18:35] rahulmutt commented on #603
@jarekratajski A nice way to debug codegen stuff is to add `-ddump-cg-trace` into the project you want to debug. In this case it's `ghc-prim` - so go to `librares/ghc-prim/ghc-prim.cabal` and add `-ddump-cg-trace -ddump-to-file` to the `ghc-options:` field. In the trace, you can see which precise part of the codegen choked on your changes and where `eta_B1` comes from.

[2018-01-10 18:41] rahulmutt commented on #603
That issue typically happens when you try to load an `Id` which hasn't been inserted into the bindings yet. Seems like an ordering problem.

[2018-01-10 19:48] jarekratajski commented on #603
Thanks.
I've changed it
    ghc-options: -ddump-cg-trace -ddump-to-file -this-unit-id ghc-prim

but still do not see any traceCG outputs. even in the created file
[code]

[2018-01-10 19:55] rahulmutt commented on #603
I changed those exact same options and I was able to find it here:

`libraries/ghc-prim/dist/build/GHC/CString.dump-cg-trace` (for example)

[2018-01-10 20:03] jarekratajski commented on #603
Thanks. That was it. Sorry, had no idea which file to look at.
I see as last lines of
Classes.dump-cg-trace

[code]

so it must fail on
```deps <- dependencies args```
and then probably on this line
[code]
where getCgIdInfo fails

[2018-01-10 20:16] jarekratajski commented on #603
After addeing some debug
[code]
I get the file as in attachment:
[Classes.dump-cg-trace.txt](https://github.com/typelead/eta/files/1620313/Classes.dump-cg-trace.txt)

I do not know why getCgIdInfo var does not work even though I've copied more or less code from the previous getNonVoidArgCodes function.
(Very likely it is something obvious and stupid that I do not see. My experience with haskell is

[2018-01-10 20:24] jarekratajski commented on #603
And I see.
I have not fully copied logic from getNonVoidArgCodes  .. cause I forgot about nonvoid check.

[2018-01-10 22:26] jarekratajski commented on #603
PR is is ready for review.
I've added test cases  that works. Cycles also seem to work.

One strange thing is I had to actually reverse results of "topological sort" from Digraph
see Line 83 from Layout.hs  - but with this reverse all makes sense.

For reference commit #2582101 contains lot of debugs that can be used (show how graph looks like).

@rahulmutt  Thank You for all the help!
 That was r

[2018-01-11 06:45] rahulmutt commented on #603
Don't worry about styling/naming - I'll do it later in a cleanup commit. You got the core fix working which is enough :) I'll merge it now.

[2018-01-11 06:57] rahulmutt commented on #603
Verified the `master`'s fix is working. Closing. Thanks again @jarekratajski.

[2018-01-11 06:57] #603 closed

[2018-01-11 06:58] rahulmutt commented on #478
Closing, will be fixed in the upcoming v0.7.0b2

[2018-01-11 06:59] #478 closed

[2018-01-11 13:54] rahulmutt opened #611 "Implement withArgv"
https://github.com/typelead/eta/blob/0da905c6b12f4828ea7efa93bd8eb7adde313b32/libraries/base/System/Environment.hs#L166

[2018-01-12 23:48] jarekratajski commented on #200
I've analyzed the case with simple tools.
There seems to be 2 issues:
If program is started with -XX:+PrintCompilation I see such log:
[code]

It means code cannot be compiled by  hotspot -  the  reason is unbalanced synchronize.
It is even consistent with strange decompilation result:
[code]
I've analyzed bytecode and it looks ok.. the problem seems to be missing ExceptionTable.
[code]
[code]
I a

[2018-01-15 10:44] rahulmutt commented on #216
Just pushed a patch for `sbv-6.1` on `eta-hackage` which should work with the new Eta v0.7 release. Feel free to file issues on `eta-hackage` if there any bugs at runtime.

It turns out that `sbv` doesn't really depend on `ghc` since removing the dependency didn't cause any build errors.

[2018-01-15 10:44] #216 closed

[2018-01-18 09:01] NickSeagull opened #612 "RFC: Require keyword"
A lot of the times we find ourselves writing code like:

[code]

Maybe it would be possible to write a `require` keyword that joins these two by importing unqualified all the types and the rest qualified? The `as` part would default to the last part of the module name:

[code]

If someone had trouble with colliding types, one could write:

[code]

This way would make the code much cleaner in my op

[2018-01-18 09:12] rahulmutt commented on #612
I've wanted this exact functionality myself, but I'm wary of adding new syntax when it can be avoided. For foreign import/foreign export syntax, we have freedom to change it however we like (as mentioned in your previous RFC).

I feel like this will be less of a problem once we have the IDE support ready. Basically, I imagine having a tool that automatically generates *exact* imports for you and i

[2018-01-18 12:18] NickSeagull commented on #612
I see, makes sense to me, it was a crazy idea I had and I wanted to propose it :smile:

Looking forward for IDE support!

[2018-01-18 12:18] #612 closed

[2018-01-18 12:41] Gurkenglas commented on #543
The referenced issue is closed, any updates?

[2018-01-18 15:06] pzmi opened #613 "[eta-tour]: Bug - Modules (2/14) - Invalid module name declaration"
I should really pay attention to descriptions...

Source Code:
[code]

Output:
[code]

Hi.
Shouldn't module name start with capital letter? In this example module name is `main` and this snipped does not compile.
When changed to `Main`, it's ok.

[2018-01-18 15:07] rahulmutt commented on #613
Hi @pzmi, the error is intentional and meant for you to fix. It's part of the tour :)

[2018-01-18 15:21] pzmi commented on #613
It's even in the description, now I feel dumb. I should really read the description before starting :)

[2018-01-18 15:22] rahulmutt commented on #613
No worries. It happens! Closing, since this is resolved.

[2018-01-18 15:22] #613 closed

[2018-01-19 09:35] agocorona opened #616 "trampolined code does not avoid stack overflow"
This is the code that produces the error, with `etlas run`:

https://github.com/agocorona/eta-fibers-new/commit/5827a29872893886ad6cb5ef693bdd6b82441483

[2018-01-20 03:55] rahulmutt commented on #543
@Gurkenglas Can you post the original code that generated that exception?

[2018-01-21 03:25] edmundnoble commented on #536
What would the representation of unboxed sums look like here? The lack of pointers and unboxed tuples (and value classes in general) in Java seems to be an issue for making the GHC 8 style representation efficient; on the other hand, if boxing and unboxing are an issue and you know that the types which parameterize `Either` and `Maybe` are monomorphic (and disjoint) you can just use Java's RTTI to

[2018-01-22 10:35] NickSeagull opened #617 "RFC: The Eta Prelude"
As explained on #308 , we'd probably have a custom prelude for Eta.

I'd like to suggest that we could put some major changes on it that make things easier for newcomers to Eta/Haskell, but make it optional for people that already come from Haskell.

For instance, I'd really like the following changes for some operators:

- Substitute `$` by `<|`
- Create new operator `|>` that is `flip ($)`
- Def

[2018-01-22 13:05] FrankTaylorLieder opened #618 "eta-fib-service sample repo empty"
Following the first web service tutorial at: https://eta-lang.org/docs/eta-tutorials/web-services/the-api

I found the following:

refrain:eta$ git clone https://github.com/typelead/eta-fib-service
Cloning into 'eta-fib-service'...
warning: You appear to have cloned an empty repository.

[2018-01-22 13:11] rahulmutt commented on #618
Thanks for catching that! Try again - it should work.

[2018-01-22 13:11] #618 closed

[2018-01-22 14:58] rahulmutt commented on #617
@NickSeagull Completely agree with almost all of this. If possible, can you start a proposal on [eta-proposals](https://github.com/typelead/eta-proposals) where you describe all the functions that should be present in the prelude. Include open ended questions on the parts you're unsure about and we'll work it out over time.

The plan moving forward is that we'll have a new `.eta` extension which a

[2018-01-22 15:49] NickSeagull commented on #617
Love the fact that we will have our own extension! Will create the proposal, this deserves a thorough thought, though :smile:

[2018-01-22 22:55] puffnfresh commented on #617
I teach Haskell. I think this would cause problems with my team learning/using Eta and I don't think there's evidence that it would be useful.

[2018-01-22 22:55] tonymorris commented on #617
I don't agree with this. There is an important order of arguments to `(<$>)` and `(<*>)` that makes one preferable over another (this is a rabbit hole). The name `(<*>)` comes from the original paper, Applicative Programming with Effects. To flip the order of these arguments, is by definition, flipping the **correct** order of arguments. That is not to say this flipping is not useful, but that it

[2018-01-23 07:57] jneira commented on #617
I think eta needs to be careful about changes that makes difficult to projects be compiled with different ffi backends (ghc/c, ghcjs/js, eta/jvm). So i would try to avoid default substitutions and deletions respect to the actual haskell standard prelude. And i would try to make additions (including alias) coherent with the actual constraints and naming conventions.
What do you think about add the

[2018-01-23 18:08] NickSeagull commented on #617
I'm not talking about removing the actual prelude, but rather have a mandatory `import Eta.Lang` with a `NoImplicitPrelude` extension by default @jneira :smile:

[2018-01-23 18:11] NickSeagull commented on #617
@tonymorris , didn't know about that PS was derived from Scalaz. Although I now refrain from removing stuff, I still suggest to have special operators. In the end the majority is the one who dictates the norm, and we should adapt to that in my opinion.

[2018-01-23 20:33] mfussenegger opened #619 "eta panic building library for crypto-api-0.13.2"
[code]

Occurred after adding `wreq` to a projects dependencies.

[2018-01-24 14:07] jcolivo opened #621 "[etlas] curl: (7) Failed to connect to metrics.eta-lang.org port 80: Timed out"
Hello!
I am trying to install/update etlas and eta according to the instructions at:
https://eta-lang.org/docs/eta-concepts/getting-started/install-eta

Howerver, I am encountering a time out when the Etlas is connecting to metrics.eta-lang.org. Below is the command line input and output from a Windows 10 machine.

Thank you for your help!

---------------------------------------------------------

[2018-01-24 14:10] jcolivo commented on #621
Also, below is the output when I enter the command: curl --version.
---------------------------------------------------------------
C:\Users\jc>curl --version
curl 7.57.0 (x86_64-pc-win32) libcurl/7.57.0 OpenSSL/1.1.0g (WinSSL) zlib/1.2.11 WinIDN libssh2/1.8.0 nghttp2/1.28.0
Release-Date: 2017-11-29
Protocols: dict file ftp ftps gopher http https imap imaps ldap ldaps pop3 pop3s rtsp scp sftp smb

[2018-01-24 14:17] rahulmutt commented on #621
The telemetry server is going to be down for a couple days - you can turn it off for now and I'll update this issue when it's back up.

Ideally, `etlas` shouldn't fail even if the telemetry server is down, so this should be considered a bug.

Check the instructions here:
https://eta-lang.org/docs/faq#opt-out-eta-telemetry

[2018-01-24 14:27] jcolivo commented on #621
Thank you very much!
I followed the instructions, and it seems that the command **etlas update** ran perfectly fine.

Now, I have another obstacle:
When I try to run the command: **eta Main.hs** I get the following error:

C:\Users\jc\Desktop>etlas exec eta -- Main.hs
[1 of 1] Compiling Main             ( Main.hs, Main.jar )
Linking ./RunMain.jar ...

C:\Users\jc\Desktop>eta Main.hs
'eta' is not r

[2018-01-24 14:47] rahulmutt commented on #621
@jcolivo `eta` is not installed globally so it makes sense that `eta Main.hs` doesn't work. `etlas` managed `eta` versioning for you making it easier to upgrade `eta` whenever you have time. If it mentions anywhere in the docs that you should run that command, please let us know and we'll fix it.

[2018-01-24 15:00] jcolivo commented on #621
Thank you for your response.
I stepped away from my computer for a break, and when I came back, the tutorial did mention that `eta Main.hs` was the same as `etlas exec data -- Main.hs`. I am sorry that I overlooked that sentence, but am glad to know that those two commands do the same thing. This is a newbie mistake: not reading thoroughly.

Another newbie question (thank you for your patience!)
I

[2018-01-24 15:05] rahulmutt commented on #621
By chance are you using Java 9?

[2018-01-24 15:07] jcolivo commented on #621
Yes. Here is the output from the command line:

C:\Users\jc\Desktop>java --version
java 9.0.1
Java(TM) SE Runtime Environment (build 9.0.1+11)
Java HotSpot(TM) 64-Bit Server VM (build 9.0.1+11, mixed mode)

[2018-01-24 15:19] rahulmutt commented on #621
Ok for now, you can just ignore the warnings and keep working. We'll eventually fix those warnings.

[2018-01-24 15:20] jcolivo commented on #621
Will do. Thank you!

[2018-01-25 12:15] jneira commented on #609
Closed by #622

[2018-01-25 12:15] #609 closed

[2018-01-25 12:38] jneira commented on #582
* Global classpath fixed by https://github.com/typelead/etlas/pull/28
* Recreation of jar file when switching between uberjar and normal modes by #622

[2018-01-25 12:38] #582 closed

[2018-01-25 12:40] jneira commented on #594
* With #622 eta makes a new jar if java sources change

[2018-01-25 12:40] #594 closed

[2018-01-26 09:10] rahulmutt opened #623 "[etlas] Make etlas update robust"
As in https://github.com/typelead/eta/issues/621, `etlas update` can crash if any steps of the update process tries to connect to a temporarily unavailable server. Instead, it should issue a warning that the given step did not succeed because the server was down and keep going to the remaining steps.

[2018-01-26 09:12] rahulmutt opened #624 "Fix warnings for Java 9"
When running Eta programs with Java 9, you can get warnings like shown (from https://github.com/typelead/eta/issues/621):

[code]

We need to investigate why these warnings are showing up and how we can prevent them.

[2018-01-26 09:15] rahulmutt commented on #621
I filed #623 and #624 to address the bugs that were found in this issue. The telemetry server is now back up and you can turn it back on with these instructions: https://eta-lang.org/docs/faq#opt-in-eta-telemetry.

[2018-01-26 09:15] #621 closed

[2018-01-26 15:36] jcolivo commented on #623
I'm submitting this feedback to let you know the output from my end.

I made the change in the config file -- changing `send-metrics: False` to `send-metrics: True`. I then ran `etlas update`, and got the following message in the prompt:

--------------------------------
C:\Users\jc>etlas update
Downloading the latest package lists from:
- hackage.haskell.org
- etlas.typelead.com
Updating binary p

[2018-01-26 15:39] rahulmutt commented on #617
@NickSeagull I agree with @jneira that existing functions/names shouldn't be changed, but aliased when possible. And for you suggestion `read :: String -> Maybe a`, we should probably name it `readMaybe` instead to avoid changing the type of an existing function.

@puffnfresh There isn't any evidence, but the style of writing code (ordering) does matter. My personal thoughts on this are that when

[2018-01-26 15:43] rahulmutt commented on #623
@jcolivo That problem looks related to: https://github.com/typelead/etlas/issues/24. It seems to be a curl related issue.

[2018-01-26 16:16] jcolivo commented on #623
I provided a comment in: [typelead/etlas#24](https://github.com/typelead/etlas/issues/24). It's an issue related to installing `curl` via the Chocolatey Windows package manager, which was installed via the Windows PowerShell (Admin).

[2018-01-26 16:44] #616 closed

[2018-01-27 00:11] NickSeagull opened #626 "RequestBody + Servant results in EtaException"
I have some custom monad defined for a servant application I'm working on, the problem is that when I try to make a request to an endpoint with a request body it result in this [ugly stacktrace](http://lpaste.net/361990).

My custom monad is defined like

[code]

And the helper functions to make it work with Servant:

[code]

The endpoint is defined like

[code]

[2018-01-27 01:28] NickSeagull commented on #626
I've uploaded the code that reproduces the bug to [this repository](https://github.com/NickSeagull/servant-eta-transformer)

[2018-01-27 01:55] NickSeagull commented on #626
I've just updated the code to use the regular Servant `Handler` type, it produces the same stack trace.

[2018-01-27 05:02] puffnfresh commented on #617
Does a library like this already exist?

[2018-01-27 10:17] tonymorris commented on #617
@puffnfresh library like which?

If the goal is "to do better than Haskell prelude", then

a) there is a huge opportunity here to do well
b) there is a chance to screw it up, let's not!

[2018-01-27 12:42] NickSeagull commented on #617
@tonymorris I'd love to accomplish that goal, but also, on the other hand I'd love to see helpers for newcomers to Haskell, like @rahulmutt noted in his comment

@puffnfresh there is [flow](https://github.com/tfausak/flow#readme) by Taylor Fausak, which is absolutely lovely, but I'd like to see more stuff.

[2018-01-27 12:48] tonymorris commented on #617
I'm teaching in Melbourne next week, and Brisbane the week after. See
@queenslandfplab on Twitter. You coming?

On 27 Jan. 2018 22:42, "Nikita Tchayka" <notifications@github.com> wrote:

@tonymorris <https://github.com/tonymorris> I'd love to accomplish that
goal, but also, on the other hand I'd love to see helpers for newcomers to
Haskell, like @rahulmutt <https://github.com/rahulmutt> noted in h

[2018-01-28 00:36] jneira commented on #626
Hi, i have detected a problem in wai-servlet that maybe it is related with the issue, cause it is about the request body. I think the error can be caused when aeson tries to consume it.
I filled [an issue](https://github.com/jneira/wai-servlet/issues/12) in wai servlet about the problem, that maybe it is related with eta foreign pointers

[2018-01-28 08:34] rahulmutt commented on #626
This is fixed in `wai-servlet-0.1.4.0`. There are a subtle change in the new MemoryManager in v0.7 which breaks one of the assumptions inside of `wai-servlet`.

Run the following to fix it:
[code]

[2018-01-28 08:34] #626 closed

[2018-01-28 12:07] NickSeagull commented on #626
Thanks!

[2018-01-29 05:03] marcin-kozinski opened #627 "[eta-tour]: Bug -- compilation broken in Firefox"
Source Code:
[code]

Output:
[code]

I'm using Firefox 60 (currently in the Nightly channel) on macOS 10.13.3.

[2018-01-29 05:17] rahulmutt commented on #627
Thank you for catching this @marcin-kozinski! We just fixed this, can you do a hard reload and try again?

[2018-01-29 05:17] #627 closed

[2018-01-29 05:33] marcin-kozinski commented on #627
Nice 👍 Can confirm it's working now!

[2018-01-30 08:43] jneira commented on #604
Hi, reviewing eta i've found in libraries/base/java-utils/Utils.java the function [c_memcpy](https://github.com/typelead/eta/blob/master/libraries/base/java-utils/Utils.java#L267-L273): maybe those function could be overlodaded version of this one, for example:
[code]

* same for cmp and set

[2018-01-30 13:52] jneira commented on #604
Hi, i have a [initial version](https://github.com/typelead/eta/compare/master...jneira:mem-utils?expand=1) with most of the methods seen in eta-hackage patches.
I am reviewing eta-hackage to identificate more generic methods over Memory and ByteBuffers

[2018-01-31 03:38] rajcspsg commented on #573
Hi @rahulmutt - Can I take up this issue and work work on this?

[2018-01-31 08:06] puffnfresh commented on #573
Proguard mangles names to make them short. Does this matter?

[2018-01-31 12:43] NickSeagull opened #630 "Servant's Handler not handling IO properly"
Simple example, if we run this program after setting the environment value `MYVAR`, it will print it:
[code]

But, if we create a servant Handler that should read an environment variable, it won't:

[code]

[2018-01-31 12:52] rahulmutt commented on #630
Thanks for the bug report. Can you link this to a github repo so that it's easy to reproduce? You can create a branch on the repo you used last time and share the branch name if that's easier.

[2018-01-31 12:56] NickSeagull opened #631 "Servant won't handle QueryParams correctly if it runs on a transformer"
I'm building an application that is running on a transformer instead of the regular Servant `Handler`, it is defined like:

[code]

The code to serve the app looks like:

[code]

And in the main module

[code]

The `Web.API` is defined like

[code]

*And it is located in another Eta project, having to install it each time that it changes*. This is done because I'm working in an event-driven micros

[2018-01-31 13:00] NickSeagull commented on #630
Sure, I deleted the repo by accident, but I'll create a new one soon

[2018-01-31 16:25] rahulmutt commented on #617
I think this discussion should also include how we're going to deal with lenses. Lenses are like the jQuery for pure FP languages and as such, I think it's rather unfortunate that they don't have support by default in the compiler (via `deriving Lens`) and the standard library (core lens type synonyms).

I've been going through the internals of the `lens` package in my spare time to see if we can

[2018-01-31 17:07] NickSeagull commented on #617
Definitely, they are really useful

[2018-01-31 22:31] rajcspsg commented on #573
@puffnfresh - I'm not sure. The issue is still open and looks like easy to pick.
That's why I was checking on it.

[2018-02-01 04:49] chenyong opened #632 "ping: cannot resolve etlas.typelead.com: Unknown host"
Got this domain in:

[code]

Update took very long time. I doubted it server is down:

[code]

[2018-02-01 05:36] rahulmutt commented on #632
Hi @chenyong, can you run `etlas update -v3` and share the trace in a Gist?

`etlas.typelead.com` doesn't exist (yet) and is currently backed by a [Git repository](https://github.com/typelead/etlas-index), although the message doesn't tell you (which it should). Moreover, the message doesn't indicate order. Both indexes are queried in parallel and often, the Hackage query takes a long time since t

[2018-02-01 05:54] chenyong commented on #632
https://gist.github.com/chenyong/5a3106b9fb71f9581eef6e90a6beddf4

[2018-02-01 05:58] chenyong commented on #632
Besides:

[code]

not sure what happened but it's not like what's told in docs.

[2018-02-01 06:10] rahulmutt commented on #632
Which steps in the docs are you following? It looks like the trace shows that the update happened successfully.

[2018-02-01 06:15] chenyong commented on #632
I tried twice(or 3 times), and made it work. Just curious why that domain is printed and why it's slow. If that's expected to be slow, please show an progress bar.

I installed with binary on Mac https://eta-lang.org/docs/eta-concepts/getting-started/install-eta

[code]

Should `eta` be available after these steps?

[2018-02-01 06:32] rahulmutt commented on #632
Read the next section: https://eta-lang.org/docs/eta-concepts/getting-started/first-program

It explains that `eta` is managed by `etlas` to allow you to switch versions easily and shows you how you can access the `eta` compiler directly if you need it via `etlas exec`.

[2018-02-01 06:35] rahulmutt opened #633 "[etlas] Display progress bars when downloading"
When downloading anything via etlas, we should display a progress bar showing how much of the download has finished.

This should be done for:
- When downloading a new Hackage index for `etlas update`.
- When downloading a source package.
- When downloading a binary package or binary executables.

[2018-02-01 06:35] rahulmutt commented on #632
Filed #633 to track that we need to add progress bars.

[2018-02-01 06:39] chenyong commented on #632
Thanks. So the issue is just why `etlas.typelead.com` is printed given that it doesn't exist anymore. No actual problems left.

[2018-02-01 06:48] rahulmutt opened #634 "[etlas] Display git-indexed repos accurately"
`etlas update` currently displays:
[code]

It should display this instead:
[code]

[2018-02-01 06:50] rahulmutt opened #635 "[etlas] Update outdated messages"
https://github.com/typelead/etlas/search?utf8=%E2%9C%93&q=%22etlas.typelead.com%22&type=

shows all the places where the old addresses are being shown that are no longer valid. They should be updated.

[2018-02-01 06:50] rahulmutt commented on #632
@chenyong Thanks! Filed #634 and #635 to address all the issues mentioned in this post. Closing this since everything else was resolved.

[2018-02-01 06:50] #632 closed

[2018-02-01 14:26] rahulmutt commented on #573
@puffnfresh I'm not sure how often ProGuard is used for obfuscation for server-side software where you're not as worried about someone looking at your code.

Either way, I think it's good to keep a clean naming scheme so that it's easier to import the eta runtime types when writing implementations in Java. The current naming scheme is rather ad-hoc and it's not so easy to figure out what comes fro

[2018-02-01 19:53] #585 closed

[2018-02-01 19:53] #635 closed

[2018-02-01 22:23] andrewgmcgregor opened #636 "Subclass demo code in eta-tutorials.rst won't compile"
I can’t compile this code copied from the project documentation:

[code]

[code]

I tried on the binary version of atlas I got from from eta-lang.org
[code]

and I compiled branch 0.7.0b1
[code]

I am using macOS high sierra 10.13.2, but I also downloaded the binary and tried it on Linux and had the same problem

[2018-02-02 00:19] andrewgmcgregor commented on #636
Got it working like by changing it to this:

[code]

[code]

Should I submit a pull request to update the documentation?

[2018-02-02 03:52] rahulmutt commented on #636
@andrewgmcgregor Yes please!

[2018-02-02 11:28] duester opened #637 "Not able to install eta from binary on Windows"
Hello all! I'm a newbie to eta and trying to install it on Windows 7. Unfortunately, it fails. After downloading the executable and doing 'etlas update' I get an error: "Unable to find base package base-4.8.2.0 in binary package index"
[etlas_update.log](https://github.com/typelead/eta/files/1689128/etlas_update.log)

After cleaning out the directory %APPDATA%\Roaming\etlas and running 'etlas upda

[2018-02-02 13:58] duester commented on #637
Thanks for your tip! The result of these commands is nearly the same:
[etlas_select.log](https://github.com/typelead/eta/files/1689564/etlas_select.log)
[etlas_select_full.log](https://github.com/typelead/eta/files/1689565/etlas_select_full.log)

[2018-02-02 14:39] rahulmutt commented on #637
Can you download the new [etlas-1.2.0.0 binary](https://cdnverify.eta-lang.org/eta-binaries/etlas-1.2.0.0/binaries/x86_64-windows/etlas.exe) and clean out your `Roaming\etlas` and see if the new binary works out for you? We're just about to complete an infrastructure migration and the failure you see above may be related to it. The new version of etlas has a patch to support the peculiarities of t

[2018-02-02 15:01] duester commented on #637
Ok, I'll try this.

[2018-02-02 16:26] duester commented on #637
Alas, the latest binary does not bring anything new:
[etlas_select_full.log](https://github.com/typelead/eta/files/1690009/etlas_select_full.log).  Hmm, what can else be the issue?

[2018-02-02 16:33] rahulmutt commented on #637
Can you try `etlas select -v3 0.7.0b2` and see if that works? We recently re-deployed `0.7.0b1` because of some errors and it may be that the Content Delivery Network is caching the invalidated files.

[2018-02-03 14:10] duester commented on #637
Sorry, could not try it out yesterday. Just ran it again. It still fails, always because of not finding base-4.8.2.0. ;-(    I wonder if someone else experience the same issue.

[2018-02-04 17:39] duester commented on #637
Ok, I found out that it only does not work on my workplace PC. On my home PC it works! So now I have to investigate what is different on the other computer. Thanks for helping!

[2018-02-05 05:28] rahulmutt commented on #637
@duester Thanks for the info! Given the fact that it wasn't working on your work computer which typically have secure network setups, I wonder if `base-4.8.2.0-bin.tar.gz` is being blacklisted for some reason. It contains a large jar file inside - about 17MB in side so I wonder if that has anything to do with it. We may need to add an option to etlas to download files in chunks for certain network

[2018-02-05 05:29] rahulmutt commented on #636
This should be resolved with #638.

[2018-02-05 05:29] #636 closed

[2018-02-05 05:34] rahulmutt commented on #630
@NickSeagull Just a reminder: please push the repro code into a github repo whenever you can. I can take a look as soon as you do.

[2018-02-05 05:35] rahulmutt commented on #619
Hello @mfussenegger! Thanks for the report. There happens to be a C FFI call in `crypto-api` that implements a secure equals function for hashes. I have successfully replaced that with a Java implementation locally but for some reason the hs-boot files in the library are not compiling. Will need to take a deeper look.

[2018-02-05 05:59] #624 closed

[2018-02-05 06:05] rahulmutt commented on #522
We have moved to our own custom documentation system so this is no longer relevant.

[2018-02-05 06:05] #522 closed

[2018-02-05 06:06] rahulmutt commented on #160
Eta Playground no longer exists (just the Tour now) so this is not relevant anymore.

[2018-02-05 06:06] #160 closed

[2018-02-05 06:08] rahulmutt commented on #418
@aiya000 Does this still happen on the most recent version of Eta (0.7.0b2).

[2018-02-05 06:10] rahulmutt commented on #161
Eta Playground no longer exists (just the Tour now) so this is not relevant anymore.

[2018-02-05 06:10] #161 closed

[2018-02-05 08:01] jneira opened #639 "StackOverflowError when calling eta.runtime.io.MemoryManager.allocateBuffer with a big size"
* When calling `eta.runtime.ioMemoryManager.allocateBuffer` with a size around 4200000 it throws this exception:
[code]
* Usually eta doesn't allocate such large buffers (bytestrings are allocated using smaller chunks), but maybe it is possible to trigger the error

[2018-02-05 08:36] duester commented on #637
Ok, let me know as soon as you have updated the installer. I would be glad to test it and so to help fix this download issue.

[2018-02-05 09:15] NickSeagull commented on #630
Sorry for the delay, the end of the week was a busy one! :sweat_smile:

There is one very interesting thing that happens, I've extracted the code into a separate project, but cannot reproduce the bug.

I'm suspecting that the problem might be that in the original project the cabal file is being shared between a GHCJS project and an ETA one. Still, let me see if I can manage to invite you to the re

[2018-02-05 09:53] jneira commented on #639
* The maximum size that you can allocate is 2^22 (4194304) bytes, with 4194305 it throws the error

[2018-02-05 11:34] rahulmutt commented on #630
If it's the private repo, no worries. You can update this issue once it's public.

[2018-02-05 11:48] rahulmutt opened #640 "Process package's jar doesn't contain eta.process.Utils"
Occurs on `etlas-1.2.0.0`

Reproduction Steps:
[code]
Expected Output: A single file
Actual Output: Nothing

@jneira I observed that with the previous Eta/Etlas, it was correctly placing ``eta.process.Utils` into the jar file but not with the newest version. I wonder if the steps above are triggering a corner case?

I observed that `base`, `array`, and other libraries are in fact working (they all

[2018-02-05 17:38] Jyothsnasrinivas commented on #431
Closing this, as we have moved the documentation to a new website.

[2018-02-05 17:38] #431 closed

[2018-02-05 21:07] rahulmutt commented on #640
Update: checked once again and realized the culprit is Java 9. I wonder if the logic we use extracting class files from the `javac` command breaks on Java 9 due to format changes.

[2018-02-05 21:13] rahulmutt commented on #640
For reference, compiling a simple java file with `javac -verbose` produces:

Java 9
[code]
Java 8
[code]

The parsing of class files logic can be found here:
https://github.com/typelead/eta/blob/master/compiler/ETA/Main/SysTools.hs#L369-L379

[2018-02-06 07:36] rahulmutt opened #641 "Failed to parse JSON"
The code in [this repo](https://github.com/rahulmutt/eta-bug/tree/eta-641) fails to parse the JSON even though it's valid.

[2018-02-06 08:12] jneira commented on #596
I think you'll maybe have to comment [this line](https://github.com/typelead/eta/blob/master/shake/Build.hs#L205) of eta-build to get a succesfull build

[2018-02-06 14:29] rahulmutt opened #642 "[etlas] Migrate to hpack"
https://github.com/sol/hpack is a wonderful tool to convert yaml files into Cabal files. The syntax for Cabal files can be adhoc at times so having something structured and standardized like yaml seems like a great fit. It seems like a great idea for Etlas to make a yaml-like format the default.

[2018-02-06 14:38] rahulmutt opened #643 "Update cabal.project file to work with the current setup"
It is quite awkward to build `eta` with `cabal` right now so we should update all the relevants and maybe even write some scripts to coordinate a cabal-base installation.

[2018-02-06 14:47] rahulmutt opened #644 "MemoryManager.getBoundedBuffer should thrown an exception if freed"
https://github.com/typelead/eta/blob/master/rts/src/main/java/eta/runtime/io/MemoryManager.java#L106

The comment says we should throw an exception if existing address has already been freed. It currently does not do that, so the task is to check the `AllocationVector` to see if the bit at the corresponding address corresponds to a free block, and if so throw an exception saying that states that y

[2018-02-06 18:30] rahulmutt opened #645 "NPE with parallel string printing"
[code]
The code above consistenly produces an NPE.

[2018-02-06 18:35] rahulmutt commented on #645
Interestingly enough, the bug disappears when changing setting LANG="en_US.UTF-8". By default, it was LANG="en_US.UTF-8".  Seems to be a bug related to the iconv code.

[2018-02-06 19:55] #645 closed

[2018-02-08 05:27] rahulmutt opened #646 "[etlas] Host the welcome message in a downloadable location"
The welcome message is currently hardcoded which is rather unfortunate since changes to any links will require upgrading to a new version. Hence, etlas should update the welcome message from source.

[2018-02-09 14:06] aiya000 commented on #418
@rahulmutt Sorry, I want to check it...but

I executed

[code]

and got :sob:

[code]

Do you know the reason?

[2018-02-10 06:18] rahulmutt commented on #418
You need to update to the new `etlas-1.2.0.0`. The old etlas will no longer work. See https://groups.google.com/forum/#!topic/eta-discuss/bZEofPXDeJw

[2018-02-11 16:16] NickSeagull commented on #642
Another interesting idea would be if `etlas` handled the conversion to the cabal file internally.

I mean, no cabal file would be generated in the root of the project, or at least unless specified. This would lead to less confusions in my opinion. _"Why do you have two project config files?"_

[2018-02-12 17:54] betterclever commented on #641
Working on this.

[2018-02-12 18:40] carymrobbins opened #647 "Direct Java Interop"
While I think it's valuable to have an FFI mechanism in Eta, I think it might be immensely beneficial to support direct Java interop in some way by default, similar to what's possible in Scala, Clojure, etc.

Here's a completely contrived example of what this may look like -

[code]

For the `java import` statements, Eta would use some generated FFI bindings based on the class definitions, simply

[2018-02-13 03:42] rahulmutt commented on #641
@betterclever Sounds great. There are several mechanisms available to debug code generated by Eta, so let me know if you need me to share that info.

[2018-02-13 06:35] rahulmutt commented on #647
I'm going to sketch an implementation for this so we can see where what limitations (if any) will arise from this.

When the compiler sees something like this:

[code]

(The `java` keyword can trigger a new lexing rule that doesn't have to be consym.)

It will signal the Renamer (the compiler pass that resolves all identifiers exactly) that all the method names from the `Arrays` class become valid

[2018-02-13 14:02] rahulmutt opened #648 "Avoid MemoryManager allocations for constant strings"
The code:
[code]
generates
[code]
We should pattern match on the express above at the STG (code generator) level and perform a direct conversion from `java.lang.String` to Eta's list type `[]`.

`[1] = 1 : [] = (:) 1 []` is the same as `new ZC(new Izh(1), DZMZN())`. where `ZC` is defined in `ghc_prim.ghc.types.datacons.ZC` and `DZMZN()` is defined in `ghc_prim.ghc.Types`. Thus, one can define a me

[2018-02-13 14:42] rahulmutt opened #649 "[eta-benchmarks] imaginary/integrate fails with --0.0 is not equal to 0.0"
https://github.com/typelead/eta-benchmarks/issues/3

[2018-02-13 14:43] rahulmutt opened #650 "[eta-benchmarks] spectral/circsim fails with unequal output"
https://github.com/typelead/eta-benchmarks/issues/4

[2018-02-13 15:40] rahulmutt opened #651 "[eta-benchmarks] Selector Thunk bug in spectral/multiplier"
https://github.com/typelead/eta-benchmarks/issues/5

[2018-02-13 15:46] rahulmutt opened #652 "[eta-benchmarks] spectral/para gives truncated output"
https://github.com/typelead/eta-benchmarks/issues/6

[2018-02-13 16:20] rahulmutt commented on #651
Related bug in `spectral/simple`:
[code]

[2018-02-13 16:25] rahulmutt commented on #652
`spectral/sorting` appears to show a similar truncated output behavior.

[2018-02-13 16:27] rahulmutt commented on #652
`spectral/mandel` appears to show a similar truncated output behavior as well.

[2018-02-13 16:33] rahulmutt opened #653 "[eta-benchmarks] spectral/treejoin throws irrefutable pattern failed exception"
https://github.com/typelead/eta-benchmarks/issues/7

[2018-02-14 08:42] rahulmutt commented on #641
@betterclever It looks like @jneira beat you to it by fixing an unrelated bug that also happened to fix this with #654. Closing this issue.

[2018-02-14 08:42] #641 closed

[2018-02-14 09:02] rahulmutt commented on #631
@NickSeagull @jneira fixed a bug that was affected string equality in some cases - can you build the latest eta from source and see if that fixes both of your servant issues?

[2018-02-14 09:03] rahulmutt commented on #564
Closing this as it should most likely be fixed. If you encounter a similar bug again, feel free to file a new issue.

[2018-02-14 09:03] #564 closed

[2018-02-14 10:39] JustusAdam commented on #564
Yeah, sorry I didn't get around to testing it. But I did revert the workaround I added so I should run into it if its still there.

[2018-02-15 11:55] jneira opened #655 "Error executing `etlas test` with hspec"
* I've setup a test suite for wai-servlet-handler-jetty in [this branch](https://github.com/jneira/wai-servlet-handler-jetty/tree/test-suite)
* I am able to run the test suite but it fails with this exception:
[code]

[2018-02-15 12:09] rahulmutt commented on #655
@jneira This is a problem @indegro reported a while back. The temporary fix was to eliminate usage of `withArgs` altogether in `hspec-core` and the permanent solution is to actually implement `withArgv` propertly, tracked in `https://github.com/typelead/eta/issues/611`. What I'll do is fix the version of `hspec-core` to be used in `etlas-index` and make sure that version has the patch that tempora

[2018-02-15 12:15] mbrc12 opened #656 "`etlas update` cannot read index"
On Fedora 27, running `etlas update` yields
[code]
`stack update` works fine.

The output for `etlas update -v3` is
[code]

[2018-02-15 12:16] rahulmutt commented on #656
Have you installed and used `etlas` before? If so, try cleaning out `~/.etlas` and try again.

[2018-02-15 12:17] rahulmutt commented on #656
This doesn't appear to be a proxy issue since it would've showed some failure on `curl`.

[2018-02-15 12:22] rahulmutt commented on #656
While this user was affect on Windows (https://github.com/typelead/eta/issues/487) I think it may be of use. I noticed that the curl being used was `anaconda3/bin/curl` - is it a special `curl` implementation?

Try out `etlas update --http-transport=wget` or `etlas update --http-transport=plain-http` and see if that fixes it.

[2018-02-15 12:25] rahulmutt commented on #655
Can you try installing `hspec-core-2.4.6` and see if that works? I've updated `etlas-index` so after running `etlas update`, `etlas` should prefer to use that version.

[2018-02-15 12:39] NickSeagull commented on #617
I'm still haven't written the proposal, because I'm still thinking a bit about what to write and what not. Today I stumbled upon into [RIO](https://github.com/commercialhaskell/rio#readme) , a Prelude that @snoyberg is trying to make the standard of Haskell, looks really great and I'm sure that we can borrow some ideas/build on top of that/use it.

[2018-02-15 13:29] jneira commented on #655
It works! thanks
Just pont out that i had the 2.4.7 already installed and i had to unregister it with eta-pkg

[2018-02-15 13:29] #655 closed

[2018-02-15 13:34] jneira commented on #656
Another check could be try the index url in a browser to discard that the proxy rules are banning the request

[2018-02-15 13:53] pranjaltale16 commented on #648
Hello, I would like to work on this issue. Could you please help me in getting started with this?

[2018-02-15 13:59] #611 closed

[2018-02-15 14:06] Jyothsnasrinivas commented on #655
@jneira I've implemented #611 so with the latest Eta, you should be able to use any version of `hspec`. We will keep the constraint in `etlas-index` until we do a binary release with #611 implemented.

[2018-02-15 14:15] rahulmutt commented on #648
First step is to get a feel for how the code generator works. All code generator related code is in `compiler/ETA/CodeGen/*`. You can trace the codegen by making a test program and adding the following field to your `.cabal` file for any Eta test project you setup:

[code]

You can find the generated `*.dump-stg` and `*.dump-cg-trace` files in `dist/build/**/*`.

These debugging options will be us

[2018-02-15 14:23] rahulmutt commented on #617
Sure, sounds good. RIO looks interesting but it looks like it has a lot of dependencies. I wonder if it's better to keep the prelude minimal and provide a list of libraries that should be used for standard use cases (i.e. immutable data structures via `containers`, etc). Thoughts on this?

[2018-02-15 14:32] NickSeagull commented on #617
One of the things that I like about, say Java, is that you can import `HashMap` and use it directly when you need it. No need to add a library to your project, RIO dependencies', which by the way are these (so other readers dont have to go to RIOs repo)

[code]

Seem reasonable to me. I would even probably throw `async` in. As all of those are used nearly in 90% of the projects (in my opinion) :sm

[2018-02-15 15:05] rahulmutt commented on #617
So to be clear, the discussion is about a prelude for Eta, which is a module whose functions/types are imported into *all* Eta programs without even using an import statement. When comparing with Java, that's equivalent to `java.lang.*` which is quite tiny.

What you're suggesting is that we have an `eta-base` with all those dependencies - that's a separate discussion altogether and I agree with w

[2018-02-15 15:08] rahulmutt opened #657 "eta-base: Standard Library for Eta"
Although `base` is nice, it's missing a lot of stuff we get easily in other languages, like standard data structures, text manipulation, arrays, etc. We should discuss what set of packages should makeup the standard library and how we should re-export their functions/types.

[2018-02-15 15:09] rahulmutt commented on #617
@NickSeagull I've filed #657 to discuss the standard library itself.

[2018-02-15 15:12] rahulmutt commented on #617
So the prelude for RIO is this file, which is what we should be comparing against when discussing about the prelude:
https://github.com/commercialhaskell/rio/blob/master/src/RIO.hs

[2018-02-15 15:34] njayinthehouse commented on #560
Hey! Can I take this one up?

[2018-02-15 15:56] Jyothsnasrinivas commented on #560
@njayinthehouse Sure! This change is a breaking change. So you have to think through how you are going to implement this properly.

[2018-02-15 18:14] NickSeagull commented on #617
Yep @rahulmutt , I completely messed up :sweat_smile: . Makes much more sense to have an `eta-base` :)

[2018-02-16 06:18] carymrobbins opened #658 "Existential Subtype Polymorphism"
Consider the following Java class -

[code]

We can represent this in Eta with -

[code]

And represent inheritance with -

[code]

And this works well in most cases; however, type params are actually optional in Java (and are erased during compilation), so we sometimes have methods that look like this -

[code]

So now implementing and exporting this method becomes challenging. One approach may b

[2018-02-16 10:28] ouromoros commented on #367
Hey, I would like to work on this issue. I know the API of Java.Collections types but am not quite sure how Eta deals with it. Can you guide me how to get started?

[2018-02-16 10:42] jarekratajski opened #659 "Exporting Functions operating on long (Int64) creates incorrect bytecode"
The Eta Programming Language Compiler, Version 0.7.0b2, Git Revision e1e86240442f4c4eb8dc6348f06ae901a11b65e5

Compiling Eta code that effectively export function  with 2 **long** arguments :
[code]

Creates such bytecode:
[code]

Which fails upon calling/loading with :
[code]

Correct bytecode would be changine line 26: to
[code]

[2018-02-16 10:47] rahulmutt commented on #659
Relevant code is here:
https://github.com/typelead/eta/blob/master/compiler/ETA/DeSugar/DsForeign.hs#L658-L670

Indeed, the fold should be updated to take into account a running index of the next local variable slot.

[2018-02-16 10:49] rahulmutt commented on #659
You can use the `fieldSize` function to get the size of a given `FieldType`.

[2018-02-16 10:59] jarekratajski commented on #659
Thanks. I should have time in next 24 hours to check it and possibly fix it.

[2018-02-16 17:30] kpadmasola commented on #555
@rahulmutt any pointers for getting started here? Thanks!

[2018-02-16 21:27] pranjaltale16 commented on #633
Hey @rahulmutt!
In order to add this, I think I've to add it somewhere [here](https://github.com/typelead/etlas/blob/master/etlas/Distribution/Client/Update.hs#L84). Is it correct?

Also, can we use something like [this](https://github.com/yamadapc/haskell-ascii-progress) to add the progress bar?

[2018-02-17 05:34] rahulmutt commented on #557
We found a work around for this special case, and a general solution is tracked in https://github.com/typelead/eta/issues/558.

[2018-02-17 05:34] #557 closed

[2018-02-17 05:34] rahulmutt commented on #659
#660 resolves this, closing.

[2018-02-17 05:34] #659 closed

[2018-02-17 05:35] rahulmutt commented on #604
#629 resolved this, closing.

[2018-02-17 05:35] #604 closed

[2018-02-17 05:42] rahulmutt opened #661 "Make tailCallThreshold configurable"
The current threshold for trampoline bouncing is a constant at around 30 which means every 30 tail calls it’ll rewind. This number is quite low, but at the same time we can't assign a constant for *all* applications, so it should be configurable.

We want to move towards a property-based configuration mechanism so this should be exposed as a property: `eta.rts.tailCallThreshold`.

https://github.c

[2018-02-17 05:48] rahulmutt commented on #633
Yes that looks right, you'll have to dig deeper and see where the HTTP calls are made and integrate progress bars into it. The library looks great and the license looks good so go ahead and add it if you like.

[2018-02-17 05:52] rahulmutt opened #662 "Expose runtime configuration as properties"
The runtime system is quite configurable
https://github.com/typelead/eta/blob/master/rts/src/main/java/eta/runtime/Runtime.java#L16-L158

But we need a better interface. We should read from properties to initialize those values, so that we can do something like

[code]

to configure the runtime.

Please list out the property names that you will be selecting before continuing further.

[2018-02-17 05:56] rahulmutt commented on #367
@ouromoros After a second look at the issue, it's probably not a good idea to have Show instances for collections which tend to be mutable while Show is a pure function from `a -> String`. Please find another issue to work on.

[2018-02-17 05:56] #367 closed

[2018-02-17 07:27] puffnfresh commented on #661
30 seems really really really low. I think GHCJS used something like 10k or 100k when it first got trampolining. I can't figure out what it currently is but that seems closer to the right default.

[2018-02-17 08:13] ouromoros commented on #634
I think this issue is already solved? I can see that the name is already updated to etlas.org here
 https://github.com/typelead/etlas/blob/609ab2871b7cfb10226bc6d0ee262cd13966e124/etlas/Distribution/Client/Config.hs#L547

[2018-02-17 08:24] rahulmutt commented on #634
@ouromoros Not it is not solved, because the message still doesn't indicate that the source is from a github repository.

[2018-02-17 08:50] rahulmutt commented on #661
Sure. That number was just from Odersky's paper on tail calls with exceptions that I linked on the TCO for CPS programs issue and I haven't given it much of a thought since the focus at the time was just making sure the stack doesn't blow up with CPS'd parsers (like `aeson`, `binary`, etc).

It would be awesome if someone did experiments with CPS'd parsers and came up with a nice number to set as

[2018-02-17 08:52] rahulmutt commented on #661
I should also be clear that the 30 tail call limit only applies after using the `trampoline` function from `Data.Function`. It's an opt-in runtime TCO which will trigger new codepaths that count the number of tail calls once the function is used.

[2018-02-17 09:17] pranjaltale16 commented on #633
We can add this function:
[code]
If somehow we can get the total time taken to update we can update the time.
How can I get the total time etlas is going to take to update it.
I think we have to call this `showBar` [here](https://github.com/typelead/etlas/blob/master/etlas/Distribution/Client/Update.hs#L89).

Also, is this approach correct?

[2018-02-17 15:59] rahulmutt commented on #633
I think you need to take a look at `Distribution.Client.HttpUtils` and maybe swap out to a streaming interface that allows you to keep track of progress. The current code calls out to an external process that performs the HTTP(S) requests such as `curl`, `powershell`, etc. via the `HttpTransport` type. I think you can try replacing that with a streaming http library and see if you can integrate pr

[2018-02-18 04:55] rahulmutt opened #663 "Use lazy holder pattern for intializing static function closures"
[code]
will generate:
[code]

We should instead use the lazy holder pattern to simplify it:

[code]

[2018-02-18 05:26] rahulmutt commented on #555
@kpadmasola First, take a look at how `JChar` and `Char` are defined. `JChar` is a 16-bit *unsigned* integer, part of a UTF-16 encoded string, and `Char` is a 32-bit *unsigned* integer, part of a UTF-32 encoding. The conversion won't be exact, make sure the function type is `JChar -> Maybe Char`.

`JChar` has some instances defined for it that you can make use of (it's treated as a 16-bit unsigned

[2018-02-18 07:34] #651 closed

[2018-02-18 16:25] #634 closed

[2018-02-18 20:41] jneira commented on #657
I think there is a delicate balance in choosing the contents of the base library: more content means larger jars and startup/build times and it's difficult to get back and remove the included packages later.
F.e. java lately has modularized the jdk to avoid some of the problems.
Currently Base has 203 modules and the jar has 17 Mb!

[2018-02-19 08:20] jneira opened #664 "Make clear that for windows wsl install you have to follow ubuntu installation steps"
* Windows wsl is a somewhat virtualized ubuntu os so to get eta installed we have to follow the ubuntu steps in the required section for that linux distro

[2018-02-19 08:34] y-taka-23 opened #665 "An FAQ for Android apps looks wrong"
The FAQ list has "Can I build Android apps in Eta?" section, but the actual contents is for CLR/.NET support. Surely pasted erroneously.

https://eta-lang.org/docs/faq

[2018-02-19 08:43] Jyothsnasrinivas commented on #665
Thanks for the catch! We’ll fix this asap.

On Mon, 19 Feb 2018 at 2:04 PM, TAKAHASHI Yuto <notifications@github.com>
wrote:

[2018-02-19 09:48] jarekratajski opened #666 "FFI export extension - pass state between Eta and Java"
I have couple of scenarios where I need to pass state from Eta to Java and back.
If I have in Eta some data/ type: `T` -
I would like be able to pass instances of `T` to java and then be able to call eta  from Java with a same T.

[code]
Where T is any eta Type. (not JWT).

For instance if I build Comway Game Of Life
I would have in Eta
[code]

From java side this object might be encapsulating Clo

[2018-02-19 12:27] #579 closed

[2018-02-19 14:07] rahulmutt commented on #666
This can be done using the `StablePtr`'s which are hard references to an Eta value, represented as an `int` on the Java side.

[code]

The above would generate:
[code]

For working with `StablePtr`'s, you can check out the API:
https://hackage.haskell.org/package/base-4.10.1.0/docs/Foreign-StablePtr.html

[2018-02-19 16:30] jarekratajski commented on #666
Comfirmed. It works and solves my problem.

Suggestion: Maybe would be good to put this xplicitly in documentation of FFI.

Issue may be closed.

[2018-02-19 16:35] #663 closed

[2018-02-19 16:38] rahulmutt commented on #200
@jarekratajski Implemented #663 which implements the lazy holder pattern I implemented. In the cases where it's not possible to implemented that way, I fixed the "synchronized" bytecode generation so that it matches the monitors properly via the exception table. The observed perf increase for this benchmark was ~10% on my system.

[2018-02-19 16:44] rahulmutt commented on #666
I'll leave this open to track that we  need to document it.

[2018-02-19 18:11] rahulmutt commented on #533
I ran this benchmark on `master` and this is what I got:
[code]

This is definitely *a lot* better than before where it was showing around `200ms+` for Eta. We've done a lot of performance changes since then so a combination of all of them probably made it better.

[2018-02-20 07:51] jneira opened #667 "Create branches to track stable and latest versions of eta repo"
* Currently [the docs](https://eta-lang.org/docs/eta-concepts/getting-started/install-eta#source-installation) suggests to  "manually" get the versions of latest and stable versions of eta from readme to clone the repo
* However maybe it would be useful to have named tags or branches in addition to the numeric versions to make it even easier cloning the repo, pinning up the git command to `git clo

[2018-02-20 08:00] jneira opened #668 "Check over the use of --shallow-submodules when clonning the eta repo"
* It seems that the use of the `--shallow-submodules` does not clone correctly all the submodules, at least with some versions of git
* As @rajcspsg reported in gitter (and tested by myself), it throws an error: `Server does not allow request for unadvertised object [hash], Fetched in submodule path 'codec-jvm', but it did not contain [hash]`
  * My git version is 2.11.1
* Cloning without the `--s

[2018-02-20 08:41] rahulmutt opened #669 "Building shake package causes panic"
See https://github.com/rahulmutt/eta-bug for reproducing.

The error is:
[code]
@jarekratajski This panic is coming from your recent multiAssign changes.

The tail end of `Config.dump-cg-trace`:
[code]
So that indicates the problem occurred when generating a call to `$s$wgo2_rF1KD`.

The context from `Config.dump-stg`:
[code]

I wonder if there's some assumption we made about multi assignments tha

[2018-02-20 09:19] jarekratajski commented on #669
I have no idea. I will start analyzing that in ~8  hours from now.

[2018-02-20 13:57] Jyothsnasrinivas commented on #668
I've updated the docs to remove `--shallow-submodules`. Thanks @jneira!

[2018-02-20 13:57] #668 closed

[2018-02-20 13:59] Jyothsnasrinivas commented on #667
I've created the branches `stable` and `latest`. For reference, the command to change the branch pointer is:

[code]

See https://stackoverflow.com/questions/5471174/move-branch-pointer-to-different-commit-without-checkout.

[2018-02-20 13:59] #667 closed

[2018-02-20 16:31] Jyothsnasrinivas commented on #665
Should be fixed now. Thanks again, @y-taka-23! :smile:

[2018-02-20 16:31] #665 closed

[2018-02-20 16:32] Jyothsnasrinivas commented on #664
Thanks @jneira! I added the changes you mentioned to the WSL instructions.

[2018-02-20 16:32] #664 closed

[2018-02-20 17:17] jarekratajski commented on #669
One strange thing is I  cannot understand how could **readConfigFile** be recursive.

[2018-02-20 19:19] jarekratajski commented on #669
After adding debug I see:
in cgTrace
[code]
I have no idea how to interpret it, as I still do not see this recursion.
This '0' looks strange.

[2018-02-21 01:56] rahulmutt commented on #669
That 0 appears to be an STG Literal value. How do you deal with literals in your algorithm?

[2018-02-21 05:43] jarekratajski commented on #669
I used the old code `multiAssign` with same  debug
[code]
It compiles.
But debug info looks strange to me:
[code]
multiAssign is called with 4 cgLocs and 5 codes.
My (mostly ghc to be honest :-) ) implementation cannot work with that.
Old implementation is such case ignores last "orphaned" codes (zipWith does that).
Is it expected behaviour?

[2018-02-21 06:34] dsorokin opened #672 "Corrupted String Output"
Hi!

When comparing Eta with GHC, I noticed that I received a corrupted string output like this:

[code]

although GHC returns:

[code]

The source test is located here (I'm the author of Aivika): https://github.com/dsorokin/aivika-gpss-test

By the way, when I increase the stop time (the spcStopTime parameter), I receive quite different estimation of the speed relative to GHC. I guess it could be

[2018-02-21 06:56] rahulmutt commented on #669
Ok so the key here is that `getNonVoidArgCodes` will filter out those arguments who have a type `State# s` which have no representation at runtime. In multiAssign, you should probably filter out the cgLocs which have a void representation.

[2018-02-21 08:41] jarekratajski commented on #669
I have a 'fix' that seems to at least not fail.
Basically in cases of "unbalanced" assignments it works as before (no fail -  last code is simply  ignored).

I will analyze it - the question is if I should simply in case of void remove the exact corresponding cgLoc.
Question is if I  should process with `isVoidRep` pairs StgArg and Code. (not only StgArg as now)?

[2018-02-21 09:50] rahulmutt commented on #669
Yes, you should remove the corresponding cgLoc, since void cgLoc's cant be assigned since they dont exist at runtime.

[2018-02-21 10:32] jneira commented on #672
Hi @dsorokin, it is good to see that awesome libs like aikiva are being tested with eta.
 I've clone your repo in windows and initially i could not able to run it cause `awm-random` was reading `/dev/urandom` to generate a random seed.
After patching awm-random locally to make it [use java](https://docs.oracle.com/javase/7/docs/api/java/security/SecureRandom.html#getSeed(int)) to get the seed i ma

[2018-02-21 10:35] dsorokin commented on #672
Thanks for the reply! Then I will test it on Windows and Linux too.

I used macOS and Java 1.8:

[code]

[2018-02-21 10:38] dsorokin commented on #672
Also I used:

[code]

[2018-02-21 10:40] dsorokin commented on #672
Also I should add that I had one of the previous versions of etlas before installing the mentioned one. Probably, I should repeat from clear installation then.

[2018-02-21 10:55] jneira commented on #672
I am afraid that the actual version [0.7.0b2](https://github.com/typelead/eta/tree/0.7.0b2) doesnt contains the fix so you would have to build eta from source to get it, moreover:
  * To make it work the actual master version, [this pr](https://github.com/typelead/eta/pull/673) should be merged
  * To make it work in windows the [patch for awm-random](https://github.com/typelead/eta-hackage/pull/7

[2018-02-21 11:02] aiya000 commented on #418
It looks like correct :+1:

[code]

[2018-02-21 13:55] jarekratajski commented on #669
Pushed solution that should remove only corresponding cgLoc from the list - not the last ones.
The funny thing is - this does not work at all - fail (VerifyClass error) on simple fibonacci . The previous (naive) solution worked ok.

Maybe I have some stupid bug there - but I do not see it now.

[2018-02-21 15:13] rahulmutt commented on #418
Awesome! I'll close this issue then.

[2018-02-21 15:13] #418 closed

[2018-02-21 16:26] gabejohnson opened #674 "[eta-tour] Wrong current version mentioned in the intro module"
The most recent tag is `v0.7.0b2`. However, the introductory module refers to `v0.0.9b1` in the second paragraph at https://tour.eta-lang.org/start#3

This makes the entire paragraph erroneous.

[2018-02-21 18:56] dsorokin commented on #672
Thank you very much! I confirm that the issue has gone on macOS. My test works as expected. I hope it will work the same on Windows and Linux. Please close the issue if you consider it complete.

Best regards,
David Sorokin

[2018-02-22 01:22] aiya000 commented on #418
Great 👍

[2018-02-22 05:32] jneira commented on #672
Great, close the issue then

[2018-02-22 05:32] #672 closed

[2018-02-22 12:17] rahulmutt commented on #669
The VerifyError above indicates that you're loading a Closure and and trying to assign it to a local variable that stores int. This means there's probably a bug lurking in your algorithm somewhere.

[2018-02-23 14:06] njayinthehouse commented on #560
Hey! I'm working on it right now. My approach has been to:

1. Replace the class definition as shown by @rahulmutt above

2. Replace each instance declaration of JavaConverter with an instance declaration of ToJava and FromJava each.

[2018-02-23 14:08] njayinthehouse commented on #560
But just out of curiosity, how does a change like this improve type inference?

[2018-02-23 14:30] mbrc12 commented on #560
I had written down the same change, only to realize that declarations like
[code]
break FuncDeps.

[2018-02-23 21:50] jneira commented on #560
@njayinthehouse see https://wiki.haskell.org/Functional_dependencies for a explanation on how fundeps can help to compiler to infer the type of a expression

[2018-02-24 17:15] rahulmutt commented on #560
@mbrc12 Has a good point.

Moreover, I recently encountered a very nasty bug in the `directory` package that uses `fromJava` in its implementation and ended up performing I/O in the wrong order producing the wrong results. This is definitely not a good thing and it means we need to re-think whether the `JavaConverter` type class is a good idea in the first place.

When converting from a pure immut

[2018-02-25 03:49] njayinthehouse commented on #560
I must confess, this bug is a little above my ability to fix right now.
Perhaps I'll get to this again eventually (unless someone fixes it before
then), but I think I'll try another one for now, if that's okay.

On Sat, Feb 24, 2018, 10:45 PM Rahul Muttineni <notifications@github.com>
wrote:

[2018-02-25 04:31] njayinthehouse commented on #661
Ping! Can I have some starting tips on this one?

[2018-02-25 05:39] rahulmutt commented on #661
Sure. So you'll need to add some code in `eta.runtime.Runtime` that stores the `taillCallThreshold` and initializes the value by reading the System properties, see [here](https://docs.oracle.com/javase/tutorial/essential/environment/sysprop.html) for an overview of properties in Java.

[2018-02-26 08:34] jneira commented on #560
@rahulmutt maybe we can let maintain the old simple conversion, renaming it to:
[code]
or create a new one prefixed with `safe` to Maybe case

[2018-02-26 13:13] ouromoros commented on #355
I was trying to use getCPUTime around the runSystemExitWithEnv call to compute elapsed time and failed. I'm wondering how shoud I do it? Does runSystemExitWithEnv run in another thread or else? Using system time seems not to be a choice here. I'm kind of stuck.

[2018-02-26 13:15] rahulmutt commented on #355
@ouromoros By failed, do you mean you get a really tiny value? Can you share the diff of the code changes you made?

[2018-02-26 13:28] ouromoros commented on #355
Oh, of course. The computed time is always around 0.1 sec despite it is obvious not so. Here's related piece:
[code]

[2018-02-27 03:31] rahulmutt commented on #355
Try using `getCurrentTime` from `Data.Time` and see what happens?

[2018-02-27 05:33] ouromoros commented on #355
@rahulmutt Yes, it works as expected using `getCurrentTime`. In fact, after thinking about it again, it appears to me that under this context, using system time is more likely to make sense and is more intuitive. I'll submit a PR then.

[2018-02-27 06:49] mbrc12 commented on #529
@rahulmutt : Any hints on this about how to proceed?

[2018-02-27 08:02] #355 closed

[2018-02-27 08:13] y-taka-23 opened #680 "Hspec setup fails due to hsc2hs"
Hi, I'm trying to setup test suites with Etlas, and bump the following error.

`eta-test.cabal` looks:

[code]

[code]

How can I address it?

[2018-02-27 08:17] rahulmutt commented on #680
Try running `etlas update` and the `etlas install --enable-tests`. That should fix it.

[2018-02-27 08:32] rahulmutt commented on #529
First you have to have a basic understanding of how the incremental compilation process works. Basically, it checks for the existence of a `.jar` file for each Eta module in the output folder to check whether the given module has already been compiled. If the corresponding source module changes, it will recompile that module and generate a new `.jar` file. It detects this by comparing the modifica

[2018-02-27 08:42] y-taka-23 commented on #680
Oh, sorry it by a hair! The index `2018-02-27T07:18:10Z` works, with `hspec == 2.4.6` as mentioned in #655. Thanks your advice.

[2018-02-27 08:42] #680 closed

[2018-02-28 02:01] herdibintang opened #681 "[eta-tour]: Bug - [description-here]"
Source Code:
[code]

Output:
[code]

[write-further-description-here]

[2018-02-28 02:02] #681 closed

[2018-02-28 02:02] herdibintang commented on #681
sorry it works now

[2018-02-28 06:33] ouromoros commented on #662
As I see it, using properties would involve reading a property fiile(probably `~/.etlas/.properties`?). So I think adding a initialization step before running the program would do it.

Snce `getPropertie` returns only String, we would have to parse the return value to the corresponding type for every paramater. I think a helper function is needed for this parsing task or there would be *many* tedi

[2018-02-28 07:00] rahulmutt commented on #662
The properties file should actually be a resource in the compiled JAR file:
https://www.javaworld.com/article/2077352/java-se/smartly-load-your-properties.html

This is because you would want to configure the Eta runtime in an application-specific manner and not the same way for every application.

We can make a convention that we expect it to be `eta/rts.properties`. So there are two levels of pr

[2018-02-28 07:05] rahulmutt commented on #560
@jneira I feel that we can add additional default methods:

[code]
I'm open for suggestions on better naming :)

Yes this will be a breaking change, and I'd rather have the "safe" version be default and the unsafe version have an explicit "unsafe" prefix.

[2018-02-28 10:03] jneira commented on #560
Mmm, but most cases are safe, no? if we create two different type classes and we select the correct one (only unsafe) for the problematic types, the client code will not be able to choose the bad one (using the veryUnsafe method). The error "only" will be when choosing the type class.
In that way it will follow the actual design of ffi imports cause you can choose extract directly the type or use

[2018-02-28 10:30] rahulmutt commented on #560
Most Java objects are mutable and only a handful of classes from the standard library (namely `java.lang.String`) are guaranteed to be immutable. But even then, a lot of Java objects are only "locally mutable" via the builder pattern where you create the object, mutate it for a very brief period and then freeze the object (by not changing it afterwards at all). The JVM ecosystem is like a wilderne

[2018-02-28 10:55] rahulmutt commented on #662
@ouromoros Before you waste your time writing parsing utilities, you can use the following methods:
- `Boolean.getBoolean("[property-name]")` for parsing boolean properties,
- `Integer.getInteger("[property-name]")` for parsing integer properties

and so on for all the standard primitive wrapper classes.

[2018-02-28 10:56] rahulmutt commented on #662
Disregard my last comment. You still have to parse the properties that are read from the file.

[2018-02-28 14:25] tibi77 commented on #77
why can't it be done in compiler/ETA/Utils/Panic.hs just by changing the panic output or maybe by giving the sorry output instead[1]? "sorry! (unimplemented feature or known bug)\n"

[2018-02-28 16:52] rahulmutt commented on #77
@tibi77 So the idea is to give a "human-readable" error that clearly states what mistake the programmer made and how they can fix it. I think you might have misunderstood it.

[2018-03-01 03:49] carymrobbins commented on #647
One thing we might want to take into consideration is the potential for nullable values in the Java FFI. I'm not entirely sure how that could look, but maybe there's some way to annotate it. In cases where methods have been annotated with a `@Nullable`, we could figure it out (if that's available in the byetcode, or maybe even if it isn't, I'm not entirely sure) and automagically promote those to

[2018-03-01 04:54] rahulmutt commented on #647
If the retention policy is at least CLASSFILE for the `@Nullable` annotation, we can detect it. Currently, the plan for direct imports is that if you return an Object reference and you don't wrap it in a `Maybe`, the compiler will emit a warning that it is potentially unsafe. Similarly for specifying the type signature without a Java monad in the return type.

[2018-03-01 06:43] rahulmutt commented on #674
@gabejohnson Thanks for catching this. We've updated the tour so you can see the change with a hard refresh.

[2018-03-01 06:43] #674 closed

[2018-03-01 12:27] rahulmutt commented on #662
Resolves with #682.

[2018-03-01 12:27] #662 closed

[2018-03-01 12:30] rahulmutt commented on #661
@njayinthehouse With the work @ouromoros has done, in #682, the changes required to implement this is quite simple. Add a new runtime integer property called `tailCallThreshold` and make sure to read from that in the `eta.runtime.stg.Closure`.

[2018-03-01 20:27] mbrc12 opened #683 "`etlas update` problems during installation."
During installing `eta` on `Fedora 27` (`Linux 4.15.4-300.fc27.x86_64 #1 SMP Mon Feb 19 23:31:15 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`), the following error arises from a fresh clone of `eta`.
[code]
As for proxy settings, both `wget http://hackage.haskell.org/` and `curl http://hackage.haskell.org/` work fine in the current settings.

[2018-03-01 21:15] betterclever commented on #661
@rahulmutt Read in eta.runtime.stg.Stg right? I don't see it being used in Closure class.

[2018-03-01 21:16] betterclever commented on #661
@rahulmutt Read in eta.runtime.stg.Stg right? I don't see it being used in Closure class.

[2018-03-02 02:41] clojurians-org opened #685 "how to access java public field"
it read the java-interop doc:
  https://eta-lang.org/docs/eta-concepts/java-interop/java-ffi

it seems the public field access case is missing.
it's a very common case, (System.out...)

[2018-03-02 03:38] rahulmutt commented on #685
In fact the public case is the only case that works according to the " Importing Instance Fields " section. Honestly, it's a bit confusing so we'll use `System.out` as the example instead.

[2018-03-02 03:41] rahulmutt commented on #661
@betterclever Yes you are right!

[2018-03-02 11:40] rahulmutt commented on #683
Closing as this should be fixed now.

[2018-03-02 11:40] #683 closed

[2018-03-03 12:09] NickSeagull commented on #601
I might start working on this, what would be the first steps to work on this @rahulmutt ?

[2018-03-03 13:44] betterclever commented on #648
@rahulmutt I am trying to get my head around solving this issue.

I have currently generated the dump code and realized the task.

I am unable to get where to find the above packages in the codebase though. Can you give some suggestions?

[2018-03-03 17:50] NickSeagull commented on #601
Also, I saw that the Lexer.y file has a Java annotation declaration. Is that related?

[2018-03-04 02:00] rahulmutt commented on #601
@NickSeagull Yes, the java annotation declaration was made keeping in mind that we'd eventually support annotations for exports. Right now that is used for parsing the `@` notation for JWTs, so you can re-use it when making parsing rules for annotations.

The general idea of how to go about implementing this:
- Annotations should not exist at the `Core` level, since annotations don't affect the co

[2018-03-04 02:03] rahulmutt commented on #601
By the way you should parse annotations *exactly* like Java does (keeps things consistent): https://docs.oracle.com/javase/specs/jls/se7/html/jls-18.html

[2018-03-04 02:03] clojurians-org commented on #685
i use the following code to run println method, it report those error,
while i use IO type, it will success: [
Exception in thread "main" java.lang.NoClassDefFoundError:
	at main.Main$$wa.applyV(Main.hs:15)
	at main.Main$main1.applyV(Main.hs)
	at main.Main$DZCmain.applyV(Main.hs)
	at eta.runtime.stg.Closures$EvalLazyIO.enter(Closures.java:104)
	at eta.runtime.stg.Capability.schedule(Capability.jav

[2018-03-04 02:07] rahulmutt commented on #601
Disregard this entire comment.

Because annotations are only relevant for foreign exports, you need only extend the `ForeignExport` decl:
https://github.com/typelead/eta/blob/master/compiler/ETA/HsSyn/HsDecls.hs#L1331-L1334
You can look into the `ForeignExport` type and add a field to store Java annotations.

[2018-03-04 02:08] rahulmutt commented on #685
@clojurians-org Can you report this as a separate issue since this looks like a bug? Thanks!

[2018-03-04 02:17] clojurians-org opened #686 "java FFI report ClassNotFoundException inside JavaMonad, but success inside IO monad"
when i run the following code, i report the following error:

Exception in thread "main" java.lang.NoClassDefFoundError:
	at main.Main$$wa.applyV(Main.hs:15)
	at main.Main$main1.applyV(Main.hs)
	at main.Main$DZCmain.applyV(Main.hs)
	at eta.runtime.stg.Closures$EvalLazyIO.enter(Closures.java:104)
	at eta.runtime.stg.Capability.schedule(Capability.java:157)
	at eta.runtime.stg.Capability.scheduleClo

[2018-03-04 02:20] rahulmutt commented on #648
@betterclever Look inside `libraries/ghc-prim/dist/build/HSghc-prim-*.jar` and you should find a class `ghc_prim/ghc/Types.class`. This is the output of compiling `GHC.Types` module in `ghc-prim` where . It is helpful to have a java decompiler at hand to quickly look through to find what you need. the `ZC` stuff is the z-encoded form of `:` and `ZMZN` is `[]`. You can see a reference on z-encoding

[2018-03-04 02:23] rahulmutt commented on #686
If I recall correctly, we intentionally disallowed things like:
[code]
and prefer:
[code]
so that you can write:
[code]

But yes, there should've been a compile-time error telling you so, so this is a bug.

[2018-03-04 05:39] rahulmutt opened #687 "Make the Java monad and instance of Category"
If the `Java` monad was an instance of Category, we can use `>>>` for composing fluent APIs instead of `>-`.

[2018-03-04 05:41] rahulmutt opened #688 "Upgrade to base-4.11"
`base-4.10` has imported a lot of typeclasses into the standard library (`Semigroup`, `MonadIO`, etc) which are very useful. We should upgrade to it.

[2018-03-04 12:11] NickSeagull commented on #601
Great, thanks! :smile:

[2018-03-04 19:26] kemphack opened #689 "createDirectoryIfMissing doesn't work (throws unexpected error)"
`jCreateDirectoryIfMissing dir = io $ createDirectoryIfMissing True (fromJava dir)`

`foreign export java "@static Tools.createDirectoryIfMissing"
    jCreateDirectoryIfMissing :: JString -> Java a ()`

`Tools.createDirectoryIfMissing("./folder");`
does work but
`Tools.createDirectoryIfMissing("./folder/folder");`
doesn't: throws error
`Exception in thread "main" eta.runtime.exception.EtaException

[2018-03-05 15:23] rahulmutt commented on #545
Now implemented on `master`! Closing.

[2018-03-05 15:23] #545 closed

[2018-03-05 18:33] NickSeagull opened #690 "Use Eta ADTs from the Java side"
I'm currently building a simple library to try stuff with Events.The idea is to have the library written in Eta, while allowing users to use it from Java.

A simplified version of the library could be something like this

[code]

_NOTE: `Chan` is used here just as an example, I'll use either Kafka, RabbitMQ or others._

The idea would be that a user of this library could use it from the Java side

[2018-03-05 18:48] NickSeagull commented on #689
Is this the function from `System.Directory`? If so, you should pass `True` as the first parameter so it creates parents. If not, it will throw.

[2018-03-05 18:50] NickSeagull commented on #688
Whats your opinion on fixing this and #657 together?

[2018-03-05 20:05] kemphack commented on #689
` io $ createDirectoryIfMissing True (fromJava dir)` it throws with True. Yes, it's from System.Directory

[2018-03-05 20:44] rahulmutt commented on #690
So I think this becomes easier if you take a look at how Eta generates the declarations above, we should eventually add what I write below in the docs:

Suppose this module occured in a package named `event`:
[code]
generates:
[code]

[code]

Note that successive fields in an ADT are consistenly named `xN` where `N` starts from 1.

Now the question becomes, how do I construct lists since you need

[2018-03-05 21:30] NickSeagull commented on #690
Thank you very much @rahulmutt !

Yes, it actually does look like something not trivial.
Off the top of my head, there are two possible workarounds:

1. Write a tool/library that allows generating Java classes directly if a datatype derives `Generic`. On one hand, this would make working with datatypes from the foreign side easier, but still, we have the problem of passing them to methods. Maybe t

[2018-03-05 21:33] NickSeagull commented on #689
Could you please add the bytecode and the STG info as described [here](https://github.com/typelead/eta/blob/master/docs/source/eta-user-guide.rst#debugging-stack-traces)? Thanks! 😄

[2018-03-06 05:32] jneira commented on #690
+1 to the @export anotation for data types, to make imports/exports balanced (cause this way you can import and *export*, methods/functions and *data types*)
The exporting could do the conversion  between eta internal classes to the closer representation possible in java, and with nice names.

[2018-03-06 06:47] rahulmutt commented on #690
@NickSeagull Just it case you missed the comment in the wall of text I posted: foreign exports do exactly that - construct the thunk to and execute the expression with `evalJava`. But right now foreign exports don't let you put Eta types in the type signature so that's one restriction we can relax. Let's explore what the semantics will be below:

Suppose we wanted to export this:
[code]
so that th

[2018-03-06 07:13] rahulmutt commented on #690
@jneira Let's play around with how that might work.

[code]

So now the question is, when exporting, we need to decide that Java type to give `String` and have some internal conversion functions when the exported method is called.

[code]
This looks a lot nicer with record notation:
[code]

Where `JString` and `CharSequence` are JWTs. Open for suggestions on the syntax. This also means we need to

[2018-03-06 07:25] NickSeagull commented on #690
Yep completely missed it, thanks again for your help Rahul😁

[2018-03-06 09:32] rahulmutt commented on #441
We are pushing towards using `new-build` because it's a more space-efficient solution than sandboxes and we will deprecate the sandboxing mechanism in the future.

[2018-03-06 09:32] #441 closed

[2018-03-06 12:27] jneira opened #691 "[etlas] Error building eta projects with long paths (around 50) in windows"
* As `etlas new-build` and `etlas new-run` creates a deeper tree of directories within `dist-newstyle`, it is easier to reach the [infamous PATH_MAX limit in windows system](https://msdn.microsoft.com/en-us/library/windows/desktop/aa365247(v=vs.85).aspx#maxpath).
* The problem is worse with `new-run` cause the build of executables creates an even deeper subdirectory tree
* Of course it depends of

[2018-03-06 14:38] kemphack commented on #689
I don't think that bytecode of IOError can be usefull in this case. Something bad happens inside of java realization of createDirectoryIfMissing:
`eta.runtime.exception.EtaException: JException java.nio.file.NoSuchFileException: folder/folder/folder
	at base.system.io.Error.tryIOError2(Error.hs)
	at base.system.io.Error$tryIOError2.apply1V(Error.hs)
	at eta.runtime.exception.Exception.catch_(Excep

[2018-03-07 02:22] staffehn commented on #292
Hi, this issue seems about related: I’m currently reading the online tutorial and on the generics page https://eta-lang.org/docs/eta-concepts/java-interop/java-generics the import syntax on the top of the page doesn’t match the example on the bottom. I’d guess that that example needs an update.

[2018-03-07 08:27] NickSeagull commented on #689
🤔 Can you create a repo with this issue to see if I can try to reproduce?

[2018-03-07 17:54] rahulmutt opened #693 "Missing line number information"
The following program (credits to @agocorona) has a space leak which produces a StackOverflowError:
[code]
The StackOverflowError here is not a problem - it's expected since there's a space leak.
[code]
The problem here is that you'll notice that `main.Main$sat_s6AK` doesn't have a line number. In this case, the program is small and seeing the `plusInteger`, you can infer that `modifyIORef` is bui

[2018-03-07 18:44] kemphack commented on #689
Here it is https://github.com/kemphack/directoryMissingBug

[2018-03-07 19:13] NickSeagull opened #694 "[community] Eta Contributor Github organization"
I think it would be pretty cool if there was an organization called "Eta Contributor" or something like that so contributors could have a "badge" on their Github profile. 😄

In my opinion this would be a nice incentive to attract contributors and also to advertise Eta, as quite a lot of people browse the Github profiles of people found on the internet.

What do you think?

[2018-03-07 19:18] NickSeagull opened #695 "[community] The Eta compiler architecture document"
I'm having a bit of trouble finding what to modify and where to add features to the Eta compiler. I understand that Eta is a GHC fork and that should be documented by them, but still, as the compiler evolves we could have those changes be documented.

On the other hand, I expect that in the future the Eta compiler will be written in Eta, so that also would help.

I'm currently taking notes of what

[2018-03-07 20:02] jneira commented on #693
Mmm, i think there were cases of programs without line numbers since the first implementation. Most times in the top level main module, but i think there were intermediate modules withouth them too.
I'll try to take a look.

[2018-03-07 20:03] NickSeagull opened #696 "[compiler] Rewrite Eta in Eta"
This would use all the changes proposed in the Compiler Extensions proposal, the new prelude, and the new base (after we manage to figure them out)

Another great thing would be if we could change Happy/Alex parsing/lexing for monadic/applicative parsing/lexing. It would make stuff more readable in my opinion.

In general, I find GHC code pretty hard to understand as a newcomer and I like the way

[2018-03-07 23:26] jneira commented on #696
This is a big one! i think it is in some way a duplicate of #423
Anyway, imo it would not have to be a high priority goal, except as a means of getting something else (like repl support)

[2018-03-08 02:56] rahulmutt opened #697 "Setup eta-docs repo to sync with the main Eta website"

[2018-03-08 04:10] rahulmutt commented on #696
:+1: for swapping out Happy/Alex with monadic/applicative lexing. PureScript is a great place to look for inspiration as we move forward - they've done a lot of things right.

I agree that GHC code is hard to read, and it's an artifact of the fact that it's ~30 years old and add *a lot* of features over time. Not only should we make the code easier to read, but we should modularize better. I feel

[2018-03-08 04:17] rahulmutt commented on #693
Hmm in that case I wonder if somewhere in the compilation pipeline, information is being discarded when it shouldn't be. I wonder if GHC 8 has resolved some of those issues since they've added DWARF support which means the info would have to be accurate.

[2018-03-08 04:27] rahulmutt commented on #693
For reference this is Trac ticket on DWARF support: https://ghc.haskell.org/trac/ghc/ticket/10656

[2018-03-08 04:40] Jyothsnasrinivas commented on #695
@NickSeagull that sounds amazing. We are also planning to write a contributors guide. Your notes will definitely be useful for this :) Feel free to share it whenever you are ready and we can start the work.

[2018-03-08 04:45] Jyothsnasrinivas commented on #694
@NickSeagull That sounds like a great plan! We already have eta-lang org - https://github.com/eta-lang. We can definitely start making use of it.

Feel free to create any repositories and let me know if you want access to it.

[2018-03-08 05:29] rahulmutt commented on #243
@csierra I've been reconsidering this and I think it's safe to store Eta types inside of Java generic containers (like `Optional`), given the conversation here: https://github.com/typelead/eta/issues/690

[2018-03-08 09:53] NickSeagull commented on #696
Yep, this is a big one @jneira , but I wanted to have this here. Didnt understand what self-hoisting supposed to mean 😅 . But still I think it is nice to have this issue to have a "checkmark" for when this is possible.

[2018-03-08 11:55] jneira opened #698 "Wrong output with Strings containing carriage return char (\r)"
Hi, with this example (adapted from http://learnyouahaskell.com/input-and-output)
[code]
eta doesnt have the correct output when concating the typed string
[code]

[2018-03-08 12:07] rahulmutt commented on #698
Does this happen consistently on every run?

[2018-03-08 12:14] jneira commented on #698
yeah

[2018-03-08 12:16] rahulmutt commented on #698
Hmm this is most likely a MemoryManager bug. Under the hood, `unpackAppendCString#` will probably be used here and the data is being corrupted somehow.

[2018-03-08 12:26] jneira commented on #698
Some others cases:
[code]
The output is
[code]
I guess from the `"Hey javier\r"` that maybe is a windows issue...

[2018-03-08 12:28] JustusAdam commented on #669
I get the same issue. I recently got a very similar `VerifyError` that said

[code]

So the first thing I did was update Eta to make sure I wasn't working with an old issue and now the following happenend when compiling the `uniplate` library.

[code]

I would like to add that previous uniplate *did* compile though I cannot tell you which eta version I was on then. I think maybe it was 0.7.0b1

[2018-03-08 12:31] jneira commented on #698
Confirmed
[code]
[code]

[2018-03-08 12:49] jneira commented on #698
Executing the same program with ghc we can see `\r` is is not in the `name` var returned by `getLine`:
[code]
[code]
So maybe we need to strip the ' \r' in the `getLine` impl of eta?

[2018-03-08 14:04] jarekratajski commented on #669
@JustusAdam can You check if it works with my intermadiete fix (pull request here)?
Fix is problemmatic  - because I do not reaaly understand what is happening there - but it should work not worse than the version before my "fix" for #603

[2018-03-09 03:45] #698 closed

[2018-03-09 04:24] rahulmutt commented on #292
Hi @staffehn I'm not quite sure I understand. Can you copy/paste the two parts you're comparing?

[2018-03-09 04:38] rahulmutt commented on #669
@jarekratajski I did a quick review of your original code again the core code for `emitMultiAssign` is fine. The problem is here:
https://github.com/typelead/eta/blob/master/compiler/ETA/CodeGen/Expr.hs#L157-L172

Notice that in `dependencies`, you ignore those `StgArg`'s that have a `VoidRep`, but you do not filter out the `cgLocs` accordingly. I think if you rewrote the `dependencies` to take `[

[2018-03-09 08:36] jneira commented on #689
hi! i've check the code of directory and[ it catches an `IOError` to check if it have to create the intermediate folders (sic!)](https://github.com/haskell/directory/blob/master/System/Directory.hs#L335)
As java is throwing a JException instead an IOError the check fails.
As @rahulmutt has suggested maybe we should make a mapping between java io exceptions and IOError to fix all client code calls.

[2018-03-09 11:52] staffehn commented on #292
Sure. The "Importing Generiv Classes" part presents this syntax:
`data List a = List (@java.util.List a)`
Whereas in the Example right below the syntax is:
`data {-# CLASS "java.util.List" #-} List a = List (Object# (List a))`.

As this example is a small example for (part of) a API with generics (and also about the only one in the tutorial right now, as far as I can see), I thought this issue see

[2018-03-09 13:58] jneira commented on #689
@kemphack As a temporal workaround we can patch directory package to use directly `java.nio.file.Files.createDirectory` or `java.nio.file.Files.createDirectories`

[2018-03-11 10:45] jneira commented on #689
When https://github.com/typelead/eta-hackage/pull/77 is merged the bug should be fixed (after an `etlas update`)

[2018-03-12 12:03] jneira commented on #689
@kemphack hi, the patch finally is merged and `createDirectoryIfMissing` should work correctly. Remember to do an `etlas update` to get the actual patch to directory package.

[2018-03-12 18:13] NickSeagull commented on #617
I've just written the proposal: https://github.com/typelead/eta-proposals/blob/ccd129716a6267cc27c2ac7538d81c5ea17fce2c/proposals/EP002-NewPrelude.org . Let me know what you think!

[2018-03-12 20:23] jarekratajski commented on #669
@rahulmutt  I already did as You write  and this does not work.   check this commit:
https://github.com/jarekratajski/eta/commit/dceadce52fdbee3c959586fb3e7913cf102f51be

In original code (before #603  fix) - the coresponding cgloc was not removed...  and unmatched cgLocs were simply ignored.  Current state of pull request reverts to that behavior ( ignoring instead of panic).

[2018-03-13 08:05] jneira commented on #688
This upgrade would imply that the default prelude would be the one included with 4.10 (with foldable-traversable and other changes), no?
If so, it would be somewhat related with https://github.com/typelead/eta-proposals/pull/4

[2018-03-13 10:13] NickSeagull commented on #688
Yep, definitely. :smile:

[2018-03-14 13:15] aboelhamd commented on #687
Where could I start from , rahulmutt ?

[2018-03-15 01:53] rahulmutt commented on #687
@aboelhamd The change will most likely be made in `libraries/base/Java/Core.hs` where you can specify the instance definition for `Category`. The implementations of the other functions in that module should be helpful in giving you an idea of how to work with the Java monad in its raw form.

[2018-03-15 11:23] brokenprogrammer commented on #646
Hello @rahulmutt I would like to take this issue. Could you point me in the right direction as well as give me some insight of what is expected of the welcome messages?

[2018-03-15 17:29] NickSeagull commented on #77
Did this get fixed in #341 ? :smile:

[2018-03-16 05:49] rahulmutt commented on #690
@jneira I just realized I didn't address your question about "nice names". Take for example the built-in list type:
[code]

The Z-encoding is scary: `ZMZN` for `[]` and `ZC` for `:`. It would be cool if for certain standard types, there was a way to specify what class names would be generated and also control in what package they are used.

[code]
So we would have `eta.util.List`, `eta.util.Nil` a

[2018-03-16 09:06] jneira commented on #690
@rahulmutt mmm, i thought those names would be automatically generated from haskell names if the type has the `@export` annotation, at least for types/constructors with names. I had no take in account types/contructors using operators like list (but for user types they are not very common, right?)
I like the `@Name` syntax but imo it should be required for that "special types" and optional for nam

[2018-03-16 11:02] rahulmutt commented on #690
Yes, so we can enable the `@Export` and `@Name` annotations only for symbol-based type constructors/data constructors. `@Export` is useful for named constructors when you want to control which Java package contains those `Eta` types when exporting APIs for consumption by other JVM languages.

This same thing is also useful for value-level operators:
[code]

[2018-03-17 07:38] #669 closed

[2018-03-17 07:40] rahulmutt commented on #669
@JustusAdam Can you try again or provide steps so that we can verify that the fix worked for you?

[2018-03-17 12:57] JustusAdam commented on #669
Sure. What eta version/tag/commit should I try?

[2018-03-17 21:14] NickSeagull commented on #690
Should we treat these special annotations as keywords? I'm not sure if it would make sense not doing so, as they only make sense in the Eta Realm

[2018-03-19 00:59] rahulmutt commented on #669
@JustusAdam https://github.com/typelead/eta/commit/061df4af322df5031bbfffd6b6fd6b6288269c50 should contain the fix.

[2018-03-19 01:14] rahulmutt commented on #690
@NickSeagull I think these can be actual annotations in say the `eta.lang` Java package and you have to import them using the standard `import java` syntax that was discussed in #647. The compiler will do some extra processing for particular annotations.

The problem with keywords becomes - how do I specify that I want to use the `Name` annotation from some Java framework that I imported and not t

[2018-03-19 05:29] Jyothsnasrinivas commented on #292
Thanks @staffehn ! We've updated the docs. https://eta-lang.org/docs/eta-concepts/java-interop/java-generics

[2018-03-19 08:14] NickSeagull commented on #647
Looks great!

Random idea off the top of my head, maybe we can omit the `java` keyword after the `import` one, or at least make it optional.

Java packages have to be named with lowercase letters, so the compiler might see that the package name starts with a lowercase letter and infers that it is a Java import. In cases like `import Utils` where it could be either an Eta module or a Java class wit

[2018-03-19 19:19] jneira opened #704 "Using dhall with eta"
(from https://github.com/dhall-lang/dhall-lang)

Dhall is a relatively new configuration language written in haskell and its [goals](https://github.com/dhall-lang/dhall-lang#design-philosophy) and features marry very well with langs like haskell/eta. Its main advantage over yaml f.e. is that dhall is typed and is guaranteed to terminate so you can make your config more discoverable and safe.
 * yo

[2018-03-19 20:08] puffnfresh commented on #704
Sounds good!!

[2018-03-20 06:49] jneira commented on #689
@kemphack hi, have you had the chance to try it? it works fine in my tests, so i close the issue. Feel free to reopen if you continue having problems with it.

[2018-03-20 06:49] #689 closed

[2018-03-20 07:38] jneira commented on #688
@rahulmutt what do you think what would be the best approach? i tried to get base-4.10 and build with etlas/eta and i has a lot of features of ghc > 8 (type in type, type parameters, ..). Maybe we should do a list of desired changes and try to backport them to the actual version, but it seems it will suppose a lot of work...

[2018-03-20 08:28] jneira commented on #642
Maybe we can consider the use of dhall instead (directly or using [dhall-to-cabal](https://github.com/dhall-lang/dhall-to-cabal)), as commented in #704.

[2018-03-20 08:36] rahulmutt commented on #704
Good stuff! Finally looked into Dhall this morning and it looks great. One cool thing to try out is to make a Dhall-to-Gradle compiler to make Gradle configuration type-safe, similar to the [Gradle Kotlin DSL](https://github.com/gradle/kotlin-dsl). It would be nice to have proper syntax highlighting for it.

Functions and imports are actually nice for configurations. It means you can provide a sta

[2018-03-20 08:39] rahulmutt commented on #688
I think instead, we should be discussing which changes we will not be able to port and what we should do about it. In most cases we'll probably just have to avoid porting specific changes but in some cases I think they are reasonable alternatives we can provide.

[2018-03-20 13:32] JustusAdam commented on #669
I checked out that commit and ran `./install.sh` and I get this build error

[code]

[2018-03-20 13:36] JustusAdam commented on #669
I also tried `./cleaninstall.sh`, same error.

[2018-03-20 15:07] rahulmutt commented on #669
@JustusAdam Try doing `etlas select local` before running `./cleaninstall.sh`. The build log shows that you're using an older version of `eta` to build the boot libraries. The `select local` step should happen inside of the `./cleaninstall.sh` itself but there is a minor bug right now that is breaking the build so we've disabled that step for now. Let me see if I can fix it.

[2018-03-20 15:57] JustusAdam commented on #669
Since I am now in dependency-resolution hell again I have a question while I try and fix my broken library set:

@rahulmutt, what do you think about adding some way to obtain a `cabal.config` with the `eta-hackage` constraints? Either a command, or add one to the `eta-hacakge` repo. That way I could make sure my project does not use unpatched/incompatible packages?

[2018-03-20 17:25] rahulmutt commented on #669
@JustusAdam It should already be done for you - `etlas-index` contains all the constraints:
https://github.com/typelead/etlas-index/blob/master/00-index.tar#L21-L112

But I just realized it doesn't have proper lower bounds so the only issue you might get is if the dependency resolver determines that you need an older version for which there doesn't exist a package.

These are just "preferences" so

[2018-03-20 17:26] rahulmutt commented on #669
Btw, please file a new issue to discuss this matter since this issue is about something else.

[2018-03-20 19:01] bkyrlach opened #705 "Can't install eta on Ubuntu 17.10"
I first tried downloading the ```etlas``` binary, but running ```etlas update``` gave me an error message saying I should create an issue here. Instead, I thought maybe I'd have more luck doing a full installation from source. However, after cloning, I get the following error message running ```install.sh```.

[code]

[2018-03-20 20:58] jneira commented on #705
Hi @bkyrlach, it seems there is some problem with the fetching of files needed by etlas.
The installation should have installed etlas, eta and eta-pkg in `/home/dcpdev/.local/bin`. Please, execute `etlas update -v3` to get a more verbose output and share it here.

[2018-03-20 21:00] bkyrlach commented on #705
[code]

[2018-03-21 04:10] rahulmutt commented on #705
@bkyrlach Can you try `etlas update --http-transport=wget` and `etlas update --http-transport=plain-http` and see if that helps?

[2018-03-21 14:32] bkyrlach commented on #705
[code]

[2018-03-21 16:37] bkyrlach commented on #705
A few things worth mentioning...

- My MacBook that I have previously installed eta-lang on is no longer able to successfully update using ```etlas update```
- I'm doing this from work, and my work does have a fairly restrictive proxy
- Trying to hit ```https://cdnverify.eta-lang.org/index``` gives me a 404 in the browser.

Here's the response XML I get in my browser.

[code]

[2018-03-21 17:04] rahulmutt commented on #705
@bkyrlach The link you should be trying is `https://cdnverify.eta-lang.org/eta-binaries/index`. So you're saying in an older version you were able to successfully download stuff behind the same restrictive proxy? The main difference from before and now is that before, the binaries were being downloaded over HTTP and recently we shifted it to HTTPS to make it more secure. By chance is this causing

[2018-03-21 17:06] bkyrlach commented on #705
In the output from ```etlas update```, it looks like it's trying to hit the URL I posted. I am able to access the URL you provided without an issue.

[2018-03-21 17:13] bkyrlach commented on #705
Note that this binary was made using ```install.sh``` from a fresh clone of the ```eta``` repo as of yesterday. ```etlas --version``` returns the following.

[code]

[2018-03-21 17:20] rahulmutt commented on #705
Hmm it seems the state of your `eta` clone is corrupt since the current version of `etlas` on `master` should be 1.3.0.0! Are you sure that you added the `--recursive` flag when cloning? You can also run:
[code]

`etlas` versions older than `1.2.0.0` can no longer perform binary installations because they have a bug where it doesn't add the `eta-binaries` prefix as you observed above. Have you tri

[2018-03-21 18:20] bkyrlach commented on #705
I'm super confused. I did initially try using the etlas binary from the website with similar results. However, downloading a fresh copy today, I was able to install. I think we can close this issue now. Sorry for the bother.

[2018-03-21 18:20] #705 closed

[2018-03-21 20:58] jneira opened #706 "Error installing some packages with new-build: eta-java-interop, integer-logarithms"
* Trying to install wai-servlet with `etlas build` using the last version, that uses new-build i've got some errors:
[code]
[(Full log here)](https://gist.github.com/jneira/f915b8c8635a590fb8164f49a94cb93d)

[2018-03-21 21:40] jneira opened #707 "Error installing package with cpp condition over package base version using etlas new-build"
* In double-conversion-2.0.2.0 there is a module (Data.Double.Conversion.Text) with a cpp condition:
[code]
* with etlas new-build it fails with:
[code]
* it seems the cpp condition is not working
* with `etlas old-build` it works

[2018-03-22 04:59] rahulmutt commented on #706
Which commit of `wai-servlet`? Version `0.1.5.0`?

[2018-03-22 05:00] rahulmutt commented on #707
Thanks for reporting this! Will look into it before the release.

[2018-03-22 05:18] jneira commented on #706
@rahulmutt i am on master

[2018-03-22 06:33] jneira commented on #705
@bkyrlach Dont worry, maybe the original error with the etlas binary was caused with a temporal problem with the servers hosting the required files. Happy hacking with eta!

[2018-03-22 07:06] rahulmutt commented on #706
Hmm there's some weird path concatenation going on:
[code]
should be
[code]

Note that `C:\Users\Javier\AppData\Roaming\etlas\store\eta-0.7.1.2\incoming\new-1504` is the lock file for the installation and `C:\Users\Javier\AppData\Roaming\etlas\store\eta-0.7.1.2\transformers-0.5.5.0-728c63beb36750afd7f3e7d4c360b22bf3bf2507\lib` is where the library should *actually* be installed. Somehow, etlas is

[2018-03-22 07:25] jneira opened #708 "Let user control where eta binaries are installed"
* In protected envs (specially in windows) it is usually forbidden the copy of executables in the actual directory used by etlas to download eta and eta-pkg executables (%APPDATA%\etlas\binaries). It would be useful be able to change that directory (for other reasons too)
* Maybe we can add a  `eta-binaries` config option (in cabal/config file and as comand line arg) to point to another directory

[2018-03-22 07:33] rahulmutt commented on #707
It's surprising that your build made it that far - mine failed with this error:
[code]

By chance did you make a local patch?

[2018-03-22 10:37] jneira commented on #707
ops, sorry, i've applied the patch that is in [my branch of eta-hackage for dhall](https://github.com/jneira/eta-hackage/blob/dhall-patches/patches/double-conversion-2.0.2.0.patch)

[2018-03-22 13:47] rahulmutt opened #709 "eta-benchmarks hangs when compiled with Eta"
Reproduction Steps:
[code]

Output of `jstack -l [pid]`:
[code]

It appears that the `main` Thread and `Thread-2` both are attempting to read from an MVar and waiting on it. Looks like some race condition and probably a bug in the concurrent runtime.

[2018-03-22 14:17] rahulmutt commented on #707
I fetched your fork and checked out that branch and did `etlas get double-conversion` and got your patch applied automatically. Doing an `etlas build` worked fine for me. Wonder if it's another windows specific bug? Can you share the output of `etlas build -v3`? I'll see if the right flags are being sent to the `eta` compiler.

Off topic, but you forgot to include `Utils.java` in your patch and yo

[2018-03-22 15:08] rahulmutt commented on #706
@jneira I was able to successfully reproduce this on Windows Server 2016, while I was attempting to reproduce #707. I'll see if I can add some debug statements and figure out why the paths are corrupted.

[2018-03-22 16:57] rahulmutt commented on #706
@jneira I added similar debugging outputs on both Windows and Mac and I discovered that the "installing library in..." message above is completely correct! It seems like another case of long paths causing issues on Windows. A way to relocate the `.etlas/store` would probably solve this issue.

[2018-03-22 21:04] jneira commented on #707
Yeah, the patch is incomplete. I did a quick one to be able to compile dhall.

[2018-03-22 22:01] jneira commented on #706
yeah, C:\Users\Javier\AppData\Roaming\etlas\store\eta-0.7.1.2\incoming\new-1504\Users\Javier\AppData\Roaming\etlas\store\eta-0.7.1.2\eta-java-inte_-0.1.3.0-ccedb436a14d65ea38b6a00be882e06b8214a7ae\lib has more than 170 chars
Closing this as duplicate of #691

[2018-03-22 22:06] jneira commented on #706
Reviewing the link about the limit i just realized that is 260 chars  (and no 170) so maybe the cause could be other

[2018-03-22 23:49] alanasp commented on #687
@rahulmutt Sorry for asking this but this is my first ETA issue and I just wanted some clarification on how everything's structured. I have been studying the codebase quite a bit but I don't seem to understand how the Java Monad is defined. I found out that it is an instance of Monad, Applicative and Functor but I have not found the definition in terms of type and value constructors, e.g.: "data J

[2018-03-23 05:54] rahulmutt commented on #687
@alanasp The `Java` monad is pretty low-level and defined here: https://github.com/typelead/eta/blob/master/libraries/ghc-prim/GHC/Types.hs#L245 Let me know if you need anymore help.

[2018-03-23 09:19] jneira commented on #706
Hi, i've realized another test with this steps:
* Wipe out the etlas and eta user directories
* Do a `cleanInstall` of etlas, eta-pkg, eta, etc (master)
* Build a [simple project](https://github.com/jneira/eta-test) with a simple dependency (directory)
  * Using `etlas build`
  * The build is succesful
* Add eta-java-interop as a dependency
  * This steps fails with this error:
[code]
* The file `

[2018-03-23 09:19] #706 closed

[2018-03-23 09:40] jneira commented on #707
Hi, after a fresh install of eta and etlas (removing user dirs of eta and etlas) i've got the same error. The output of `etlas build -v3 > output.txt 2>&1` is https://gist.github.com/jneira/f4fb1a5ac21a4edf1e619a33ed412995

[2018-03-23 09:58] jneira commented on #707
* `etlas install --only-dependencies && etlas old-build && etlas install` works fine

[2018-03-23 10:25] rahulmutt commented on #707
The key part in the build output is the `eta` invocation at the bottom. The macro you're referring to is generated by `etlas` in a file called `cabal_macros.h`:
[code]
I wonder if the option above is not getting forwarded properly to the c-preprocessor. Let me check to see what options are generated for Mac.

[2018-03-23 10:27] rahulmutt commented on #707
@jneira Can you share the `-v3` output for `etlas old-build`? I think if we diff the two we can identify the problem easily.

[2018-03-23 12:43] jneira commented on #707
sure: https://gist.github.com/jneira/371f9e66607655fa656b51308a477f03

[2018-03-23 12:49] jneira commented on #707
with both `etlas build` and `etlas old-build` i see the cabal_macros.h with the content:
[code]

[2018-03-23 15:34] rahulmutt commented on #707
The difference is that `new-build` sends an absolute path to `cabal_macros.h` while `old-build` sends a relative path. I think this is causing a problem on Windows for some reason - maybe the drive letter?

[2018-03-23 17:15] NickSeagull opened #710 "[FFI] Exported functions that make use of STDOUT do not print anything from Java"
I'm trying to export a function like:

[code]

and then call it from Java with

[code]

The `Hi` doesnt get printed.

By suggestion of @rahulmutt , I've changed the definition of `foo` to:

[code]

But still, it doesn't get printed.

[2018-03-23 17:21] NickSeagull commented on #642
I like dhall, but sometimes it looks really verbose. We should abstract stuff from it.

[2018-03-23 18:10] #708 closed

[2018-03-23 18:11] rahulmutt commented on #708
@jneira You can either do `etlas --binaries-dir=[path] ...` or add `binaries-dir: [path]` in your `~/.etlas/config` or `binaries-dir: [path]` in your `cabal.project` file if you want to test it for a single project.

[2018-03-24 07:25] rahulmutt commented on #707
I confirmed by adding extra debug outputs to the `eta` compiler when it does the cpreprocessing step. On Windows Server, it's showing "missing file" for include files even they exist. Turns out that this it the code in `cpphs` to read include files:
[code]
As you can see, it only checks whether the first letter is `/` to determine whether it's an absolute path! Hence absolute paths on windows will

[2018-03-24 20:19] alanasp commented on #687
@rahulmutt Thanks for the prompt answer, it was helpful. I believe the solution to this should be something like this `instance Category Java where
    id = Java $ \ o -> (# o, obj o #);
    f . g = g >- f` Although there is an issue that the signature `(>-) :: (Class b) => Java a b -> Java b c -> Java a c` requires that type `b` is an instance of class `Class`. There is a similar problem for `id`

[2018-03-24 21:13] jneira commented on #707
Yeah, i test again the call to eta made by `etlas build` making all the paths relative and it works!

[2018-03-24 21:13] alanasp commented on #555
@rahulmutt So, `Char` and `JChar` are defined similarly as `data JChar = JC# JChar#` and `data Char = C# Char#`, respectively. Since `Char#` is an embedded type, the compiler would evaluate `'x'#` expression as `Char#`. Is there a similarly defined expression, which would be interpreted as `JChar#`? I can't seem to find any docs on this and this is what the conversion of types ultimately boils dow

[2018-03-25 00:28] wekatek opened #711 "FFI Documentation"
To export a function to Java, the ForeignFunctionInterface language feature needs to be turned on.  Can this please be added to the getting started documentation in the Java Interop section.

Maybe in the quick start section:

At the top of the module, before the module definition enable the foreign function interface language feature:
{-# LANGUAGE ForeignFunctionInterface #-}

[2018-03-25 05:38] rahulmutt commented on #707
Ok cool. I've made a branch with using `hpp` but there seem to be some cases it's not handling well. I'll give it another day and see if I can resolve the bugs. Otherwise, I'll just add a patch to relativize the paths for `-include` arguments to `cpphs`.

[2018-03-25 05:43] rahulmutt commented on #555
@alanasp You fortunately don't need to deal with all the internals since it has been done for you in this module:
https://github.com/typelead/eta/blob/master/libraries/base/Java/PrimitiveBase.hs
`JChar` has an `Integral` and `Num` instance (since it's just a 16-bit signed integer) so you should be able to use any of those typeclass methods for the conversion.

Hope that helps!

[2018-03-25 06:02] rahulmutt commented on #687
You're right. You won't be able to write the instance as it is because the two type parameters of `Java` aren't symmetric. The first parameter has to be a Java class for this to work. In the upcoming revamp of the FFI, we'll try to remove this asymmetry so that this instance can work.

You learn how to insert multiline code snippets [here](https://help.github.com/articles/creating-and-highlighting

[2018-03-25 07:07] wekatek commented on #711
I was using etlas to build the code, and I kept getting this error:
Invalid type signature: foreign
                             export java "com.eat.bob" bob :: Java Char IO () -> ()
   Perhaps you meant to use ForeignFunctionInterface?

NickSeagull helped me solve the issue on slack and asked me to raise an issue about it.

[2018-03-25 07:55] rahulmutt commented on #711
Would it possible for you to upload your project setup to github and share it? We can try reproducing your problem.

[2018-03-25 09:36] NickSeagull commented on #555
What about making `JChar` and `Char` the same type, what implications could that have? :thinking:

[2018-03-25 10:32] NickSeagull commented on #555
Oh, that makes sense :smile:

[2018-03-25 12:36] jneira commented on #707
@rahulmutt and fix that function in cpphs? would be it possible?

[2018-03-25 13:19] rahulmutt commented on #707
@jneira Missed that! Can you add a version contraint in `eta.cabal` and see if it fixes it? I've made good progress with the `hpp` transition.

[2018-03-25 20:49] alanasp commented on #555
@rahulmutt Thanks, this actually was really helpful. I have forked the stable version of eta and updated the `Java.Primitive` module to contain the conversion functions. You can see changes [here](https://github.com/alanasp/eta/commit/003d9433a77dcdefcc540e24c1ffedbe048c1189). The updated module builds and works fine on some tests that I ran. Should I move the functions to a different module or is

[2018-03-25 23:26] jneira commented on #704
[dhall-to-cabal](https://github.com/dhall-lang/dhall-to-cabal) has been released!
the dhall expression for the cabal of the project itself:
[code]

[2018-03-26 04:11] rahulmutt commented on #704
Really cool :) Does Dhall have a feature to show a simplified version of the config with all the `let`'s inlined and the URLs downloaded? That will be useful for debugging configs.

[2018-03-26 04:13] rahulmutt commented on #555
@alanasp Go ahead and submit a PR :) Every PR has a test suite run against it so we'll discover any issues there.

[2018-03-26 04:25] jneira commented on #704
@rahulmutt yeah, it names it "reduce to the normal form":

Moreover

(from https://github.com/dhall-lang/dhall-to-cabal/blob/master/README.md)

[2018-03-26 04:39] alanasp commented on #555
I will try to submit a pull request to Stable as it seems that the Master is failing but it is failing the build without the changes as well.

[2018-03-26 05:01] rahulmutt commented on #555
@alanasp Please submit the pull request against the `master` branch. Disregard the failed build. I made some comments to your current pull request. Please address them and file a new pull request against master with the changes.

[2018-03-26 05:58] jneira commented on #707
Hi, i test an eta version bumping up the version of cpphs (adding a lower bound in `eta.cabal` and a `extra-dep` in `stack.yaml`) and it seems to work fine.
However i agree to use hpp is a better option overall.

[2018-03-26 06:34] rahulmutt commented on #704
That's great to hear - looks like it is going to good for practical use.

[2018-03-26 07:26] jneira commented on #691
* Changing the root dir of the projects and the `store-dir` in etlas config we can avoid in some (most?) cases those errors
* It would be great that etlas/eta could show a better and more accurate error msg suggesting the appropiate changes to avoid them
  * without forgetting to point it out in the documentation

[2018-03-26 08:25] rahulmutt commented on #647
Because the java import mechanism will behave differently than the default import mechanism (which we will stick to keeping compatible with Haskell for now), I think requiring `import java` and being explicit about when you are bringing Java FFI bindings into scope is helpful for people reading the code. There's always the tradeoff of explicit/implicit - in this case I think being explicit will ac

[2018-03-27 05:32] jneira commented on #704
[code]
it lives!

[2018-03-27 05:49] jneira commented on #704
* The build has used a bunch of patches that are in [this branch of eta-hackage](https://github.com/jneira/eta-hackage/tree/dhall-patches) and a [fork of dhall-haskell](https://github.com/jneira/dhall-haskell) with some minor changes to make it compatible with eta. It used [the branch of eta with the switch from `cpphs` to `hpp` ](https://github.com/typelead/eta/tree/windows-cpp)
* Patches are inc

[2018-03-27 10:28] NickSeagull commented on #690
Maybe we can omit the `Export` annotation (which can be called `FFIExport` btw) if the top level declaration has already another annotation?

For example

[code]

makes sense, but probably

[code]

doesn't, as there is no possibility of using an annotation function if it is not exported, so we could leave it like

[code]

which is more clear and it is not cluttered by the `Export` annotation.

Ano

[2018-03-27 10:41] NickSeagull opened #715 "Refactor/Rename existing code base"
# Refactor progress
[ ] Parser
_more modules can be added..._

# Description
Working through the `Parser` module, functions like `amsu`, `sLL`, `mj`, etc... make very hard to start working on stuff.

It would be nice if they had meaningful names, aswell as all the existing legacy GHC code, like for example types like `RdrName`.

Maybe I can refactor some I have touched? This issue could serve as a

[2018-03-27 10:52] jneira commented on #704
* I've updated the fork of dhall to adapt last commits upstream (it replaces `text-format` package with `formatting`)
  * Also replaced the type application with a type annotation: `Data.Scientific.fromFloatDigits @Double` to `Data.Scientific.fromFloatDigits :: Double -> Scientific`
* `formatting` patch added

[2018-03-27 11:15] rahulmutt commented on #715
Completely agree with this. Before you carry out a refactoring of a core type or function, make sure you list out the name changes here so we can discuss.

[2018-03-27 11:20] rahulmutt opened #716 "[etlas] Change the layout of .etlas/lib to be Maven-like"
For the Gradle plugin, we have to create our own local Maven repository to feed in the Eta dependencies into Gradle. The problem is that it requires us to keep two copies of every package - one for `~/.etlas/lib` and one inside of the local Maven repository maintained by the plugin `~/.gradle/etlas/repository`.

We've merely followed along with what Cabal was doing, but in this case I think it is

[2018-03-27 11:33] jneira commented on #715
I wonder if it would make more difficult a hypothetical change to ghc 8.
As haskell packages will increase the use of ghc >= 8 features we'll reach a situation that patches (or changes upstream) would be near impossible to accomplish

[2018-03-27 11:34] NickSeagull commented on #715
Agree with @jneira , although I'm not sure if that would be harder than refactoring...

[2018-03-27 16:44] sam543381 opened #717 "Typos on Eta Tour"
I just spotted a language error on the Eta website.
see [https://tour.eta-lang.org/start#5](https://tour.eta-lang.org/start#5)
and search for `and it located within the base package`

original paragraph :
`
Every Eta program automatically imports the Prelude module which consists of standard functions and it located within the base package, which is standard library for Eta.
`

[2018-03-27 16:58] sam543381 commented on #717
https://tour.eta-lang.org/start#19
`in order to be construct a value` -> in order to construct a value
I'm not a native speaker, but I think this one is a mistake too.

[2018-03-27 18:22] NickSeagull commented on #717
Thanks for reporting the typos Sam! They will be fixed as soon as possible :smile:

[2018-03-28 07:25] jneira commented on #704
* As eta is built ghc-7.10.3/lts-6,27 and maybe we would need to build dhall with them,  i've created a branch of dhall-haskell with those constraints: https://github.com/dhall-lang/dhall-haskell/compare/master...jneira:ghc-7.10.3?expand=1
* The branch to be used *within* eta only has (at least for now) the dhall-repl commented: https://github.com/jneira/dhall-haskell/compare/ghc-7.10.3...jneira:e

[2018-03-28 08:02] rahulmutt commented on #704
@jneira Awesome thanks! I think this means we can add support for something like `[package-name].dhall` and `project.dhall` for `new-build` directly inside of `etlas` by using `dhall` as a dependency with the `lts-6.27`-compatible configuration. I have no issues if you use a git dependency to your fork, but I would probably be better if the fork is under the `eta-lang` org.

Would you be intereste

[2018-03-28 08:17] jneira commented on #704
@rahulmutt Totally agree with moving the project to eta-lang. The version to use withint eta could be a patch in eta-hackage but obviously the fork to be included in eta it is not. If dhall maintainers think it is a good idea include the branch with ghc-7.10.3 compatibility in the upstream project we could use a git reference in stack.yaml. In any case i am going to move the project.

Sure!

[2018-03-28 09:15] NickSeagull commented on #715
Thinking on this again, maybe this is the point when we start departing from GHC? Is our aim to be GHCJVM or a different language that is compatible with most Haskell packages?

There is effort that maybe could be invested in generating a better ecosystem rather than keeping the pace of GHC

I don't know, I'm just giving all the ideas that come to my mind :smile:

[2018-03-28 09:50] NickSeagull commented on #617
I was thinking about the type class functions aliases, wouldn't be weird to tell users that `Functor` is a type class that defines `map`, but then have them implement the `fmap` function in their instances?

I don't see how "for historical reasons" would be a good excuse :thinking:

[2018-03-28 10:17] jneira commented on #715
Well, i would quote [this relevant](https://eta-lang.org/docs/faq#eta-vs-frege) faq question:

Also this early issue about frege and eta: https://github.com/typelead/eta/issues/3

I think eta fills a space betwen haskell and the jvm (with all it existing langs like scala, clojure, frege..) in a delicate balance. In my opinion haskell continue being the state of the art for lazy functional language

[2018-03-28 10:42] NickSeagull commented on #617
Weird idea, how hard would be to extend the existing type classes in the existing Prelude?

Example:

[code]

Do you think this would make sense?

[2018-03-28 10:59] NickSeagull commented on #715
Yep, definitely @jneira , I didn't want to imply that we should depart in philosophy. I'm with you about the Haskell philosophy.

I was talking about implementing GHC8.

I understand the differences between Frege and Eta :smile:

[2018-03-28 15:54] rahulmutt commented on #715
@jneira My gut says the scenario where GHC 8 makes a lot of patches impossible probably won't happen that soon. If/when such a situation happens, it means whatever features GHC 8 has are *extremely* practical and useful and it is imperative that we adopt them too.

Now, as you said, merging patches from GHC 8 upstream will become difficult if we do a refactoring. So does this mean we keep the code

[2018-03-28 16:01] rahulmutt commented on #715
I would say we want to be closer to the latter. The whole point of Eta since inception was to package Haskell in a way that everyone can use without sacrificing on the nice reasoning properties that the language gives you.

Moreover, we wanted to be able to take advantage of both the JVM & Haskell ecosystems and we would love to keep that going as much as possible. Of course, there are going to be

[2018-03-28 16:11] rahulmutt commented on #617
@NickSeagull I think we should leave the standard typeclasses alone. Create aliases? Sure, but mutating the definition might make things very messy.

Rather than thinking about hypotheticals, we can go ahead and make a new prelude and set up the build on the `eta-prelude` repo to compile against a good chunk of Hackage so that we can see the impact. To do that, we'll need to implement the `-prelud

[2018-03-28 16:20] rahulmutt opened #718 "Implement the Language Server Protocol"
This will allow us to re-use the same logic across IDEs as IDEs continue to adopt the standard.

We can adapt the following repos:
- https://github.com/haskell/haskell-ide-engine
- https://github.com/alanz/haskell-lsp