[2018-11-13 20:53] rahulmutt commented on #571
@politrons Ever since we released the Gradle plugin, the number of people requesting the Maven plugin has sharply decreased so we haven't had the motivation to work on it. Do you have a particular use case or situation you can explain in which you can't use Gradle?

[2018-11-13 20:59] rahulmutt commented on #901
@tittoassini By chance do you use some form of continuation passing style in implementing `flat`? If so, you'll need to add on a `trampoline`.

For now, can you let me know whether this works?
[code]

If that doesn't work, I'll see if I can assist you in finding the right location inside the definition of `flat` or its dependencies that you'll need to add it in.

[2018-11-13 21:00] politrons commented on #571
Well my company does not use and allow Gradle or SBT for now  😆

Enviado desde mi iPhone

[2018-11-13 21:05] rahulmutt commented on #881
Hmm if that is the description, our current implementation violates it! The main semantics of the flags are here:

https://github.com/typelead/eta/blob/master/compiler/Eta/Main/DriverPipeline.hs#L1362-L1370

[code]

The first `Bool` says whether to generate a MANIFEST as well as a main class and the second `Bool` says whether to link in all the dependencies. As you can see, we're missing the `(Fal

[2018-11-13 21:07] rahulmutt commented on #571
That's a valid reason :) Unfortunately, we don't have the bandwidth to work on it right now.

If you are willing to start work on the Maven plugin, happy to assist in whatever way I can. I have tried as a weekend project to get a Maven plugin working 2-3 times now so I do have a basic idea of how to make Maven plugins, but haven't had to time to work out *all* the details.

[2018-11-13 21:14] politrons commented on #571
If I found some time to help you out I will let you know.

Enviado desde mi iPhone

[2018-11-14 15:14] tittoassini commented on #901
I tried that, but no joy.

I also added a top level trampolineIO but it made no difference:

longBools = replicate 1000000 False

main = trampolineIO $ do
print $ (trampoline $ flat longBools)

The instance of Flat for [a] was generated by generics but I have rewritten
it explicitly so that I could add a 'trampoline' on encode:

instance {-# OVERLAPPABLE #-} Flat a => Flat [a] where
encode = tramp

[2018-11-15 09:02] jneira commented on #558
@rahulmutt  Hi, i've detected that cborg library reach the limit:
[code]
Would be there a workaround like in #557?

[2018-11-15 10:44] puffnfresh commented on #895
Yes, the updated instructions are here:

https://github.com/typelead/eta/blob/master/docs/0-user-guides/0-eta-user-guide/1-installation/5-nix.md

I think the website needs to be regenerated.

[2018-11-18 21:36] jneira opened #907 "Wrong generated bytecode of export methods combining Arrays and Generics"
## Description

Foreign exports that includes both parametized types and arrays cant be compiled. With `JavaByteArray` the generated method references a wrong type `]B` (the internal name of `byte[]`)
## Expected Behavior

Generated bytecode should reference the array type (like `byte[]`)
## Actual Behavior

Compiling java code that call the exported method fails with:
[code]
The decompiled genera

[2018-11-18 23:32] jneira commented on #907
The workaround used in this case had been use `List<Byte>` instead `byte[]`

[2018-11-19 20:40] tggreene opened #908 "Can't install eta with etlas 1.5.0.0"
Hi folks!

I've attempted to install eta following the instructions here: https://eta-lang.org/docs/user-guides/eta-user-guide/installation/etlas

But I appear to be hitting an issue with missing jar dependencies that are failing to install in the initial setup.

## Expected Behavior
When I execute `etlas update` and then `etlas run` I would execute my program (hello world in this case!)

## Actua

[2018-11-19 21:36] tggreene commented on #908
I spotted a non-issue I'd included in the ticket (relating to directly invoking eta) which I've now edited out. Discovered I was trying to execute ~/.etlas/binaries/eta which just appears to list where the binaries can be found!

[2018-11-19 21:42] tggreene commented on #908
Ah, right. Oops. I hadn't spotted ~/.eta and had some old (i.e. `0.0.6.7` `0.0.9.1`) directories in there which must have been causing all my woes.

Apologies, I'll just close this one off. Sorry for the noise!

[2018-11-19 21:42] #908 closed

[2018-11-20 05:33] jneira commented on #908
Dont worry and dont hesitate to open new issues! 😄

[2018-11-20 06:34] jneira commented on #908
Always is good to detect frictions in the installation process, and fix them if it is repeating often. In this case, to have previous installations shouldn't make the new one fail. :thinking:

[2018-11-20 07:50] rahulmutt commented on #908
There have been major breaking changes in Etlas internal directory structure/paths since Eta 0.0.6.7 so that's probably the cause for error. Since those were alpha versions, I don't think we have to worry about making those work as well.

[2018-11-20 08:04] rahulmutt commented on #558
The workaround in #557 worked because alex generates code that we could post-process. But for cborg, it may involve turning off inlining or modifying the source of the library itself. There is a long-term solution to this problem and we will need to fix it asap since running Eta that was built with Eta fails with the same error.

The long-term solution seems to be adding an STG-to-STG pass that ch

[2018-11-20 17:55] politrons opened #909 "A Project Example for Gatling plugin"
Not sure if you guys would interested, but thanks to your help, I made the first version of a functional Mock server working with Scotty + Eta Gatling plugin.

In case you want to fork or get the code to add in your example sections it can be found here

https://github.com/politrons/Eta-Haskell-Mock-Server

Regards

[2018-11-23 05:31] #899 closed

[2018-11-23 09:28] rahulmutt opened #910 "Nested trampolines should be no-ops"
What happens when you trampoline twice in the same "thread" of computation? The nested trampoline will restart the tail call counter and start a fresh trampoline. This is *not* desirable. Instead, we should make it a no-op (just evaluate the closure). This should be a couple line fix, will detail more for anyone interesting in implementing this.

[2018-11-30 13:35] rahulmutt opened #911 "Allocate a dedicated thread to detect deadlocks in the runtime system"
In certain extreme cases, it is possible for the runtime system to deadlock and lightweight threads to stall. An example of an extreme case is when all of the runtime system allocated threads are all blocked on a Java FFI call. In such a case, it is beneficial to have a separate, dedicated thread that monitors the progress of lightweight threads and will spawn new heavy threads as required if no p

[2018-12-05 20:43] jneira commented on #558
In the meanwhile i would like to patch cborg to avoid the issue: i started to convert `INLINE` to `NOINLINE` but i had no luck, what would be the required changes?

[2018-12-06 06:18] rahulmutt commented on #558
You need to take a look at the particular method that had too many bytecodes and match that method with the name in STG. Then, a look at the STG code to figure out what exactly was inlined and add NOINLINE's to the corresponding source. This will require you to dig into the internals of `cborg` a bit.

[2018-12-06 13:05] rahulmutt opened #912 "Investigate failure of arr003 test"
https://github.com/typelead/eta/blob/master/tests/suite/array/fail/arr003.hs

The test in the link above fails to produce the following error message when executed:

[code]

In fact, it prints nothing and just returns without any failure. It seems the exception is lost somewhere.

[2018-12-07 14:08] jneira commented on #558
Hi, at least i get to avoid the issue, use `-ddump-inlining` ghc flag was helpful too!
https://github.com/typelead/eta-hackage/pull/135

[2018-12-09 08:08] rahulmutt commented on #895
Should be updated now, closing.

[2018-12-09 08:08] #895 closed

[2018-12-09 08:17] rahulmutt opened #913 "Relax case restriction"
When compiling `rdf4h`, it was observed that
[code]

are currently not allowed by Eta. This is to avoid clashes in the generated code. But data families and type classes cannot possibly clash because of how the code generation works. The restriction mainly applies for data constructors and top-level bindings.

[2018-12-10 15:27] #891 closed, assigned to nobody

[2018-12-10 15:30] rahulmutt commented on #897
It turns out that fixing #891 fixed this as well since it was the root cause.

[2018-12-10 15:30] #897 closed

[2018-12-11 11:52] jneira opened #914 "etlas build using etlas.dhall file fails inside eta docker image"
## Expected Behavior

Etlas build using `etlas.dhall` should work
## Actual Behavior

When doing a `etlas build` with a `etlas.dhall` file that have to access `dhall-to-etlas` prelude through http it throws;
[code]
## Possible Fix

Add the needed config files and libs to eta docker image to allow etlas make http requests
## Steps to Reproduce

1. Trigger a circleci build of the project https://git

[2018-12-11 11:59] jneira commented on #914
For now i get to make work the build renaming `etlas.dhall` to `etlas.dhall.skip` before building.
However tests has to access dhall prelude files and it is expected to fail.

[2018-12-12 06:54] jneira commented on #914
Thinking twice about that: etlas itself *is able* to access internet to download packages, so the calls done by dhall (either from the binary executable etlas or from java lib compiled by etlas) fail cause its uses tcp instead http (???).
Etlas tests reading dhall files with remote imports [fails too with another generic nasty error](https://circleci.com/gh/eta-lang/dhall-eta/11#tests):
[code]

[2018-12-12 07:10] jneira commented on #914
Setting `JAVA_OPTS=-Xmx2G -Xms2G` as suggested in the circleci forum, solved the killed java process issue: https://circleci.com/gh/eta-lang/dhall-eta/13

[2018-12-12 08:37] #898 closed

[2018-12-12 08:38] rahulmutt commented on #898
This was an issue in `codec-jvm` - it was not handling supplementary characters in Modified UTF-8 properly. It has been fixed and a new test has been added.

[2018-12-12 08:43] rahulmutt commented on #859
Closing as the issue as it appears to be resolved. Feel free to open a new issue if not.

[2018-12-12 08:43] #859 closed

[2018-12-12 09:05] jneira commented on #914
However the dhall remote import is not fixed, the tests are not failing cause i am using dhall-lang tests (instead dhall-haskell ones) which doesnt have remote imports.

[2018-12-12 09:47] jneira opened #915 "Using Data.Text.IO.readFile throws intermitent java.nio.channels.ClosedByInterruptException"
## Description

`dhall-eta` tests reads lot of dhall files using `Data.Text.IO.readFile` and some of the calls throws `java.nio.channels.ClosedByInterruptException`
## Expected Behavior

All files should be readed correctly
## Actual Behavior

Some of the calls throws:
[code]
In windows i get occasionally
[code]
## Possible Fix

Not sure where the bug can be fixed.. to investigate
## Steps to Repr

[2018-12-12 11:54] rahulmutt commented on #914
So you are still getting

[code]

if `etlas.dhall` is used right? `getProtocolByName` is a function in the `network` package so maybe searching its issue history may help.

[2018-12-12 11:57] rahulmutt commented on #915
I've observed similar spurious exceptions when running a load test against any Eta web framework. This is most likely due to the Eta RTS's usage of `Thread.interrupt()`. Recently, I recall changing a bunch of places in the code to use a volatile boolean instead of the interrupt flag of the thread. It may be that there are still places where it's still using the old interrupt mechanism.

[2018-12-12 11:59] rahulmutt commented on #914
Perhaps this is relevant:

https://github.com/haskell/network/issues/221

[2018-12-14 06:31] rahulmutt commented on #914
Yes, I think changing the image is the solution as discussed here:

https://github.com/NixOS/nixpkgs/issues/18038

and looks like @puffnfresh helped out with that.

[2018-12-18 09:19] rahulmutt commented on #915
When reproducing on my system, I got the following:

[code]

and

[code]

and

[code]

[2018-12-18 09:20] rahulmutt commented on #915
I have verified that the above test results are reproducible. I'll look into them one by one.

[2018-12-18 11:15] #865 closed

[2018-12-18 11:17] rahulmutt commented on #912
Resolved with #865.

[2018-12-18 11:17] #912 closed

[2018-12-18 11:18] jneira commented on #914
@rahulmutt now `dhall-eta`build with `etlas.dhall` [works like a charm](https://circleci.com/gh/eta-lang/dhall-eta/24), thanks!

[2018-12-18 11:37] rahulmutt commented on #915
Ok to be clear, which tests are a problem with Eta itself?

[2018-12-18 11:46] jneira commented on #915
For now errors caused by `java.nio.channels.ClosedByInterruptException`'s

[2018-12-18 17:05] rahulmutt commented on #915
Tracked down the exception and pushed a fix to master. Couldn't reproduce the resource busy exception - probably has to do with file handles not being closed properly. Will need to try it out on a windows system.

[2018-12-18 18:01] rahulmutt commented on #874
@forficate Does nix work for you now?

[2018-12-18 22:12] jneira commented on #915
Great! I am afraid that the test suite now hangs, only in circleci https://circleci.com/gh/eta-lang/dhall-eta/29 😟

[2018-12-19 03:01] rahulmutt commented on #915
Can you re-run it with SSH and share the output of `jstack`?

[2018-12-19 07:00] jneira commented on #915
It seems jstack doesnt work:
[code]
Same error after `su root`

[2018-12-19 07:09] jneira commented on #915
Strangely i can see dhall cache files produced by tests i cant see in the log :thinking:
[code]

[2018-12-19 13:51] jneira commented on #915
In the bright side, with master version of eta, both error about files (`java.nio.channels.ClosedByInterruptException` and `openFile: resource busy (file is locked)`) are gone!
Thank for the fix @rahulmutt

[2018-12-19 15:42] rahulmutt commented on #915
While I can't say why it would take 10 mins to execute w/o output, perhaps adding [a longer timeout](https://github.com/typelead/eta-benchmarks/blob/master/.circleci/config.yml#L14) will give some clue?

[2018-12-20 07:58] jneira commented on #915
* I've set the timeout to 30m and the output did seem to progress a little bit more but hanged at some point:
[code]

* Otoh i am afraid the windows i've got again the windows error. Strangely the error is not thrown if i pipe the test log output to a file but persist if i let the output write in stdout :open_mouth:

[2018-12-20 09:41] jneira commented on #915
Ok, i've resolved the hang:
* I've detected that, in local, the java process was taking 2.5 Gb of ram
* In circleci i had fixed `-Xmx2Gb`
* So the java process was busy all of the time doing garbage collections
* Setting `-Xmx3Gb` has resolved the issue: https://circleci.com/gh/eta-lang/dhall-eta/42

Now maybe we should investigate why the java process is using that excessive amount of memory...
A

[2018-12-20 11:34] distributedleetravis commented on #48
What's the current status on this? I'm looking into the feasibility of using Eta as an implementation language for [Cordapps](https://github.com/corda/corda), and the ability to export annotations as part of the Java FFI for Eta functions would be very helpful here.

[2018-12-20 11:42] rahulmutt commented on #915
Great sleuthing @jneira! :)

Facing something similar with `eta-benchmarks` circleci build. I have a gut feeling that the excessive memory usage may be related to the fact that thunk clearing is disabled by default because it causes correctness errors when the same thunk is evaluated concurrently across threads.

Thunk clearing is a GC optimization that clears out the free variables of a thunk onc

[2018-12-20 11:44] rahulmutt commented on #48
@NickSeagull has extended the parser a bit to support this, but I think we just didn't get around to fleshing around a complete design to go ahead an implement this.

@NickSeagull can you share your progress so far and where you need assistance to keep this going?

[2018-12-20 12:47] NickSeagull commented on #48
Being honest, I haven't worked on this since January. Basically, I have allowed exporting all data types, as it is required for the annotations to work, but not much more. You can take a look about what I have done here https://github.com/NickSeagull/eta/commits/master

Currently, I haven't got the time to keep working on this, sorry 😞 , but if someone could pick this up, I'd be willing to share a

[2018-12-20 13:07] jneira commented on #915
Yeah, only left the intermitent  `openFile: resource busy (file is locked)` error for windows. But maybe it should be in another issue too.

[2018-12-20 23:02] rahulmutt commented on #915
Yes, please file that in a new issue as well. As a tip for debugging exceptions like that:

[code]
It'll dump ALL exceptions including those that have been caught in between and re-thrown. Extremely useful when you want to know what's really going on, and can potentially generate huge files.

[2018-12-21 08:47] jneira opened #916 "Using Data.Text.IO.readFile throws intermitent "resource busy (file is locked)" in windows"
## Description

dhall-eta tests reads lot of dhall files using Data.Text.IO.readFile and some of the calls throws `path\to\file openFile: resource busy (file is locked)`
## Expected Behavior

All files should be readed correctly
## Actual Behavior

In windows i get occasionally
[code]
## Possible Fix

Maybe the locking is related with https://github.com/typelead/eta/issues/307?
## Steps to Reprodu

[2018-12-21 08:49] jneira commented on #916
As [@rahulmutt suggested](https://github.com/typelead/eta/issues/915#issuecomment-449163595) in #915 the way to debuf the issue could be set
[code]

[2018-12-21 08:54] jneira opened #917 "Too much memory allocation/poor performance in long run tasty execution"
When running tests or benchmarks eta executables the take excessive heap memory.
## Description

Detected when running the `dhall-eta` test suite in windows and circleci (see https://github.com/typelead/eta/issues/915#issuecomment-448935276 )
## Expected Behavior

The proccess should use less memory (not sure about how many)
## Actual Behavior

The process takes up to 2.5 Gb
## Possible Fix

See @

[2018-12-21 08:55] jneira commented on #915
Filed specifics issues about [windows error](https://github.com/typelead/eta/issues/916) and [excessive memory allocation ](https://github.com/typelead/eta/issues/917)

[2018-12-21 08:55] #915 closed

[2018-12-22 23:18] yellowtruck opened #918 "Please don't use Haskell"
Haskell has a lot of problems.  I knew odin of the leading haskell community lewdies who built and ran the websites all the haskell lewdies used; and he was sorting array and it took 60 gb of ram and he could not even predict how much ram a simple operation would take; and something that took odin ms in c would take minutes in haskell and it took like odin meg of ram in c and in haskell, it took g

[2018-12-23 04:30] rahulmutt commented on #918
This is spam, and an identical issue has been posted on the stack and Agda repos as well (among many). Closing.

[2018-12-23 04:30] #918 closed

[2018-12-28 03:55] rahulmutt commented on #601
I've started working on this.

I've implemented:
- Support for annotations in `codec-jvm`
- Allow the code below to parse:
[code]

Remaining steps:
- Implement support for mutable fields, taking inspiration from the [GHC Proposal](https://github.com/simonmar/ghc-proposals/blob/mutable-fields/proposals/0000-mutable-fields.rst). The implementation will be done in a way that is not FFI-specific and c

[2019-01-02 18:38] joshsh commented on #913
@rahulmutt is there an ETA on this fix becoming available? I do not see a more recent [release](https://github.com/typelead/eta/releases) than 0.8.6b2.

[2019-01-03 01:13] zstone1 opened #919 "Compiler panic with Splice in pattern"
## Description
I am trying to compile some haskell that includes quasi quotes in the patterns.
Eta panics instead of splicing the pattern into the lhs correctly.
[code]
## Expected Behavior
It should compile a function `f` such that `f 'a' == "success"`
In fact, cabal does exactly that.
## Actual Behavior
[2 of 2] Compiling Main            eta: panic! (the 'impossible' happened)
  (Eta version 0.8

[2019-01-03 07:15] jneira commented on #917
Hi, i've collected some snapshots, made with `jvisualvm`
[dhall.eta.tasty.profiles.zip](https://github.com/typelead/eta/files/2722917/dhall.eta.tasty.profiles.zip)
:
* CPU profiling
  * `dhall.eta.tasty.nps` with output in the console
  * `dhall.eta.tasty.pipe.to.file.nps` with the output redirected to a file
* `dhall.eta.tasty.heap.nps`: memory profiling

Taking a quick look:
* The diff between t

[2019-01-03 07:30] rahulmutt commented on #917
Thanks for the observation. That surely means there's a memory leak to investigate here since holding on to less info made it run faster.

[2019-01-03 07:45] jneira commented on #917
Yeah, although memory usage and gc overhead is similar between console and redirecting to file. Not sure if there is a memory leak cause once the process take the maximum memory possible the usage is pretty stable

![monitor](https://user-images.githubusercontent.com/54035/50627441-bb33e580-0f33-11e9-9f31-cf60090561a9.png)

[dhall.eta.tasty.pipe.to.file.heap.nps.zip](https://github.com/typelead/et

[2019-01-03 07:50] rahulmutt commented on #917
I have a suspicion that this has to do with native memory allocation and not the heap memory. Can you check that as well? I think the MemoryManager isn't freeing as often or as well as it should leading to native heap growing endlessly.

[2019-01-03 08:00] jneira commented on #917
In fact, *not* all executions to console are equal, i've taken another one and it was similar to the redirect one :thinking:

![monitor console](https://user-images.githubusercontent.com/54035/50627668-de12c980-0f34-11e9-9d4c-99fc60a0d6f9.png)

I've monitored native memory taking some samples as suggested in https://stackoverflow.com/a/30941584/49554:

[native.txt](https://github.com/typelead/eta/

[2019-01-03 08:11] jneira commented on #917
Another file with native memory samples including time:
[native.txt](https://github.com/typelead/eta/files/2723019/native.txt)

[2019-01-03 08:11] rahulmutt commented on #917
Hmm well I was wrong about that - it looks like the native memory usage increases very gradually and in amounts < 1MB. Btw you can view native memory in VisualVM by enabling the "VisualVM-BufferMonitor" plugin.

[2019-01-03 08:12] jneira commented on #917
Wow, thanks for the tip

[2019-01-03 08:16] rahulmutt commented on #913
Sorry about that - completely slipped my mind with the holiday season. I'll do a release by January 10th. Feel free to bump this if I forget by then.

[2019-01-03 09:39] nightscape commented on #917
Another thing that might be interesting is if the JVM is taking the memory just because it can, or if it really needs it.
You could test that by pressing the "Perform GC" button and when it reaches the peak and check how much it drops.

[2019-01-03 09:42] nightscape commented on #917
Another helpful tool is [Eclipse MAT](https://www.eclipse.org/mat/).
MAT operates on JVM memory dumps and you can do all sorts of analyses, e.g. find out which object types consume how much memory, find out by which instances another instance is referenced, etc.

[2019-01-03 12:38] rahulmutt commented on #917
@jneira If the largest number of classes you see if `eta.runtime.thunk.SelectorPUpd` then this could mean it's an issue of the Eta runtime's lack of selector thunk optimization.

We probably need to implement this:
https://github.com/typelead/eta/issues/517

A simple way to implement it is to spawn a thread when the runtime system initializes and just have it traverse the weak references to the se

[2019-01-03 17:35] joshsh commented on #913
OK, thanks for the update. The sooner the better! There is a team here at Uber who literally wants this yesterday.

[2019-01-04 07:18] jneira commented on #917
@nightscape thanks for the tip! i am afraid that doing a gc does not free any significant memory so the 1500 Mb max seems to be needed

[2019-01-04 09:45] rahulmutt commented on #913
0.8.6b3 is released with the fix - the windows binary is still being built and it will be done in a couple hours. OS X and Linux are on the way. Let me know if you face any issues, thanks!

[2019-01-05 18:12] joshsh opened #920 "`etlas install <package>` fails inside a project dir if <package> is a project dependency"
I am trying to install the patch for Pandoc 2.5, per instructions [here](https://github.com/typelead/eta-hackage/issues/139).

The `etlas install` step fails as follows:

[code]

However, `pandoc` is in fact listed under `library/build-depends` in the project.cabal, and is the reason that `etlas build` fails as follows:

[code]

In `./build/eta-freeze/dist/cache/solver-trace` we can see that `unix

[2019-01-06 11:13] rahulmutt commented on #920
@joshsh You have done `etlas update` correct?

@jneira Yes, `etlas install`'s symlinking step is known not to work on windows. We need to find an alternative. Perhaps we need to take a look at what Cabal does.

[2019-01-06 19:17] joshsh commented on #920
Hi @jneira, @rahulmutt. Yes, I did use `etlas update`. The commands `etlas clean && etlas update && etlas build` result in the build failure on `unix-2.7.2.2` as above. Detailed output is below.

Perhaps etlas has the non-patched `pandoc-2.5` cached, and is not fetching the patch?

[code]

[2019-01-07 01:53] rahulmutt commented on #920
The problem is actually not `pandoc`, but `u2`, as indicated by the message:
[code]

[2019-01-07 02:01] rahulmutt commented on #920
One way to verify is to check `~/.etlas/patches/patches` and verify that `pandoc-2.5.patch` is present.

Also, can you attach the full solver trace?

[2019-01-07 02:02] rahulmutt commented on #920
From a quick look, it looks like `zip-archive` dependency maybe an issue.

[2019-01-07 02:19] rahulmutt commented on #917
Some progress updates:

- I've implemented a basic form of selector thunk optimization via `StgContext`-local weak references. The solution doesn't involve multiple threads and automatically bounds the number of weak references created to avoid causing extra GC overhead. It appears showing better memory characteristics than before, but it can still be better. The next step is to short out thunk in

[2019-01-07 17:25] joshsh commented on #920
Yes, the patch is listed in `~/.etlas/patches/patches`:

[code]

`dist/cache/solver-trace` is attached. Note that since writing the above, I have added the following to `package.yaml`:
[code]

This ties Turtle to the patched version `1.5.10`; etlas otherwise uses `1.5.13`, which depends on `unix`. The file `dist/cache/solver-trace` is attached.

[solver-trace.txt](https://github.com/typelead/eta/f

[2019-01-08 06:34] rahulmutt commented on #920
@joshsh This is strange - the solver trace has no mention of `unix` at all. Were you able to get it resolved?

[2019-01-08 08:03] jneira commented on #920
Mmm, i wonder what difference between the windows executable and the mac os could cause different results.
@joshsh Could you try to do an `etlas install pandoc` outside a project folder (to be sure outside of the parent folder of any project one too)? Sharing the output with `-v3` could be useful too.
@rahulmutt have you been able to reproduce it in a linux env?

[2019-01-09 00:37] rahulmutt commented on #920
@jneira I have not checked, but mostly it'll be the same. Windows is a known problem because of lack of symlinking. The alternative is to make a copy of the entire jar file to the destination and create a batch script like we do already.

@joshsh Yes, `install` within a project directory is not implemented yet - it requires some work. We'll keep this issue open to track that we need to fix the `et

[2019-01-09 05:33] jneira commented on #920
@rahulmutt sorry, but i wanted to refer to the `etlas install pandoc` inside a project dir throwing `etlas: Cannot build the package pandoc...` error. With a recent downloaded etlas i cant reproduce it in windows (but `etlas build` throw it correctly).

[2019-01-10 10:33] #517 closed

[2019-01-10 10:33] rahulmutt commented on #917
@jneira I've implemented both selector thunk optimization *and* re-enabled thunk clearing because it is now thread-safe (verified by running `eta-benchmarks` which failed with spurious NPEs before b/c of thunk clearing and now runs smoothly).

Wait until the docker image for the current `master` is ready and go ahead an re-run the CircleCI build for `dhall-eta` and see how it fares.

[2019-01-10 12:08] rahulmutt opened #921 "Make selector thunk optimization robust"
An extension of #517. Suggestions are described in

https://ghc.haskell.org/trac/ghc/ticket/2607

which make sure to track all selector thunks and cut down on space leaks.

[2019-01-10 12:38] jneira commented on #917
I am going to close this one cause the memory allocation is resolved

[2019-01-10 12:38] #917 closed

[2019-01-11 03:13] puffnfresh commented on #517
What's the performance improvement of 4619f63?

[2019-01-11 03:37] rahulmutt commented on #517
Can't quantify, but memory usage can be cut down drastically where it becomes a bottleneck (heavy use of state monads and any type of monad that returns a boxed tuple) so the performance you gain is from reduction of load on the GC. Selector thunks are pretty common and have a tendency to build long indirect thunk chains. The optimization I included frees overwrites the selector thunk and shorts o

[2019-01-11 07:36] jneira opened #922 "Running a tasty test suite hangs in circleci with eta master docker image"
When running a tasty test suite with the default number of threads the execution hangs indefinitely in a circleci env with eta master docker image. In my local windows env the test suite never hangs.
## Description

Examples:
- Fail with circleci parallelism = 2: https://circleci.com/gh/eta-lang/dhall-eta/140
- Fail with parallelism = 1: https://circleci.com/gh/eta-lang/dhall-eta/116
- Success wit

[2019-01-11 17:04] Jannyboy11 opened #923 "ClassFormatError: Illegal class name "" in class file etabukkitplugin/EtaPlugin when loading a fat jar using a SecureClassLoader"
There is a class in the compiled class files or in the eta runtime that apparently has an empty name.

## Description

Bukkit is a minecraft mod api that loads plugins (deployed as jar files) using a custom PluginClassLoader which extends URLClassLoader. I used the the fat-jar example from the gradle-eta repo to include the eta runtime.

PluginLoading works in three phases:
1. Bukkit's JavaPluginL

[2019-01-11 17:36] rahulmutt commented on #923
Perhaps you mean to write:

[code]
instead of
https://github.com/Jannyboy11/EtaBukkitPlugin/blob/master/src/main/eta/EtaPlugin.hs#L22

Let me know if that fixes it. I apologize for the obscure error. Foreign imports are going to be a lot easier with #647 in the near future.

[2019-01-11 19:22] #919 closed

[2019-01-11 19:58] rahulmutt commented on #916
The only way you can get `openFile: resource busy (file is locked)` is if the internal file locking system (defined by these [two functions](https://github.com/typelead/eta/blob/master/libraries/base/java-utils/Utils.java#L457-L484) on the Java side) are not truly thread-safe as we expect them to be. The logic was implemented quite crudely using the `synchronized` keyword - I'll take another look

[2019-01-14 03:28] joshsh opened #924 "StackOverflowError via megaparsec"
A program that runs to completion in GHC is failing as follows:

[code]

While there is a lot of repetition in the stack trace, it appears to repeat exactly only once every few hundred lines.

I have reduced the failure case to a small, if not minimal, example including an operation that takes in a command line argument, reads a predetermined Thrift file, and parses it. The original CLI, reader, a

[2019-01-14 05:31] rahulmutt commented on #924
Turns out that `megaparsec-5.3.1` was being picked up because `language-thrift` put an upper bound on the version of `megaparsec`. Adding a patch for `megaparsec-5.3.1` w/ the trampoline fixed it.

A `./gradlew updateEtlas` should fix it.

[2019-01-14 07:02] joshsh commented on #924
LGTM. Thanks!

[2019-01-14 07:02] #924 closed

[2019-01-14 19:30] jstr045329 opened #925 "dieVerbatim: user error (etlas: '/anaconda3/bin/curl' exited with an error"
Trying to do a fresh install of etlas and eta.

$ java -version returns

java version "1.8.0_181"
Java(TM) SE Runtime Environment (build 1.8.0_181-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.181-b13, mixed mode)

## Description
I get an error that image is not found. Not sure what that means.

## Expected Behavior
I'm expecting $etlas update to just work

## Actual Behavior
$ etlas update
Wel

[2019-01-15 04:50] dkellner opened #926 "Support TypeApplications"
It would be nice to support the `TypeApplications` language extension. But I don't know if backporting as for `ApplicativeDo` (#120) is feasible.

So far it already causes non-trivial patching of Vinyl (https://github.com/typelead/eta-hackage/blob/master/patches/vinyl-0.8.1.1.patch) and I'd expect more libraries to use `TypeApplications` in the future.

[2019-01-15 05:24] rahulmutt commented on #926
@dkellner TypeApplications is very much a priority for us, just need to get around to port it. Before taking a stab at it, we need to:
1) Deprecate the @-wrapper syntax because it clashes with TypeApplications and it's a weird syntax hack anyways. This will be done as soon as #647 is implemented which is currently being worked on.
2) Make sure all the typechecker tests in the GHC testsuite are inc

[2019-01-15 05:25] rahulmutt commented on #925
It looks like the `curl` from your anaconda is being picked up from your Anaconda installation and it appears it's broken. Can you try to fix that installation?

[2019-01-15 07:03] rahulmutt commented on #916
I'm not able to reproduce now after implementing c4aa436. Turns out the `BasicFileAttributes.fileKey()` API in Java 7 returns null on Windows so I make a separate key for Windows to use for locking.

[2019-01-15 09:20] jneira commented on #916
It works now like a charm after c4aa436 so i think we could close this one. Thanks for the quick fix @rahulmutt

[2019-01-15 09:20] #916 closed

[2019-01-15 10:56] rahulmutt opened #927 "Error with multi-dimensional array FFI"
[code]

The code above crashed with:

[code]

[2019-01-15 15:40] jstr045329 commented on #925
What fixed the problem was:

$ conda install libssh2

and then

$ etlas update
$ etlas select latest
$ etlas repl

worked. Thanks for your help!

[2019-01-15 15:53] jstr045329 opened #928 "What filename to put startup repl commands in?"
## Description

When I type this into the REPL:

    :set prompt "\ESC[34mλ> \ESC[m"

I get a nice purple lambda prompt.

For ghci, you put that command in ~/.ghci and the REPL will run the commands in that file on startup.

What is the equivalent for Eta?

[2019-01-15 17:35] rahulmutt commented on #928
It's `~/.eta-repl`. Leaving this open as reminder that this should be in the docs.

[2019-01-15 17:35] rahulmutt commented on #925
Great to hear! No problem.

[2019-01-15 17:35] #925 closed

[2019-01-15 17:47] #907 closed

[2019-01-16 00:42] jstr045329 commented on #928
I did that and still do not get the desired prompt. Is it possible the file belongs in a different directory?

[2019-01-16 13:49] rahulmutt commented on #922
This may or may not be responsible:

![screen shot 2019-01-16 at 7 10 23 pm](https://user-images.githubusercontent.com/8035100/51252758-9ecb8a80-19c2-11e9-8232-9f0cadc46a57.png)

The reason it starts so many threads is that `tasty` is written in a way that expects green threads but unless you explicitly use fibers, you're stuck with good old blocking threads in Eta.

Two options here:
1) Rewrite t

[2019-01-20 09:50] GordonBGood opened #929 "FFI example won't run, needs some tweaks..."
## Description
When trying the language by using the  ["Object Arrays" example](https://eta-lang.org/docs/user-guides/eta-user-guide/java-interop/arrays#object-arrays) it wouldn't compile due to some missing header declarations

## Expected Behavior
Expected it to immediately compile and run successfully.

## Actual Behavior
Failure to compile...

## Possible Fix
Add/correct the two lines at the b

[2019-01-20 09:58] GordonBGood opened #930 "Documentation needs a better example of the use of JArray's..."
## Description
It will be frustrating for new users to get examples using the Java array instances working without better examples showing how they could be used.

## Possible Fix
For example, the following code is an example of how to use a JByteArray folling the format of the [Object Array example](https://eta-lang.org/docs/user-guides/eta-user-guide/java-interop/arrays#object-arrays):

    impo

[2019-01-20 10:15] GordonBGood opened #931 "Trouble getting FFI working with a static Java method..."
## Description
I wanted to time some functions as a bench mark, and ran into some snags getting it going.  The problem arose because of errors in a couple of places:
1. [the Importing example under Modules in the Eta Cheatsheet](https://eta-lang.org/docs/cheatsheets/eta-cheatsheet) refers to the use of the Haskell package "Data.Time" which doesn't (yet) exist for Eta.
2. Trying to import the Java

[2019-01-20 10:43] GordonBGood opened #932 "Performance, a standard JArray benchmark runs very slow relative to Java/Kotlin, etc..."
## Description
One of the standard things I do when discovering a new language is to try an optimized bit-packed Sieve of Eratosthenes benchmark using only the CPU L1 cache to test for fastest loop speed.  I expect any language running on the JVM to perform about as fast as Java/Kotlin/Scala, etc.  Eta did not, running several times slower than these, and at speeds more comparable to Frege, the ot

[2019-01-21 00:31] rahulmutt commented on #930
As mentioned in #929, once we implement the new interface for Arrays, we'll be sure to update the documentation with better examples and a overall idea of how to go about programming arrays. Thanks for bringing this up.

[2019-01-21 00:34] rahulmutt commented on #931
@GordonBGood The error was specifying `() -> IO Int64` instead of `IO Int64` - perhaps we need to put an example of binding to a Java method that doesn't take arguments. Happy to accept a PR for this as well (adding this particular example to the docs).

Btw, `Data.Time` *does* exist if you specify a dependency for the `time` package in your .cabal file. Perhaps the cheatsheet should make that mor

[2019-01-21 00:40] rahulmutt commented on #932
There was a recent improvement on master that cuts out a lot of space leaks that potentially could one of the factors for the slowness. I'll cut a release today for v0.8.6b4 that includes the change.

Would you be willing to contribute this code as a benchmark in https://github.com/typelead/eta-benchmarks ?

Also how did you run the benchmark? `eta-benchmarks` runs using JMH so that warmup time is

[2019-01-21 00:44] rahulmutt commented on #932
Btw can you make your cross-language benchmark public? All the languages you're testing (including Eta) have a Gradle plugin so you can make a multi-module Gradle project and run a comparative benchmark using JMH. I can help you with the Eta part of the setup if you setup the repo.

[2019-01-21 02:12] rahulmutt commented on #931
The cheatsheets are not synced (yet) with this repo. I'll look into it.

[2019-01-21 06:16] rahulmutt opened #933 "Purity to mutability rewriting"
For low-latency applications, you cannot afford to lose time/work to the GC and destructive (mutable) updates are a must. Using basic liveness analysis (which is already done to a great extent by the occurrence analyzer), we should be able to figure out if a reference to an Eta value is not shared/saved in a thunk and in such case do the mutable update. Strictness analysis typically takes care of

[2019-01-21 09:20] GordonBGood commented on #932
@rahulmutt, yes, in spite of accounting for JIT warm up time by running the benchmark before timing it (the above program runs it for 100 loops before timing it for 1000 loops for attempted timing accuracy), there were inconsistencies in timing results indicating some kind of leak; I'll look forward to trying it with your new version.  However, it shows the problem of using average times as a comp

[2019-01-22 01:20] GordonBGood opened #934 "Eta version 0.8.6b4 change in behavior for un-evaluated thunks..."
## Description
For the primes benchmark that successfully was changed to be very performant in #932, it compiles but crashes with a StackOverflow in the recursive call to the worker function of "countem" at line 49.  The behavior on StackOverflow is quite strange as well, as it seems there are as many stacked exceptions rather than one and program exit, so many screens full of exception errors are

[2019-01-22 03:42] GordonBGood commented on #929
I have made a PR #935 with the corrected example, and also added the expected output below the example.

[2019-01-22 03:42] #929 closed

[2019-01-22 03:43] GordonBGood commented on #930
I have made a PR #935 with an added example of the use of Java Array's (JByteArray in this case), and also added the expected output below the example.

[2019-01-22 03:43] #930 closed

[2019-01-22 04:18] GordonBGood commented on #931
As per @rahulmutt's advice above, I added the corrected working example from this issue as PR #936.

[2019-01-22 04:18] #931 closed

[2019-01-22 04:37] rahulmutt opened #937 "Sync cheatsheets with this repo"
Currently, cheatsheets are in a private repo. We should arrange it so that we can sync from this repo directly and allow contributions.

[2019-01-22 05:01] rahulmutt commented on #934
Since Eta is a JVM language, you can just use standard JVM profiling tools. You can go to your command line and type `jvisualvm` to load up VisualVM which gives you nice diagnostics on memory usage and you can do sampling as well to figure out which objects are being allocated the most.

If the program runs too fast to connect to it, then use [hprof](https://docs.oracle.com/javase/8/docs/technotes

[2019-01-22 05:03] rahulmutt commented on #934
See https://github.com/typelead/eta/issues/825 for a detailed analysis of evaluating a thunk chain.

[2019-01-22 10:32] GordonBGood commented on #934
@rahulmutt, yes, I realize what the problem is, and I should have forced evaluation from the start.  However, it was lucky I didn't in that we can now consider why the change between version 0.8.6b3 and 0.8.6b4 caused the more expected behavior of causing the long chain of thunks when it didn't before.

I agree that, even with Haskell, these types of "leaks" due to chains of un-evaluated thunks is

[2019-01-22 12:57] jneira commented on #920
Ok, i've reproduced the error in windows (it was easier in fact :thinking: ):
* I've added `pandoc == 2.5` in the `build-depends` section of `.cabal` file
* I've run `etlas install pandoc` and voilà!

Removing pandoc from dependencies makes the command works again.
So it seems `etlas` thinks that if it is a package dependency it has to build as it was local, but it cant find it. The method to star

[2019-01-22 13:33] jneira commented on #920
`cabal new-install pandoc` since `2.2.0.0` works as intended inside a project with pandoc as dependency

[2019-01-22 13:41] jneira commented on #838
I think we could close this one, feel free to reopen if there is some pending question

[2019-01-22 13:41] #838 closed

[2019-01-22 14:01] jneira commented on #724
Using the new `etlas.dhall` file we could add env vars:
`let mvn = ( env:HOME as Text ) ++ ".m2" in { ..., maven-repos: mvn, ... }`

[2019-01-22 14:03] jneira commented on #704
We already have released the eta lib to expose a java friendly api!
https://github.com/eta-lang/dhall-eta

[2019-01-22 15:19] rahulmutt commented on #719
Agreed - that seems more relevant. Closing.

Related: https://github.com/typelead/etlas/issues/18

[2019-01-22 15:19] #719 closed

[2019-01-22 15:21] rahulmutt commented on #724
Agreed, that's much cleaner. Closing.

[2019-01-22 15:21] #724 closed

[2019-01-22 15:50] ocharles commented on #704
Super stuff @jneira! Is this issue ready to be closed?

[2019-01-22 17:10] jneira commented on #704
Well, only left a more complete etlas integration but we could close this one, if nobody disagrees

[2019-01-22 20:36] jneira commented on #637
Let's close this one, feel free to reopen if the bug persists with last version of etlas/eta

[2019-01-22 20:36] #637 closed

[2019-01-22 20:45] jneira commented on #608
Last version of etlas with the new build system is not affected by that.

[2019-01-22 20:45] #608 closed

[2019-01-22 20:58] #704 closed

[2019-01-22 21:51] jneira commented on #553
Hi @igrep, i've just tested with last versions of eta and etlas and it works for me:
[code]
Feel free to reopen if you continue experiencing it.

[2019-01-22 21:51] #553 closed

[2019-01-22 21:54] jneira commented on #503
I think we can close this one

[2019-01-22 21:54] #503 closed

[2019-01-22 22:00] jneira commented on #436
Added with https://github.com/typelead/eta-hackage/pull/121

[2019-01-22 22:00] #436 closed

[2019-01-22 22:12] jneira commented on #311
Maybe this one could be closed @rahulmutt ?

[2019-01-22 22:21] jneira commented on #279
Maybe it is less needed having stackatraces

[2019-01-22 22:21] #279 closed

[2019-01-22 22:34] jneira commented on #4
I think the main direction had been towards patching hackage packages. Not sure if this continue being needed (due to other use cases). I think we can close it for know and (re)open in that case.

[2019-01-22 22:34] #4 closed

[2019-01-23 06:24] rahulmutt opened #939 "Document laziness & runtime system thoroughly"
Laziness is a particularly tricky topic, but once you get a handle on it, it's just as easy to fix laziness bugs as it is to fix memory leak issues that you may stumble across in GC'd languages. We should add a dedicated section to the user guide on laziness as well as the runtime system, how to analyze STG code for performance, and how to deal with SOEs.

[2019-01-23 06:26] rahulmutt opened #940 "Design a immutable/mutable interface for Java Arrays"
Java arrays are currently mutable by default but it makes them awkward to work with. As suggested by @GordonBGood, it makes sense to adopt an interface similar to the `array` package: http://hackage.haskell.org/package/array-0.5.3.0/docs/Data-Array-MArray.html

[2019-01-23 06:51] rahulmutt commented on #934
@GordonBGood I apologize - the FAQ is horribly outdated, I'll update it today. `Strict` and `StrictData` available right now and they have been for a while. I agree that laziness is something we'll have to document a lot more thoroughly and make sure new users have a good mental model of understanding how the thunks will build up. (#939)

Thank you for bringing up the idea of providing a immutable

[2019-01-23 07:00] GordonBGood commented on #940
@rahulmutt, yes, I'm glad you see this as the way forward.

Would you like to work on this yourself or would you like to "farm it out"?

If you would like someone else to work on it, where do you see the changes being made?  One way would be to make further patches to the `array` packages we get from hackage to just redirect all the primitive calls to the equivalent Java calls just as are currentl

[2019-01-23 07:13] rahulmutt commented on #940
I have my hands full with direct interop, so I personally won't be able to work on this anytime soon and I would be happy to assist you in implementing this.

I think patching the `array` package is the way to go. If anything, the `ST` monad should be a tad faster - it takes and returns a void value which compiles down to nothing and the `Java` monad shuffles around a target object value which we

[2019-01-23 07:37] GordonBGood commented on #934
@rahulmutt, thanks for the update on the extra `Strict` extensions; I'll watch for your changes to the FAQ.

As to use of `Ptr`, I understood that standard GHC doesn't use "pinned" storage for normal array's, but you perhaps did use it for your emulation and, if so, that certainly would explain the slow-down; these sorts of facilities are provided in VM's for use in marshalling to other languages,

[2019-01-23 08:22] GordonBGood commented on #940
@rahulmutt, okay, we are agreed on what looks to be the best way forward and I would like to contribute if I can.

I'll take your word for it that `Java.Array` still has its uses (other than for backward compatibility).  As to conversion functions, direct conversion might be somewhat difficult as it is hard to produce types out from under the `Java` monad without either some "under-the-covers" mag

[2019-01-23 08:32] GordonBGood commented on #932
As discussed in issue #934, and to be used in developing the better way as proposed in issue #940, this is a benchmark that uses a conventional Haskell IArray/MArray to do the same as the other examples, and which runs over 10 times slower than the others for possible reasons as given by @rahulmutt in issue #934:

[code]

[2019-01-23 10:39] rahulmutt commented on #940
If you do make the change to use Java arrays inside of `array`, direct conversions can be made pretty efficient by using `unsafeCoerce` correctly because the underlying representation will be the same regardless of whether it's immutable or mutable. I can take care of that part.

Instructions on how to submit a patch are here:

https://github.com/typelead/eta-hackage#patching-a-library

[2019-01-23 11:04] GordonBGood commented on #940
In order to get started on this, I will need a little help from you, I'm afraid.

Although I've done quite a few changes and PR's on Github by forking the repos, cloning them locally, creating a branch, committing the changes desired to that new branch, pushing the commits to my forked repo, then doing a PR based on this, it seems that this Patch process for GHC may be different.

If I understand

[2019-01-23 12:43] rahulmutt commented on #940
Here are the steps:

[code]
will get the latest version of array supported by Eta and Etlas will initialize & commit a Git repository at the state at which it was downloaded from Hackage and will apply any existing patch and stage the changes for you automatically (just do `cd array-0.5.2.0 && git status` to observe it).

Now all you have to do is work on your changes, and once you're satisfied, j

[2019-01-23 12:47] rahulmutt commented on #940
Any time you make changes to your local `array` and run `etlas build` in your test project, it will automatically recompile the changes and use the up-to-date version.

Also, we did consider using `byte[]` directly when implementing primitives in `GHC.Prim` and it didn't work out since it requires the way the primitive APIs are designed does not allow us to. In the very early days we used `ByteBuf

[2019-01-23 13:19] GordonBGood commented on #940
@rahulmutt, thank's for the steps; with the help of that and the instructions in the Readme file I am on my way.

Your etlas build system is actually quite amazing for a project in its early stages, and Eta's ability to both interface with Java libraries and almost directly use Haskell ones is a very large wealth of resources and I can very much see why you chose to go the Haskell route.  This is

[2019-01-23 23:22] GordonBGood commented on #940
@rahulmutt, I'm into it, and see what you've done, but need a brief discussion, although I don't want to waste your time.

I perused the current state of the code and made a preliminary plan, then slept on it as that produces the best results.

That produced the following results:  we can wrap conventional Array's inside IArray's and MArray's with one major likely deal-breaking limit - one can't d

[2019-01-24 04:33] rahulmutt commented on #940
The plan seems good. I agree that implementing them directly vs using the primitives is the way to go for performance.

To clarify, I said that using `ByteBuffer` as a *direct* representation of `Addr#` (the primitive underlying `Ptr a`) caused problems because to preserve referential transparency in all the `Addr#`, we had to duplicate the `ByteBuffer` which amounts to an allocation *on every* po

[2019-01-24 05:05] rahulmutt opened #941 "Support Module System in Java 9+"
Java 9+ introduced the module system by specifying.

Implementing this requires:
- Adding support for `Module` and `Package` constants in `codec-jvm`
- Adding support for `Module` attribute in `codec-jvm`
- Generating `module-info.class` inside of the compiler and packaging it in the final `jar` file.
- Generating `jmod` files instead of `jar` files if the target is >= 9 for every Eta module.

[2019-01-24 17:05] politrons commented on #571
Hola.

Acabo de firmar la petición "Joaquim Torra i Pla, @quimtorraipla salve a
las VTC en Catalunya #EnElFuturoCabemosTodos" y pensé que te podría
interesar.

Estamos intentando conseguir 150.000 firmas y necesitamos todo el apoyo que
podamos conseguir. Puedes leer más y firmar la petición aquí:

http://chng.it/V5BmJL2rGm

¡Gracias!
Pablo

[2019-01-25 02:05] rahulmutt commented on #940
Thanks for the progress update. At the end, we'll let the benchmarks decide which way to go.

In terms of efficient copying, [System.arraycopy](https://docs.oracle.com/javase/7/docs/api/java/lang/System.html#arraycopy(java.lang.Object,%20int,%20java.lang.Object,%20int,%20int)) is what you're looking for. Unfortunately, `ByteBuffer` doesn't appear to have an equally efficient API.

[2019-01-25 04:48] rahulmutt commented on #940
You can try [sun.misc.Unsafe](https://dzone.com/articles/understanding-sunmiscunsafe) which is probably the closest equivalent to `Marshal`. The Eta runtime already includes [a utility](https://github.com/typelead/eta/blob/master/rts/src/main/java/eta/runtime/util/UnsafeUtil.java) to fetch an `Unsafe` instance which you can probably re-use. It unfortunately does not have clear documentation becaus

[2019-01-25 06:32] GordonBGood commented on #940
@rahulmutt, If we were to use the `sun.misc.Unsafe` class for fast byte copies, isn't there some risk that it might not be available on some platforms such as OpenJDK or especially more specialized ones such as Dalvik or whatever Google eventually uses to replace it?  Also, there is some risk that it will change across the platforms as it isn't part of the specification.   It appears to be difficu

[2019-01-25 06:37] GordonBGood commented on #940
@rahulmutt, as to primitives, the very best way would to make the "standard" Haskell/Eta primitives just do what we are doing built on top of them or in by-passing them; in this way, the compiler would be only emitting Java byte codes for the whole works and it should definitely work faster.  It also has the advantage that more Hackage packages won't need to be patched at all but will work "straig

[2019-01-25 09:23] nomeata commented on #517
I am also curious about some hard evidence of how important the selector thunk optimization is.

So, are the `dhall` improvements due to selector thunks, or is this “thunk clearing” you refer to something else?

[2019-01-25 10:31] rahulmutt commented on #941
The trickiest problem to resolve here is that the module system does not support cyclic dependencies while Eta supports source imports so we need to find a way to encode that somehow.

[2019-01-25 14:38] GordonBGood commented on #940
@rahulmutt, I am wondering if you can help me:

I've emulated primitives and implemented arrays using standard Java Object arrays and have used your `jobjectArrayNew#`, `jobjectArraySet#`, `jobjectArrayAt#`, and `alength#` primitives to do it, thinking that they access the low level byte codes and should be faster.  Everything type checks and compiles except for one thing:  when object arrays are

[2019-01-25 22:13] GordonBGood commented on #940
@rahulmutt, I've done some more testing and believe I see that your "primitives" for boxed arrays just uses your `Java.Array` module so should be about the same speed as Java using object arrays, which (of course) is slower than using unboxed primitive arrays - I measure about 6.5 times slower.

So I'll just let normal arrays default to the normal behavior.  However, testing has revealed a problem

[2019-01-26 05:12] rahulmutt commented on #940
@GordonBGood If you can file a separate issue with a minimal reproduction example, I can look into the SOE. The `runRW#` is to prevent the compiler from lifting the computation out which caused weird bugs in the past (#171).

The FFI system is being overhauled right now as #647 is being implemented.

[2019-01-26 09:43] GordonBGood commented on #940
@rahulmutt, as to the strictness problem I had before, I can't repeat it in a small few line example and it only occurs when I use it as a benchmark where the counting is backed by the construction of a data structure than may optionally be lazy unless forced as when I mentioned it, so I have held off reporting an issue.  In fact, as per the reason I closed the issue before was that the behavior i

[2019-01-27 01:10] GordonBGood commented on #940
@rahulmutt, on the subject of your implementation of pinned `addr#` using a wrapped version of `ByteBuffer`, why do you need to emulate a pinned `ByteArray` or memory outside of the Java GC'ed heap?  The only reason for it that I can see is for JNI in interfacing with C-like languages, which is very slow and seemingly meant for "bulk" compatibility for large increments of work or data to cross bet

[2019-01-27 02:40] rahulmutt commented on #940
Honestly, I just wanted to preserve semantics in the beginning and then the goals changed to just doing what's right for Eta and deviating whenever it made sense. This may be one of those cases where it may be useful to deviate. We do want to add support for JNI at some point in the future, but not a huge priority right now.

Try and this experiment and see how this affects performance:

You can d

[2019-01-27 05:48] GordonBGood commented on #940
@rahulmutt, I know how projects like this go, and how you BDFL(s) are so buried into it that sometimes things get implemented just because they happen; it's what I bring to projects:  the ability to step back and look at the low level implications and envision ways to improve them - I'll likely never get to your level of expertise at the high level of type families, type classes, monadic code and

[2019-01-27 07:03] rahulmutt commented on #940
We re-use existing stuff from the Haskell community when it doesn't make sense to re-invent the wheel and we make tweaks to take into account the Java ecosystem aspect. Etlas is just a fork of Cabal which is why it's so smooth. Another contributing factor is that is incredibly easy to debug any weird bugs since the JVM provides great introspection mechanisms. GHC on the other hand has to do debugg

[2019-01-28 05:59] GordonBGood commented on #940
@rahulmutt, I had never used cabal much, just the ghc compiler, so didn't recognize it in Etlas.  I see in the Eta repo that you have been able to reuse the majority of the GHC code.  Yesterday and last night I went digging for where the performance losses come from and got lost in the i `Prim` primitives implementation of the STG code, kind of understand the process but not enough to see how it e

[2019-01-29 02:50] GordonBGood commented on #940
@rahulmutt, I've been following up on something you said something like "startup/warmup time for Eta is longer than for Java".  I expected it to be slower just as Scala is slower due to time to start the runtime library, which for Scala is quite extensive as I assumed that Eta would also be.  However, it is really, really slow.  Once this slow array thing is fixed, the slow startup time may be the

[2019-01-29 04:17] rahulmutt commented on #940
I'm not understanding why java complains about the folder structure.

Say you have:
`java/Utils.java`
[code]

You can put `java-sources: java/Utils.java` and in for importing you can do:

[code]

One way to reduce the startup time is to switch over to `invokedynamic`-based code generation to lazily generate classes for thunks and function closures, but `invokedynamic` has its own startup time issu

[2019-01-29 05:34] GordonBGood commented on #940
@rahulmutt, It may be just my editor Java plug-in (VSCode), but it flags a statement such as `package eta.array.test;` as an error unless the "Utils.java" file is inside a `java/eta/array/test/` folder structure.  I have tried both ignoring the error or building the requested folder structure so the error flag goes away with the same results (I change the cable 'java-sources:` to match whatever th

[2019-01-29 08:46] GordonBGood commented on #940
@rahulmutt, as to startup time, I think Scala suffers especially from this because of dependence on a particularly complex library so that startup time may be just as bad as I am experiencing with Eta, and which may be what the problem is here.  Kotlin is better because it doesn't have a very large library and depends mostly on Java.

Thanks for the info on the stripping option; not a worry, I was

[2019-01-30 12:19] GordonBGood commented on #940
@rahulmutt, I've gotten far enough with the Boxed Array's to show that they are about as fast as other JVM languages and thus about 5.5 times faster than they were before (although about six and a half times slower than Unboxed arrays, just as for Java).  However, they aren't production ready as I am fighting the type checker to make them easy to use.  As you know, unlike Java which isn't so stric

[2019-01-31 03:36] rahulmutt opened #942 "Automatic class splitting"
When you have really large source files (2K+ lines), there's a chance that the generated class will be so huge that the constant pool size will exceed the 65,535 size limit. The compiler should change its code generation to avoid such problem - perhaps by shifting static methods definitions to individual classes instead of putting all the implementations into the Module class.

[2019-01-31 05:34] GordonBGood commented on #940
@rahulmutt, you might wonder why I want to change the primitive ops for arrays so much:  The reason is that while we can "hook" the calls from `GHC.Arr' and minor calls from one or two other modules so that they call my new primitive op emulations which will work for a specific package such as "array", anything or other packages that calls GHC.Arr or primitive ops directly will still see the curre

[2019-01-31 07:13] GordonBGood opened #943 "Cannot import local Java classes using FFI when using JDK > 1.8..."
## Description
The program compiles, but when run using JDK > 1.8, it crashes with an error that it can't find the imported Java class where expected as follows:

[code]

## Steps to Reproduce
Compile and run the attached zipped project with "etlas run"; when run under JDK 11 it will compile but crash as described above; when run under JDK 1.8 it runs successfully to show the text outputs; did not

[2019-01-31 11:04] rahulmutt commented on #940
`eta.runtime.stg.Closure` is superclass of all lazily-evaluated values that are generated by Eta. The hierachy is arranged in such a way that `eta.runtime.stg.Thunk` is a subclass as well as `eta.runtime.stg.Value` is a subclass - meaning you can pass a direct value *OR* a thunk that returns a value for a `eta.runtime.stg.Closure`.

Can you create a repository for you work so that I can take a loo

[2019-01-31 13:31] GordonBGood commented on #940
@rahulmutt, Thanks for the hints on the relationships between `eta.runtime.stg.Closure`, `eta.runtime.stg.Thunk`, and `eta.runtime.stg.Value`; that's reassuring that it is easy to get a direct value rather than a thunk.  That investigation is to do with what the culmination of this project should be:  integration into the Eta primitive ops.

I assure you that the performance differences we will ge

[2019-02-01 03:59] GordonBGood commented on #940
@rahulmutt; Whoops, my bad as far as thinking that your normal `Array` primitives were slow; I think I got messed up with partial laziness again even though I ran the benchmark with the `Strict` extension!   It seems that even with that extension, one still has to add some strictness help for structures such as `Array` that were built to be used lazily (something like lazy lists, I suppose).

I re

[2019-02-01 12:53] #648 closed

[2019-02-01 13:11] rahulmutt commented on #942
I've tried the mentioned suggestion and it made very little difference for the particular example I was working on. It turns out that the more general solution to this problem is to distribute constants more deeply in the generated classes. What's happening is that all the classes are being initialized inside the module class itself when they can be instantiated in the required closures that are d

[2019-02-01 13:52] jneira commented on #942
Would it fix errors with too big methods?

[2019-02-01 15:06] rahulmutt commented on #942
Nope, which is why this is a separate issue. Overflowing the constant pool is a serious problem since the *entire* class file is considered invalid and will cause issues with tools like Proguard. Overflowing the bytecode limit is not as much of a problem - the bytecode size can be specified in a `Word32` so the classfile is "valid" but the method itself will fail verification when called.

[2019-02-02 04:34] jlowenz opened #944 "Broken REPL number parsing"
## Description

## Expected Behavior
I enter a real number, and see the same number repeated back to me

## Actual Behavior
I enter a real number, and some **other** number is repeated back to me

## Possible Fix
Have no idea. Could it be the Java version? If it is, how could it possibly go so wrong (haven't looked at the source, yet).

## Steps to Reproduce
See the copy/paste from my terminal bel

[2019-02-02 04:56] GordonBGood commented on #940
@rahulmutt, as I've already said, I'm no Java expert.  However, proper analysis of this slow use of the buried `ByteBuffer`'s used in emulating Haskell/Eta `ByteArray#` and `MutableByteArray#` made me curious about the actual Java use of this class.  So last night I thoroughly investigated it...

This was triggered by a strange anomaly:  since I regressed to use of JDK-1.8 after the problem in com

[2019-02-02 05:05] rahulmutt commented on #944
This bug has been fixed in the latest Eta v0.8.6b4. Please update:

[code]

[2019-02-02 05:18] jlowenz commented on #944
Ok.... that sounds good, but there is no obvious way to do that from the gradle installation. The docs say it installs etlas - but I could not find it (immediately). Searching my home directory (not the git working dir) has it in the ```~/.gradle/caches/etlas/1.5.0.0``` directory, which is not completely obvious (maybe b/c I'm not familiar with gradle). Either way, some additional docs on this mig

[2019-02-02 06:17] rahulmutt commented on #944
@jlowenz You specify in the `build.gradle` file which Eta version you want to use.

[code]

Where did you get your template project from? Perhaps it needs to be updated.

[2019-02-02 07:14] rahulmutt commented on #940
That `Functor` instance is not compiling because you're trying to define a `Functor` only for certain values of `a` and `b` (specifically those that have membership in the `JObjectArray` typeclass) which is counter to the expectation of `Functor` - that the transformation apply for *all* values of `a` and `b`. Is there any particular reason you're trying to define a `Functor` instance?

Yes, the `

[2019-02-02 07:45] GordonBGood commented on #940
@rahulmutt, As to that `Functor` instance, I'm only having to deal with it because it is in the `GHC.Arr` code that I am having to bypass in order to support my (hopefully temporty) emulated primitives, and I understand what it does in making array transformations possible as a `Functor`.  My question is related to is there a way that I can define the `JObjectArray` type class so it is seen as ful

[2019-02-02 09:10] GordonBGood commented on #940
@rahulmutt, I hope to enjoy working together on solving this; I'm very much enjoying getting back into Haskell/Eta at a more intense level.

Yes, I see the `CachedBlock` class and its use, but that still leaves an extra method call or two to check if the block is already in the cache.

I'm now pretty familiar with the `array` package and I don't think it uses pointers at all, but haven't looked at

[2019-02-02 11:19] GordonBGood commented on #940
@rahulmutt, Following is the test benchmark code that proves definitely that Eta Boxed Arrays have adequate speed and are comparable in speed as using FFI with Java `Object[]` arrays, but that Eta Unboxed Arrays are currently even slower than Boxed arrays, but that using direct memory allocated `ByteBuffer` backed arrays are almost as fast as using Java primitive arrays through FFI; all timings ar

[2019-02-02 19:36] GordonBGood commented on #940
@rahulmutt, I'm in process of building Eta from source using stack as per the included scripts.

Can one build it from source not using stack if one already has a working GHC on their machine?  If so, does GHC have to be a specific version?

Are the standard Etlas and Eta compiling using the standard GHC native codegen back end?  If so, have you ever tried specifying LLVM as the back end, as in my

[2019-02-03 06:11] rahulmutt commented on #940
You could try adding `-fllvm` to `ghc-options` in the `eta.cabal` file and see what happens. AFAIK the LLVM backend as of GHC 7.10.3 is OK most of the time and sometimes not. We'd have to do benchmark to see if it's actually better for most workloads.

I don't think you should be concerned about method calls that much - the JIT inlines them pretty well. What we should be concerned about is whether

[2019-02-03 06:54] #943 closed

[2019-02-03 07:00] rahulmutt commented on #940
I don't think you should be concerned about method calls that much - the JIT inlines them pretty well. What we should be concerned about is whether the JIT is actually inlining & compiling properly and checking the generated assembly to see if it's being compiled well. It's contradictory but sometimes you need to create more sub-methods in order for the JIT to do it's work better because if the me

[2019-02-03 07:35] rahulmutt commented on #940
Adding primitives is hands-down a lot easier to learn. JVM bytecode is a lot simpler to understand than assembly, it's typed and stack-based so easier to read. You just need to learn a bit of the JVM bytecode and the APIs of `codec-jvm` to change the implementation of the primitives - you can find several examples just by doing through `Eta.CodeGen.*`. All the primitives are implemented in `Eta.Co

[2019-02-03 07:58] GordonBGood commented on #940
@rahulmutt, I'd already figured out where in the code base I needed to learn, and had already opened and read some of the two files you specify (and more); I haven't yet looked at the `codec-jvm` package but I realized that's where I need to go next from the last few night's investigations and from watching the order of Eta compilation from source and realizing what the dependencies must be.  So I

[2019-02-03 14:10] jlowenz commented on #944
Hi, I did a ```git clone``` of the ```eta-init``` repository as suggested in the installation instructions. It still has 0.8.6b2 specified in the ```build.gradle```.

[2019-02-03 14:11] #944 closed

[2019-02-03 14:19] rahulmutt commented on #944
Thanks for letting us know - I've bumped up the version in the template project.

[2019-02-04 04:07] #920 closed

[2019-02-04 05:11] GordonBGood commented on #940
@rahulmutt, I believe I am making some breakthroughs in seeing where the current implementation emulating "C-like" pointer access is causing the slow down:

Marshalling in this way between VM's and languages like Haskell whose underlying primitives were designed with "C-like" pointer capabilities is almost always slow, just as marshalling between DotNet languages and "C-like" languages and JNI; th

[2019-02-04 06:16] rahulmutt commented on #940
I just ran `spotless` on the runtime source to remove unused imports - do a `git pull` to get my changes.

[2019-02-04 06:39] GordonBGood commented on #940
@rahulmutt, will doing a `git pull` affect the changes I have made to the code, or will I have to re-apply them?

I forgot to mention on my last post that one of the things that get affected by the way I am currently proceeding is that attempted pointer (`Addr#`) access to a `ByteArray#`/`MutableByteArray#` that is not pinned will now fail in whatever way the current code fails for nil pointers, w

[2019-02-04 13:05] GordonBGood commented on #940
@rahulmutt, it seems that you've change the Haskell definition of the number of bytes in a standard `Word`/`Int`, which is four bytes on a 32-bit platform and eight bytes on a 64-bit platform to always four bytes on any platform for Eta.

Is there a reason for this as is it to match the standard `int` size of Java?  It would then seem to infer that pointers as in `Addr#` are then also only four by

[2019-02-04 14:14] rahulmutt commented on #940
I don't see a particular need to make `ByteArray` a subclass of `Value` - I think the intent was that all evaluated types be a subclass of `Value` but as far as I can see it's not strictly required. Try removing it and run the test suite - `stack exec eta-test-suite` and see if you get any failures.

The fact that `Int#`'s size was chosen as `int` is rather arbitrary but the main reasoning is that

[2019-02-04 14:53] GordonBGood commented on #940
@rahulmutt, okay, I'm not that worried about int and word sizes as long as I know, other than it may throw a spin into libraries use of Eta if they assume the Haskell standard.  At least pointers are `long`, which is good (although are they still long on a 32-bit machine, and if so that doesn't seem either meaningful nor making for good performance in have to do the two piece pointer calculations)

[2019-02-04 15:01] rahulmutt commented on #940
Can you file an issue regarding no longer recognizing Windows-1252 encoding? There were some changes involving making the `ByteBuffer` API calls forward-compatible and perhaps that was an error.

[2019-02-04 18:23] #653 closed

[2019-02-04 18:47] GordonBGood commented on #940
@rahulmutt, I'll file an issue once I confirm that a `cleaninstall` doesn't fix it.

While that's going on, I'm thinking of the very limited changes I've made to `rts` and if they might be the problem:  One of the things I implemented to gain a little speed was to make the `ByteBuffer`'s have `nativeOrder1 `ByteOrder` endedness, which for x86_64 will be opposite of the former default.  Does any of

[2019-02-05 04:37] GordonBGood opened #945 "Internal "native" `ByteBuffer`'s use `BIG_ENDIAN` `ByteOrder`; should use `nativeOrder` for speed..."
## Description
It seems that Java's default is to consider everything to be stored as `BIG_ENDIAN` internally (most significant bytes at lower memory addresses); however, the actual machine interface works faster as far as the JIT'ed machine codes when emulated native buffers (`ByteBuffer`) are `nativeOrder` as then a single machine instruction can be used to read/write (or even read/modify/write)

[2019-02-05 09:23] rahulmutt commented on #945
@jneira This looks like it's related to your work on `HSIConv.java` - can you take a look at where endianess is assumed and adjust accordingly.

@GordonBGood I think beyond the `base` library, several other libraries will have to be changed to ensure that endianness is preserved. Perhaps even the use of big endianness is assumed in some places in the MemoryManager as well. A thorough code review n

[2019-02-05 09:36] GordonBGood commented on #945
@rahulmutt, I think you'll find that "MemoryManager.java" is one of the files that I enclosed a changed version, and yes, it does need some small changes.

I've done a search through the repo and see that "HSIConv.java" is the main point of contact between Eta MemoryManager and the decoding of chars; from there, the work is done by the Java encoder/decoder classes and whatever they assume.  But I

[2019-02-05 10:27] rahulmutt opened #946 "[etlas] Dhall package format"
This issue is to discuss the refinements to the `etlas.dhall` format to make it more concise and readable than it already is as we get closer to releasing Etlas v1.6.0.0 which will make `etlas.dhall` the default format.

Cc: @jneira - Maintainer of the Dhall integration in Etlas

As a starting point to this discussion, I'll suggest some things that I think might make it cleaner using [this sample

[2019-02-05 11:19] jneira commented on #946
Good points! I will comment one by one:

Agree, they can be automatically added and set in scope for all config files. Moreover, if user want to shadow them with its own versions it will be able to do it cause `let x=1 let x = 2 in x == 2`

:+1:

* About dependencies i was thinking in create some default to let users set somethink like:

[code]

It would generate:

[code]

And for libs or executab

[2019-02-06 00:06] GordonBGood commented on #945
@rahulmutt, @jneira (if you are going to work on this), I think the problem may be mostly in "MemoryManager.java" as in the character manipulations it does to put characters into buffers I think may assume `BIG_ENDIAN` so needs many more changes than just the setting for the `ByteBuffer`'s I have proposed in the file in the zip attached to the OP.

[2019-02-06 06:41] jneira commented on #946
A caveat about add implicit definitions is you cant use dhall executables to proccess the file.
Otoh, if user want to add an explicit prelude/types the implicit ones would be loaded too (so it would add some overhead and cant be used, cause dhall is strict).
So not sure if it is worth save the two lines imports...
Maybe we can try to simplify as much as possible using only imports and functions an

[2019-02-06 12:17] GordonBGood commented on #940
@rahulmutt, I'm just getting ready to post the PoC but it depends on some modifications I've been making in the `rts` so I'll move those out to their own Java file in the PoC project so anyone can run it and test it locally on standard Eta versions.

However, the results are good and not trivial:  about a 7.5 times speedup!  It's still about 40% slower than using primitive Java arrays, but I sacri

[2019-02-07 10:23] GordonBGood commented on #940
@rahulmutt, the [PoC repo is here]{https://github.com/GordonBGood/eta-prims-benchmarks}.

It is somewhat faster than expected in some ways up up to over nine times faster when one codes away from the weaknesses of `ByteBuffer` and caters to its strengths, but still a little slower that direct Java array access; however, to get that speed we would have to sacrifice Haskell compatibility which I don

[2019-02-07 10:45] jneira commented on #940
@GordonBGood maybe a tipo but the link https://github.com/GordonBGood/eta-prims-benchmarks is broken

[2019-02-07 11:38] GordonBGood commented on #940
@jneira, missed unticking the "make repo private" box; hopefully corrected now.

[2019-02-08 06:58] GordonBGood commented on #939
@rahulmutt, you might start with a simple example of a program that causes problems due to laziness, explain why it occurs, and then explain alternate ways to fix it.  You are free to use the following in your documentation if you find it useful:

### A simple example that will cause Stack Overflow Error's (SOE's) due to laziness is as follows:

[code]

The above code will crash if the stack is to

[2019-02-08 09:19] jneira commented on #289
Maybe we could name this one `java-provided` or `java-sources-provided` to be consistent with the behaviour of `maven-provided` (see #290)?

[2019-02-08 13:04] rahulmutt commented on #939
Nice explanation. We'll add it at some point - or you're free to create a new section yourself and start it off and submit a PR.

See the format of the other sections here:
https://github.com/typelead/eta/tree/master/docs/0-user-guides/0-eta-user-guide

[2019-02-10 08:38] GordonBGood commented on #940
@rahulmutt, @jneira, pushed a change to the PoC implementing enough of the primitive ops emulations so that the native bit-packed unboxed Bool arrays could be tested and benchmarked.

I don't know why timings are sometimes over two times slower for the exact same program but I'm guessing it has to do with Java garbage collection...

[2019-02-12 00:38] GordonBGood commented on #939
@rahulmutt, I'll change the format to your documentation standard template and submit it as a PR "after a while" when I finish my other PR(s).

[2019-02-13 13:01] jneira commented on #946
Hi, i've changed the defaults in `dhall-to-etlas` to match the most common options for `eta` projects.
The following options are by default:

* `default-language`: `Haskell2010`
* `default-extensions`:
[code]
* `ghc-options`: `-Wall -fwarn-incomplete-uni-patterns -fwarn-incomplete-record-updates`
* New function `GitHubTag-project` that creates the repo info suggested in `etlas index` (`mapSourceRe

[2019-02-17 00:43] jneira commented on #946
* I've created dhall files representing etlas index local and patched packages and eta boot packages:
  * https://github.com/jneira/etlas-index/blob/dhall-deps/dhall/index.dhall
  * https://github.com/jneira/etlas-index/blob/dhall-deps/dhall/boot-packages.dhall

* We should make a tool to convert server index files (tar or git indexed)/cabal config files in a list of dependencies in dhall format:

[2019-02-18 09:32] drever opened #948 "Missing class path under MacOS for Java FFI"
## Description

I'm trying to get the FFI to Java running on MacOS 10.14.3, using the documentation [here](
https://eta-lang.org/docs/user-guides/eta-user-guide/java-interop/java-dependencies#adding-java-files). The class `eta.first.Utils` is not found.

## Expected Behavior

The java function should be called from eta.

## Actual Behavior

## Possible Fix
The bash file `dist/build/eta-0.8.6.4/tes

[2019-02-18 10:17] jneira commented on #948
Hi, could you share your `.cabal` config? the content should be something like:
[code]
For the path of the bash file it seems you named your executable `test` and if all would be correct the class should be already inside `dist/build/eta-0.8.6.4/test-0.1.0.0/x/test/build/test/test.jar`

[2019-02-18 11:30] drever commented on #948
Sure, the cabal file:

[code]
And the tree:

[code]

The executable is named test and there is a file `dist/build/eta-0.8.6.4/test-0.1.0.0/x/test/build/test/test.jar`. The problem seems to be that the startup script does not set the class path correctly. When I paste it manually it works as expected.

Thanks for helping!
Johannes

[2019-02-18 11:59] jneira commented on #948
The cabal file and the tree seems to be correct.

In theory the script should not add the class file to classpath, it should be inside `dist/build/eta-0.8.6.4/test-0.1.0.0/x/test/build/test/test.jar`.
Could you inspect the content of `dist/build/eta-0.8.6.4/test-0.1.0.0/x/test/build/test/test.jar`to check it?

In my windows env i've tested it succesfully and my jar contents are:
[code]

An importa

[2019-02-18 12:33] drever commented on #948
The class file is not in `test.jar`:

[code]

My `Utils.java` is more or less the same. When I introduce a syntax error I get a compile error, so I'm pretty sure that it is compiled correctly. The test file is created when the class is put on the class path manually.

[2019-02-18 20:02] jneira commented on #948
Mmm, i wonder if it could be a mac (and linux?) specific issue, maybe @rahulmutt could help us to reproduce it

[2019-02-19 02:09] lautaroem1 commented on #734
I'm having sort of the same problem. I also get "[0m[0m" at the beginning of prompt in the REPL. Currently using **Powershell 5.1 on Windows 10 (v. 1803) with Fira Code** font.

![bug](https://user-images.githubusercontent.com/31224949/52985316-1cbfee80-33d2-11e9-9232-240c3aa9dbca.png)

For the moment I'm using the `-fdiagnostics-color=never` but I would like to still have colors in my terminal (I

[2019-02-19 05:28] jneira commented on #946
I think we could change `dhall-to-etlas` to use that notation in addition to existing ones, cause versions already are opaque Strings and it will continue being valid dhall

[2019-02-21 11:24] rahulmutt commented on #948
@drever Perhaps you're using a version of Java > 9? There was a bug fix recently and there should be a release pretty soon that includes the fix.

[2019-02-24 11:03] rahulmutt commented on #946
The improvement with dependencies is very nice.

1. Make the project bit a bit more concise.
[code]
    to
[code]
    where `defaultProject` is a function that takes a record and does the equivalent behavior. Maybe a built-in?

2. Make components a tad more concise.

[code]
    to
[code]
    where `defaultExecutable` is again a built-in. And a similar change for library and test components as well

[2019-02-24 11:04] rahulmutt commented on #948
@drever Eta v0.8.6b5 is out - can you try it again and let me know if you still face the same issue?

[2019-02-24 21:32] jneira commented on #946
Yeah, i was thinking in make shorter that ones too, but you cant pass arbitrary records to a function, so you have to choose the set of fields to be filled... we can choose only the required ones or something, i'll take a look

I am currently adding the ivy notation to `dhall-to-etlas`

[2019-02-27 11:52] jneira commented on #946
Ivy notation already added so the dependencies would be
[code]

I've moved `dependencies.dhall` to `etlas-index`, so it would be auto downloaded with `etlas update`. The next step would be change `etlas` to replace any remote import referring any repo from `~/etlas/config` with local paths inside  `~/etlas` (emitting warnings)

[2019-03-02 10:29] rahulmutt commented on #946
Sounds good. Will you be submitting a PR to `etlas-index` with `dependencies.dhall`?

[2019-03-03 23:39] jneira commented on #946
@rahulmutt submitted https://github.com/typelead/etlas-index/pull/22!

Otoh i've made some progress in simplify the project and components: i've chosen the basic fields for build etlas project as a subset of actual cabal `BuildInfo`:
[code]
It focuses int the fields more used by etlas projects but if you want to use another one you will have to switch to complete `BuildInfo`

With this, the `etlas

[2019-03-04 04:59] rahulmutt commented on #946
@jneira This looks beautiful now, thanks! Can you commit these changes into etlas? And also somehow lock-in `prelude` and `types` for a particular version of Etlas.

[2019-03-04 06:39] jneira commented on #946
@rahulmutt by default it would use the last version of `dhall-to-etlas` (`1.4.0.0`) instead master.
I would like to fix the existent tests and make some new ones before doing a pr.

[2019-03-11 09:49] jneira commented on #946
@rahulmutt also, do you think that will be interesting to let users use directly `dhall-to-etla`and `etlas-to-dhall`? We could:
* Upload executables in the project and point out in docs
* Download auto executables in the `etlas update` execution

[2019-03-11 12:32] rahulmutt commented on #946
@jneira Perhaps we can add some `etlas` commands instead that can perform the conversion taking an input file/output file?

[2019-03-11 20:25] jneira commented on #946
oh, yeah, using `etlas project`, no need to download it. Maybe i will upload the executables, just in case.

[2019-03-12 09:56] jneira commented on #812
Maybe related with #805. Anyway they could be resolved in one shot

[2019-03-12 11:11] rahulmutt commented on #812
#805 is slightly different since that involves figuring out how to maintain a folder containing compiled class files and reloading them when there are changes to source .java files.

[2019-03-21 18:46] theGhostJW opened #950 "Documentation function compostition typo"
https://eta-lang.org/docs/user-guides/eta-user-guide/functions/composition

**Note that you should read composition pipelines from left-to-right.**

should this not be right-to-left ?

[2019-03-22 05:22] rahulmutt commented on #950
@theGhostJW Yes, thanks for the catch. Would you like to submit a PR?

The source file is here:
https://github.com/typelead/eta/blob/master/docs/0-user-guides/0-eta-user-guide/4-functions/2-composition.md

[2019-03-23 00:23] theGhostJW commented on #950
done

[2019-03-23 01:41] #812 closed

[2019-03-23 01:42] #950 closed

[2019-03-23 07:28] tirumalesh123 opened #952 "Not able to install eta on ubuntu"
Hi,
I'm trying eta for  first time i followed the instruction from https://eta-lang.org/docs/user-guides/eta-user-guide/basics/quick-start,cloned the project in intellij and when i try to etlas exec eta -- Main.hs it is throwing /.local/bin/etlas: cannot execute binary file: Exec format error.

[2019-03-23 09:30] #952 closed

[2019-03-24 03:19] MonadGuy opened #953 "Improving java run time with graalVM"
Hi,
I'm new to eta lang, i know that it runs haskell code on jvm which is good for people who wants to code pure functional on jvm. one of my suggestion is to improve the jvm translation much faster eta can adopt the new jvm feature GraalVm. if it is not yet using..

Thanks,
Tirumalesh

[2019-03-25 06:33] jneira commented on #805
Hi, strating to look at this, the first issue is `.java` files [are not recognized as a valid "target" in interactive mode](https://github.com/typelead/eta/blob/master/compiler/Eta/Main/GHC.hs#L672-L703) (but they are valid in "make" mode), should we add java files as valid targets?

[2019-03-25 12:15] jneira commented on #690
Hi, after writing https://github.com/eta-lang/dhall-eta i did feel the pain to to do a lib that esentially creates a java binding for a haskell lib.
[The main class representing the dhall adt](https://github.com/eta-lang/dhall-eta/blob/master/java/src/main/java/org/dhall/core/Expr.java) is 500 loc but another point of annoying boilerplate was generate the `JavaConverter` instances for them: https:

[2019-03-26 02:42] #732 closed

[2019-03-26 02:51] rahulmutt commented on #805
In make mode, see here:

https://github.com/typelead/eta/blob/master/eta/Main.hs#L638-L642

Notice that all the non-Haskell-like source files are all collected and compiled separately and only then is guessTarget called on the remaining files. Couple things to do:

1) Take a look at GHC master and see if they've updated the logic to unify all the source types. Most likely it'll be the same since i

[2019-04-02 09:43] clojurians-org opened #954 "how to export nullable data type to java?"
i export an eta object to java for implementing interface.
but the interface result object can be null on some situation.
i didn't find any eta code for doing this, so what i should do for this case?

[2019-04-02 11:05] rahulmutt commented on #954
@clojurians-org Have you tried using `Maybe [object]` as your return type? `Nothing` should get marshalled to `null`.

[2019-04-03 03:24] clojurians-org commented on #954
thanks, i'm trying do it.
but another issue occur, i don't know to build the object for export.

[code]

[code]

[2019-04-03 04:35] jneira commented on #954
Hi! I think you have to create an instance of HTest instead, somethink like:
[code]

[2019-04-03 08:37] clojurians-org opened #955 "suggestion: use clojure aot similar mechanism to reduce jar size."
haskell compile too much class file, it led to its big jar size.

clojure has a simple solution for this situation for reference.

it has pomegranate library(just like haskell hint library), it can be used to load clojure file in runtime to generate class dynamically. it also publish clj file as maven repository directrly.

in case we need the same physical class sometimes, it offer the aot mechan

[2019-04-03 08:40] clojurians-org commented on #955
a simple example,  it offer aot entry for needed module for project configuration
[code]

[2019-04-03 08:45] clojurians-org commented on #955
as you can see from maven repository:
http://central.maven.org/maven2/org/clojure/core.async/0.4.490/

the maven repository container only clj file without java.

[2019-04-03 09:00] clojurians-org commented on #954
it seems it didn't generate the corresponding class file:

the code is very simple:
[code]
unzip jar, and find it.
[code]

[2019-04-03 09:46] jneira commented on #955
Hi, the tool to minimize the jar that has been used so far is proguard , you can use it [directly](https://github.com/typelead/eta/tree/master/proguard) or [including the appropiate gradle plugin](https://github.com/eta-lang/dhall-eta/blob/master/build.gradle#L67-L79) if you are already are using gradle to build the eta project.

[2019-04-03 10:21] jneira commented on #954
Oh, yeah, you can't use a free type variable in exports if they are not static so i think that:
[code]
... should work.

However in the java world it is not frequent to use a instance method to generate an instance of the same class but a static factory method so this one maybe would be more idiomatic:
[code]
Note that you can use `Java a (Maybe HTest)` in this case cause the export has an @static

[2019-04-04 01:29] clojurians-org opened #956 "putStrLn unicode character error: invalid character"
it's very strange, the first print with show is success, but the second fail!
[code]

[code]

[2019-04-04 05:40] jneira commented on #956
Mmm, maybe the error is caused by ` Data.ByteString.Lazy.Char8.unpack`, it only handles valid ascii chars, right?
Maybe you can use `Data.ByteString.UTF8.toString` from `utf8-string` package instead?

[2019-04-04 13:27] clojurians-org commented on #954
it seems the maybe type didn't handle null value well.
this is the information from my side
[code]

[code]

[code]

[2019-04-04 15:14] rahulmutt commented on #954
@jneira I remember we allowed arbitrary closures in the foreign export mechanism a while back. I wonder if we need to fix that to handle `Maybe`'s properly.

[2019-04-06 11:47] clojurians-org opened #957 "servant-client error: Failed to build unix-2.7.2.2, only old base-compat patched"
servant library build failed with unix library error.
the related dependency chain: ```servant :> base-compat :> unix```

eta-hackage just exist old version [base-compat] patched.
we can add ```base-compat >= 0.9.1 && <= 0.10.4``` to resolve it.

it's better to patch the newer versions of base-compat to avoid this situation

the complete build log is attached:
[code]

[2019-04-07 00:55] jrciii commented on #739
The implementation for fixST has been changed to address the issues outlined in the last comment here: http://hackage.haskell.org/package/base-4.12.0.0/docs/src/Control.Monad.ST.Imp.html#fixST

It would probably be better if the mfix implementation we use for Java follows the same pattern.

[2019-04-08 02:58] clojurians-org commented on #956
it's still the same.
it run success on my mac, but it fail on readhat7.
maybe the system encoding have impact on it.
but add show method can success.
[code]

[2019-04-10 15:35] clojurians-org opened #958 "proguard run too slow and error finally."
i use the proguard with eta-rules.pro config to reduce file size.
it run for long time, and  it fail finally.

i have no idea how to fix it
[code]

the final log
[code]

[2019-04-11 06:00] rahulmutt commented on #958
Can you share the exact steps for reproducing this? Source code, what steps you used to build, and how you ran proguard.

[2019-04-12 15:22] clojurians-org commented on #958
# 1. create the project
[code]
# 2. create the java interface: java/my/HInterface.java
[code]
# 3.  create the haskell code
[code]

# 4. build the uberjar
[code]
# 5. test the uberjar
[code]

# 6. download eta-rules.pro
add -injars javaCall.jar
-outjars javaCall-1.0.jar

modity ```-dontwarn eta.**``` to ```modity -dontwarn **```
[code]

# 7. run the proguard
[code]

[2019-04-14 19:05] rahulmutt commented on #958
You forgot to add
[code]
in your proguard file.

Regarding speed, it's much faster to send a list of all the dependency jars to the `-injars` list of proguard instead of creating an uberjar and then proguarding it. This is precisely what the Gradle can enable you to do which is why I suggested it.

[2019-04-15 07:58] clojurians-org commented on #958
i use nixos sometimes, the gradle [etlas/eta binary file] don't run on nixos.

thanks, i will try gradle now.

[2019-04-15 13:58] clojurians-org commented on #958
it still fail...
[code]

[code]

[2019-04-16 06:51] jneira commented on #958
Hi, maybe you could start disabling optimizing and obfuscating ():
[code]
Proguard still will do shrinking, removing all not directly used classes. The examples of using proguard are disabling them:
* https://github.com/typelead/eta/blob/master/eta-serv/proguard.txt
* https://github.com/eta-lang/dhall-eta/blob/master/proguard.txt

[2019-04-16 11:49] #958 closed

[2019-04-16 15:27] #805 closed

[2019-04-16 22:09] jneira opened #960 "Improve handling of java files in repl"
Follow up of #805 (fixed with #905)

Although the repl is able to load java object files the handling could be improved:

- [ ] Allow reload of `.java`, `.class` and `.jar` files
  - Actually `.java` and `.class` are compiled in a auto generated __extra.jar
  - The jar files are being locked by eta (it should be unlocked after create and use it) and cant be changed
  - But likely the eta-serv clas

[2019-04-17 06:57] jneira commented on #960
i guess we should read the classes from jar and use from `Eta.REPL`

[code]
It needs the class name, the class info and the actual contents.

@rahulmutt i see that  `Eta.Utils.JAR`has methods to read entries, but is there some existing way to read classes from? Getting  `[(String, String, ByteString)]`or `ClassFile`

[2019-04-23 03:12] Escapingbug commented on #601
Any progress on this? Looking forward to it.

[2019-04-23 11:04] rahulmutt commented on #601
No unfortunately. Thanks for showing interest though, I'll pin this issue to indicate that it has priority.

[2019-05-03 21:10] pjrt opened #961 "hoogle: failed to build"
## Description
I tried to build `hoogle` (sha: fca9b98652540ac513af99cca0c103ac83444b5c) with `etlas build`. Got the following error:

[code]

## Steps to Reproduce
1. Clone the hoogle repo
2. run `etlas build`

## Context

## Your Environment
[code]
[code]

[2019-05-04 19:25] jneira commented on #961
Hi, i am afraid that the map package has a lo of calls to c funtions and eta does not support them. Either the mmap package should be patched (see https://github.com/typelead/eta-hackage/tree/master) replacing c calls with java ones or hoogle itself should be patched replacing the calls to mmap package.

[2019-05-11 07:56] rahulmutt opened #963 "Unpacking polymorphic fields"
We should implement this GHC Trac ticket at some point:

https://gitlab.haskell.org/ghc/ghc/issues/7647

Compact data layouts are essential for performance at times via reduction in cache misses.

[2019-05-22 20:26] jneira opened #965 "Error: Multiple declarations with names differing only in case."
## Description

* ghc accepts definitions that only differ in case but eta doesn't
* With this file
[code]
eta throws:
[code]
## Expected Behavior

eta should behave like ghc
## Actual Behavior

it throws the error included above
## Possible Fix

## Context

* Paching duckling library and some another one i had to rename definitions to avoid the error.
## Your Environment

* Did you install an old

[2019-05-23 07:20] jneira opened #966 "Feature request: direct support for ccalls (like ghcjs)"
## Description

* eta doesn't support `foreign import ccall` so we have to patch the code replacing them with `foreign import java`
* `ghcjs` supports them converting the ccall calling a javascript function using a name convention: https://github.com/ghcjs/ghcjs/blob/master/doc/foreign-function-interface.md#emulating-c-code-with-foreign-import-ccall
* patching packages would be easier cause in man

[2019-05-23 09:52] rahulmutt commented on #966
I like the GHCJS approach. It's a bit implicit, but I think it's OK. The only issue I can see is that a lot of times you need to replace `Ptr` with a Java object and the actual type signatures change. In the other cases it would be OK.

[2019-05-23 09:59] rahulmutt commented on #965
Yes, this has been mildly annoying. That error was added to avoid weird ClassNotFoundErrors at runtime. The true solution is to:
1) Just before writing to interface files, attach a new data item to the `Var` type that stores the name which the codegenerator should assign to that particular binding. This addition is generally useful later when we want to give the user the ability to control the gen

[2019-05-24 04:43] rahulmutt opened #967 "Support extensions to existing deriving mechanisms"
All the functionality described here:

https://ryanglscott.github.io/2017/04/12/improvements-to-deriving-in-ghc-82/

Should be backported to Eta at somepoint. Most notably, the `hedgehog` package requires these which otherwise requires a lengthy patch.

[2019-05-29 04:28] jarekratajski commented on #954
I am just analyzing this case.
Foe a very simple file:
[code]

I am wondering why the final cast in method is to `Nothing` (not to `Maybe`).
So far I got that
typeDataConClass is `DsForeign.hs`
for Type argument `Maybe HTest` returns class
`base/ghc/maybe/datacons/Nothing` which seems odd, and is (maybe :-) ) one of the problems.

I am going  further.

[2019-05-31 00:37] jarekratajski commented on #954
Hi!
I've created somehow naive but working solution.
I catch explicitly Maybe  result types in export FFI and make check for Notihng.INSTANCE - in case of eq  there is null returned, otherwise code as before.
After some code cleanup I could potentially make PR.
I am however, awaiting for hints / issues. (I used the example to relearn again eta/ghc compiler - very likely some fragments  are reinven

[2019-05-31 03:25] rahulmutt commented on #954
@jarekratajski Just took a look at your fork and it looks good to me. Feel free to send a PR.

[2019-06-03 00:03] jneira opened #968 "[windows] Eta project with many deps and java sources fails in javac step"
## Description

Trying to build a `dhall-json` throws an error:
[code]
* With `-v3` we can see the failed invocation to eta:
[code]
* Compiling the java source with the maven dependeciens of the project is succesful and the `.class` generated can be used in the project when we add them as java-source (so there is a workaround)

## Expected Behavior

The project should be built
## Actual Behavior

[2019-06-05 16:29] rahulmutt commented on #968
I'm willing to bet that that's the cause :) We do need a way to send all arguments to the Eta compiler as a file and have etlas use that method instead of sending everything through the command line.

[2019-06-12 21:02] jarekratajski commented on #954
I have realised that this result as `Closure<X>` in exported Java  is probably not something anyone would want - I am trying to reduce it to be exactly X.    It will take some time - but I am getting there (slowly).

[2019-06-21 13:12] ulfryk opened #969 "Gradle installation example fails"
Gradle installation [example form official site](https://eta-lang.org/docs/user-guides/eta-user-guide/installation/gradle) fails with `Execution failed for task ':setupEnvironmentEta'.`

This is similar to #860 (but my issue happened outside of docker).

## Description
### First try:
[code]

### Second try:
[code]

## Expected Behavior
not sure ;)

## Actual Behavior
`./gradlew run` fails with `Ex

[2019-06-21 13:13] ulfryk commented on #969
[code]

[2019-06-21 21:14] ulfryk commented on #969
Nevermind, when I tried `$ ./gradlew run -PetaSendMetrics=false` once more it worked :)

Just a little pity it didn't the first time :(

[2019-06-21 21:14] #969 closed

[2019-07-06 06:40] dferteyfbxcrterg opened #970 "Spam"
Spam

[2019-07-06 13:27] #970 closed

[2019-07-30 20:33] TobiasB91 opened #972 "Adding an eta-jar as a dependency in an android project"
I`m trying to add an eta-jar library to a fresh android project. I followed [this](https://brianmckenna.org/blog/eta_android) tutorial. Unfortunately, the build fails due to "Zip64 EOCD locator found but Zip64 format is not supported." I suspect I need to change something in the configuration files, since my exported eta-functions are visible to the android studio IDE.

[2019-08-13 15:52] noon99jaki commented on #972
I am having the same issue with duckling-0.1.6.1

Still no luck after installing ShadowJar:
plugins {
  id 'com.github.johnrengelman.shadow' version '4.0.0'
  id 'java'
}
shadowJar {
  zip64 true
}

[2019-08-14 03:25] noon99jaki commented on #972
It looks like the issue is triggered by the size of jar files. I was able to compile duckling in Android after deleting most of the language supports other than English.

[2019-08-23 15:40] noon99jaki opened #973 "Missing Closure.evaluateTail() at Android runtime"
I've got duckling to compile and installed in Android, but at runtime eta cannot find the implementation of evaluateTail(). I can see that evaluateTail is written in Types.hs here. Is this part failing?
[code]

Somehow the eta-duckling project does not seem to have such an issue:
https://github.com/typelead/eta-hackage/issues/143

## Description

**logcat**
[code]

**app/build.gradle:**
[code]

**

[2019-08-23 22:54] noon99jaki commented on #973
The problem does not seem to be specific to a Duckling function, since the following simple function also crashed
[code]

[code]
while the following was not crashing
[code]

[2019-08-24 04:32] noon99jaki commented on #973
Actually there might be some caching going on. print_context() works after deleting ~/.gradle/caches
[code]

[2019-08-24 04:40] noon99jaki commented on #973
The issue is also gone for run_parse()

[2019-08-24 04:40] #973 closed, assigned to nobody

[2019-08-30 07:45] szabi commented on #571
@rahulmutt,

Can you sum up the main take-aways?

What would be the overall logical structure of such a plugin?

[2019-09-03 04:18] talios commented on #571
I could take a look and help out as well ( seems I have a penchant/habit of writing maven language plugins - clojure, coffeescript, frege ).

I guess a majority of the plugin would reuse/share code from the Gradle plugin - so I'd assume we could a) depend on a prebuilt jar of eta from maven central/elsewhere ( for the clojure-maven-plugin I left that up to the consumer to provide that `<dependency

[2019-09-06 17:29] georgefst opened #974 "Missing type reflection functionality from base"
I've seen elsewhere that some functionality from base has not been implemented. The lack of eqTypeRep and HRefl from Type.Reflection are the one thing stopping us from using eta in a project (both are in base-4.11), as we have a GADT which stores TypeReps and a function which traverses two of these GADTs, and behaves differently if the two TypeReps are equal.

Are there any plans to add this funct

[2019-09-18 15:02] goldenHairDafo opened #975 "[eta-tour]: Bug - Can´t compile any program"
Source Code:
[code]

Output:
[code]
Happend on a Mac 10.14.6 with a Chrome Brower version 76.0.3809.132

[2019-09-18 15:11] goldenHairDafo commented on #975
Hi,

another hint: Within the developer console of chrome I found:

[code]
So I assume your should update your certificate.  Thanks!

[2019-09-18 20:06] jneira commented on #975
Thanks for report, i think @rahulmutt could help with that

[2019-09-28 20:32] vmchale commented on #961
perhaps the error message could be rewritten? If this is not an eta bug, the compiler need not report it as such

[2019-09-28 21:29] jneira commented on #961
yeah, it could be a specific, more helpful error. But i would like to implicitly translate c imports to java ones, like ghcjs, so patching would be easier: https://github.com/typelead/eta/issues/966

[2019-10-02 00:37] rjperrella opened #976 "[eta-tour]: Bug - hello world fails"
Source Code:
[code]

Output:
[code]

[2019-10-03 13:55] pierrebeaucamp commented on #975
Fyi, new visitors will also get big, scary browser warning when visiting https://tour.eta-lang.org because of the expired certificate.

[2019-10-15 13:05] bobbrahms opened #977 "[eta-tour]: Tour "run program" not working at all."
Source Code:
[code]

Output:
[code]

[2019-10-16 00:25] Boreaso opened #978 "Exception in thread "main" eta.runtime.exception.EtaException: WrapPCRE.hsc was not compiled against pcre library with HAVE_PCRE_H defined"
I want to use duckling on jvm and I built duckling-0.1.6.1 with `--enable-uberjar-mode` and run the excutable jar, it raised exception `Exception in thread "main" eta.runtime.exception.EtaException: WrapPCRE.hsc was not compiled against pcre library with HAVE_PCRE_H defined`, How can I solve it?
I am very eager to solve this problem.

## Description

See above.

## Expected Behavior

Build a singl

[2019-10-16 09:13] jneira commented on #978
Maybe it is using a version of regex-pcre-builtin that is not patched to work with eta. The patched version is [regex-pcre-builtin-0.94.4.8.8.35](https://github.com/typelead/eta-hackage/blob/master/patches/regex-pcre-builtin-0.94.4.8.8.35.patch)
You can try to make the build use that version of the library adding a `cabal.project` like:

[code]

or alternatively run `etlas build --constraint="bifu

[2019-10-16 15:52] Boreaso commented on #978
Thank you for your answer.  I can build it successfully, but I can't run the tests. When I excute `etlas run duckling-test`, it raise the exception described above.

[2019-10-26 11:12] Boreaso opened #979 "Error calling with java a exported function by eta in a multi-thread environment"
## Description

I want to export a function like this:

foreign export java "@static eta.example.MyClass.sayAnything" sayAnythingEta :: String -> IO ()
sayAnythingEta text = do
  putStrLn text
  return text

How can I call it in java. Further more, how call I call it in java multi-thread mode.

I try to run it in java multi-thread environment, then I got exceptions:

Exception in thread "pool-1-th

[2019-10-27 17:11] jneira commented on #979
Hi! I think you have made a typo in your example, i suppose it is:
[code]

I've just test [something similar](https://github.com/jneira/eta-test/blob/print-ffi/src/Lib.hs#L12) with lastest etlas and eta and it worked for me.
What do you mean with "java multi-thread environment"?

[2019-10-28 01:58] Boreaso commented on #979
@jneira Hello, jneira, thank you for your answer. Actually, my program is multi-threaded, I want to call this function in multi-threaded state. Just like this:
[code]

 How can I achieve this?

[2019-10-30 09:32] jneira commented on #979
I've reproduced the error in a test project: https://github.com/jneira/eta-test/blob/print-ffi/java/Utils.java#L47-L71
It may be a bug in the runtime (maybe @rahulmutt could confirm it)

[2019-10-30 12:07] Boreaso commented on #979
@rahulmutt Is there any solution to this problem?

[2019-10-30 16:45] juanpaucar commented on #495
@rahulmutt If it's okay, and no work has been done yet. I would like to take this issue. Is this possible?

[2019-11-04 13:47] jneira commented on #946
I've updated dhall support for 1.26.1 of dhall-to-etlas and etlas: https://github.com/typelead/etlas/pull/108

[2019-12-04 22:27] soirbleu opened #980 "[eta-tour]: Bug - [description-here]"
Source Code:
[code]

Output:
[code]

[2019-12-04 22:28] soirbleu commented on #980
main :: IO ()
main = do

  putStrLn "Three ways to navigate the tour:"

  putStrLn "1) Click Menu button"

  putStrLn "2) Left and Right buttons"

  putStrLn "3) Left and Right keys"

Error[error]:
Please report this as a bug using the 'File Bug Report'
button in the top-right corner.

[2019-12-09 21:05] mtnygard opened #981 "Domain registration expired?"
## Description

As of December 9, 2019, https://eta-lang.org and https://eta-lang.com both show a GoDaddy parking page.

[2019-12-10 21:51] soirbleu opened #982 "[eta-tour]: Bug - [description-here]"
Source Code:
[code]

Output:
[code]

Error[error]:
Please report this as a bug using the 'File Bug Report'
button in the top-right corner.

[2019-12-11 19:26] jneira commented on #981
Hi, https://eta-lang.org/ is up again, i think https://eta-lang.com was not being used, though

[2019-12-14 23:10] Sintrastes opened #983 "Bug compiling acme-iot-0.1.0.1 with etlas"
## Description

I am trying to port a project of mine to the jvm via etlas, and it depends on the acme-iot package in hackage.

## Expected Behavior

The package should compile normally.

## Actual Behavior

``Building library for acme-iot-0.1.0.1..
[1 of 1] Compiling Control.Monad.Trans.IO
src/Control/Monad/Trans/IO.hs:20:1: warning: Tab character
   |
20 |                 -- * The IOT monad tran

[2019-12-22 14:35] vaclavsvejcar opened #984 "Is this project still alive?"
Based on the fact that there's not much commit/release activity in last half year, I'm wondering if this project is still alive, under development, or has it been abandonned?

[2019-12-27 05:15] GGXBoo commented on #984
I feel dead

[2019-12-28 00:16] jneira commented on #984
Well, i want to think it is in hibernation, i hope it is temporarily.
I am afraid that the lack of open source contibutors is one of the main causes.

[2020-01-26 13:55] ShalokShalom commented on #984
Most open source projects of this size are maintained by a small handfull of people, so luckily not many are needed.

Just someone who can commit to it full time.

I hope this happens, since Eta is an important piece of software.

[2020-02-20 16:23] kervinlow opened #985 "Task :installDependenciesEta FAILED when building statistics-0.15.2.0 from Hackage"
Task :installDependenciesEta FAILED when building statistics-0.15.2.0 from Hackage

## Description
When Eta tries to build and install the dependency, 'statistics:0.15.2.0', it suddenly went into panic while building the library for math-functions-0.3.3.0.

Eta then exited the build process with an exception.

## Expected Behavior
Successful build and installation of the statistics-0.15.2.0 packag

[2020-02-20 17:47] jneira commented on #985
I am afraid the package contains foreign calls to c functions (ccall unsafe...)
One way to make the package work with eta is replace the c calls with java ones and upload the patch to the set of patches in eta-hackage https://github.com/typelead/eta-hackage

[2020-03-02 11:37] devosalain opened #986 "Installation fails on freebsd"
git clone https://github.com/typelead/eta-init

FAILURE: Build failed with an exception.
* What went wrong:
Execution failed for task ':setupEnvironmentEta'.

[2020-03-03 07:20] jneira commented on #986
Hi! I am afraid that there is no precompiled binaries for freebsd so you may try build eta [from source](https://eta-lang.org/docs/user-guides/eta-user-guide/installation/source) and use the gradle plugin options:
[code]
to use the installation from source

[2020-09-12 00:51] alunduil opened #987 "eta-lang.org certificate expired"
#  Description

I'm not sure this is the best place to report this so please move if appropriate, but I was visiting eta-lang.org and the presented certificate had expired several days ago (23 when I created this report).

## Expected Behavior

Site should load without any certificate issues.

## Actual Behavior

Chrome presented a dialogue saying the certificate was questionable due to being expi

[2020-09-14 09:24] rahulmutt commented on #987
Thanks for reporting this. I'll take a look at renewing the certificate.

[2020-09-18 14:16] masflam commented on #987
I also get told by my browser that eta-lang.org doesn't have an active SSL cert, but another thing is that the home page responds with a 404
Also, browsing this repo makes me wonder: is the development of Eta dead? It's been a year since the last commit

[2020-09-30 14:24] rahulmutt commented on #987
The website should now be up & SSL cert fixed.. Feel free to file a new issue if there are still issues.

[2020-09-30 14:24] #987 closed, assigned to nobody

[2021-01-12 17:18] Sintrastes opened #988 "Website down?"
I'm trying to get eta/etlas setup to compile a pretty straightforward cabal project to the jvm using eta on wsl, and it appears certain parts of the eta-lang website nescesary to get etlas to work are down.

Whenever I try to setup the eta-init project using gradle, I get `Execution failed for task ':setupEnvironmentEta'.

Similarly, whenever I try to `etlas update`, I get: `curl: (6) Could not re

[2021-01-12 19:21] jneira commented on #988
I am afraid that it is down since some time ago see: https://github.com/typelead/etlas/issues/109

[2021-01-15 22:33] Ericson2314 commented on #984
I feel like at this point the best thing would be to see this upstreamed into GHC after all. The issues about research vs pragmatics that were given as motivation for the fork are being addressed better than ever before in upstream GHC. There is also the new [Haskell Foundation](https://haskell.foundation/) to help ensure that momentum continues and in fact grows.

[2021-01-17 11:30] ShalokShalom commented on #984
Concrete criticism and what holds them back is what I am most interested in.

[2021-05-17 15:21] csaltos commented on #988
The same here, cdnverify.eta-lang.org refers to etabinaries.azureedge.net but it does not exists and sadly fails

[2021-09-22 10:05] FinnT730 commented on #988
Sad to hear.
It is also sad that it is not on Archive.org or something
and I am not sure how to build it myself, so I don;t even know if I can use it or not.
And if I can be honest, if a migration takes this long, there is something wrong in the infrastructure.
@rahulmutt Can you post any news on it?

[2022-07-12 05:40] #469 closed

[2022-10-07 10:18] NickSeagull commented on #988
I'm not in the position of stating this, but I believe that the project has been abandoned 😭

[2022-10-07 12:09] FinnT730 commented on #988
I tried building it before. Didn't work
If you want to use it, use the Docker container, it works. But fair warning, it is not easy to get files in or out of the container (unless I did something wrong, which is likely, since I do not use Docker)