[2018-03-28 17:03] Jyothsnasrinivas commented on #717
@sam543381 Thanks for reporting the typos. They are fixed now :)

[2018-03-28 17:03] #717 closed

[2018-03-28 22:02] NickSeagull commented on #617
Sure, after rethinking it for a while its a mess. But still, in my opinion its better to have a new prelude that enforces our style, and allow the user to do stuff like `import Prelude (read)` so Haskell modules are compiled with the regular prelude, and Eta ones, with the new one

[2018-03-28 22:02] NickSeagull commented on #715
Awesome! Sounds great to hear that I'm on the same page as you :smile:

[2018-03-30 05:39] rajcspsg commented on #573
Hi @rahulmutt @puffnfresh

I've gone through the runtime classes. Below is the changes I'm proposing for the classes.
| S# | Current Qualified Class Name          | New Class Name                  | # of occurrences |
|----|------------------------------------|----------------------------|------------------|
| 1  | eta.runtime.apply.Function                 | eta.runtime.Function           | 10

[2018-03-30 08:28] rahulmutt commented on #573
Thanks for properly putting up the changes!

| S# 	| Current Qualified Class Name       	| New Class Name             	| # of occurrences 	|
|----	|------------------------------------	|----------------------------	|------------------	|
| 1  	| eta.runtime.apply.Function         	| eta.Function       	| 10               	|
| 2  	| eta.runtime.exception.EtaException 	| eta.exception.EtaException

[2018-03-30 15:48] NickSeagull commented on #617
_More ideas_ :rocket:

# DSL sugar
For some functions, we might be interested in having DSL-style functions.

For example this code

[code]
could be rewritten as

[code]

where this DSL sugar is defined as:

[code]

# A better Numerical Hierarchy

Quite a lot of people in [dataHaskell](http://datahaskell.org) have discussed about the possibility of adoption of [NumHask](https://github.com/tonyday5

[2018-03-30 17:52] NickSeagull commented on #617
Some users in dataHaskell comment that for polymorphic code things might break with NumHask, so I think it is not worth it.

[2018-03-30 21:47] NickSeagull commented on #617
Dismiss the comment about `NumHask`, I've discussed it with the author and he sees it as completely non-plausible

[2018-03-31 05:25] rahulmutt commented on #617
@Jyothsnasrinivas and I have discussed that we want to see a good ecosystem of data science/ML ecosystem of libraries for Eta, so we'd be happy to see any efforts in the Prelude that can help facilitate what you mentioned above with `NumHask`.

@tonyday567 can you comment here on why you think it's non-plausible so that we have your argument for reference?

As much as I love abstract algebra, my o

[2018-03-31 12:47] tonyday567 commented on #617
Nick misunderstood me - It's entirely plausible.  At the moment, the library is very integrated with [protolude](https://github.com/sdiehl/protolude), which I consider to be the top shelf haskell prelude for beginners - mostly because it removes String, and replaces partial functions. The next release of numhask, however, splits the library into numhask and numhask-prelude so that this dependency

[2018-03-31 13:06] NickSeagull commented on #617
Oh, sounds awesome!! Sorry for my misunderstanding :sweat_smile:

[2018-03-31 14:18] rahulmutt commented on #617
@tonyday567 Thanks for the input! @NickSeagull You can go ahead and include discussion about `numhask` inspired typeclass hierarchy for the Eta prelude. @tonyday567 If you have any other suggestions in terms of how we go about implementing it, feel free to chime in.

[2018-04-01 03:59] rahulmutt opened #719 "etlas paths"
Make a new `etlas paths` command (similar to `stack path`) that shows all the relevant directories used for building a given project (if inside a project) or the global settings (if not inside a project).

[2018-04-01 04:02] rahulmutt opened #720 "[etlas] etlas project --watch-files"
We should make an `etlas project` command that lets you query with precision about all the details of your project (dependencies, info specified in cabal file, etc) and in particular, we want something that spits out all the monitored files used internally by the new-build mechanism. This allows, for example, Gradle/Bazel to know exactly *what* files a particular build depends on and allows them t

[2018-04-01 23:42] rajcspsg commented on #573
Thanks @rahulmutt for reviewing this. I will go ahead and do the changes and submit PR.

[2018-04-02 15:07] NickSeagull commented on #617
For now, I've finished a preliminary version of the Prelude. Feel free to criticize.

I think it is ready to be included, if stuff is missing we can just keep updating the Prelude :smile:

[2018-04-02 19:39] NickSeagull commented on #589
+1 To this, I'm very excited with Backpack, and for creating implementations of signatures using bindings to Java libraries, it would be very useful. :smile:

[2018-04-04 03:46] rahulmutt opened #722 "Homebrew installation"
We already have a repository for [Homebrew](https://github.com/typelead/homebrew-eta) and we should update it to work with the current setup.

[2018-04-04 03:48] rahulmutt opened #723 "One-line installation"
As suggested by @hepin1989, it would be useful to have a one-line command a user can download and install with. Something that looks like this:

[code]
@jneira Do you happen to know the equivalent one-liner for Windows?

[2018-04-05 04:34] rahulmutt commented on #723
Thanks @NickSeagull! Is there a place where we can download the executable such that it's on the default PATH for Windows ?

[2018-04-06 05:29] rahulmutt opened #724 "[etlas] Support environment variable expansion for `maven-repos:` field"
As requested by @alexknvl, it would be nice to have `etlas` expand out environment variables to allow things like:

`maven-repos: $HOME/.m2`

without being too specific to a given user.

[2018-04-06 05:33] rahulmutt opened #725 "Fix up documentation on adding java dependencies"
There are several formatting errors that need to be fixed on this page:

https://eta-lang.org/docs/eta-concepts/java-interop/add-java-files

[2018-04-06 07:13] rahulmutt opened #726 "JWT declarations used in FFI imports are not considered"
[code]

If these declarations are compiled with `-Wall`, you'll get a warning that the `Redirect` constructor is not used. But clearly, the FFI declaration is "using" it. This warning should be fixed.

[2018-04-06 22:26] jneira commented on #723
Jumm, the  one liner thing for windows is a little bit more complex than nix one. I wonder if the more user-friendly option for windows would be an installer (like stack f.e.).

[2018-04-07 22:14] jneira commented on #617
I've take a look to Protolude and it looks very nice. Concretely i think we can consider include in eta prelude those design points:
* Unsafe functions are prefixed with "unsafe" in a [separate module](https://github.com/sdiehl/protolude/blob/master/src/Unsafe.hs).
* StateT/ReaderT/ExceptT transformers in scope by default.
* Compiler warning on bottoms.
* Types for common data structures in scope.

[2018-04-09 03:49] rahulmutt commented on #661
@puffnfresh I've changed the threshold to 10k as you suggested. Here's a basic estimate that shows why it's a reasonable number:

Stack size in bytes: 2^20 (1024KB)
We want to consume at most half of the stack in the worst case to avoid being on the edge of a stackoverflow, hence, the available stack space is:

2^20/2 = 2^19

Now let's assume that each stack frame takes 50 bytes on average - (amou

[2018-04-09 05:10] rahulmutt commented on #581
With the `new-build` mechanism (which is now default in etlas-1.3.0.0), this is no longer an issue.

[2018-04-09 05:10] #581 closed

[2018-04-09 05:32] jneira commented on #704
It turns out that [dhall-to-cabal](https://github.com/dhall-lang/dhall-to-cabal) already does the conversion of a dhall file to a `GenericPackageDescription`: https://github.com/dhall-lang/dhall-to-cabal/blob/master/lib/DhallToCabal.hs#L550

[2018-04-09 05:37] rahulmutt commented on #704
In that case, this line:
https://github.com/dhall-lang/dhall-to-cabal/blob/master/dhall-to-cabal.cabal#L85
Needs to be patched to `etlas-cabal`. And then you can use it as a dependency for `etlas`.

[2018-04-09 05:45] jneira commented on #704
mmm, it seems it would need some more changes. Maybe we would need a dhall-to-etlas...

[2018-04-09 05:46] rahulmutt commented on #704
@jneira Yes most likely that will be the case. You can create a fork and name is as `dhall-to-etlas` and add it to the eta-lang repo. Then, you can add it as a submodule for the `etlas` repo.

[2018-04-09 05:50] rahulmutt commented on #704
So there's two things that need to be changed in the internal logic for `etlas`:
1) When `etlas` looks for `[package-name].cabal`, it should also look for `[package-name].dhall`.
2) When `etlas` looks for `cabal.project`, `cabal.project.freeze`, etc. it should also look for `etlas.dhall`, `etlas.dhall.freeze`, etc.

How does that sound?

[2018-04-09 05:51] jneira commented on #704
Otoh, the actual version of dhall is throwing `StackOverflowExceptions` for some simple inputs (like `True` or `False`, but no for `1`, `+1` or `1.1`). It seems the cause is the switch of dhall-haskell to `megaparsec` instead `trifecta` as parser library.
As @rahulmutt has noted, that package seems to be continuation based and it would need a patch adding a trampoline function (like aeson or binar

[2018-04-09 05:52] jneira commented on #704
@rahulmutt sounds good to me, i'll give a try asap

[2018-04-09 05:53] rahulmutt commented on #704
@jneira Can you file the issue with `megaparsec` on `eta-hackage`?

[2018-04-09 06:03] rahulmutt opened #727 "[etlas] Building uberjar is broken with etlas-1.3.0.0"
There's no way to build uberjars right now - there should be a configuration in `cabal.project` that fixes this.

[2018-04-09 07:33] rahulmutt commented on #727
cabal.project
[code]
Now works! Moreover, a recent upgrade of the `zip` package gave us an automatic speedup for building uberjars.

[2018-04-09 07:33] #727 closed

[2018-04-09 10:42] puffnfresh commented on #661
Awesome stuff @rahulmutt. Performance is much better with that?

[2018-04-09 11:21] premek opened #728 "[eta-tour]: Improvement - AddElement"
I think it is confusing without knowing what AddElement is

Source Code:
[code]

[2018-04-09 13:14] rahulmutt commented on #661
Haven't checked yet, it would be great if someone can verify.

[2018-04-09 13:16] rahulmutt commented on #728
@premek `AddElement` is a function that takes an `Int` and an `IntList` and produces a value of type `IntList`. If it is explained that way, is it clearer?

[2018-04-09 13:40] premek commented on #728
now it's less clear to me again :) sorry

I would expect this line to mean something like _Let type IntList be an empty list or an Int followed by IntList_

Does this line also defines AddElement?

[2018-04-09 14:44] rahulmutt commented on #728
It means what you stated above - you can think of `AddElement` as a tag that signals that an `Int` and `IntList` must follow in that order right after. `Empty` and `AddElement` are like labels for each of the ways you can construct a value of type `IntList`.

Yes, the line also defines `AddElement` and `Empty`.

[2018-04-09 14:54] rahulmutt commented on #617
@jneira As for operators, we won't know whether they are effective until we try them out. I feel that if we put them in a separate module in `base`, they will never really be used unless we use them throughout all the main docs.

The `Arrow` abstraction is rarely used and I think is considered obselete at this point. so I'm not too worried about that. In practice, I have seen (and myself used) the

[2018-04-09 15:49] premek commented on #728
All right, makes sense. So if you can explain it like this in one sentence
in the tour I think it may help others too. Thanks

On Mon, 9 Apr 2018, 16:44 Rahul Muttineni, <notifications@github.com> wrote:

[2018-04-09 15:54] rahulmutt commented on #728
Thank you for letting us know it was confusing! :)

[2018-04-09 16:15] FintanH opened #729 "etlas upgrade error"
I ran into an issue when running `etlas upgrade` when following the install instructions. Let me know if there's any more info you need.

OS: Mac OSX Yosemite

Full output:
[code]

[2018-04-09 16:24] FintanH commented on #729
@rahulmutt thanks for getting back to me
Here's the output of version:
[code]

[2018-04-09 16:54] rahulmutt commented on #729
`0.7.1b2` is only installable via `etlas-1.3.0.0`. We're going to release `etlas-1.3.0.0` in a couple of hours, but here's the download link for the binary in the mean time:

http://cdnverify.eta-lang.org/eta-binaries/etlas-1.3.0.0/binaries/x86_64-osx/etlas

[2018-04-09 17:14] jneira commented on #617
Well, if eta continues supporting the haskell prelude for .hs files as default, users can use them if they want, so we can have both options avaliable (and optionally use in each one the default prelude of the other). In fact `head:: [a] -> Maybe a` will break most of examples and tutorials out there so breaking things can be fine.

Re `<+>`, Apart of the clash with the arrow operator, i keep thin

[2018-04-09 18:06] FintanH commented on #729
Works a charm, thank you!

[2018-04-09 18:06] #729 closed

[2018-04-10 12:32] NickSeagull commented on #617
Yep, my intention was to make it look like the one that you linked @rahulmutt .

Still, I think that our brains have the monoids wired through addition and it will help newcomers to understand the concept easily.

[2018-04-12 21:47] jneira opened #730 "gradle installation seems to hang forever"
Reported by @dumptruckman and tested by myself, both in windows
Following the steps in https://eta-lang.org/docs/eta-concepts/getting-started/install-eta#gradle-installation the execution of `.\gradlew.bat run` seems to hang out forever (up to 45 min)

[2018-04-12 21:49] jneira opened #731 "Set a more verbose output for etlas select -v3"
The output of etlas select is minimal, although you uses `-v3` flag.

[2018-04-12 22:36] dumptruckman opened #732 "etlas run cannot find class"
I encoutered this error when trying to run my test project.
[code]

After some research, we've found that the classpath in the launcher jar's manifest does seem to point to the correct jars:
[code]

[2018-04-12 22:56] jneira commented on #732
@dumptruckman one check more could be see if the .cmd is executing the exename.launcher.jar

[2018-04-13 05:32] rahulmutt commented on #120
Re-opening to track that we want to backport. @jneira

[2018-04-13 05:32] jneira opened #733 "Backport language extension ApplicativeDo to eta"
That is a nice extension that can play well with `RecordWildcards`

[2018-04-13 05:53] jneira commented on #733
Duplicated of #120

[2018-04-13 05:53] #733 closed

[2018-04-13 06:28] jneira commented on #732
I am afraid i cant reproduce the issue with last versions:
[code]
My .cmd is:
[code]
@dumptruckman yours should be equal
btw, note i did an `etlas clean` before the `etlas run`
if all checks are ok:
* .cmd executes de exename.launcher.jar
* in exename.launcher.jar exists a ref to rts
* the jar referenced exists and it has inside the class not found
... we can try to execute the jar using `java` ex

[2018-04-13 06:32] jneira opened #734 "Weird output of last version of eta in windows consoles (cmd, powershell)"
reported by @dumptruckman
For example with `etlas build`:
[code]
I think console output is designed to add coloring in nix shells but does not work in windows

[2018-04-13 07:08] jneira commented on #707
I think that is resolved by @rahulmutt fork of hpp: https://github.com/rahulmutt/hpp/tree/fix-escaped-literals used last version of eta

[2018-04-13 07:08] #707 closed

[2018-04-13 20:39] jneira commented on #732
As commented by @dumptruckman in gitter the problem with the classpath is caused for paths with spaces: https://stackoverflow.com/questions/18659774/how-do-i-handle-files-with-spaces-in-the-classpath-in-manifest-mf
So we should replace spaces with `%20` in https://github.com/typelead/etlas/blob/master/etlas-cabal/Distribution/Simple/Eta.hs#L447-L466
Thanks for investigating this!

[2018-04-13 20:43] dumptruckman commented on #732
After some research, the problem appears to be related to spaces in the paths of the library jars. They must be converted to %20 or we have this problem.

[2018-04-13 20:52] dumptruckman commented on #732
The workaround for now is to use use uberjar mode.

[2018-04-14 20:56] jneira commented on #120
The base ghc commit to backport wold be https://github.com/ghc/ghc/commit/8ecf6d8f7dfee9e5b1844cd196f83f00f3b6b879 ?

[2018-04-15 16:30] JustusAdam opened #735 "[docs] Main page layout breaks at ~1100 px width"
The main page (eta-lang.org) has an unintended layout overlap when the screen size/browser window is around 1100 px wide.

<img width="1148" alt="screen shot 2018-04-15 at 18 23 11" src="https://user-images.githubusercontent.com/5824532/38780694-e5dba7fa-40da-11e8-9eb5-5d9c99495a1c.png">

This was taken on chrome on a mac but I suspect other browsers won't be much different.

[2018-04-16 08:49] rahulmutt commented on #120
I would recommend you start with the current `master` because it will include bug fixes/updates.

[2018-04-16 09:56] jneira commented on #704
Hi, i have a version of [dhall-to-etlas](https://github.com/eta-lang/dhall-to-etlas) that compiles!
The version has a [git reference in stack.yaml](https://github.com/eta-lang/dhall-to-etlas/blob/master/stack.yaml#L8-L10) to a commit of etlas, so it can be built outside of it. I suppose it will have to be changed to be included as a git submodule in etlas itself.
I dont fully analize the code but

[2018-04-18 07:11] jneira commented on #704
Hi, before including dhall-to-etlas in etlas i've wanted to write a [valid dhall-to-etlas.dhall](https://github.com/jneira/dhall-to-etlas/blob/master/dhall-to-etlas.dhall).
The result is longer than cabal version and i have to say that syntax is more noisy than cabal or yaml format. However lets, lambdas and imports are a game changer and the possibilities are very promising.
And the type checking

[2018-04-18 12:56] rahulmutt commented on #704
The typechecking is certainly better than getting a `parse error` for Cabal that doesn't tell you much. The basic let abstraction is a lot more readable than yaml's alias which uses rather arbitrary symbols. I find the sequence of `let ... in`'s distracting - is there a way to have multiple let definitions in a single let like we have in Haskell/Eta?

And yes, I agree that we should tune the defin

[2018-04-19 06:07] jneira commented on #704
@rahulmutt yeah, it could have the lisp `let*` to make `let x = 1 ; y = x; ...` equals to `let x = 1 in let y = x...` but it seems let only can be a single expression, not sure about the reason.
As a workaround you could define a record with the bindings, but then you have to reference the record:
[code]

[2018-04-20 01:49] rahulmutt commented on #734
Yes those are indeed color codes. You *should* be able to disable them permanently for all builds by setting:

[code]

To solve the issue above there are two steps:
1.) Fix the output to respect the `diagnostics-color` flag. (Currently the flag only applies to type errors and warnings)
2.) Document the solution above for Windows users who don't use a terminal with support for ANSI terminal escape

[2018-04-20 01:51] rahulmutt commented on #730
@jneira Thanks for reporting this. I was able to reproduce this on Windows Server, will investigate.

Btw, for future Gradle plugin related issues, please file them on https://github.com/typelead/gradle-eta

[2018-04-20 01:52] rahulmutt commented on #731
Agreed, thanks for the report @jneira!

[2018-04-20 10:02] NickSeagull commented on #734
There was quite a long time since I don't use Windows, but when I did [Cmder](http://cmder.net/) worked great for those cases :smile:

[2018-04-21 15:14] bbarker opened #736 "eta fails to build in nixpkgs"
Seems to be due to a missing dependency - not sure why.

### System set up

 - system: `"x86_64-linux"`
 - host os: `Linux 4.13.0-38-generic, Ubuntu, 16.04.3 LTS (Xenial Xerus)`
 - multi-user?: `no`
 - sandbox: `no`
 - version: `nix-env (Nix) 1.11.16`
 - channels(brandon): `"nixpkgs-18.09pre137305.d91caac6c3e, nixos-18.09pre134828.62dc989963c"`
 - nixpkgs: `/nix/var/nix/profiles/per-user/brandon/c

[2018-04-22 03:48] rahulmutt commented on #736
@puffnfresh It's failing while building `shake-0.16.4` so it probably has something to do with `eta-build.nix`. Any ideas?

[2018-04-22 09:50] puffnfresh commented on #736
@bbarker I checked out both nixpkgs d91caac6c3e and 62dc989963c, they give shake-0.16.3 instead of 0.16.4 - do you know where that version of Shake is coming from on your system?

[2018-04-22 09:51] puffnfresh commented on #736
I also recommend getting rid of Nix 1.11.16 and upgrading to 2.0

[2018-04-22 10:54] bbarker commented on #736
@puffnfresh No, I don't think I installed it via any other means, unless stack relies on it, which doesn't seem to be the case: https://github.com/NixOS/nixpkgs/issues/39296
But I'll try to upgrade to 2.0 first.

[2018-04-22 11:49] bbarker commented on #736
@puffnfresh makes sense, thanks: 137305.d91caac6c3e

[2018-04-22 11:58] puffnfresh commented on #736
Perfect thank you, I can reproduce with that commit. I'll work on a fix.

[2018-04-22 12:03] puffnfresh commented on #736
@bbarker can you try my branch here?

https://github.com/puffnfresh/ghcvm/tree/nix/fixes

[2018-04-22 13:39] bbarker commented on #736
@puffnfresh using ee76d75705eb1e9b1b2f40ba48d85fd3f986c38c in the tree you listed, I had a very similar but not identical error as before:

[code]

[2018-04-23 16:31] Gabriel439 commented on #704
`let` is the way it is partly out of design and partly out of necessity

The hard constraint is that Dhall is whitespace insensitive, so Dhall has to have some separator between successive definitions and cannot rely on significant whitespace to separate successive `let` definitions.

Currently the "separator" is: `in let`, as in:

[code]

... but could conceivably be another separator like `;` (a

[2018-04-23 16:56] tjhunter opened #738 "Add support for OverloadedLabels"
I am trying to port some code from GHC to Eta and a blocking import is the following dependency chain:
 - lens-labels
 - proto-lens

`proto-lens` is very convenient for parsing and writing protocol buffers using lenses, but it unfortunately requires GHC8 features to work. When trying to use lens-labels as a dependency in an Eta project, the following error gets triggered:

[code]

I tried a number

[2018-04-23 20:07] jneira commented on #704
@Gabriel439 thanks a lot for  your detailed explanation

i would agree with most of your exposition but specially with

-------------

I was thinking that etlas could download locally dhall definitions like cached packages or other config files so that feature would be great. I suppose it is covered by https://github.com/dhall-lang/dhall-haskell/issues/162

[2018-04-23 23:13] Gabriel439 commented on #704
@jneira: I just created an issue to describe and discuss the import caching idea I mentioned: https://github.com/dhall-lang/dhall-lang/issues/129

[2018-04-24 03:53] rahulmutt commented on #738
Hi @tjhunter, thanks for your request. `OverloadedLabels` is becoming one of the most frequently used GHC features and many libraries have started adopting in. Given that, it makes lots of sense to get it ported to Eta to maintain ecosystem compatibility.

Moreover, thanks for providing a very nice use case for them - that's what we look for when justifying the backport an extension.

[2018-04-24 03:56] rahulmutt commented on #738
With regard to complexity, it shouldn't be too hard to backport. But we probably won't get around to doing the backport anytime soon since we are currently working on other things. PRs are welcome.

[2018-04-24 16:17] Supernerd11 opened #739 "Implement MonadFix for Java monad"
Would it be possible to implement MonadFix for the Java monad?

[2018-04-24 16:25] rahulmutt commented on #739
The `Java` monad is isomorphic to the `ST` monad where the state threads are just raw Java objects.

The implemention of `mfix` for the `ST` monad is:
[code]
It shouldn't be too much trouble to follow the above and write an implementation for the `Java` monad.

It should probably be added to https://github.com/typelead/eta/blob/master/libraries/base/Java/Core.hs. PRs are welcome!

[2018-04-27 10:09] jneira commented on #704
Hi, actually dhall-to-etlas (like dhall-to-cabal) does not support version ranges in the `cabal-version` field, so we cant set it to `>= 1.10` without having warnings.
I've started to add support for the [actual type of etlas](https://github.com/typelead/etlas/blob/master/etlas-cabal/Distribution/Types/PackageDescription.hs#L130):
[code]
with this dhall type:
[code]
The hard part will be change ha

[2018-04-27 15:28] Gabriel439 commented on #704
@jneira: If I remember correctly, @ocharles said it is because `cabal` doesn't support version ranges on `cabal-version` with an upper bound, so the version range is uniquely determined by its lower bound.  I believe in the example you gave you would specify version `1.10` and `dhall-to-cabal` would translate that to `>= 1.10` (although I could be wrong because I haven't tested this recently).

[2018-04-27 22:51] jneira commented on #704
hi @Gabriel439, dont sure if i fully understand it but i just test dhall-to-cabal and with `cabal-version = v  ("1.10")` it generates `cabal-version: 1.10`. should it generate `>= 1.10`?

[2018-04-28 03:45] Gabriel439 commented on #704
@jneira: Then maybe I was wrong.  I'd open an issue against `dhall-to-cabal` about this if I were you

[2018-04-28 15:50] jneira commented on #704
Btw i've opened a issue in `dhall-to-cabal` about `cabal-version` field values: https://github.com/dhall-lang/dhall-to-cabal/issues/37
In the meanwhile we could use `cabal-version = 1.12` for eta and its packages cause [ghc 7.2 shiped with that one](https://github.com/haskell/cabal/issues/5108#issuecomment-362942702).

[2018-04-29 13:12] bbarker commented on #736
My efforts to upgrade to 2.0.1 [hit a snag](https://github.com/NixOS/nix/issues/2121).

[2018-04-29 20:17] rahulmutt opened #740 "Iconv sets wrong values in output buffer causing partial readFile's"
Anytime the `HSIConv.java` code is used for decoding large files (> 2048 bytes), `readFile` will only read fragments of the files. The reason is that the calculation done for how many bytes are remaining in the original byte buffer after an encode/decode after an Overflow `CodecResult` is not exactly correct.

To test this out: set the locale to something equivalent to ASCII so that the iconv code

[2018-04-30 13:21] Jyothsnasrinivas opened #741 "Algolia search index is stale"
As @fosskers pointed out, we are getting a lot of 404s with the new documentation. This is most likely due to Algolia's scraper.

[2018-04-30 18:07] Jyothsnasrinivas commented on #697
The new docs are now available in the main repo. Any updates will reflect on the website.

[2018-04-30 18:07] #697 closed

[2018-04-30 18:22] #741 closed, assigned to nobody

[2018-05-01 18:36] p-h opened #742 "Broken Links on website."
https://www.deadlinkchecker.com gives me the following:

- https://eta-lang.org/docs/eta-tutorials/web-services/overview
- https://eta-lang.org/docs/user-guides/eta-user-guide/installation/gradle-installation
- https://eta-lang.org/docs/user-guides/eta-user-guide/installation/etlas-installation
- https://eta-lang.org/docs/user-guides/eta-user-guide/installation/docker-installation
- https://eta-la

[2018-05-02 11:46] Jyothsnasrinivas commented on #742
Thanks for reporting @p-h ! We've fixed all the broken links. Closing this issue.

[2018-05-02 11:46] #742 closed

[2018-05-02 19:14] jneira commented on #740
Hi, your analysis is correct and i am afraid that it is difficult to compute the bytes readed in the overflow case cause we have an intermediate buffer using utf-16 between the two charsets being recoded.
I think that is inevitable to go down a abstraction level and do the decode/encode step for every char, probably using [decodeLoop](https://docs.oracle.com/javase/7/docs/api/java/nio/charset/Char

[2018-05-04 11:28] bbarker commented on #736
@puffnfresh Managed to upgrade to nix 2.0.1 (which is exciting on its own), however, the problem seems to persist as in both cases above. For your branch:

[code]

[2018-05-05 02:19] rakeeb11 opened #743 "[eta-tour]: Bug - Cannot type into the editor"
Source Code:
[code]

Output:
[code]

While using the tour guide for Eta I couldn't type into the editor. Keys like enter and backspace only work.

[2018-05-05 04:12] puffnfresh commented on #736
Wow that's really useful @bbarker, I'll take a look.

[2018-05-05 05:47] puffnfresh commented on #736
@bbarker a big part of the problem is ghc7103 is not longer supported in nixpkgs, even though it's still there. Many packages are missing the dependencies they need. I managed to work around most of them but got stuck on bin-package-db.

@rahulmutt there's no chance of Eta compiling under ghc802 or newer, right?

[2018-05-07 22:00] f-f commented on #704
Hi @jneira! Thanks for the effort in here :)

I'm trying to replicate it, and I think I'm hitting the same issue with the `StackOverflowError` when trying to evaluate some super simple input (like `[ 1 , 2 ]`) that you fixed [here](https://github.com/typelead/eta/issues/704#issuecomment-380340818).
I noticed that in the meanwhile we have `megaparsec-6.5` (which doesn't have the patch) up on eta-st

[2018-05-08 08:38] jneira commented on #704
@f-f hi, thank you for join us and try it.
The version that i've used to build and test is a [branch of the `eta-lang` fork of `dhall-haskell`](https://github.com/eta-lang/dhall-haskell/tree/eta), but the unique diff with upstream is the dhall-repl executable is commented and afaik it does not have to do with the error.
I've reinstalled dhall-haskell with etlas again and i am able to reproduce the

[2018-05-10 06:51] jneira commented on #691
In the meanwhile it seems cabal 2.2 has fixed the long path issue: https://github.com/haskell/cabal/blob/master/cabal-install/changelog#L57-L59

[2018-05-11 21:04] Jankoekenpan opened #745 "Etlas 1.3.0.0 fails to download eta on Windows 10"
When running `etlas update` it fails to find eta binaries for my platform. For some reason it decided that it should use wget (which I've got installed on windows 10 yes, I'm weird) and gave a warning.

I worked around the issue by running etlas with the http-transport command line option set to powershell, but I still think there is a bug with the wget http-transport.

[code]

[2018-05-12 11:15] jneira commented on #745
Hi!, to trace the cause of the wget error, could you share the output of `etlas update -v3` (using wget)?

[2018-05-12 14:09] Jankoekenpan commented on #745
[code]

[2018-05-12 21:25] jneira commented on #745
The error is clear (let me translate it to english):
`ERROR: Name 'sa88gl.wpc.edgecastcdn.net' in certificate does not match requested hostname 'cdnverify.eta-lang.org'.`
However if you open the url in a browser it shows the certificate as correct. If you check the certificate data, it has in the Server Alternate Name (SAN)  the actual host (cdnverify.eta-lang.org)
Otoh [this site](https://conflue

[2018-05-12 21:30] jneira commented on #743
Hi, sorry for the late response.
I just have test that code in the eta-tour (in this link: https://tour.eta-lang.org/start#4) and the output is different:
[code]
And i can type any char in the editor... can you share the link to the concrete module where you got the problem?

[2018-05-13 15:58] Jankoekenpan commented on #745
I upgraded to wget version 1.19.4 and the issue was resolved, thanks!

[2018-05-13 15:58] #745 closed

[2018-05-14 02:15] glhrmfrts opened #746 "Compiling Crypto.Hash.MD5 eta.exe: panic! (the 'impossible' happened)"
I added the package **uuid:1.3.13** as a dependency to my project and while installing it the compiler gave me this error:

[code]

I am using gradle 4.7 with the etlas plugin on a Windows machine.

[2018-05-14 06:08] jneira commented on #746
Hi and thanks to try `eta`!
It seems `cryptohash-md5` package uses calls to c native code (with the `ccall unsafe "value sha1.h hs_cryptohash_sha1_finalize"`) and i am afraid `eta` does not support it by design.
The fix usually involves create a patch for the package in the [`eta-hackage`](https://github.com/typelead/eta-hackage) patch set, replacing the c calls with java ones. As `uuid` seems to

[2018-05-14 06:39] jneira commented on #710
Hi, i've reproduced the issue in [this branch of my eta-test project](https://github.com/jneira/eta-test/tree/print-ffi). Then i've decompiled the project class files and compiled again with javac and the output is correct, so i think the bug is related with the jvm bytecode generated by eta.
The decompiled java files and recompiled with javac class ones is [in this jar](https://github.com/jneira/

[2018-05-15 10:19] rahulmutt commented on #736
@puffnfresh There is a chance. We face long compile times when hacking on the compiler and are concerned about the compile-time regressions in GHC 8. It doesn't hurt to experiment though and bump up the stack resolver to the most recent version and see what happens.

GHC 8 has a better optimization pipeline so that *may* mean that the Eta compiler itself will get a nice perf boost, but we'll have

[2018-05-20 19:33] jneira commented on #740
Closed with #744

[2018-05-20 19:33] #740 closed

[2018-05-21 19:58] carymrobbins opened #747 "NPE in EtaParserDefinition"
This can be reproduced by running the `file-type-assoc` branch from [intellij-eta](https://github.com/typelead/intellij-eta) with `./gradlew runIde`. Happens pretty quickly when editing an Eta source file. Seems like an RTS issue/race condition to me.

You can view the IntelliJ logs with the following when running with `runIde` -

[code]

Relevant part of `EtaParserDefinition.hs`

[code]

Relevant

[2018-05-21 21:11] jneira commented on #730
Hi, with the last version of eta-init/gradle-plugin i am not able to reproduce so i will close this one.
@dumptruckman feel free to reopen this issue if you continue having the same error (in https://github.com/typelead/gradle-eta as suggested by @rahulmutt)

[2018-05-21 21:11] #730 closed

[2018-05-21 22:14] jstr045329 opened #748 "[eta-tour]: Bug - hello world type program produces no output"
The following code produces no output in the console:

Source Code:
[code]

Output:
[code]

[write-further-description-here]

[2018-05-21 22:26] jneira commented on #77
@rahulmutt yeah, it seems it can be closed

[2018-05-21 22:50] jneira commented on #256
Closed by #419
(But it seems to be somewhat related with #710)

[2018-05-21 22:50] #256 closed

[2018-05-21 23:05] jneira commented on #285
@rahulmutt  Maybe this one os not longer needed due to #622 and `etlas new-build` by default

[2018-05-21 23:08] jneira commented on #321
@rahulmutt maybe it is covered with `etlas new-build` as default

[2018-05-21 23:26] jneira commented on #537
closing cause we are not able to reproduce: @flyfish30, feel free to reopen if you continue having the error

[2018-05-21 23:26] #537 closed

[2018-05-22 04:46] rahulmutt commented on #77
Great, closing!

[2018-05-22 04:46] #77 closed

[2018-05-22 04:46] rahulmutt commented on #748
@jstr045329 I am unable to reproduce this. Maybe it was a transient error on the backend side. Are you seeing any errors in the console?

[2018-05-22 04:49] rahulmutt commented on #285
@jneira Yes, you're right! This issue is fixed.

[2018-05-22 04:49] #285 closed

[2018-05-22 04:51] rahulmutt commented on #321
@jneira You're right, this is no longer needed.

[2018-05-22 04:51] #321 closed

[2018-05-23 12:19] rahulmutt opened #749 "Use the singleton instances for nullary data constructors"
Currently, singleton instances for nullary data constructors are generated:

The example below is for `[]` constructor of the `[a]` data type.
[code]

But when generating the singleton accessor in the module class, we don't use this `INSTANCE` when we should:

`ghc_prim.ghc.Types`
[code]
The function above should instead generate:
[code]

This should have a minor perf improvement + startup time im

[2018-05-25 00:34] rahulmutt opened #750 "Document or give warning about dangerous FFI signature"
An example given by `@hvze`:
[code]

It turns out that if you write code such that in a particular branch you force the value of `b`, it will be forced to that value even if it takes other values for other branches. This can lead to unexpected class cast exceptions at runtime! The compiler should either generate a warning, or there should be a note in the docs that you have to be careful.

[2018-05-28 05:05] rahulmutt commented on #661
While working on the external interpreter which makes heavy use of the `binary` library, we discovered that 10000 is too lenient of a limit and causes StackOverflowErrors. After some tuning it looks like 1000 is a better default. Only more aggressive use of the trampolining feature can tell us what the *best* default will be.

[2018-05-29 12:44] rahulmutt commented on #749
Implemented in aa41f67

[2018-05-29 12:44] #749 closed

[2018-06-03 05:04] rahulmutt opened #752 "Allow DecsQ in TH splices in Eta REPL"
The steps shown below produce undesirable behavior:

[code]

This is an outstanding issue in GHC as well, see https://ghc.haskell.org/trac/ghc/ticket/12410. The comments in the ticket indicate that it should be fairly easy to implement.

Basically, when we detect an expression of type `Q a`, we should automatically run the splice just like we would in normal source code. It seems meaningless to at

[2018-06-03 08:20] rahulmutt commented on #130
Successfully completed and working in Eta v0.8.0b1. Docs/release coming soon.

[2018-06-03 08:20] #130 closed

[2018-06-04 04:37] rahulmutt commented on #704
@jneira For etlas purposes, I don't think we need to worry too much about the `cabal-version` field, so using `1.12` is fine. We don't have to deal with backwards compatibility like Cabal guys do.

Yes, the extra-libraries "hack" was to avoid creating a new field for maven-depends, but I guess it doesn't hurt to add a separate `mavenDepends` field to `BuildInfo` and update `dhall-to-etlas` accordi

[2018-06-04 06:46] rahulmutt commented on #709
I don't remember the fix, but `eta-benchmarks` no longer hangs on master.

[2018-06-04 06:46] #709 closed

[2018-06-05 05:34] jneira commented on #746
@glhrmfrts thanks to the patchs done by @Jyothsnasrinivas the uuid package compilation should not fail with those errors, feel free to reopen of fill anothe issue if it still does not compile

[2018-06-05 05:34] #746 closed

[2018-06-06 06:40] rahulmutt opened #753 "Allow declaration splices in the REPL"
[code]

We would like the first one to behave as the second, since top-level splices work in normal source code. It adds consistency between source code and the REPL.

We attempted to fix this but we faced the difficulty that the unsolved constraints upon constraint solver were unable to be captured, so we have no information to work with when a typechecking failure like the above happens. It may

[2018-06-06 06:40] rahulmutt commented on #752
This is implemented and working on `master` and will be included in the 0.8.0b2 release.

Some limitations:
[code]
works, while
[code]
doesn't.

We faced some troubles trying to extract the constraints from the failed constraint solver when trying to unify `Q [Dec] ~ Q Exp` because the constraints get cleared out. See #753 for more info.

[2018-06-06 06:40] #752 closed

[2018-06-06 20:16] Supernerd11 opened #754 "Cannot install eta 0.8.0b1 via etlas"
When trying to install the latest version of eta i get the following error:
[code]

Running the binary `home/jonathan/.etlas/binaries/cdnverify.eta-lang.org/eta-0.8.0.1/binaries/x86_64-linux/eta` produces:
[code]

[2018-06-06 20:19] mbrc12 commented on #754
This issue has been fixed in master, so you can either clone and build the repo, or wait for a revision which I guess will soon be released by typelead.

[2018-06-06 20:28] jneira opened #755 "Error building packages with modules containing ANN pragmas (f.e. optparse-applicative, aeson)"
* Trying to build the package optparse-applicative-0.14.0.0 with last version of eta with template haskell support i ve got this error, related with ghc [ANN pragmas](https://downloads.haskell.org/~ghc/8.4.1/docs/html/users_guide/extending_ghc.html#annotating-values):
[code]
If i comment out the ANN pragmas the package can be built (no errors about instances)

[2018-06-07 00:43] rahulmutt commented on #755
Strangely enough, I am unable to reproduce this on OS X. That `terminateProcess: permission denied (Permission denied)` implies there may be some Windows permission problem. Perhaps Windows has restrictions on how subprocesses can be terminated?

[2018-06-07 00:51] rahulmutt commented on #754
@Supernerd11 We just deployed the linux binary for 0.8.0b2 which should work. Run these:

[code]

[2018-06-07 00:51] #754 closed

[2018-06-07 06:42] jneira commented on #755
Maybe related with https://github.com/haskell/process/pull/111?

[2018-06-07 10:32] jneira commented on #755
@rahulmutt what do you think about comment out ANN pragmas in eta-hackage patches for now?

[2018-06-07 11:43] jneira opened #756 "ClassNotFoundException evaluating an IO function in a repl within wai-servlet-handler-jetty"
Trying to run a `wai-servlet` app:
[code]

[2018-06-07 12:36] jneira commented on #734
The output in console has the same codes :worried: :
[code]

[2018-06-07 16:33] NickSeagull commented on #756
Happened to me yesterday with a simple Hello World also

[2018-06-08 02:51] rahulmutt commented on #755
Yeah that's fine. Do you think you can make a fork of the `process` package, apply the patch in the linked PR, add your fork via Git dependency to the `stack.yaml` in your `eta` repo and see if that fixes the problem? If so, we can try to push the PR to get merged and use the fork in the meantime.

[2018-06-08 02:53] rahulmutt commented on #734
@jneira Were you able to try out

[code]

And see if that avoids the codes? The colors in the REPL should respect that flag.

[2018-06-08 06:02] anonymous-human opened #757 "Debug.Trace infinite loop"
The following program:

[code]

:will fail with this output:

[code]

The offending code in https://github.com/typelead/eta/blob/master/libraries/base/java-utils/Utils.java calls itself:

[code]

I would submit a one line pull request but I cannot get figure out how to get my locally built *eta* to be used by *etlas*, so therefore cannot test that replacing *debugBelch* with *RuntimeLogging.debugB

[2018-06-08 06:18] jneira commented on #734
@rahulmutt i am afraid it seems that option (in etlas/config, right?) is not honored, both the builds and the repl keep showing the codes

[2018-06-08 06:33] jneira commented on #757
@anonymous-human thanks for report and tried to fix it
The cleanInstall script [should build etlas](https://github.com/typelead/eta/blob/master/cleaninstall.sh#L17) and [make it work with the local version of eta](https://github.com/typelead/eta/blob/master/shake/Build.hs#L181)

[2018-06-08 07:26] rahulmutt commented on #649
This was wrong closed due to a typo in the commit message.

[2018-06-08 07:35] rahulmutt commented on #755
@jneira Have you verified that it fixed it?

[2018-06-08 08:59] jneira commented on #734
After building last version of eta (and keeping `-fdiagnostics-color=never`) the console output is clean (only the welcome message continue having coloring codes and unicode unrecognized chars)

[2018-06-08 09:37] jneira commented on #755
Oh, i closed it in the commit without wanting, thank you for reopen.
Btw, i get to build process in windows (it needs a sh with `autoconf` and `m4` and after run `autoconf` in mingw64 i had to manually add https://hackage.haskell.org/package/process-1.0.1.3/src/include/HsProcessConfig.h.in cause autoconf didnt create it)
And... it didn't fix the error :worried:

Could be that error mask another pr

[2018-06-08 09:58] rahulmutt commented on #734
@jneira I pushed a commit to `master` that should handle the build log issue as well with `-fdiagnostics-color=never`. Can you give it a try? Also, it would be great if you can share a screenshot for how it looks with unicode unrecognized characters.

[2018-06-08 09:59] rahulmutt commented on #755
@jneira Yes you may be right about error masking. `terminateProcess` is only called in the first place if some exception happened on the eta-serv side. Let me try it out on the Windows node.

[2018-06-08 10:17] 573 opened #758 "nix build"
Getting:

semigroups >=0.18
builder for '/nix/store/h7ccn1vcbs1vp3i3434iapjqrz76cyg2-shake-0.16.3.drv' failed with exit code 1
building '/nix/store/b2c56psq4yk8mpgscc4y824dbsz2hwid-conduit-1.2.13.1.drv'...
cannot build derivation '/nix/store/653hjpi7d3zk0l9lfrrjjl69zwklmq74-eta-build-0.0.0.drv': 1 dependencies couldn't be built
error: build of '/nix/store/653hjpi7d3zk0l9lfrrjjl69zwklmq74-eta-build

[2018-06-08 10:21] 573 commented on #758
Closing as duplicate of #736

[2018-06-08 10:21] #758 closed

[2018-06-08 11:39] jneira commented on #734
No coloring codes now in build... great!
The welcome message as i see:
[code]
otoh testing the building output i've got an error building wai-servlet:
[code]
Note there is no `:` after D, not sure if it is related with the error

[2018-06-08 12:42] jneira commented on #734
@rahulmutt maybe the last error is related with #640?

[2018-06-08 13:01] rahulmutt commented on #734
@jneira There is a fallback for terminals that don't support unicode and for some reason that's not working here. I think the test below needs to be refined:
https://github.com/typelead/eta/blob/master/compiler/Eta/Main/DynFlags.hs#L1481-L1486

[2018-06-08 13:07] rahulmutt commented on #734
For example, testing in Git Bash on windows server gives this:
[code]

which is the correct fallback.

[2018-06-08 13:30] rahulmutt commented on #734
@jneira I tried with PowerShell & Command Prompt and both are taking the fallback appropriately. By chance did you change your codepage to allow unicode? Maybe that codepage doesn't support the particular symbols we use to draw the rounded box in the welcome message?

[2018-06-08 14:57] rahulmutt commented on #734
The `wai-servlet` bug is fixed in 0491aa73755b415df15a5b5efb1a47ccd06d37420

[2018-06-08 15:10] rahulmutt commented on #756
With the recent master, I've tried both with OS X and the Windows node, and both gave the following output:

[code]

[2018-06-08 15:11] rahulmutt commented on #756
@NickSeagull Can you do a source installation and verify whether your bug still occurs? If so, it would be great if you can file a separate issue with the full details on how to reproduce it.

[2018-06-08 15:15] rahulmutt commented on #755
@jneira I was unable to reproduce this on the Windows node (ran `etlas repl optparse-applicative` and it succesfully loaded the REPL without issues). I wonder if permission issues are occurring.

You can try running:

[code]
And share the contents of the `optparse-applicative` build log which can be found in `~/.etlas/logs`.

[2018-06-09 03:16] rahulmutt opened #759 "Type Family Performance Improvement"
https://phabricator.haskell.org/D4766

The basic principles is to get rid of the unnecessary coercions at the Core level which were leading to long compile-times as early as possible.

[2018-06-09 03:25] rahulmutt opened #760 "Improve performance of module lookups"
https://phabricator.haskell.org/rGHCb8fec6950ad99cbf11cd22698b8d5ab35afb828f

Module lookups are done via a linked list right now which can be painfully slow on large projects. We should apply the patch above and make it faster.

[2018-06-09 03:29] rahulmutt opened #761 "Make the classloader more fine-grained"
Currently, we use two classloaders in `eta-serv` - one for loading pre-compiled packages and one for loading interpreted modules. Whenever a `:reload` is done on the REPL, it resets the latter classloader causing even the unchanged modules to get re-loaded by the new classloader. For use-cases like IDEs where reloading may happen frequently, this may be very efficient. I propose that we attach a c

[2018-06-09 03:31] rahulmutt opened #762 "Fix a space leak in the HomePackageTable"
https://phabricator.haskell.org/D4659

The HomePackageTable, that data structure that stores information about the compilation state of all the modules in the current compilation, apparently has space leaks which should be fixed.

[2018-06-09 03:33] rahulmutt opened #763 "Leak check in REPL"
There was some nice work done on detecting space leaks in the interpreter. We should probably adapt it at some point:

https://phabricator.haskell.org/D4658

[2018-06-09 11:37] jneira commented on #734
@rahulmutt i've tested in my env `wai-servlet` and it works too! thanks for the quick fix

* In windows 7 with cmd
  * I have the console with `chcp 65001` and `lucide` font and it can`t display those unicode chars
  * The repl honor the `-fdiagnostics-color=never` flag, i will test again the build asap
* In windows 10 with poweshell > 5
  * `-fdiagnostics-color=never` works for builds and repl

[2018-06-09 11:44] jneira commented on #756
Works for me too in windows 10

[2018-06-09 11:47] jneira commented on #755
* Works for me in windows 10 now (the original log is from that env)
* Will test it in windows 7 asap

[2018-06-09 14:12] jneira commented on #756
I am afraid that after a first succesful execution, i am getting the same exception again. Dont know what can i did to trigger it (i've only reinstalled wai-servlet).

[2018-06-09 14:31] rahulmutt commented on #756
@jneira Have you re-installed via `etlas install` or have you added it as a local dependency in your `cabal.project`?

[2018-06-09 15:18] jneira commented on #756
@rahulmutt sorry for the false alarm, it was another exception caused by the fact that exiting the repl does not stop the jetty server (it should do it, right?): i have to manually kill the process

[2018-06-10 04:15] rahulmutt commented on #734
I did `etlas repl > STDOUT 2>&1` and took a look at the output. What stood out was that the prompt continued to display in the terminal even after redirection. The prompt is drawn by the `haskeline` library and it may be doing some extra work for windows that's causing the weird artifacts. It's as if it's put into a mode that doesn't recognize the `\ESC[0m` color reset code, but recognizes the nor

[2018-06-11 07:15] jneira commented on #755
Works in windows 7 too.. :+1:

[2018-06-11 07:15] #755 closed

[2018-06-11 07:19] jneira commented on #756
* Tested again in win 7 with java 1.8.0_101 and it throws the same `ClassNotFoundException` (i double checked it this time), i wonder if it is related with permissions

[2018-06-11 09:55] jneira commented on #756
* After update my local eta-serv binary the `ClassNotFoundException` error is gone.. yay!
* @rahulmutt However the jetty serve continue running after exiting the repl

[2018-06-11 10:27] rahulmutt commented on #756
I just realized why. We need to manually kill off all the active threads on RTS shutdown, which I think is not happening. Can you share the output of `jstack` after exiting a REPL that started a jetty server?

[2018-06-11 11:17] jneira commented on #704
Hi, as there is a bug with last version of eta related with redirecting output to eta executables i've setup a [eta example using dhall as a lib](https://github.com/jneira/eta-test/blob/dhall/app/Main.hs) . It requires [a patch for dhall in eta-hackage](https://github.com/typelead/eta-hackage/pull/97).
The test pass:
[code]

Not sure if it is due to changes in dhall, eta or using dhall as a lib in

[2018-06-11 12:48] rahulmutt commented on #757
@anonymous-human Are you planning on submitting a PR for this?

[2018-06-11 15:36] rahulmutt commented on #704
With a bit of debugging, I was able to isolate it to the following program:
[code]

It turns out that using the normal `getContents` from `System.IO` works fine, but `Data.Text.IO` doesn't. This may be related to the fact that we recently patched `text-1.2.3.0` which may have changed the behavior of `getContents` for `Text`.

[2018-06-11 17:54] rahulmutt commented on #704
@jneira Fixed with https://github.com/typelead/eta/commit/964a98bd6ead37fab1fd10d091b83aa3d2775065. Turns out `hFileSize` returns `-1` if the handle is not a file handle, which we weren't doing. Surprised we didn't hit this before.

After rebuilding from scratch, I get this:
[code]

Can you try to reproduce the stackoverflowerror you were getting before?

[2018-06-11 18:09] rahulmutt opened #764 "User-defined type errors"
See the GHC Wiki: https://ghc.haskell.org/trac/ghc/wiki/Proposal/CustomTypeErrors

And the relevant differential: https://phabricator.haskell.org/D1236

Essentially, this will allow users to specify which error shows up w/ unexpected cases in type families as well as missing instances.

[2018-06-11 21:51] jneira commented on #704
No `StackOverflow` now in my tests!
[code]

[2018-06-11 23:27] anonymous-human commented on #757
Hi Rahul,

I don't think I am, but not for lack of trying. When I go to build my copy of eta using *./cleaninstall.sh*, I get a compiler error on:

https://github.com/typelead/eta/blob/964a98bd6ead37fab1fd10d091b83aa3d2775065/libraries/base/java-utils/Utils.java#L164

[code]

The compiler cannot find the package eta.ghc_prim. I am no Java expert, so that is where I got stuck unfortunately. I pulle

[2018-06-11 23:58] rahulmutt commented on #757
@anonymous-human That error happens with Java 9 and above, although I recently pushed a fix. It may also happen with an unsupported locale.

Try this and let me know:
[code]

Also if you pulled from `master` a while back, I suggest you update to get the Java 9+ fix.

[code]

[2018-06-12 09:08] rahulmutt opened #765 "Implement exponential backoff on blocking"
In the Eta runtime, whenever it blocks on an operation like reading/writing a file or waiting for an MVar to be filled, it will run `blockedLoop` which does various cleanup/scheduling activities followed by a 1ms wait time. When a bunch of threads are waiting like this, they have a higher chance of contending with each other. We should try to implement some form of [exponential backoff](https://en

[2018-06-12 09:46] #763 closed

[2018-06-12 13:56] rahulmutt commented on #757
Fixed with #766

[2018-06-12 13:56] #757 closed

[2018-06-13 01:47] rahulmutt commented on #619
The patch for `crypto-api-0.13.2` is now available.

[2018-06-13 01:47] #619 closed

[2018-06-13 04:35] rahulmutt commented on #704
I have been debugging this and it turns out there are yet-to-be implemented FFI calls in the `cryptonite` patch. I've fixed the error shown above with `/dev/random` locally and I'm tackling the next one involving the implementation of ChaCha.

[2018-06-13 21:49] davips opened #767 "Compiling Numeric.Half eta: panic!"
I am trying to compile a Gloss project that I used to compile with Stack/Cabal, but no success.
It stops in the dependence Numeric.Half.

[code]

[2018-06-14 02:14] Jyothsnasrinivas commented on #767
@davips Thanks for reporting. Gloss requires a windowing manager backend. For Eta this means that someone needs to write a JavaFX backend for Gloss to work.

[2018-06-14 05:17] #760 closed

[2018-06-14 05:17] #762 closed

[2018-06-14 10:05] davips commented on #767
That makes sense, thanks

[2018-06-14 13:19] #764 closed

[2018-06-14 13:37] Jyothsnasrinivas commented on #120
Backported ApplicativeDo in f6ebc0ae3058016379131b086c0ee5f0cf01412a

[2018-06-14 13:37] #120 closed

[2018-06-14 15:30] Jyothsnasrinivas opened #768 "Fix Module loading for Rules"
The corresponding GHC commit: https://github.com/ghc/ghc/commit/0cb1f5cf26fae946ca745abc5e302e62a8f66feb

[2018-06-18 03:28] Jyothsnasrinivas opened #769 "Improve the User Experience of Warning flags"
Provide more context for warning-flags by using the warn-reason data type in GHC 8

[2018-06-18 04:27] rahulmutt commented on #704
Updates: I've implemented Curve25519 and AES-GCM as well and the new error seems to be about a mismatch in MAC codes.
[code]

See https://github.com/vincenthz/hs-tls/issues/276 for more details.

[2018-06-18 06:07] Jyothsnasrinivas commented on #524
Resolved in 2548001d2212af77f76f4d88a722195d0834f2a6. Eta now has deterministic builds for interface files. I'll create a new issue for reproducible JAR files

[2018-06-18 06:07] #524 closed

[2018-06-18 06:13] Jyothsnasrinivas opened #770 "Deterministic builds for JAR files"
With commit 2548001d2212af77f76f4d88a722195d0834f2a6 we have deterministic interface files. We need to work on deterministic JAR files.

The files marked red show that the hashes are different for the JAR files. We need to investigate all the sources of non-determinism in the code generator.

<img width="1280" alt="screen shot 2018-06-18 at 11 39 59 am" src="https://user-images.githubusercontent.c

[2018-06-18 08:45] Jyothsnasrinivas opened #771 "Add warning flag for missing signatures"
Opt_WarnMissingSignatures,
Opt_WarnMissingExportedSignatures &
Opt_WarnMissingPatternSynonymSignatures

[2018-06-18 09:08] jneira opened #772 "Make clear all the possible classes for ffi exports in docs"
[Actual docs for ffi exports](https://eta-lang.org/docs/user-guides/eta-user-guide/java-interop/java-interop-basics#exporting-eta-methods) should be updated to take in account all possible cases:
* The `[export string]` is optional and it can have the `@static` annotation or not
* You can export an instance method of a new class defined in eta code subclassing an existing java interface, abstract

[2018-06-18 09:29] jneira commented on #710
Hi, the problem was simpler than expected by me:
* Anf ffi export should have `@static` int the `[export string]` to generate static methods in the class module. Without it it generates instance method not callable from java cause the class module has no constructors
* With
[code]
* Eta generate this method in the class module:
[code]
* That is, there is a static method that returns the internal c

[2018-06-18 09:54] jneira commented on #772
@rahulmutt Maybe the compiler should reject non static ffi exports without `[export-jwt]`?

[2018-06-18 11:09] rahulmutt commented on #772
@jneira Yes, definitely.

[2018-06-18 11:11] rahulmutt commented on #710
@jneira Great analysis. I think all this will be fixed with better typechecking for foreign exportation declarations which is going to be done soon.

[2018-06-18 16:43] jstr045329 commented on #425
I got the same issue:
❯ etlas repl
etlas: A REPL is not supported with this compiler.
I decided to double check etlas --version, and kept getting 1.3, not 1.4 which contains the fix. What worked for me was:

1. Removing ~/.local/bin/eta and the other eta directories,
2. Deleting /usr/local/bin/etlas,
3. Clean download of etlas from eta-lang.org (I use the etlas install. Had issues with Gradle when

[2018-06-19 04:42] rahulmutt commented on #425
Hi @jstr045329, development on `gradle-eta` has been rapid and it's likely that the bug has been fixed. If you faced difficulty with Gradle, please try again and file a bug report [here](https://github.com/typelead/gradle-eta/issues/new) it still persists.

[2018-06-19 10:52] Jyothsnasrinivas commented on #769
As of commit 87d5a78b0a512eb5044ebd7c971956cbfb80d59a this issue is resolved. Check out the images below:

<img width="572" alt="screen shot 2018-06-19 at 4 17 06 pm" src="https://user-images.githubusercontent.com/13062967/41593078-77f7c07c-73dc-11e8-8325-692857891fd9.png">

<img width="623" alt="2" src="https://user-images.githubusercontent.com/13062967/41593137-ae0c3ce2-73dc-11e8-9b2a-2d6ae2d89a

[2018-06-19 10:52] #769 closed

[2018-06-19 15:59] rahulmutt opened #773 "Make stable linkables computation faster"
https://phabricator.haskell.org/D3611

This replaces O(n) lookup with O(1) lookup. Makes the `:reload` command for GHCi significantly faster for large projects.

[2018-06-20 00:33] rahulmutt opened #774 "Add a deterministic build output test"
Having deterministic build outputs is something you need to think about for every change to the compiler. In case we mess up, there should be a test in our CI that keeps us in check. We already build a good chunk of hackage in the CI. We can verify determinism by running the test once, taking the hashes of all the JARs in the Etlas Store, followed by running it again and verifying that the hashes

[2018-06-20 00:47] rahulmutt commented on #748
Closing, as the bug was not reproducible.

[2018-06-20 00:47] #748 closed

[2018-06-20 03:24] rahulmutt opened #775 "Add a flag -fnormalize-jar to normalize timestamps"
When this flag is on, the resulting jar will have all the timestamps fixed to a certain value to ensure bit-for-bit reproducibility.

See https://github.com/bazelbuild/rules_scala/blob/master/src/java/io/bazel/rulesscala/jar/JarHelper.java#L45-L49 for an example.

[2018-06-20 03:27] rahulmutt opened #776 "Remove .eta-link-info from jar files"
To detect changes in Java source files and Java dependencies and recompile accordingly, an `.eta-link-info` file is stored into the output jar and contains a set of hashes to later compare for changes. The problem is that this file is a bit volatile and keeps changing so it hurts build reproducibility. It should be stored separately in the build output folder instead.

[2018-06-20 07:30] jneira commented on #776
Agree, i'll try to take a look asap.

[2018-06-20 22:34] jneira opened #778 "Link info changes between equivalent builds"
* So the linking is triggered unnecessarily
* Detected cause it made builds no reproducible (#776)
* Actually etlas new build makes that that link info is not used cause etlas hashes the sources and does not call eta if they dont change. So it is not a big priority.

[2018-06-21 01:15] rahulmutt commented on #776
Resolved with #777

[2018-06-21 01:15] #776 closed

[2018-06-21 08:00] jwiegley commented on #736
Has there been any progress on this? I'm also having difficulties getting it to build with current nixpkgs.

[2018-06-21 10:27] puffnfresh opened #779 "Can't generate Haddock for eta-repl"
I tried to build the Haddock for eta-repl and I got an error at this line:

https://github.com/typelead/eta/blob/eb9e98b4734df62c973ea79546c8e3ab8651081c/libraries/eta-repl/Eta/REPL/Message.hs#L50

[2018-06-21 10:30] puffnfresh commented on #779
Same with eta-meta with this comment:

https://github.com/typelead/eta/blob/eb9e98b4734df62c973ea79546c8e3ab8651081c/libraries/eta-meta/Language/Eta/Meta/Server.hs#L95-L96

[2018-06-21 12:36] #779 closed

[2018-06-21 12:36] rahulmutt commented on #779
Reproduced this with `stack haddock`. It seems the issue is this: https://github.com/haskell/haddock/issues/43

Prefix comments are not supported in 7.10.3 it looks like. Will convert them all to normal comments for now until we migrate to GHC 8 completely.

[2018-06-21 12:37] rahulmutt opened #780 "Add stack haddock as build step for CI"

[2018-06-21 12:38] puffnfresh commented on #779
Thanks! :heart:

[2018-06-21 12:42] puffnfresh commented on #736
Upgrading to GHC 8.2 is fairly involved. I've instead rewritten the Nix expression to use nixpkgs 17.09 so that we get GHC 7.10 instead:

#781

This gets us really close to something working again.

[2018-06-21 18:36] jwiegley commented on #736
@puffnfresh Very close! Though now it fails compiling Eta itself:

[code]

[2018-06-21 18:37] jwiegley commented on #736
Never mind, didn't update submodules.

[2018-06-22 23:54] puffnfresh commented on #736
Fixed by #781

[2018-06-22 23:54] #736 closed

[2018-06-23 05:56] rahulmutt opened #783 "Update nix derivations to use latest nixpkgs"
As of 1146343, there's a file called `stack-8.2.2.yaml` that allows you to compile Eta with GHC 8.2.2. You can build the binaries with `stack install --stack-yaml stack-8.2.2.yaml` and then follow the normal ceremony with `eta-build` that can be found in `cleaninstall.sh`. This means we should be able to build Eta with the latest nixpkgs.

@puffnfresh Can you take a look at this?

[2018-06-25 09:32] #775 closed

[2018-06-25 09:44] rahulmutt commented on #770
Builds are fully reproducible after resolving #775.

[2018-06-25 09:44] #770 closed

[2018-06-26 05:48] jneira commented on #688
I'm trying to adapt base-4.11.0 to eta in this repo: https://github.com/jneira/packages-base.

[2018-06-30 10:50] #773 closed

[2018-07-03 04:38] rahulmutt opened #786 "[etlas] --repl-options flag"
The global REPL should support sending options directly to the `eta` compiler via `--repl-options` flag. For the project REPL, you can already do so with the `eta-options` field in the cabal file.

[code]

[2018-07-03 05:49] jneira commented on #772
I think it can be closed, filling a new issue for the suggestion in https://github.com/typelead/eta/issues/772#issuecomment-398002748

[2018-07-03 05:49] #772 closed

[2018-07-03 08:14] jneira opened #787 "Compiler should reject ill defined ffi exports"
The [currently meaningful fii exports](https://github.com/typelead/eta/blob/master/docs/0-user-guides/0-eta-user-guide/3-java-interop/0-java-interop-basics.md#exporting-eta-methods) are:
* static method: `[export string]` in the form `@static [fully-qualified-java-method-name]` and `[exportReturnType]` with this options: `Java free-type-variable [return-type]`, `IO [return-type]` or `[return-type]

[2018-07-03 08:17] jneira commented on #710
I think with the changes in docs of #782 and the new issue to avoid ill defined ffi exports #787 we can close this one.

[2018-07-03 08:17] #710 closed

[2018-07-03 20:23] jwiegley opened #788 "How to import Scala case objects?"
I have the following snippet in a project I'm working on:

[code]

How would I import in the `LowForm` symbol? I need to use it in a context like this:

[code]

[2018-07-03 22:19] puffnfresh commented on #788
You have to ask how to do it from Java. Scala objects compile like so:

[code]

You can use `javap` to read the bytecode.

[2018-07-03 22:54] puffnfresh commented on #788
I think we got to something like this:

[code]

Which seems to be working.

[2018-07-03 23:40] jwiegley commented on #788
I'm getting:

[code]

[2018-07-03 23:44] jwiegley commented on #788
Ok, it needed to be `@static @field`, but it works now!

[2018-07-03 23:44] #788 closed

[2018-07-04 00:12] jwiegley opened #789 "Cannot build with latest eta master (0649a2b1)"
I get the following output at the end of `eta-build install`, after having done `eta-build uninstall`:

[code]

Pinging @puffnfresh @rahulmutt

[2018-07-04 00:59] jwiegley opened #790 "Importing methods that take Scala anonymous functions as arguments?"
For example, I have:

[code]

Is there an easy way to import and pass a Haskell function to this method, or will I need to manually construct a `scala.Function1` instance?

[2018-07-04 01:06] puffnfresh commented on #790
https://eta-lang.org/docs/user-guides/eta-user-guide/java-interop/java-generics#working-with-java-interfaces

I imagine it would look like:

[code]

[2018-07-04 01:35] jwiegley commented on #790
Yes, that did the trick. Thank you!

[2018-07-04 01:35] #790 closed

[2018-07-04 02:37] rahulmutt commented on #789
@jwiegley Open up the `proguard.txt` in the `eta-serv` and add `-dontwarn directory.**` and run `./gradlew proJar`. Once it works, you can do `eta-build install` again to make sure you're in a consistent state.

[2018-07-04 03:37] carymrobbins opened #791 "Eta Repl IDE Support"
The following Eta Repl commands would be helpful for implementing IDE support -

* [x] `:browse` - List all names exported by a module.
* [ ] `:type-at` - Show type at expression. This works in ghci but src spans don't work in eta-repl.
* [ ] `:modules` - List all visible modules; analogous to ghc-mod's `modules` command.
* [ ] `:find` - Search for a name in visible modules; analogous to ghc-mod's

[2018-07-04 03:49] carymrobbins opened #792 "Backport -fdefer-out-of-scope-variables"
The `-fdefer-out-of-scope-variables` compiler flag will be very useful for IDE integration. The more things we can defer the more tools will be available to us despite the user's compilation state.

[2018-07-04 07:55] jwiegley commented on #789
@rahulmutt Thank you, that worked!

[2018-07-04 08:08] rahulmutt commented on #789
@jwiegley Great, in the case I'll add back that flag and close this issue.

[2018-07-04 08:09] jwiegley opened #793 "Iterating over a Scala Seq?"
So far I've been unable to find the right way to import the interface methods for `scala.collection.Seq`.  This is what I have so far:

[code]

And then later I use it like so:

[code]

Where this `modules` method has the following type:

[code]

The error I get when calling this method is:

[code]

I've tried various combinations, such as importing the `Seq` method directly, using `@wrapper` inst

[2018-07-04 08:12] rahulmutt commented on #789
Done. 6d53f4b506b912da7c34d8bdead9d52427683636

[2018-07-04 08:12] #789 closed

[2018-07-04 18:50] jwiegley commented on #793
@rahulmutt Great suggestions, I will do that, since it seems I was so close to having it done myself.

[2018-07-04 18:50] #793 closed

[2018-07-05 09:54] Kawzeg opened #794 ""Getting Started" link in README.md is broken"
The getting started link in README.md currently points to https://eta-lang.org/docs/eta-concepts/getting-started/what-is-eta, which returns 404.

I *assume* it moved to https://eta-lang.org/docs/user-guides/eta-user-guide/introduction/what-is-eta?

[2018-07-05 09:56] rahulmutt commented on #794
@Kawzeg Yes, that's correct. If you're up for it, we'd be happy to accept a PR to change that.

[2018-07-05 10:12] Kawzeg commented on #794
@rahulmutt Okay, I'm doing that. I also noticed that the proposals link points to the bug report page instead of the proposals, so I'll fix that as well.

[2018-07-05 10:21] #794 closed

[2018-07-05 12:04] #24 closed

[2018-07-05 12:07] jneira commented on #704
* Thanks to @rahulmutt  patch oh haskelline `etlas run exe:dhall -- repl` works in *nix! In windows seems to hang but we are working on this
* Otoh i've downloaded and built `dhall-json` and the json conversion works!
[code]
(i had to comment for now the yaml part cause it depends on `yaml` package that depends itself heavily in a c library)

[2018-07-08 09:15] Jyothsnasrinivas opened #797 "Parse error for ScopedTypeVariables"
The following code fails to parse:

[code]

[2018-07-08 10:45] Jyothsnasrinivas opened #798 "Missing expected Outputs from -ddump-types"
This fails to output all the expected type signatures:
[code]
Expected Output:

[code]

Actual output:

[code]

[2018-07-08 14:21] Jyothsnasrinivas opened #799 "Implement Type Applications"
It would be great to backport this to resolve type ambiguities and make type-level programming easier.

[2018-07-08 14:23] Jyothsnasrinivas commented on #201
Closing this because implementing Type Applications will solve this. Updates on Type Applications are tracked on #799

[2018-07-08 14:23] #201 closed

[2018-07-08 14:29] Jyothsnasrinivas commented on #220
Closing this because we no longer have the QuickSort example on the homepage.

[2018-07-08 14:29] #220 closed

[2018-07-08 14:31] Jyothsnasrinivas commented on #252
Closing this one because JWTs will be deprecated with Java Direct Interop but kept for backwards compatibility. For more updates subscribe to #647.

[2018-07-08 14:31] #252 closed

[2018-07-08 14:32] Jyothsnasrinivas commented on #262
Closing this one since we no longer need it with the new build system.

[2018-07-08 14:32] #262 closed

[2018-07-08 14:34] Jyothsnasrinivas commented on #265
This can be easily done with the Gradle plugin. @jneira Do you still think it's a good idea to keep it inside of etlas?

[2018-07-08 14:36] Jyothsnasrinivas commented on #374
Closing this one as the new documentation has examples for @interface.

[2018-07-08 14:36] #374 closed

[2018-07-08 14:41] Jyothsnasrinivas commented on #309
Closing this one since it's implemented. For more details check the link https://eta-lang.org/docs/user-guides/etlas-user-guide/configuration/workflow-tutorial#test-component

[2018-07-08 14:41] #309 closed

[2018-07-08 14:42] Jyothsnasrinivas commented on #302
Closing this one since `hpp` throws errrors for missing headers.

[2018-07-08 14:42] #302 closed

[2018-07-08 14:44] Jyothsnasrinivas commented on #281
Closing this one as it will no longer be relevant with Java Direct Interop #647.

[2018-07-08 14:44] #281 closed

[2018-07-08 15:03] Jyothsnasrinivas commented on #577
Closing this one since it's implemented with #682.

[2018-07-08 15:03] #577 closed

[2018-07-08 15:20] Jyothsnasrinivas commented on #589
Closing this one since it's implemented on 593bad1c9f7ebfca10f233f40474ea7203d1cada

[2018-07-08 15:20] #589 closed

[2018-07-08 22:00] jneira commented on #265
yeah, gradle seems to be the correct tool for this

[2018-07-09 01:33] rahulmutt opened #800 "Make Fibers API-complete"
We need non-blocking versions of the following APIs:
- Software Transaction Memory
- Asynchronous Exceptions (the thread that throws the exception blocks)
- Non-Blocking I/O (already worked on by @ouromoros)
- Supporting `java.util.Future` and related variants

As of now Fibers just support MVars. Moreover, we should shift the Fiber API into the standard library (not necessarily Prelude).

[2018-07-09 14:44] tomhodgins opened #801 "Website broken between 1025px and 1225 in width"
Hey, I was a little surprised by loading up your website yesterday to check out the project. The homepage of the website appeared broken to me (buttons overlaying text, backgrounds overlaying text) and so I'm reporting this bug on the website itself.

My first impression of Eta has been that whoever built the homepage, my first impression of the project and the very first thing you see when you ge

[2018-07-09 17:07] Jyothsnasrinivas commented on #265
@jneira In that case I'm closing this issue.

[2018-07-09 17:07] #265 closed

[2018-07-09 17:08] Jyothsnasrinivas commented on #565
Sandboxes are deprecated with the new-build system, so this issue is no longer relevant.

[2018-07-09 17:08] #565 closed

[2018-07-09 17:11] Jyothsnasrinivas commented on #267
The gradle plugin can support customized deployments pretty well, so it makes more sense to use it for these use cases.

[2018-07-09 17:11] #267 closed

[2018-07-09 17:14] Jyothsnasrinivas commented on #402
@fmthoma, @mandubian: @puffnfresh has updated the nix derivations to work with the latest version of Eta. Can you guys check whether it fixes the build? Thanks!

[2018-07-09 17:15] Jyothsnasrinivas commented on #266
The gradle plugin can support customized deployments pretty well, so it makes more sense to use it for these use cases.

[2018-07-09 17:15] #266 closed

[2018-07-09 17:16] Jyothsnasrinivas commented on #801
Thanks @tomhodgins for the detailed issue. I've deployed a fix for this. Please do a hard reload and try again. Let me know if there are anymore problems.

[2018-07-09 17:18] Jyothsnasrinivas commented on #735
@JustusAdam this should be fixed now. Can you do a hard reload and let me know if it looks better now?

[2018-07-09 17:34] tomhodgins commented on #801
That seems to have resolved the issue I was seeing!

[2018-07-09 17:34] #801 closed

[2018-07-09 17:36] Jyothsnasrinivas opened #802 "Warnings not showing up in multi-module test cases"
For example: Test T4355 for Typecheck fails.

[2018-07-10 15:05] JustusAdam commented on #735
Looks good to me. It jumps around a bit when making the window smaller, but it no longer overlaps.

[2018-07-10 15:15] rahulmutt commented on #466
I'm not sure I think @raulraja suggested it a while back. What are the main applications of providing a `ScriptEngine`?

[2018-07-10 15:35] Jyothsnasrinivas commented on #735
@JustusAdam Thanks for confirming! Closing this one.

[2018-07-10 15:35] #735 closed

[2018-07-10 15:56] jneira commented on #466
I've read the javadocs and it seems eta would register a script engine to let users eval eta code from java in a standard way, so it can be actually usefuf

[2018-07-10 17:30] rahulmutt commented on #466
Hmm in that case until Eta self-hoists (#423), we can't really implement this unless ScriptEngine allows you to talk to a native sever process.

[2018-07-10 19:21] Jyothsnasrinivas commented on #738
@tjhunter We've backported OverloadedLabels. It should work with the current master and will be available in the next binary release. Closing this issue for now. If you face anymore problems feel free to open an issue.

[2018-07-10 19:21] #738 closed

[2018-07-11 05:58] rahulmutt opened #803 "Include directory package by default in the global REPL"
The `:cd` command requires `directory` package to be included - we should make sure we link it by default when loading the global REPL.

[2018-07-11 06:17] jneira commented on #691
The same user that did the referenced cabal pr has another one (but it is not merged yet): https://github.com/haskell/cabal/pull/4978. With this one the paths will be shorter so it should help too.

[2018-07-11 10:52] puffnfresh opened #804 "eta: panic! (the 'impossible' happened) on eta-scala-interop"
Using Eta as of b68dbcb8fdb5e864806f14fed85c2a16df1d0628, I am trying to build https://github.com/typelead/eta-scala-interop

If I do `etlas build` I get:

[code]

If I do `etlas repl` I get:

[code]

The problem is probably in eta-scala-interop but I think the error could be better here.

[2018-07-11 10:54] rahulmutt commented on #804
Run `rm -rf ~/.etlas/store` and try again. It looks like you have stale interface files.

[2018-07-11 12:31] jneira commented on #691
The situation is much better with the patch of @Kawzeg: the limit for `store-dir` (and the project dir) is now around 50 instead 30 so builds will work with the default dir for `store-dir` (`%APPDATA%\etlas\store`) *for most users* (including me! :stuck_out_tongue:)
However still there is still the pr referenced above (#4978) that can let work with paths longer so i think we can reopen the issue t

[2018-07-11 12:51] jneira opened #805 "Error runing etlas repl in a project with java source files"
* Trying to run `etlas repl` in `wai-servlet` i got this error:
[code]
* The repl starts with no modules loaded (and you cant load them with :m)

[2018-07-11 12:57] jneira opened #806 "Emacs ide integration with eta"
* Currently @carymrobbins is working in `eta-ide` a server JSON proccess that will can be used to setup the emacs integration (among others like intellij)
* The integration should be documented as well (main issue is #389)

[2018-07-11 13:38] rahulmutt commented on #805
@jneira It would be helpful if #778 is resolved since the logic for implementing this requires knowing whether Java sources have changed and whether recompiling/reloading the class files is required. Can you take a look at that one?

[2018-07-11 20:35] babusri opened #807 "eta-fib-service doesn't build on mac"
etlas build

Configuring library for unix-2.7.2.2..
Preprocessing library for unix-2.7.2.2..
etlas: can't find source for System/Posix/Resource in ., dist/build/autogen,
dist/build/global-autogen
etlas: Failed to build unix-2.7.2.2 (which is required by exe:eta-fib-service
from eta-fib-service-0.1.0.0). See the build log above for details.

[2018-07-11 22:02] puffnfresh opened #808 "Unknown option -Wno-too-many-guards"
Using GHC 8.2.2 I'm being told the `-Wno-too-many-guards` option doesn't exist at this line:

https://github.com/typelead/eta/blob/f6a0255d81c1a4e04164754170909fdc207e2516/compiler/Eta/Types/OptCoercion.hs#L5

[2018-07-12 05:44] jneira commented on #807
Hi, it seems some change in dependencies makes etlas pick up servant-server-0.13.0.1, that does not have a patch in eta-hackage to avoid unix/win32. Until that version get the patch i have managed to build eta-fib-service changing in `eta-fib-service.cabal` the bounds of servant-server to:
[code]

[2018-07-12 05:55] Jyothsnasrinivas commented on #808
@puffnfresh I've updated the `OptCoercion` module with the latest flag. Can you check if it works?

[2018-07-12 06:09] rahulmutt commented on #807
@jneira Can you submit a PR for `eta-fib-service`? Having that bound is useful to ensure a working version of servant gets picked up everytime.

[2018-07-12 06:17] jneira commented on #807
@rahulmutt sure!

[2018-07-12 11:15] puffnfresh commented on #808
That fixed it, thanks @Jyothsnasrinivas !!

[2018-07-12 11:15] #808 closed

[2018-07-12 12:22] jneira commented on #807
[Dependencies are already fixed for `eta-fib-service`](https://github.com/typelead/eta-fib-service/pull/2) , @babusri could you try again after pulling the lastest master?

[2018-07-12 13:23] clojurians-org opened #809 "nix-shell -A eta-build-shell build failed"
build commnd:
[code]
os information:
[code]
version information:
[code]

console information:
[code]

[2018-07-12 14:43] rahulmutt commented on #809
Can you try the nix file in this pull request:

https://github.com/typelead/eta/pull/796/files

[2018-07-12 22:36] puffnfresh commented on #809
#796 does fix this problem

[2018-07-13 02:09] rahulmutt commented on #809
@clojurians-org Can you do `git pull` and try again?

[2018-07-13 03:58] clojurians-org commented on #809
it compile successfully,  but the repl can't run successfully still.

[code]

[2018-07-13 04:00] rahulmutt commented on #809
@clojurians-org You should run the following:
[code]

[2018-07-13 04:00] rahulmutt commented on #809
@puffnfresh Is there any reason why those two command invocations are not included in the build script?

[2018-07-13 04:30] clojurians-org commented on #809
@rahulmutt
i did it already. then i do it again, some error occur.
[code]

the first success log:
[code]

[2018-07-13 04:36] rahulmutt commented on #809
Oh it looks like your installation was successful the first time. The problem was that you were running `etlas repl` for the `eta` project itself. To run the global repl, move out of that directory and try running `etlas repl`.

To fix your installation, please delete your `eta` clone and try cloning again and installing.

[2018-07-13 04:55] clojurians-org commented on #809
thanks, it works.
[code]

[2018-07-13 04:57] rahulmutt commented on #809
@clojurians-org Great! Closing then.

[2018-07-13 04:57] #809 closed

[2018-07-13 07:38] puffnfresh commented on #804
Yeah, reinstall worked. Thanks!

[2018-07-13 07:38] #804 closed

[2018-07-13 09:32] puffnfresh commented on #809
@rahulmutt the Nix code doesn't do it because Nix doesn't have a great way of running commands as a user. Ideally I'd Nix more of Eta, so that we wouldn't have to eta-build anything.

[2018-07-13 10:10] rahulmutt opened #810 "[nix] Remove the need for additional commands after starting the shell"
This issue is a response to @puffnfresh's [comment](https://github.com/typelead/eta/issues/809#issuecomment-404780622) in #809.

In summary, `eta-build install` does the following:
1) `etlas update`
2) `etlas select local` - ensures that the local etlas will get selected by default.
3) Copies `utils/couriser/coursier` to `~/.etlas/tools/coursier`
4) Compiles `utils/class-verifier/Verify.java` with

[2018-07-13 11:14] puffnfresh commented on #810
Is there an environment variable or flag we can set to specify where the Etlas libraries are installed? That way we can get them stored in the Nix store.

[2018-07-13 12:11] jneira commented on #704
* I've setup a project to wrap dhall-haskell and provide a friendly java api over dhall: https://github.com/eta-lang/dhall-eta
* It is a WIP but i've managed to write a simple export to be used from java:
[code]
[code]
Output:
[code]

[2018-07-13 15:17] Jyothsnasrinivas opened #811 "Implement new float functions in base-4.11"
[code]

[2018-07-13 15:23] Jyothsnasrinivas commented on #811
[code]

[2018-07-13 21:47] jneira opened #812 "ClassNotFoundException in etlas repl after etlas build"
* If you do a `etlas clean && etlas build && etlas repl` and then try to evaluate a function from some package module it throws an error. F.e. with wai-servlet-handler-jetty:
[code]
* If you do `etlas clean && etlas repl` the error is not thrown

[2018-07-13 23:16] babusri commented on #807
Works.
Thanks.

[2018-07-13 23:41] babusri commented on #807
btw, I modified my local version to
myfibseq = 1:1:zipWith (+) myfibseq (tail myfibseq)
fastfib :: Int -> Integer  (to avoid overflow)
fastfib n = head $ reverse $ take n myfibseq

and it works fine.
http://localhost:9000/fibonacci/100 ==> {"fast fib":354224848179261915075,"n":100}

[2018-07-14 12:07] Jyothsnasrinivas opened #813 "Simplifier ticks exhausted while trying UnfoldingDone encodeCharUtf8"
I get this message while trying to build the package `amazonka-core` in the module `Network.AWS.Data.Log`. But changing `-fsimpl-tick-factor=110` to `-fsimpl-tick-factor=61694` fixes the problem. But something feels wrong about this. We should look into this.

[code]

[2018-07-15 02:51] Jyothsnasrinivas opened #814 "No error on constraining class head"
I'm trying to compile test tcfail150 below for TypeCheck. It's supposed to give an error but Eta exits successfully.

[code]
**Expected output:**
[code]

**Actual output:**
[code]

[2018-07-15 02:53] Jyothsnasrinivas commented on #814
A similar test tcfail149 for TypeCheck passes successfully.

[code]
**Expected & Actual output**
[code]

[2018-07-15 07:48] Jyothsnasrinivas opened #815 "Implement freeHaskellFunPtr function in the module Foreign.Ptr"
The corresponding GHC function is:

[code]

[2018-07-16 07:34] justjoheinz opened #817 "etlas cheatsheet shows wrong command"
At https://eta-lang.org/docs/cheatsheets/etlas-cheatsheet an alternative to `etlas --version` is given as `etlas -v`. The latter command does not work:

[code]

[2018-07-17 05:55] Jyothsnasrinivas commented on #817
@justjoheinz Thanks for pointing out. There was a minor typo in the cheatsheet.

The correct command is `etlas --v`, which should be updated on the docs now.

So closing this one.

[2018-07-17 05:55] #817 closed

[2018-07-18 01:38] rahulmutt opened #818 "Make Eta installations resilient"
If for whatever reason, your package database is corrupted, your Eta installation is broken and you have to do lots of manual steps to recover it. Instead, `etlas` should properly hash all the files it expects in a healthy installation and do a hash check anytime it wants to validate an installation. If it discovers a mismatch, it should try again.

[2018-07-19 08:51] jneira commented on #690
Another use case: i would like to export already existent ADTs from a haskell package, in my case [the ADT representing the AST of dhall lang](https://github.com/dhall-lang/dhall-haskell/blob/master/src/Dhall/Core.hs#L279-L412)
The export could be:
[code]
And being the ADT:
[code]
I would like to have:
[code]
Moreover we could mark a module as exportable:
[code]
and exports *all* its public ADTs a

[2018-07-20 06:58] nomisRev opened #819 "[eta-tour]: Missing info RecordWildCards"
Source Code:
[code]

Output:
[code]

Dear Eta team,

First of all, I want to thank you for the awesome documentation! 👏 And on the amazing work, you guys are doing.

I am brand new to Eta or Haskell and couldn't compile the snippet locally because it was missing `{-# LANGUAGE RecordWildCards #-}`. I had no idea yet how to enable special compiler features and thought it would'be useful to add it to

[2018-07-22 04:00] Jyothsnasrinivas opened #820 "Enable CallStacks in base-4.11"
Right now `error` and ``errorWithoutStackTrace` are the same. We had to do this to get around a problem with FlexibleContexts. Backporting the fixes caused other problems with the constraint solver, so we'll take a look at this at a later time.

[2018-07-22 12:01] rahulmutt commented on #690
@jneira Thanks for presenting a nice use case! I like how you handled Church encoding and typeclass methods.

But the main issue with the Church encoding you presented is that it can have a large number of arguments. I wonder if for the Java side, it's better to present a `Builder`-like API for constructing pattern matches:

[code]

`matchAnything` corresponding to `_` case and all the `match*` fu

[2018-07-22 17:35] Jyothsnasrinivas commented on #819
@nomisRev Thanks! We are actually going to enable many of those features by default in Eta v1.0. In the next iteration of the tour/docs we'll mention how to deal with Language Pragmas.

[2018-07-24 16:46] nomisRev commented on #819
@Jyothsnasrinivas Thanks for the response :) Very happy to hear many of these features will be enabled by default!

[2018-07-25 04:29] VincePlatt opened #824 "[eta-tour]: Bug - [Slide 3 of 5 in Interact with the Tour] - There is no Format button!"
The example code has this text:  "Click Format button", which obviously doesn't exist.  Just a nitpick, but a wee bit confusing.

Source Code:
[code]

Output:
[code]

[2018-07-26 13:27] tr00per opened #825 "List comprehension is not tail recursive?"
I've typed the classic Fibonacci-in-list example in REPL:
`let fib = 0 : 1 : [ a + b | (a,b) <- zip fib (tail fib)]`
then I wanted to get the 10000th element with `fib !! 10000` - GHCi managed to compute this, but etlas repl (docker version) returned only StackOverflowError.
If I first compute 1000th and 3000th element in etlas repl, then it's possible to get the 10000th element.

Is list comprehe

[2018-07-26 13:53] rahulmutt commented on #825
Thanks for reporting! The issue here doesn't appear to be tail recursion and more about how thunks are handled. I'll take a look and try to reproduce in my repl as well.

[2018-07-26 16:05] Jyothsnasrinivas commented on #824
@VincePlatt Thanks for reporting this! I deployed a fix for this so closing the issue.

[2018-07-26 16:05] #824 closed

[2018-07-26 23:04] politrons opened #826 "unix-2.7.2.2 Not working"
Hi I want to use the `Scotty` module `0.11.0` and has as dependency `unix-2.7.2.2` which seems is not working properly with eta version  `0.8.0b2`

The error code says

Building unix-2.7.2.2 (lib)...
[code]

Any idea how to fix this?

[2018-07-27 01:02] rahulmutt commented on #825
I was able to reproduce the StackOverflow, but I was not able to reproduce the fact that were able to get it to succeed by evaluating it a little.

[code]
This problem evaluates the first two successfully but fails to evaluate the last.

[2018-07-27 01:06] rahulmutt commented on #825
I was able to reproduce that behavior in the repl - very strange!

[2018-07-27 01:35] rahulmutt commented on #826
Can you run `~/.gradle/caches/etlas/1.4.0.0/etlas update` and run `./gradlew clean` inside your project before rebuilding again?

[2018-07-27 01:40] NeQuissimus opened #827 "Eta on NixOS"
Pinging @puffnfresh :)

I am following this:
https://eta-lang.org/docs/user-guides/eta-user-guide/installation/nix

[code]

The `nix-shell` command fails with the following:

[code]

Note that I am using NixOS unstable, not quite sure that would really make a difference:

[code]

---

So I figured I'd try a Gradle build:

https://eta-lang.org/docs/user-guides/eta-user-guide/installation/gradle

I

[2018-07-27 01:46] rahulmutt commented on #827
@NeQuissimus I think it's better to try building `master` since there have been lots of updates recently:

[code]

We aim to keep master as stable as possible and fix breakages pretty quickly.

We will update the instructions on the website.

[2018-07-27 02:02] rahulmutt commented on #827
Instructions on the website are now updated (do a hard reload).

[2018-07-27 02:54] NeQuissimus commented on #827
:) I was actually in the process of doing that already.
After what felt like building half the Haskell eco-system (I guess there were recent changes to the Haskell infrastructure in `nixpkgs` :D), I arrived at this:

[code]

[2018-07-27 02:57] rahulmutt commented on #827
Try `git submodule update --init --recursive` and see if that helps. If that doesn't work, @puffnfresh will have to take a look.

[2018-07-27 05:35] rahulmutt commented on #825
The problem here is that in order to evaluate `fib !! 10000`, Eta has to evaluate a long chain of thunks. For each thunk in the chain, it'll create an update frame [1] which amounts to a method call that increases the call stack size.

If any thunk in the chain is already evaluated, it cuts the chain short. This is why you observed the effect that `fib !! 3000` and then `fib !! 10000` will work. `

[2018-07-27 08:04] politrons commented on #826
Hi,

Nope same error I did

[code]
And then in the project

[code]

You please can add this configuration in a project and see if works

[code]

Regards

[2018-07-27 08:20] rahulmutt commented on #826
@politrons The unix package doesn't work with `eta`, so the solution is to use FFI to get the functionality you need. I didn't realize you placed a direct dependency on `unix`. Which functions do you need?

[2018-07-27 08:23] politrons commented on #826
I need it since scotty http server module has a dependency with it. I believe unix module it's quite extended module. Do you have a plan to include this module in eta in a future?.

Could you elaborate the workaround of FFI just in case works and I can continue working with ETA.

Great work BTW

[2018-07-27 08:35] politrons commented on #826
@rahulmutt I had explicitly that dependency since scotty it was complaining about that library.
Now after `update etlas` and clean the project I have this error

[code]

[2018-07-27 08:50] rahulmutt commented on #826
Can you share the output of `gradle build -i --stacktrace`?

[2018-07-27 08:53] politrons commented on #826
here

[code]

[2018-07-27 09:00] rahulmutt commented on #826
@politrons Could you upload the simplest project to github that can reproduce this bug? I'll try it out and see if I can fix this bug.

[2018-07-27 09:31] politrons commented on #826
I upload the project https://github.com/politrons/Eta-Haskell-server

Let me know if you have any question
Regards

[2018-07-27 11:51] nmaehlmann opened #828 "Gradle installation hangs on Windows 10 when telemetry is disabled"
Following the user guide for the gradle installation (https://eta-lang.org/docs/user-guides/eta-user-guide/installation/gradle) using Windows 10, the installation process hangs when the user chooses to not send metrics:

The command `$ gradlew.bat run -PetaSendMetrics=false`
hangs on step `> Task :setupEnvironmentEta` showing 0% progress after 5 minutes.

However running  `$ gradlew.bat run -PetaS

[2018-07-27 12:21] NeQuissimus commented on #827
@rahulmutt I did that right before `nix-shell -A eta-build-shell` since I switched from `stable` to `master` rather than checking out a new copy of the repo

[2018-07-27 17:12] NeQuissimus commented on #827
Update: I tried whether an update to eta-lang/eta-nix would help but ran into NixOS/nixpkgs#44156 :disappointed:

[2018-07-27 20:40] politrons commented on #826
@rahulmutt Did you were able to download the project and run it?

[2018-07-28 08:50] puffnfresh commented on #827
I don't get that error, but I do get an error about turtle:

[code]

Because stack2nix chooses turtle 1.5.8

[2018-07-28 22:15] bbarker opened #829 "Nix build issue"
I realize there has been some work on this (e.g. #781) but I still have issues when running `nix-shell -A eta-build-shell`:

[code]
I did this from the latest version of stable branch in the eta repo.

[2018-07-28 22:47] NeQuissimus commented on #827
Oh, I see @hvr recently introduced that boundary in 9b200f069584f06002d21a1c04fbd532dfa2584c.

[2018-07-29 02:21] rahulmutt commented on #827
@NeQuissimus If you remove the boundary, does it still compile?

[2018-07-29 02:44] Jyothsnasrinivas opened #830 "NaN < NaN is failing in half package"
I patched the half package and while running the tests, etlas fails for the test `NaN < NaN`

[2018-07-29 02:44] rahulmutt commented on #829
@bbarker Can you follow along with #827?

[2018-07-29 05:31] rahulmutt commented on #826
@politrons I was not able to reproduce your problem - in fact I got a different problem. If you've installed older versions of Eta, can you try cleaning out `~/.eta` and `~/.etlas` and trying the build again?

[2018-07-29 07:55] politrons commented on #826
I´m afraid after clean ~/.eta and ~/.etlas and download everything again I still have the same ArrayIndexOutBoundException

[code]

I you can figure what is the problem please let me know to keep working with eta-lang

Regards

[2018-07-29 08:43] politrons commented on #826
Also with eta-lang is not possible has `base:4.9.1.0` version?

Regards

[2018-07-29 08:46] rahulmutt commented on #826
@politrons Eta used to have `base-4.8.2.0` (in the version you're using to compile), the current version on `master` has `base-4.11.1.0`.

I just saw that you are running `-PetaSendMetrics=false` - I wonder if this is related to #828. I'll give it a try.

[2018-07-29 08:58] politrons commented on #826
without that flag I was not able to make the gradle build after clean the ~/.eta and ~/.etlas

Any prevision when you will release a new version with base-4.9.X it could be pretty much the reason of the many problems

[2018-07-29 10:17] rahulmutt commented on #828
I was not able to reproduce this on OS X and most likely it will work in Linux as well. We do have a special case in the `gradle-eta` plugin that handles Windows so that special case may not be working as intended. I'll test it out on our windows node.

[2018-07-29 12:10] rahulmutt commented on #826
@politrons The next thing I can suggest is to wipe you `~/.gradle` folder and see what happens.

If even that doesn't work, try executing the following commands

[code]

And share the output please?

[2018-07-29 12:42] politrons commented on #826
@rahulmutt Cleaning the .gradle did not help. Here the output of the command

[code]

Regards

[2018-07-29 13:46] rahulmutt commented on #826
@politrons I have a fix for the bug you encountered. I'm waiting for the tests to give a green to ensure it didn't cause any regressions. As soon as it is done, I'll upload a new version of the `gradle-eta` plugin - will take about 1-2 hours.

[2018-07-29 13:54] politrons commented on #826
Great!!! Good job 👏

[2018-07-29 14:01] Jyothsnasrinivas commented on #811
Update - Implemented `log1pDouble`, `expm1Double`, `log1pFloat` and `expm1Float`. Need to implement the rest

[2018-07-29 14:07] Jyothsnasrinivas commented on #807
Closing this issue because it seems like the problem is resolved!

[2018-07-29 14:07] #807 closed

[2018-07-29 14:08] hvr commented on #827
@rahulmutt I introduced that bound specifically because otherwise it failed to compile due to a nameclash that was introduced with that very version from the upper bound (I was too lazy to fix the nameclash...  :-) )

[2018-07-29 14:10] NeQuissimus commented on #827
I don't even hit the boundary on my machine anyways. My build fails out earlier.

[2018-07-29 14:14] rahulmutt commented on #826
`gradle-eta` 0.7.6 is out :) Updated your `build.gradle` file and it should work now.

[2018-07-29 14:39] hvr commented on #827
@NeQuissimus well, it seems you're trying to build Eta w/ GHC 8.2.2 ? If so, that's probably not going to work out of the box (I remember seeing some compile error); I know however that building Eta w/ GHC 7.10.3 works (I did so via `cabal --project=cabal.ghc.project new-build all` successfully...)

[2018-07-29 14:49] NeQuissimus commented on #827
really? I am doing whatever the docs say, the nix derivation pulls in https://github.com/eta-lang/eta-nix, which specifically uses the stack file for 8.2.2. Why would that not work?!

[2018-07-29 15:05] hvr commented on #827
@NeQuissimus oh, I didn't realise there was a stack file for GHC 8.2.2 ... (I'm trying to reproduce your problem with cabal as I can't use Stack)

[2018-07-29 15:05] NeQuissimus commented on #827
@puffnfresh Using this diff, I now also hit the turtle dependency error:

[code]

Also, what version of stack2nix are you using?
If I pull it from 18.03, I get this:

[code]

[2018-07-29 15:43] rahulmutt commented on #828
@nmaehlmann A workaround is to edit `%APPDATA%\Roaming\etlas\config` - there's a field called `send-metrics` and you should set it to `False`:
[code]

[2018-07-29 17:11] politrons commented on #826
I only need to update the plugin?

[code]

[2018-07-29 17:15] rahulmutt commented on #826
@politrons Yes, tha's enough.

[2018-07-29 17:20] politrons commented on #826
I´m so sorry but I´m afraid still not working, after clean the eta, etlsa, gradle folder and update the plugin I still have this error

[code]

[2018-07-29 17:32] politrons commented on #826
No rush take your time. If you want me to test or try something let me know

[2018-07-29 18:05] rahulmutt commented on #826
@politrons It would be great if you could try out the latest `gradle-eta. Once you verify it fixes your build, I can do a release.

1. Clone and install the latest plugin.
[code]
Anytime I make new changes, just run that last command to install the latest plugin to your local maven repo.

2. In your `build.gradle` file you should change the following:
[code]
to
[code]

I have just pushed a commit

[2018-07-29 18:11] rahulmutt commented on #827
@hvr @NeQuissimus To save the trouble for 7.10 and 8.2.2, I added a lower bound on `turtle` to 1.5.8 and updated the build script in 685ae9a0aacd5583e8e60bed1c6d73ea110246ed.

Does that help?

[2018-07-29 18:13] politrons commented on #826
It seems like works, go for the release 👍

[2018-07-29 18:19] rahulmutt commented on #826
v0.7.7 is out! Closing this issue. Feel free to open a new issue if you get any more problems. If it's gradle-related, please file on https://github.com/typelead/gradle-eta. Thanks!

[2018-07-29 18:19] #826 closed

[2018-07-29 19:29] politrons opened #831 "aeson:1.0.2.1 not working in eta"
With the current version does not work when I add this dependency

`compile eta('aeson:1.0.2.1')
`
I´m having this error

[code]

Someone know if this dependency is available currently in eta-lang?

[2018-07-29 21:46] NeQuissimus commented on #827
I sent a PR for the diff I posted above. Once that patch is applied, I can successfully run the steps from the docs.

[2018-07-29 22:15] jneira commented on #831
Hi, i am afraid that aeson needs a patch to work with eta. These patches are automatically downloaded from https://github.com/typelead/eta-hackage/tree/master/patches.
There you can check the patched versions for each package and aeson-1.0.2.1 is not.
You can either use another patched version or request a patch opening an issue in that project.

[2018-07-30 00:59] #828 closed

[2018-07-30 01:03] rahulmutt commented on #828
This bug is now fixed on master. The next version of etlas will handle this case properly.

[2018-07-30 15:17] #827 closed

[2018-07-30 18:16] bbarker commented on #829
@rahulmutt sorry, I shamefully failed to do a proper search this time. The good news is the fix associated with #827 seems to have worked for me on master (2e7aefd7b0da16725c4977a3dadf041303fe5d40)!

[2018-07-30 18:16] #829 closed

[2018-07-31 23:45] yyadavalli opened #834 "Nix derivations to install `etlas`"
The currently available derivation only gives a shell with access to `eta` and `etlas`. It would be nice to be able to install the binaries, especially `etlas`.

[2018-07-31 23:49] puffnfresh commented on #834
This would be part of #810.

[2018-08-02 13:04] jwiegley opened #835 "Case mismatch problem when build Eta with Nix"
I'm building Eta using:

[code]

However, on macOS this fails with an error due to a case-based pathname mismatch:

[code]

I was sure this had been fixed in the past by @puffnfresh, but now I wonder if we worked around it another way.

This is affecting the build of Eta on @ekmett 's machine.

[2018-08-03 04:56] puffnfresh commented on #810
I've started on this but got a bit stuck on the eta-serv Gradle part. I'm just going to write the Nix to build that manually, without Gradle.

[2018-08-03 20:43] RobTrew opened #836 "Gradle installation failing"
[code]
[code]

(OS X 10.13.6)

[2018-08-04 11:28] #830 closed

[2018-08-04 11:30] rahulmutt commented on #836
@RobTrew Can you share the configuration of the project you were trying to build when this happened? Does upgrading to `0.7.8` fix the problem?

[2018-08-04 11:44] RobTrew commented on #836
@rahulmutt Rather than a project build, the context was simply that of following first-time Eta-lang install instructions from:

https://eta-lang.org/docs/user-guides/eta-user-guide/installation/gradle

[2018-08-04 13:15] rahulmutt commented on #810
@puffnfresh Yes that can be done. We wanted to make sure that `eta-serv.jar` was as tiny as possible, so we had to add steps to make an uberjar and then proguard the result. Building an uberjar with gradle is a lot faster than with `eta` and we don't have proguard support yet inside of Etlas so we had to go with Gradle at the time. In the long term though, it would be great to build it with Etlas

[2018-08-04 13:38] rahulmutt commented on #836
I am not able to reproduce this. Most likely the error is coming from a restricted network as evidenced by this part of the error message:
[code]

Can you check your networking configurationand allow `plugins.gradle.org` if it's blocked?

[2018-08-04 13:44] RobTrew commented on #836
Not behind a network here (personal OS X system with direct connection at home) and no local network filters enabled.

Attempting to fetch
[code]

yields:
[code]

[2018-08-04 14:00] rahulmutt commented on #836
@RobTrew Which version of Java are you using? And have you used Gradle before for other projects?

[2018-08-04 14:02] RobTrew commented on #836
@rahulmutt Java version 8 update 181

and no – I haven't used Gradle before.

[2018-08-04 14:08] rahulmutt commented on #836
This looks like a Gradle issue. Can you share the output of `./gradlew run -d --stacktrace` in a Gist?

[2018-08-04 14:13] RobTrew commented on #836
Certainly:

https://gist.github.com/RobTrew/6ee8cc7abfc6c0ed7ba1ea29b4cf35b7

[2018-08-04 14:28] RobTrew commented on #836
Some progress ... thank you ... but this time:

FAILURE: Build failed with an exception.

* What went wrong:
java.lang.UnsupportedClassVersionError: com/typelead/gradle/eta/plugins/EtaPlugin : Unsupported major.minor version 52.0

[2018-08-04 14:34] rahulmutt commented on #836
By chance did you install Java 1.7 at some point? 52.0 is Java 8 which shouldn't be a problem if Java 8 was being picked up by Gradle.

[2018-08-04 14:35] RobTrew commented on #836
No, I've never installed Java 1.7, to my knowledge.

[2018-08-04 15:16] RobTrew commented on #836
Ah ... thank you ... I did find a Java 1.7 - now removed, and all seems well.

Very much appreciate you time. Thank you !

[2018-08-04 15:17] #836 closed

[2018-08-04 15:18] rahulmutt commented on #836
Great to hear your problem is resolved!

[2018-08-04 15:40] #649 closed

[2018-08-04 20:27] jneira commented on #810
I had to change eta-serv to be built by etlas and copying the uberjar in the correct dir worked fine. If i remeber correctly i had to create a minimal `eta-serv.cabal` file.

[2018-08-05 04:05] rahulmutt commented on #583
So updating `etlas register` to handle this should keep all this ad-hoc logic inside of etlas right?

[2018-08-05 04:06] rahulmutt commented on #767
Closing this issue as Gloss won't be supported soon (although we're happy to help anyone who tries to port it with JavaFX!) and given that `half` is now patched.

[2018-08-05 04:06] #767 closed

[2018-08-05 04:09] rahulmutt commented on #661
So after lots of usage (using `happy` and `alex` on non-trivial generators) we bumped it down to 400 so that both of those can run without any tuning. We can always bump this number up as we optimize local variable usage (which is directly related to stack size) and as we figure out a general way to break up large compiled methods into small ones.

Closing it as the key issue has been resolved - u

[2018-08-05 04:09] #661 closed

[2018-08-05 04:11] rahulmutt commented on #661
#339 is the issue tracking local variable usage.

[2018-08-05 04:15] rahulmutt commented on #810
@jneira Can you submit that as a PR? It won't interfere with the existing gradle setup.

[2018-08-06 13:42] rahulmutt commented on #652
Fixed now - was a bug in the benchmark driver.

[2018-08-06 13:42] #652 closed

[2018-08-06 13:52] rahulmutt commented on #439
This was done to shorten paths on Windows which is a serious problem. etlas should expose a command to get all the paths to the important places.

[2018-08-06 13:52] #439 closed

[2018-08-06 13:59] rahulmutt commented on #650
Seems to be working with the latest Eta.

[2018-08-06 13:59] #650 closed

[2018-08-07 11:06] jneira commented on #810
@rahulmutt hi, i've submitted #837 with the cabal config files needed to build eta-serv

[2018-08-07 22:53] puffnfresh commented on #583
@rahulmutt yeah that's right

[2018-08-08 09:40] jneira commented on #704
We have started the integration between etlas and dhall: https://github.com/jneira/etlas/tree/dhall:
* The default configuration format for etlas will be dhall so if both dhall and cabal files are present it will choose the dhall file
* As suggested by @rahulmutt the dhall configuration file will be named `package.dhall` for all packages (like `package.yaml` of `hpack`)
* We will integrate the [ca

[2018-08-08 10:31] rahulmutt commented on #543
This needs to be checked out. We now have a function called `trampolineIO :: IO a -> IO a` which avoids stack blowouts. In this case it did not help and we need to look into why.

[2018-08-08 15:17] rahulmutt commented on #691
@jneira Doesn't haskell/cabal#4978 still need to be implemented?

[2018-08-08 19:52] Gabriel439 commented on #704
One thing that would help on my end is getting this integrated into `nixpkgs` (cc: @puffnfresh):

https://github.com/eta-lang/eta-nix

That would allow me to add an Eta build of Dhall to my CI so that I can catch potential Eta-related issues earlier (like adding new dependencies that might require work to port to Eta)

I tried using that repository directly but I ran into issues due to mismatch be

[2018-08-08 21:02] jneira commented on #691
jumm it was closed cause i've pushed the commits of #52 to my fork of etlas ... weird

[2018-08-09 08:36] bradrn opened #838 "Creating classes in Eta?"
Is it possible to create a new class and use it, all within Eta code? Currently if I try doing something like this I get a nasty error:
[code]
I know I can just drop down to Java and write the class there, but it would be so nice to just be able to do it in Eta...

[2018-08-09 12:06] jneira commented on #838
Hi! eta actually can *export* classes through exporting methods: see https://eta-lang.org/docs/user-guides/eta-user-guide/java-interop/java-interop-basics#exporting-eta-methods. However it cant add contructors (the class only would have the empty default one)
Otoh there is plans to automatically export java classes from eta types:  https://github.com/typelead/eta/issues/690
Hope it helps, feel fre

[2018-08-09 12:44] jneira commented on #704
@Gabriel439 that would be awesome, thank you very much
Maybe it would be useful add the build of dhall with the actual `stack-lts-6.yaml` in CI if possible, cause is the lts used by etlas/eta and it will catch some of the posssible issues (like https://github.com/dhall-lang/dhall-haskell/pull/541) .

[2018-08-09 13:17] Jyothsnasrinivas opened #839 "Web App constantly using one core even without any requests"
As monnef (https://gitlab.com/monnef) pointed out, Eta is constantly using one core even if there are no requests for a simple json api using scotty. Looks like a runtime bug.

https://gitlab.com/monnef/czech-work-days-api/blob/e895687d735b02ea0b85b16a02dd16d337e6b657/src/Main.hs

[2018-08-09 15:32] Jyothsnasrinivas opened #840 "Quasi-quote bug while building aeson-typescript"
While building `aeson-typescript-0.1.1.0`, I encountered a bug which may be related to Template Haskell.

[code]

[2018-08-10 00:05] puffnfresh commented on #704
@Gabriel439 I've got `cabal2nix cabal://dhall` instantiated. I don't know if it will compile but I'll at least turn it into valid Nix code. I'll push in a few minutes.

[2018-08-10 01:07] puffnfresh commented on #704
Added a chunk of overrides to get Dhall close to compiling. Got stuck on Cryptonite - it has a jar dependency and I'll have to figure out a way to supply that.

[2018-08-10 10:17] jneira commented on #642
Well i think that finally dhall would be the chosen format (#66) so it seems we can close this one.

[2018-08-10 10:17] #642 closed

[2018-08-10 12:36] jneira commented on #704
Actually for build master version of dhall-haskell with etlas we would need patch the new dependecy cborg-0.2.0.0: https://github.com/typelead/eta-hackage/issues/111

[2018-08-10 12:39] rahulmutt commented on #704
Some updates on running dhall on Eta: I fixed the Bad Record MAC bug (was a bug in cryptonite patch) and the next step is to implement the zlib bits in streaming-commons.

[2018-08-10 17:35] rahulmutt commented on #704
Ok great, https requests with the latest patches on `eta-hackage`. @jneira Can you give dhall network imports a try?

[2018-08-11 07:49] bradrn commented on #838
I am aware that Eta can export classes to Java; however, I'm wondering if there is a way to _use_ the class in Eta as well. Although I actually did manage to solve the particular problem I was having while perusing https://github.com/typelead/eta-examples/blob/master/2-javafx/src/JavaFX/Methods.hs, I still think that this functionality could be useful.

[2018-08-11 12:59] RossPaterson opened #841 "show (0::Double) == "--0.0""
It should, of course, be "0.0".  The issue appears to result from `GHC.Float.isNegativeZero (0::Double)` being `True` in this implementation. The same is true of `Float`.

Tested on Debian buster x86_64.

[2018-08-11 13:10] #841 closed

[2018-08-11 13:12] RossPaterson commented on #841
Ah, I see the underlying bug (in `isFloatNegativeZero` and `isDoubleNegativeZero`) was fixed as #649.

[2018-08-11 13:25] rahulmutt commented on #841
We've been fixing many bugs recently - will be available in the next release :) You can build from source or use the docker image (which gets built for every commit on `master`) for now to play around.

[2018-08-12 02:35] rahulmutt commented on #555
This has been resolved, closing.

[2018-08-12 02:35] #555 closed

[2018-08-12 06:39] Jyothsnasrinivas opened #842 "Handle OverloadedLabels in TemplateHaskell"
I'm trying to test TH and the `TH_overloadedlabels` test fails with the following error:

[code]

Supporting `OverloadedLabels` in TemplateHaskell should fix this.

One code path to enabled is: https://github.com/typelead/eta/blob/3672d44ddcc901e5c2799fa784660c205ae6b4d2/compiler/Eta/HsSyn/Convert.hs#L842

[2018-08-12 07:05] Jyothsnasrinivas opened #843 "Unboxed literals in TemplateHaskell not working as intended"
Tests `TH_repPrim` and `TH_repPrim2` are passing but the output is not as intended.

**Expected Output for TH_repPrim:**
[code]

**Actual Output for TH_repPrim:**
[code]

**Expected Output for TH_repPrim2:**
[code]

**Actual Output for TH_repPrim2:**
[code]

[2018-08-12 07:27] Jyothsnasrinivas commented on #843
Similar problem with  test `TH_repGuard`

**Expected Output for TH_repGuard:**
[code]
**Actual Output for TH_repGuard:**
[code]

[2018-08-12 07:30] Jyothsnasrinivas commented on #843
Looks like a problem with the test driver as @rahulmutt pointed out. These tests are supposed to print compile time output but the driver supports only the runtime output.

[2018-08-12 15:03] jneira commented on #838
Mmm, could you share the concrete problem and the final solution? not sure if i understand the use case cause you actually can use (for some meaning of use) the exported class in eta. For example, extending the example in [docs](https://eta-lang.org/docs/user-guides/eta-user-guide/java-interop/java-interop-basics#exporting-eta-methods):
[code]
with
[code]
you could do
[code]

[2018-08-12 20:47] shirouto commented on #839
@rahulmutt I can confirm that [https://github.com/typelead/eta/commit/cf2b252431cebc56ad2159e78b168366e4b839f9](cf2b252) does fix the stack trace above.

However, while testing that I ran into another error:
[code]

[2018-08-13 02:22] bradrn opened #844 "Organise FFI Documentation"
I've been to learn Eta from a Haskell background over the past few days, and I'm finding the docs to be really lovely with great coverage of the language. Unfortunately though, I've also found the FFI section to be quite poorly organised - and this is quite significant, as this is Eta's main (only, even?) divergence from Haskell. As a reference, here's the existing layout of the docs (simplified s

[2018-08-13 02:40] bradrn commented on #838
The problem I had was trying to write a class deriving `ActionListener` for use with the AWT package - I had missed [the relevant section in the documentation](https://eta-lang.org/docs/user-guides/eta-user-guide/java-interop/java-generics#working-with-java-interfaces).

[2018-08-13 08:27] rahulmutt opened #845 "Cannot dereference 0x1401000: Exceeded higher bound of the address space."
## Description

Running the following program (needs dependency on `criterion`):
[code]
throws an exception.

## Expected Behavior

Should run showing all the benchmark results without crashing.

## Actual Behavior
[code]

## Possible Fix

This is most likely due to a race condition in the MemoryManager. Running the above several times caused the exception to occur at different times with differen

[2018-08-13 14:43] Jyothsnasrinivas commented on #844
@bradrn Thank you so much for the detailed response. I appreciate the effort you've taken to reorganize the sections. The main reason we've deferred these changes is that the upcoming [Direct Java Interop feature](https://github.com/typelead/eta/issues/647) will make these changes less relevant.

In the meantime, if you would like to update the documentation feel free to submit a PR. The docs are

[2018-08-13 14:49] Jyothsnasrinivas commented on #839
@shirouto Thanks for looking into this! This doesn't seem to be warp-specific: https://github.com/typelead/eta/issues/845. Can you file distinct issues for each of the issues you discover?

[2018-08-13 14:56] shirouto commented on #839
@Jyothsnasrinivas Yes, you are obviously right. I have updated the last comment to not include anything on that memory management issue. And I will open separate issues from now on when unsure.

[2018-08-13 17:14] shirouto commented on #839
I went ahead and made an *extremely* naive implementation for the exponential backoff as indicated by @rahulmutt . The good news is that it does improve dramatically the Warp server response so that it no longer returns empty responses. Unfortunately, it doesn't seem to help much with the CPU load. Even in the absence of any requests and the polling being throttled up to 5 seconds, the Warp server

[2018-08-13 17:31] rahulmutt commented on #839
@shirouto Great to see you investigate these - just a heads up `eta-build rts-clean` is super fast way of re-installing the modified runtime. Feel free to submit a work-in-progress PR and I can give inline comments.

[2018-08-13 19:05] shirouto commented on #839
Thanks for the tip. Have been running ```stack exec eta-build -- install rts-clean``` instead, which was a mouthful. I guess ```eta-build``` does not need any stack path.

I think I identified the issue for the poor CPU management in the Warp eta-rts combination: the ```Finalizer``` thread starts taking over after one request and keeps remaining that way even without receiving any additional reque

[2018-08-14 00:15] bradrn commented on #844
You're welcome. I don't have much on, so I can have a go at implementing this today. One last suggestion: some older code uses the `CLASS` pragma which was removed recently, and it really confused me seeing what I thought was an 'undocumented feature', so I'm thinking it might also be a good idea to add a section about this pragma stating that it is deprecated.

[2018-08-14 02:08] bradrn commented on #647
I've been looking through this issue and it's occurred to me that most of the discussion here has revolved around importing Java classes and methods only. However, the current `foreign import` system also allows the importing of constructors (`@new`), fields (`@field`), getters and setters (`@static @field`) and functional interfaces (`@wrapper` and `@wrapper @abstract`). How will Direct Java Inte

[2018-08-14 04:10] rahulmutt commented on #839
Oh that assumes you did `stack install eta-build` beforehand. `stack exec eta-build -- install rts-clean` also works.

We do allocate a number of weak references to link `Ptr`'s (used to implement `ByteString` and `Text`) to their corresponding off-heap memory address managed by `eta.runtime.io.MemoryManager`. Maybe you can try looking at the number of weak references and how that fluctuates when

[2018-08-14 04:11] rahulmutt commented on #839
Hmm but if the `ByteString`/`Text`'s were properly deallocated after a request, all the weak references should be discharged! This means some of the `ByteString`/`Text`'s are not being discharged as they should (maybe a memory leak somewhere)?

[2018-08-14 17:04] shirouto commented on #839
Well, I counted the ```WeakReference```s for memory resources, and I did not notice anything fishy. The garbage collector is timely disposing of them, without any sudden increase in their number.

However, it seems the Finalizer thread chokes on releasing some thread...

[code]
I sampled multiple times on multiple runs, and each time the ```Finalizer``` takes over it hanging in that native call to

[2018-08-14 23:26] carymrobbins commented on #647
I would think that the direct interop could probably work for fields, getters, setters, functional interfaces, etc. automatically when the names (and/or types) aren't ambiguous.

However, `new` might be an issue. Maybe to represent `new Foo()` Eta could generate a `newFoo` function. Alternatively, maybe some sort of `New` type class might help with overloaded constructors and allow for a more gene

[2018-08-15 02:54] bradrn commented on #647
@carymrobbins I quite like the `New` typeclass idea! After implementing it as a proof-of-concept it does seem to work, albeit with a slightly different definition:
[code]
The only problem is that you have to provide explicit type signatures using `ScopedTypeVariables`. It would be much nicer if `TypeApplications` Eta had the `TypeApplications` extension; then we could have something like `new @Jav

[2018-08-15 03:12] carymrobbins commented on #647
@bradrn I also considered TypeApplications for this. Modelled it in Haskell and seems to work well if you reverse the order of the New type args -

[code]

[2018-08-15 03:14] bradrn commented on #647
Good point about the argument order - I missed that. But Eta doesn't seem to have `TypeApplications` yet...

[2018-08-15 03:47] rahulmutt commented on #839
The `selectNow()` calls is probably because the server is idle and waiting for another connection. But exponential backoff should have reduced the effect of this right? In which method did you implement it?

[2018-08-15 04:59] rahulmutt commented on #839
@shirouto Can you host the code you're testing somewhere so I can attempt to reproduce it?

[2018-08-15 16:51] shirouto commented on #839
@rahulmutt  Even with the exponential backoff I am running into this issue. But again, I may have have missed the point entirely on that implementation: I did submit a PR, so you can test/critique.

Also, in order to test it, I used different code versions. I include herein the one that has the lowest LOC count.

[code]

Also, the cabal file which is also straight out of the etlas init:

[code]

I

[2018-08-15 18:43] politrons opened #848 "org.bouncycastle:bcprov-jdk15on:1.59 not able to be used in Eta lang"
## Description
I add a new dependency in my project

    compile eta('mysql-haskell:0.8.3.0')

But it's trying to download a transitive dependency org.bouncycastle:bcprov-jdk15on:1.59
  and it failing

## Actual Behavior
Compilation fails since It cannot download dependecy

org.bouncycastle:bcprov-jdk15on:1.59

## Steps to Reproduce
Add this dependency

    compile eta('mysql-haskell:0.8.3.0')

##

[2018-08-15 18:51] rahulmutt commented on #848
In your `build.gradle` file, try adding this:
[code]

[2018-08-15 18:54] politrons commented on #848
I just did but same problem.

Here my project gradle.build https://github.com/politrons/Eta-Haskell-server/blob/master/build.gradle

[2018-08-15 18:56] politrons commented on #848
Now adding this it seems to work

repositories {
    mavenCentral()
    maven {
        url "http://repo.akka.io/snapshots/"
    }
}

Thanks!

[2018-08-15 18:56] #848 closed

[2018-08-15 20:31] politrons opened #849 "When we will have Base-4.10.1.0"
## Description

My program needs to use Base-4.10.1.0 The last one tat can be used is base:4.8.2.0 as far as I know

I know base since there're a some libraries as network:2.6.3.5 which is needed in my programing and is working with base-4.10.x

Kudos for the hard and nice work!

[2018-08-16 03:48] #844 closed

[2018-08-16 06:59] politrons commented on #849
Thanks, if I have time I will take a look. Otherwise normally how do you announce new versions normally?. Any estimation of when is the new binary release.

[2018-08-16 16:01] Jyothsnasrinivas commented on #835
@puffnfresh Did you get a chance to look into this?

[2018-08-16 22:31] puffnfresh commented on #835
I've got @ekmett trying out a different branch of my Nix work. I don't think he hit it, so hopefully this will be fixed (accidentally) by that work.

[2018-08-17 05:46] ekmett commented on #835
To be fair, I haven't yet been able to get it to finish building on my tiny little laptop, so that isn't definitive. ;)

[2018-08-17 05:56] jstr045329 commented on #106
I get a similar error. One line in the error output that caught my attention is:

     Command: etlas install --allow-boot-library-installs

So I ran that command at the prompt and got:

  Resolving dependencies...
  etlas: Could not resolve dependencies:
  trying: base-4.11.1.0:-integer-gmp
  trying: base-4.11.1.0:-integer-simple
  unknown package: invalid-cabal-flag-settings (dependency of
  bas

[2018-08-17 06:00] rahulmutt commented on #106
@jstr045329 Please file a new issue since this issue has already been closed.

[2018-08-17 06:21] jstr045329 opened #850 "Eta cannot find GMP library"
Under Ubuntu 16.04:

jamie@jamie-box:~/eta$ ./cleaninstall.sh

'--local-bin-path' will be removed in a future release.
Please use '--local-bin' instead.

Warning: Cabal file warning in /home/jamie/eta/libraries/eta-repl/eta-repl.cabal@ 39:8: Unknown field: "java-sources"
Copying from /home/jamie/eta/.stack-work/install/x86_64-linux/lts-6.27/7.10.3/bin/eta to /home/jamie/.local/bin/eta
Copying from

[2018-08-17 06:31] rahulmutt commented on #850
Which JVM version are you using?

[code]

[2018-08-17 06:32] jstr045329 commented on #850
$ java -version
openjdk version "9-internal"
OpenJDK Runtime Environment (build 9-internal+0-2016-04-14-195246.buildd.src)
OpenJDK 64-Bit Server VM (build 9-internal+0-2016-04-14-195246.buildd.src, mixed mode)

[2018-08-17 06:39] rahulmutt commented on #850
There have been known issues with using Java 9 and Eta. I suggest you use Java 8 or earlier using an environment managed like `jenv`.

[2018-08-17 06:49] jstr045329 commented on #850
This might be a dumb question but does it matter whether Java 8 is jdk or jre?

[2018-08-17 07:49] rahulmutt commented on #850
You need JDK 8 if you want to build Eta from source

[2018-08-17 07:52] rahulmutt commented on #845
Fixed with https://github.com/typelead/eta/commit/1e37296508d944b76f2e4000ef1f56a985a6ef88

[2018-08-17 07:52] #845 closed

[2018-08-17 07:53] rahulmutt commented on #639
This is resolved with the recent memory manager changes. Moreover, the test you ignored to catch this has now be un-ignored and it's passing.

[2018-08-17 07:53] #639 closed

[2018-08-17 07:56] rahulmutt commented on #704
We have patched cborg-0.2.0.0 in https://github.com/typelead/eta-hackage/commit/e400525666594657ce1d500bd554a83e45039479 - just updating since that issue wasn't linked with @jneira's previous comment.

[2018-08-17 14:17] jstr045329 commented on #850
Now I have this:

$ java -version
openjdk version "1.8.0_181"
OpenJDK Runtime Environment (build 1.8.0_181-8u181-b13-0ubuntu0.16.04.1-b13)
OpenJDK 64-Bit Server VM (build 25.181-b13, mixed mode)

Is that the proper version?

On Fri, Aug 17, 2018 at 12:49 AM, Rahul Muttineni <notifications@github.com>
wrote:

[2018-08-17 14:25] rahulmutt commented on #850
Yes that should work!

[2018-08-17 15:10] rahulmutt commented on #839
@shirouto Thank you for the great reproduction case! Was able to reproduce the finalizer problem with pretty much the same stack trace and it looks to be one of the causes of eating up too much CPU. The other cause is the `checkForReadyIO` as you mentioned and as I mentioned in the PR, I'll see if I can convert it to a non-polling mechanism (more like an event loop).

[2018-08-17 15:47] jstr045329 commented on #850
Thanks! At this point I've 1) compiled eta from source, 2) removed etlas, 3) downloaded the latest etlas binary, 4) etlas repl works, 5) built scotty from source.

Now I'm trying to run eta-scotty-example, and I get this error:

~/eta-scotty-example$ etlas run
Resolving dependencies...
In order, the following will be built (use -v for more details):
 - blaze-html-0.9.1.1 (lib) (requires build)
 -

[2018-08-17 16:38] rahulmutt commented on #850
@jstr045329 Why did you have to remove etlas in between?

[2018-08-17 16:50] jstr045329 commented on #850
When I typed etlas repl, I got an error that there is a version mismatch between etlas and eta.

[2018-08-17 17:09] rahulmutt commented on #850
Ok run the following commands in your Eta clone and let me know if it works:

[code]

[2018-08-17 17:29] jstr045329 commented on #850
git checkout master gives

error: pathspec 'master' did not match any file(s) known to git.

On Fri, Aug 17, 2018 at 10:09 AM, Rahul Muttineni <notifications@github.com>
wrote:

[2018-08-17 17:30] jstr045329 commented on #850
git branch shows:

* stable

On Fri, Aug 17, 2018 at 10:29 AM, James Strieter <jimstrieter@gmail.com>
wrote:

[2018-08-17 22:42] shirouto commented on #850
You may have cloned the stable branch. It should work too. Just continue with the rest
[code]
If however you wanna live on the edge, then you first need to switch to ```master```:
[code]
and then you can continue with the above.

Of course, you can always start from scratch and clone the master directly...

[2018-08-18 03:34] jstr045329 commented on #850
@shirouto it worked! Thank you! I had to git checkout origin/master somewhere in the above string of git commands, but I'm hacking again :)

[2018-08-18 05:38] rahulmutt commented on #850
@jstr045329 As this issue looks resolved, I'm closing this. Feel free to file more issues as you encounter problems.

[2018-08-18 05:38] #850 closed

[2018-08-18 05:45] rahulmutt opened #851 "Make Binary instances used by `eta-serv` stable"
## Description

The `eta-repl` and `eta-meta` libraries are compiled by both the bootstrap compiler (GHC 7.10 currently) and the built compiler (Eta) and hence any differences in deriving mechanisms will cause the serialization/deserialization process to break.

## Possible Fix

 We should manually derive all the Binary instances or use a method that is stable across Generics representations.

##

[2018-08-18 07:30] puffnfresh commented on #851
I say stack-8.2.2.yaml should probabl be removed until this is fixed.

[2018-08-18 07:48] rahulmutt commented on #851
Done.

[2018-08-19 03:15] jin opened #853 "Provide a switch to skip writing of metrics/events.log"
## Description

I'm writing a Bazel rule for Eta compilation, and due to the strict permissions in Bazel's interaction with external dependencies (`~/.eta` and `~/.etlas`), the Eta compiler is unable to create a new directory at `~/.eta/<version>/metrics` and write the `events.log` file.

## Expected Behavior

[code]

## Actual Behavior

[code]

## Steps to Reproduce

N/A, this feature request wil

[2018-08-19 07:30] rahulmutt commented on #839
I fixed the finalizer issue (a bug in the concurrent data structure we use to signal freeing memory) and that brought down the average processor usage from around 200% to 100%. Will continue fixing the remaining issues by reducing the amount of polling we do and update this thread accordingly.

[2018-08-19 11:22] Jyothsnasrinivas opened #854 "Bazel for Eta"
## Description

It would be great to have Bazel support for Eta and will help Eta's adoption in large startups and companies who tend to follow monorepo model.

This issue is to track Bazel support for Eta and to discuss how to overcome any issues.

Tagging @jin and @johnynek who have both shown interest in writing the bazel rules.

A starting point of the discussion is: https://github.com/typelea

[2018-08-19 11:29] Jyothsnasrinivas commented on #849
@politrons We typically announce on our blog, twitter, google groups and via GitHub releases. The next release is out you can go ahead and try it. The announcement will be done in couple of hours.

[code]

[2018-08-19 11:29] #849 closed

[2018-08-19 11:30] Jyothsnasrinivas commented on #831
Closing this since it looks resolved!

[2018-08-19 11:30] #831 closed

[2018-08-19 11:52] puffnfresh commented on #853
This would help with my Nix code too. I've got `send-metrics: False` in my config but I think directory is still created.

[2018-08-19 12:07] puffnfresh commented on #810
There's a few improvements I can make but I have a version here for testing:

https://github.com/eta-lang/eta-nix/tree/etaPackages

It's able to build packages such as Dhall and PureScript so I think it's working pretty well. My next step is to make some small improvements then change this repo's Nix code to reference my new work.

[2018-08-19 13:47] Jyothsnasrinivas opened #855 "Got Prelude.last: empty list with a panic"
## Description
I'm trying to run tests in the package `transformers-compat-0.6.2` and it crashed with `eta: panic! (the 'impossible' happened)`

## Expected Behavior
It shouldn't crash with a panic

## Actual Behavior
Instead it crash with the following message:

[code]

## Possible Fix
Trace which call of `head` in the compiler is failing and investigate why it's failing.

## Steps to Reproduce
D

[2018-08-19 15:26] politrons commented on #849
I´m afraid with the new configuration and dependencies is not working

My build.gradle

[code]

And the error

[code]

[2018-08-19 15:42] jin commented on #853
Customising the locations of the two directories will be nice to have, but not a necessity.

The issue here is with performing writes to somewhere external to the build as a side effect during compilation time. Bazel keeps track of all outputs during an action, which is just `eta Main.hs` in this case.

[2018-08-19 16:02] Jyothsnasrinivas commented on #849
@politrons  Can you use `network:2.6.3.2` instead of `network:2.6.3.5` since Eta has a patch for `v2.6.3.2`?

You can check which version of package to use from the [eta-hackage list](https://github.com/typelead/eta-hackage)

For any further questions can you please open a new issues? Thanks!

[2018-08-19 16:14] Jyothsnasrinivas commented on #853
So what we can do is add a flag `-metricsdir` to specify where metrics data should be written.

[2018-08-19 18:36] #853 closed

[2018-08-19 18:38] jin commented on #853
Wow that was super quick, thank you @Jyothsnasrinivas!

[2018-08-19 18:40] Jyothsnasrinivas commented on #853
@jin I've added the `-metricsDir` flag. If you run `eta -metricsDir somdir Main.hs`, it will dump the metrics in `somedir/event.log`, creating the specified directory if it doesn't already.

[2018-08-19 19:43] johnynek commented on #854
@jin do you want to make a google doc and/or publish your WIP code?

I have followed rules_haskell fairly closely. There it seemed to require quite a bit of knowledge about how ghc-pkg worked in order to implement the rules. They didn't just call ghc.

To me, ideally, eta would have enough CLI flags that we can use it directly, since having etlas and bazel both in play make it complex to deal with

[2018-08-19 19:56] puffnfresh commented on #854
@johnynek you can substitute ghc-pkg with eta-pkg

For Nix:

* I configure the package.conf.d with all the Eta dependencies
* Eta and Etlas do create files under $HOME - I made Nix set HOME to a specific directory during builds
* I do use Etlas, because that uses the project's build information
* I put a a script called coursier on the PATH which just lists the Maven jars

I don't know Bazel prett

[2018-08-19 22:27] jin commented on #854
@johnynek I got `java_binary.deps <- eta_library` to work. PTAL: https://github.com/jin/rules_eta

[2018-08-19 22:29] jin commented on #854
I've proposed a bunch features in the README as a start It also licontainsts the Java/Eta sandwich.

It took me over 15 minutes to compile `eta` on a Macbook Pro, so I don't recommend this. It'll be great if we have a direct distribution of the `eta` binary that we can pull with a `repository_rule`.

[2018-08-19 22:34] jin commented on #854
I believe this is why I had to pass the Bazel flag `--action_env=HOME` to make it work. If not, I get this error:

[code]

@Jyothsnasrinivas can `eta` be made to not depend on the `$HOME` env var?

[2018-08-20 05:10] Jyothsnasrinivas commented on #854
@jin Great work on getting a small example working already!

Here are the links to the binaries:

- [Linux](https://cdnverify.eta-lang.org/eta-binaries/eta-0.8.6.1/binaries/x86_64-linux/eta)
- [Mac OS](https://cdnverify.eta-lang.org/eta-binaries/eta-0.8.6.1/binaries/x86_64-osx/eta)
- [Windows](https://cdnverify.eta-lang.org/eta-binaries/eta-0.8.6.1/binaries/x86_64-windows/eta.exe)

You can substit

[2018-08-20 08:38] Jyothsnasrinivas commented on #854
@jin Just added `-homedir` flag. If you run `eta -homedir somdir Main.hs` it will expect that `somedir/package.conf.d/` is a valid package database that has all the boot-libraries.

We distribute binary versions of all the boot packages in every release. And they are downloaded and installed using Etlas. You are probably better off using Etlas instead of Eta because you'll end up duplicating the s

[2018-08-20 08:48] jneira commented on #704
Hi, [after patching the transitive dependency of cborg, serialise](https://github.com/typelead/eta-hackage/pull/114) we can build again master version of dhall. Moreover, with the recent work of @rahulmutt, http imports finally works!:
[code]

[2018-08-20 11:04] puffnfresh commented on #704
@Gabriel439 I have `nix-build '<nixpkgs>' -A 'etaPackages.dhall'` building with my overlay.

When evaluating I get:
[code]

I don't know where this problem is coming in. I'll try updating Eta and eta-hackage and see if it's still a problem.

[2018-08-20 12:51] ShrykeWindgrace opened #856 "Fails to build several packages on a windows machine"
## Description

A project with dependencies `optparse-applicative`, `typed-process`, and `bytestring`  fails to compile, even thought all three packages are supported.

## Expected Behavior

Should compile
## Actual Behavior

Compilation fails with
[code]
## Steps to Reproduce

2.  Relevant part of the cabal file:
    build-depends:       base >=4.11 && <4.12
                     , optparse-applic

[2018-08-20 13:18] ocharles commented on #704
@puffnfresh do you mean when evaluating a Dhall expression you get that? It looks possibly like a bug with `prettyprinter`. I guess that `∀` is because the thing you're trying to evaluate is a forall?

[2018-08-20 15:36] jin commented on #854
Thanks! That makes it significantly simpler as we can use Bazel's non-hermetic repository rules to bootstrap the required directories within Bazel's execution root for Eta to function, and pass those locations into the rules.

I haven't really looked deeply at how Etlas work, but from my initial experience I'm echoing @johnynek's thoughts:

So far, I've been trying to implement the simpler logic w

[2018-08-20 19:25] shirouto commented on #855
I ran into this issue too. There seems to be a problem with the ```CPP`` language pragma in the compiler. Removing all preprocessing branching worked out for me.

[2018-08-21 04:37] Jyothsnasrinivas commented on #854
Sure that sounds good!

[2018-08-21 06:02] #843 closed

[2018-08-21 06:47] jneira commented on #856
Hi, i've just [test a project with those dependencies](https://github.com/jneira/eta-test/tree/%23856) and it worked for me. However it has picked different versions of packages. Moreover, it doesnt build zlib :
[code]
My versions of eta and etlas are the same but built from source, so i had preinstalled some packages, including bytestring:
[code]
Maybe the errors could be related with [the issue

[2018-08-21 08:32] rahulmutt commented on #856
@jneira It looks like the `Win32` package was being built so I don't think it's a long paths problem this time. It may be that both of you have different index states. Maybe both of you need to run `etlas update` and try again?

[2018-08-21 12:05] rahulmutt opened #857 "Figure out how to recycle it's in the REPL"
## Description

The Eta REPL now generates a unique `it[n]` for every expression that is evaluated in the REPL, and there is currently no way to tell the REPL to release an existing `it[n]` from the heap.

@paulp suggested using `SoftReference`'s but that would mean that a long running REPL session would silently drop heap references in `eta-serv` without the compiler knowing about it which would

[2018-08-21 12:11] ShrykeWindgrace commented on #856
Thanks for looking into this issue!

@jneira  it seems that your test project uses `eta-0.8.6.2` - (judging by the line `C:\Users\user\AppData\Roaming\eta\0.8.6.2\package.conf.d`); mine is still at `0.8.6b1`.

@rahulmutt I deleted folders `eta` and `etlas` in `$HOME/AppData/Roaming` to be sure, run `etlas update`, and rerun `etlas build`.  The compilation now fails with
[code]
I have `LongPaths` p

[2018-08-21 12:45] jneira commented on #856
Mmm, not sure if the internal win32 api calls done by etlas use that policy cause it have to work in older windows versions...
If i remember correctly i've got that error when building the project (`D:` in my case) in another drive than the $HOME\AppData\Roaming\etlas one (typically `C:`).
I use as workaround a global install of the package:
[code]

[2018-08-21 12:55] ShrykeWindgrace commented on #856
@jneira your workaround helped, thank you!

If `etlas` has the right to ignore `LongPaths` policy, the 260 char limit could become an issue indeed.

[2018-08-21 13:17] rahulmutt opened #858 "Interact with code in the REPL"
## Description
Currently, trying to evaluate functions in the REPL gives you `<function>`. It would be even better if could print out what the function was defined as, in terms of the STG AST representation which is the IR we use just before codegen.

[code]

Implementing this requires:
1) Serializing STG code and storing it inside of the output JAR file so it can be accessed at runtime. This shou

[2018-08-22 02:18] jstr045329 opened #859 "newest eta fails to build on OS X Sierra"
$ git pull origin master
remote: Counting objects: 211, done.
remote: Compressing objects: 100% (55/55), done.
remote: Total 211 (delta 128), reused 211 (delta 128), pack-reused 0
Receiving objects: 100% (211/211), 24.74 KiB | 8.25 MiB/s, done.
Resolving deltas: 100% (128/128), completed with 66 local objects.
From https://github.com/typelead/eta
 * branch              master     -> FETCH_HEAD

[2018-08-22 02:28] mruzekw opened #860 ":setupEnvironmentEta FAILED after ./gradlew run in docker"
## Description

I ran `./gradlew run` in the provided docker container, and it kept failing to install.

**Run 1**

[code]

**Run 2**

[code]

**Run 3 after `etlas update`**

[code]

## Expected Behavior

A running app/script.

## Actual Behavior

"Execution failed for task ':setupEnvironmentEta'."

## Possible Fix

Not sure.

## Steps to Reproduce

[code]

## Context

I wanted to try out Eta. I'm

[2018-08-22 05:54] rahulmutt commented on #859
@jstr045329 Are you trying to build Eta with Eta? That is not supported yet, see #423.

[2018-08-22 05:58] jneira commented on #859
Hi and thanks for try eta, it seems you are trying to build eta with etlas/eta itself and i am afraid that is not possible yet, see https://github.com/typelead/eta/issues/423). For now etlas/eta should be built using stack/ghc, you can check the steps (including the checkout, that involves use git submodule) here: https://eta-lang.org/docs/user-guides/eta-user-guide/installation/source.

[2018-08-22 06:05] rahulmutt commented on #860
Since you're in the Docker container, you already have `eta` and `etlas` provided, so in `eta-init/build.gradle` you can do the following:

[code]

If you don't put those settings above, it will try to install the binary version of Eta *again*. When installing binaries, it checks the platform to make sure you get the right binaries. I think it's failing because a Docker container is not a recogniz

[2018-08-22 06:12] rahulmutt commented on #856
@jneira I remember there was a Cabal fix for this - can you link that here to track it? We'll try to port it sometime.

[2018-08-22 13:13] mruzekw commented on #860
Thanks! That makes sense, and it works.

[2018-08-22 13:13] #860 closed

[2018-08-23 02:30] Gabriel439 commented on #704
@jneira: Would a new dependency on `unix-compat` be problematic for Eta?  The reason I ask is that I'm looking for a cross-platform way to set group/other permissions on directories or files since `System.Directory` only supports setting user-permissions and `unix-compat` was the closest thing I could find that didn't involve a sub-process call to `chmod`

[2018-08-23 05:26] jneira commented on #856
Oh, i am afraid i dont remember that one and i just look for it in https://github.com/haskell/cabal/issues with no luck

[2018-08-23 05:36] jneira commented on #704
@Gabriel439 I am afraid that eta doesnt support `unix-compat` for now so we will have to patch dhall to replace those calls with java ones (or maybe patch `unix-compat` itself). Anyway, imo there is no better option (cc @rahulmut) and we already had [to patch dhall](https://github.com/typelead/eta-hackage/blob/master/patches/dhall-1.16.1.patch).

[2018-08-23 06:46] borkdude opened #861 "REPL error with eta-scotty-example"
## Description
I have tried the eta-scotty-example https://github.com/Jyothsnasrinivas/eta-scotty-example in the `etlas repl`.
When I run main, then do Ctrl-C, change some code and enter `:r`

## Expected Behavior
REPL should not quit on error, but just report the error and show a prompt

## Actual Behavior
The repl quits with the message:

fd:16: hGetContents: illegal operation (handle is closed)

[2018-08-23 06:51] borkdude opened #862 "REPL uses CPU while doing nothing"
## Description
I have tried the eta-scotty-example https://github.com/Jyothsnasrinivas/eta-scotty-example in the `etlas repl`.
When the REPL is showing a prompt and not doing anything else, the CPU usage for a java process goes up to 150% on my Macbook Air.

## Expected Behavior
I expect the REPL to not use much resources when idling.

## Actual Behavior
150% CPU usage on a Macbook Air.

## Steps

[2018-08-23 14:55] Art-B commented on #3
Besides the technical details of integrating with the GHC tools, is it fair to say, at a language level, that Frege is an implementation of Haskell '98/'10 on the JVM whereas Eta is an implementation of GHC (ie Haskell + GHC-specific extensions) on the JVM?

[2018-08-24 08:59] rahulmutt commented on #862
This is a duplicate of #839. This will be fixed in 0.8.6b2 which will be released within the next week.

[2018-08-24 08:59] #862 closed

[2018-08-24 09:00] rahulmutt commented on #839
This is now fixed on master after a refactoring of the thread scheduling in the runtime. CPU usage is now reasonable. Fix will be included in the upcoming v0.8.6b2 release.

[2018-08-24 09:00] #839 closed

[2018-08-24 14:41] rahulmutt commented on #704
@Gabriel439 You can go ahead and add the dependency. At worst, once the dhall integration is done, we can add an `etlas.dhall` file which doesn't contain the dependency and uses the Java standard library to perform the same function. We do eventually plan on patching `unix` and `unix-compat` once we get an idea of which functions are *actually* being used by the Hackage ecosystem. So far, we found

[2018-08-24 16:11] shirouto opened #864 "STM contention in the RTS"
## Description

On running the current STM atomic transactions the thread seems to hang indefinitely.

## Expected Behavior

The code should run successfully.

## Actual Behavior

The program never ends.

## Possible Fix

At first sight, it seems to be related to [this ghc rts issue](https://ghc.haskell.org/trac/ghc/ticket/7815), but looking at ```rts/src/main/java/eta/runtime/stm/TransactionRecor

[2018-08-24 16:23] shirouto opened #865 "Improve the test driver for fail"
The present test driver ```tests/suite/Driver.hs``` will simply concatenate the ```stdout``` and ```stderr``` on runtime error, so one will have to include the entire stacktrace into the ```.stdout``` file for the ```run``` target. This makes for cumbersome and brittle test cases having to update the test checks on tests updates and runtime updates.

Truncating the stderr stacktrace  could help. A

[2018-08-24 22:43] shirouto opened #866 "TCO, stack size, and related concerns"
While abusing the eta runtime by different means, I ran into a category of issues that make me wonder about stack management, its default size, and the present approach to recursion. For example the code below:

[code]
Since the documentation states that eta does TCO for tail recursive functions, one would expect that running ```fact``` would not blow the stack. But it does. As far as I can tell,

[2018-08-25 13:02] Jyothsnasrinivas commented on #865
@shirouto Thanks for the suggestion. This is something we wanted ourselves but we haven't had the time to implement it.

[2018-08-26 07:14] rahulmutt commented on #866
@shirouto I am not able to reproduce stackoverflowerrors for any of the modes above, even after running numerous times.

You can check the stack size for your platform using this command:
[code]
It's coming out as 1024 for me (I assume KB's).

The non-determinism in StackOverflowErrors most likley has to do with the fact that JIT compilation is non-deterministic. If a method is JIT compiled early,

[2018-08-26 11:09] shirouto commented on #866
@rahulmutt This is strange. I will look deeper to try to identify why this happens in my case. The JIT compiler might be a factor.

Anyway, I include here some details I know up front. I am using eta on master ```3751d21ba64578e78b8475f16ae8db534d84c1c7```. I am not using etlas to compile/run (just vanilla eta). I checked the JVM stack size and it is the same as yours (1024).  Here are the relevan

[2018-08-26 12:31] rahulmutt commented on #866
@shirouto Oh if you're not using etlas then you're compiling with `-O0` - lots of optimizations like tail recusion, etc. don't get applied at that level. Try `-O` to apply those optimizations. `-O0` is really only useful when you want to get fast compiler feedback (type errors, warnings, etc.)

[2018-08-26 12:58] rahulmutt commented on #866
Hmm the larger question here seems to be whether to make `-O1` the default instead of `-O0`. Thoughts?

[2018-08-26 14:29] shirouto commented on #866
Ah! You saved me from pilfering in the etlas defaults. Yes, all this makes sense now. Thank you.

Well, I would frankly prefer ```-O1``` to be the default in eta. The same code works just fine in ghc without any optimizations (well, ghc does have a virtually limitless stack size). The optimizations are meant to tweak the performance of the code, but in eta case, eta relies on ```-O1``` to unwind t

[2018-08-27 08:11] rahulmutt commented on #866
I thought about this some more and it seems we should *always* apply the loopification optimization in the codegen regardless of which flags/optimization level is used, especially since -O0 is used by the REPL and we wouldn't want to get SOEs in the REPL and not in compiled code. Would you be interested in submitting a PR for this?

[2018-08-27 08:43] paulp commented on #858
I will expand here on what I meant about printing in the repl, since this is exactly the sort of purpose for which one "Show" cannot serve all purposes.

Say you're printing a function, or any typed AST. There are a bunch of decisions to be made about what to print and how to print it, especially the types, the answers to which will vary by user and circumstance. Since it's Scala I'm familiar with

[2018-08-27 09:17] puffnfresh commented on #866
@rahulmutt I think I agree.

[2018-08-27 10:58] shirouto commented on #866
@rahulmutt Sure, I can take a stab at it.

[2018-08-28 00:13] rahulmutt commented on #866
@shirouto Can you send a WIP pull request so we can give you inline feedback? Btw, I imagined the change to be in the codegen as opposed to the frontend.

[2018-08-28 00:14] rahulmutt commented on #866
I'm not sure whether the REPL stuff was intentional - can you a file a separate issue on that?

[2018-08-28 00:14] rahulmutt commented on #866
I'm not sure whether the REPL stuff was intentional - can you a file a separate issue on that?

[2018-08-28 05:28] shirouto commented on #866
@rahulmutt First, forking off loopification and handle it on our own in codegen seemed very alluring as an elegant approach to the issue (not to mention the fun factor involved.) However, I refrained for it for two reasons:

1. Practically, we will have to maintain that piece of code: every time we decide to increase the ghc version or graft on some additional language feature, we will need to tak

[2018-08-28 05:46] shirouto opened #867 "REPL does not set dynamic flags passed from command line"
## Description

```etlas repl``` ignores dynamic flags passed in on the command line. For example after launching the repl with ```etlas repl -floopification``` one would expect that the repl would apply the corresponding optimization to the loaded code. However, that is not the case. Moreover, ```:set``` does not report the flag. Setting the flag from inside the repl, ```:set -floopification``` d

[2018-08-28 06:14] rahulmutt commented on #866
1. Codegen changes in GHC are super rare. There was one bug small fix that we backported long ago, but beyond that, we can expect GHC's codegen to stay more or less constant. Moreover, while our codegen has a similar architecture to GHC's, it is quite different so any changes that do happen may or may not be relevant for us.

2. I'm not sure memory leaks are a problem that will be made easier to d

[2018-08-28 06:17] rahulmutt commented on #867
This is actually not a problem with `eta`, but `etlas`. By default, `etlas repl` expects the arguments to be the packages that you want loaded and available in the repl. This is related to https://github.com/typelead/eta/issues/786.

The workaround for now is:

[code]

But the issue is that this applies that option to all the dependencies forcing a recompile of all the non-boot packages. For you t

[2018-08-28 08:33] shirouto commented on #867
Ah. Entirely my mistake. I saw the ```etlas repl -f``` in its help and assumed to function like ghci without carefully reading its description (set cabal flags instead). Thank you.

[2018-08-28 17:43] shirouto commented on #866
@rahulmutt I have submitted two PRs (one in etlas) for this. Etlas by default was removing all optimizations upon calling eta from command line, so in order to insure that ```-floopification``` gets properly applied, I had to patch eta too to pass the flag after ```-O0``` but before all user flags (the user can still override the flag).

I am still torn about whether this should have been implemen

[2018-08-28 18:09] Jyothsnasrinivas opened #869 "Tool to convert Java code to Eta code"
Recently, I've been trying to implement Eta examples for various Java frameworks. And I found a repetitive pattern while converting the Java examples to Eta. I was wondering if we could automate this with a tool to make it easy to copy paste Java code samples and directly convert it to Eta code.

Let's see a simple Web Server in Java and Eta:

**When implemented in Java**

[code]

**When implement

[2018-08-30 17:06] shirouto opened #870 "REPL: thread blocked indefinitely in an MVar operation"
## Description

While running ```forM_ [0..4096 print``` in ```etlas repl```, I got
[code]
This is probably related to a stack overflow issue similar to #866 and #543. Compiling the code with ```-fno-ignore-interface-pragmas``` and ```-fenable-rewrite-rules``` or ```-O1``` is a way around, but these optimizations are not available in the present ```etlas repl```.

## Expected Behavior

The code sh

[2018-09-04 20:14] adamschoenemann opened #871 "GHC.Generics in master seems out of date"
## Description
I'm trying out Eta and therefore trying to build some code with Eta that relies on generics-sop 0.3.2.0 but it's failing due to some imports from `GHC.Generics` that should definitely be in base 4.11.1.0. Looking at [the code in your master][1] it also seems very different from [what's on hackage][2]. Perhaps I'm misunderstanding something completely or doing something wrong (quite

[2018-09-04 22:59] gregnwosu commented on #869
I'm new to this but doesnt the fact that java classes contain state make this impossible?
I think this would naively convert the code , but it is quite possible that any of the calls have side effects that could change the state of the object invisibly. Then factor things in like AOP or spring dynamic proxies and I would suggest that the translation should be only one way.

[2018-09-05 12:04] Jyothsnasrinivas opened #872 "Backport the latest GHC.Generics"
We need to backport the new Generics which has a new representation with type-level information at some point. We haven't done it yet because the extra type information causes even slower compile times than the existing representation which is already slow for large types.

**References**
- [GHC Trac #5642](https://ghc.haskell.org/trac/ghc/ticket/5642)
- #759 - A potential solution

[2018-09-05 12:06] Jyothsnasrinivas commented on #871
@adamschoenemann Thanks for filing the issue!

When porting `base-4.11` we avoided porting all the new Generics updates to avoid [compile-time regressions](https://ghc.haskell.org/trac/ghc/ticket/5642). Once we have some time to investigate the cause for the slow compile times we'll port them. I filed issue #872 to track the problem.

To fix your problem right now, we've patched `generics-sop-0.3.

[2018-09-05 15:57] adamschoenemann commented on #871
Great, that works! Thanks for the speedy hotfix :)

[2018-09-05 18:54] adamschoenemann opened #873 "Request: Documentation on using Eta compiled code from Java"
You have some good documentation on using Java code from Eta, but I cannot find any documentation on using Eta code from Java (or Kotlin in my case). I can include the compiled jar on the classpath, but I cannot figure out how to call this code properly, since the methods I get seem to require a lot of plumbing from the runtime. I'm sure there's a simple way to do it, but I can't find anything in

[2018-09-06 05:43] jneira commented on #873
Hi, i am afraid that use directly automatic generated classes by eta in java is cumbersome. There is a way to export classes/methods documented [here](https://eta-lang.org/docs/user-guides/eta-user-guide/java-interop/java-interop-basics#exporting-eta-methods) (including java examples!).
Besides that, there is plans to export eta types automatically to java, tracked in [this issue](https://github.c

[2018-09-06 08:12] adamschoenemann commented on #873
Thanks for the answer and the link! I don't know how I missed it.

[2018-09-06 08:12] #873 closed

[2018-09-06 08:42] jneira commented on #873
Well, maybe the docs for exporting eta methods should be in its own section (like imports) to make it more relevant

[2018-09-06 13:32] Jyothsnasrinivas commented on #871
@adamschoenemann No problem! Closing this issue.

[2018-09-06 13:32] #871 closed

[2018-09-06 17:43] kaishh commented on #869
Oh, but the proposal is to just 1-to-1 convert imperative calls to Java monad calls, not try to convert java code to idiomatic haskell.

Bytecode-level AOP will probably still work, as the java method calls remain there.

[2018-09-08 09:09] ajevans85 opened #874 "`nix-shell -A eta-build-shell` failing due to parsec version constraints"
Running `nix-shell -A eta-build-shell` fails with the below error:

[code]

[2018-09-08 10:53] Jyothsnasrinivas commented on #874
@ajevans85 Thanks for reporting!

@puffnfresh There have been a few dependency updates. Can you look into this?

[2018-09-08 12:32] ajevans85 commented on #874
I've raised a PR which resolves the dependency issues https://github.com/eta-lang/eta-nix/pull/1/commits.

Having fixed that I also get the below, not sure if it's related or a separate issue:

[code]

[2018-09-09 05:28] Jyothsnasrinivas opened #875 "Location information for main function is imprecise"
I've been working on type mismatch errors for Eta and found that the location information for the `main` function is imprecise.

**Program to reproduce**

[code]

The error produced looks like this:

<img width="351" alt="screen shot 2018-09-09 at 10 56 00 am" src="https://user-images.githubusercontent.com/13062967/45261407-f9564800-b41e-11e8-98fd-5c0ace765185.png">

This means that the location i

[2018-09-09 18:58] nlv opened #876 "[eta-tour]: Bug - [description-here]"
Source Code:
[code]

![screenshot_2018-09-09 tour of eta](https://user-images.githubusercontent.com/200891/45267747-8687b400-b494-11e8-8c8b-fad2e57ded7a.png)

[2018-09-09 19:05] nlv commented on #876
Sorry, М in "Main" word was cyrillic

[2018-09-09 19:05] #876 closed

[2018-09-10 09:03] adamschoenemann opened #878 "Read instance of Double is incorrect"
## Description
The `Read` instance for `Double` is completely incorrect!

## Expected Behavior
That `show . read = id`.

## Actual Behavior
It seems like the fractional part is computed wildly incorrectly. For example `read "42.42" :: Double` yields `66.28125`. It seems the error is enlarged as the numbers grow. Here is the output of reading the doubles from 0 to 2 in increments of 0.1.

[code]
No

[2018-09-12 13:55] #878 closed

[2018-09-12 13:59] Jyothsnasrinivas commented on #878
@adamschoenemann Thanks for reporting this. One the latest master this is resolved.

There was a bug in the implementation of `integerLog2IsPowerOf2#` function in  the `integer` package which has been resolved now.

Feel free to open new issues if you face anymore problems.

[2018-09-12 20:29] g-pechorin opened #880 "Win7+JDK10; etlas.exe: Unable to find any Eta binaries for your platform."
## Description

I'm trying to setup/use eta through Gradle.
I've followed the online instructions, but, get errors rather than a running program.
The errors seem to indicate that Windows7 or JDK10 aren't recognized.

## Expected Behavior

I would expect [the quickstart example](https://eta-lang.org/docs/user-guides/eta-user-guide/installation/gradle) to print a message about the 101st prime.

## A

[2018-09-13 06:51] jneira commented on #880
Hi and thanks for trying eta.
Could you share the output of `C:\Users\Peter\.gradle\caches\etlas\1.5.0.0\etlas update -v3`? It should print info about the urls tried to download eta binaries

[2018-09-13 06:56] rahulmutt commented on #880
@g-pechorin JDK 10 is most likely the issue. Try using a tool like [jenv](http://www.jenv.be/) and install with Java 8.

[2018-09-13 10:09] g-pechorin commented on #880
Tried again at work (Ubuntu18.04  JDK10)

Looks like ... yeah; eta doesn't work with the current JDK

# `peter@workbuntu:~/Desktop$ git clone git@github.com:typelead/eta-init.git && cd eta-init && ./gradlew run -PetaSendMetrics=false`

    Cloning into 'eta-init'...
    remote: Counting objects: 87, done.
    remote: Compressing objects: 100% (6/6), done.
    remote: Total 87 (delta 2), reused 5 (

[2018-09-13 10:09] #880 closed

[2018-09-13 10:48] adamschoenemann commented on #878
Thanks, it works now!

[2018-09-13 11:01] g-pechorin commented on #880
... or a Mac with JDK9 ...

    $ java -version
        java version "9.0.4"
        Java(TM) SE Runtime Environment (build 9.0.4+11)
        Java HotSpot(TM) 64-Bit Server VM (build 9.0.4+11, mixed mode)
    $ git clone git@github.com:typelead/eta-init.git && cd eta-init && ./gradlew run -PetaSendMetrics=false
        Cloning into 'eta-init'...
        remote: Counting objects: 87, done.

[2018-09-14 07:00] adamschoenemann commented on #396
I seem to have the same problem. It's not clear for me what the solution is exactly? Additionally, I cannot find any documentation about all this uberjar business except for scouring the issues.

[2018-09-14 08:05] rahulmutt commented on #396
You can create an uberjar by creating a `cabal.project` file and adding the following line:

[code]

(or equivalently `etlas build --enable-uberjar-mode` but you must pass in that flag *every* time)

Note that this setting only applies to executable components and not library components, so the workaround for now is to make an executable component with your code and add `main = return ()` in your

[2018-09-14 08:06] rahulmutt opened #881 "Add a flag to allow uberjar mode for libraries"
See the discussions here: https://github.com/typelead/eta/issues/396#issuecomment-421266345.

Should be a fairly easy task for a new contributor.

[2018-09-14 08:54] adamschoenemann commented on #396
OK, thanks for the info!

[2018-09-15 08:05] rolandtritsch opened #882 "[eta-tour]: Bug - The current version of Eta is v0.7.0b2."
https://tour.eta-lang.org/start#3

Link the version to a/the github/doc page to make sure the version is always current.

[2018-09-20 08:53] arhont375 opened #884 "[eta-tour]: Bug - [description-here]"
Source Code:
[code]

Output:
[code]

[write-further-description-here]
Seems like this program creating some exceptions or something, after that I can't get result of any program in tour (always request timeout).

[2018-09-24 07:18] squallcx opened #885 "java.lang.NoSuchMethodError"
## Description

[code]

## Expected Behavior

should get :: Java a AndroidDriver
## Actual Behavior

`Exception in thread "main" java.lang.NoSuchMethodError: io.appium.java_client.android.AndroidDriver.<init>(Ljava/net/URL;Lorg/openqa/selenium/remote/DesiredCapabilities;)V`

## Your Environment

 etlas 1.5.1
 windows 10

[2018-09-24 16:58] jneira commented on #885
Maybe the correct class is org.openqa.selenium.remote.Capabilities?
https://appium.github.io/java-client/io/appium/java_client/android/AndroidDriver.html#AndroidDriver-java.net.URL-org.openqa.selenium.Capabilities-

[2018-09-25 00:46] zhangmaku commented on #885
`Exception in thread "main" java.lang.NoClassDefFoundError: org/openqa/selenium/remote/Capabilities
`

DesiredCapabilities can work on Scala

`libraryDependencies += "io.appium" % "java-client" % "6.1.0"`

[code]
But,I don't know what went wrong on eta

[code]
`Exception in thread "main" java.lang.NoSuchMethodError: io.appium.java_client.android.AndroidDriver.<init>(Ljava/net/URL;Lorg/openqa/selen

[2018-09-25 04:28] jneira commented on #885
Oh sorry for my quick and incomplete response.

I am afraid that [we still have to tell eta the class/interface relationships](https://eta-lang.org/docs/user-guides/eta-user-guide/java-interop/subclasses) between `DesiredCapabilities` and `Capabilities` so we could do:

[code]

[2018-09-25 06:41] jneira commented on #885
You are welcome and thank you for trying eta.
There is an incoming eta version with an automatic java interop to make it easier: see https://github.com/typelead/eta/issues/647

[2018-09-27 09:48] ChShersh commented on #617
Another source where you can take inspiration is `relude`:

* https://github.com/kowainik/relude

You can find the short overview of `relude` here:

* https://guide.aelve.com/haskell/alternative-preludes-zr69k1hc#item-ikoqdt69

In some sense `relude` closer to `protolude` than to `RIO` but has a lot of differences from `protolude`. The idea is to be minimal but still useful. One key point there is

[2018-09-27 10:06] NickSeagull commented on #617
Sure @chshersh, relude is great!

By the way, what should be the next steps to push this forward? I'm really willing to help with this so we have a sane prelude

[2018-09-28 13:00] MyriaCore commented on #869
I feel like you could do this with grammars / parsing. I'm not super familiar with traditional grammar parsers like ANTLR, I typically float around prolog and DCG's a bit more, but with prolog you can pretty easily equate two parts of two different AST's and convert things pretty easily.

[2018-09-28 13:41] Jyothsnasrinivas commented on #884
@arhont375 Thanks for reporting. The problem with the list `[2,2..10]` is that it's an infinite list of 2's. So what happened was it printed indefinitely and eventually timed out.

The one thing we could do is to improve the error message, but we probably won't have time to get around it anytime soon. So closing this issue.

[2018-09-28 13:41] #884 closed

[2018-09-28 13:43] Jyothsnasrinivas commented on #882
@rolandtritsch Thanks for reporting. We could fix this in the coming version of Eta.

[2018-09-28 23:06] jneira opened #886 "Implement JavaConverter for a rank n type"
Hi, i want to wrap this type (that i cant change):
[code]
with this java Function-like:
[code]
given i have instances of `JavaConverter` for all `Dhall.Expr JExpr`, `(Maybe a) (JOptional ja)`, etc
The function signature would be:
[code]
[Afaik](https://ocharles.org.uk/blog/guest-posts/2014-12-18-rank-n-types.html) you could not "use" the type `s'` and you cant add the constraint `JavaConverter s j

[2018-09-30 20:06] stefanscheidt opened #887 "[eta-tour]: Bug - execution of Sequenceable part 9/12 failed"
Source Code:
[code]

Output:
[code]

SImply executing the sample failed after some time waiting for compiling and executing.

[2018-10-02 09:32] NickSeagull commented on #430
Somehow I cannot reproduce this, do you still get the same error nowadays @reactormonk ?

[2018-10-02 14:27] reactormonk commented on #430
Running `./cleaninstall.sh` now works.

[2018-10-02 15:41] NickSeagull commented on #430
Sounds great! Feel free to reopen if it appears again 😄

[2018-10-02 15:41] #430 closed

[2018-10-03 09:48] jneira commented on #688
thank to the amazing work of @Jyothsnasrinivas i think that one is fulfilled

[2018-10-04 14:20] shirouto commented on #887
Well, I cannot reproduce the issue. Two points though:

1. The code above does not compile as you have it here. Inside ``addNonNegative`` you should have ``n + 100`` (I guess). Probably some character encoding got scrambled while you copied and pasted. Once you make that change though, the code should compile and run as it is.

2. Your ``readInt`` is redundant, as you never use it. This should not

[2018-10-04 18:58] stefanscheidt commented on #887
The code is the code from the Tour of Eta, executed in "the browser".
Now it works fine, probably just a hickup of the backend of the Tour of Eta.

[2018-10-04 18:58] #887 closed

[2018-10-14 03:14] #810 closed

[2018-10-15 14:29] g-pechorin opened #888 ""Unable to find any Eta binaries for your platform" (Windows 7 + JDK8)"
I'm (now) using JDK8 (x64) on Windows 7 (x64) and etlas seems to feel ... it's not a valid environment?

I've attached the results of running the usual diagnostic commands below

# `> etlas.exe update`
[code]

# `> etlas -V`
[code]
# `>  javac -version`
[code]
# `>  java -version`
[code]

[2018-10-16 04:35] jneira commented on #888
Hi, definitely x86_44-windows is a supported platform so it should work fine.
It seems it fails to download the needed binaries (`eta.exe`,`eta-pkg.exe`,`eta-serv.jar`) to the local dir `%APPDATA%\etlas\binaries\cdnverify.eta-lang.org\eta-0.8.6.2\binaries\x86_64-windows`
Could you remove any existing `%APPDATA%\etlas` and `%APPDATA%\eta`, try an `etlas update -v3` and share the output? It could be

[2018-10-16 18:24] g-pechorin commented on #888
looks like ... etlas doesn't like Anaconda/Miniconda3's version of curl?

It seemed to work when I removed "that" version of curl.

So ... does that mean that (in addition to Java10) eta-lang doesn't line Anaconda?

# `etlas.exe update`

(after deleting)

[code]

# `> etlas.exe update -v3`

(after dleting again)

[code]

# `> git --version`
[code]

# `> curl --version`

[code]

# `> "C:\Program Fi

[2018-10-16 20:57] jneira commented on #888
Mmm, the error is thrown by curl itself trying to access the url, so maybe it is related with that url ot its ssl config but no with eta or etlas executables directly.
It seems there was a similar problem with curl 7.49 in windows 7: https://github.com/curl/curl/issues/840. Maybe updating curl to a newer version would fix the issue.
Just to make sure: you have been able to install it after removin

[2018-10-18 10:52] rahulmutt commented on #888
So the previous reason why we aren't just using a proper HTTPS client library to perform the download was that we wanted to keep the dependency tree small. But given that we now have `dhall` as a dependency which itself uses `http-client-tls`, I think that reason doesn't make sense anymore.

The long-term solution to this is to rewrite the HTTP/HTTPS downloading mechanism inside of etlas to use `H

[2018-10-18 10:54] rahulmutt commented on #888
One a side note, the message

[code]

is unhelpful for both the user and the people trying to help the user. I think we should look into supplying *which* platform was detected and why it failed to download the binaries more precisely.

[2018-10-18 11:05] jneira commented on #704
Although [the wrapper of dhall for java is still a wip](https://github.com/eta-lang/dhall-eta/tree/java-types) and full of bugs, i managed to implement almost all public api of `Dhall.Parser`, `Dhall.Core` and `Dhall.TypeCheck`(next will be `Dhall.Import`):

[code]
with this output:
[code]

[2018-10-18 11:42] rahulmutt commented on #617
@ChShersh Really awesome suggestions. I like the idea of specifying hlint rules in the cabal file or maybe even in an external file which you can specify in the cabal file. Will need to think over the long term consequences and make think more about the UX. Perhaps you'd like to make a [proposal](https://github.com/typelead/eta-proposals)?

@NickSeagull

1) Make a `-prelude` flag that you can send

[2018-10-18 21:33] sand5y commented on #414
I am facing a very similar problem. Including libncurses5 and all the above mentioned files did not resolve the issue.
`ghc7.10.3.so: undefined symbol: cur_term`

Any suggestions?

[2018-10-18 23:47] puffnfresh commented on #617
My preferred alternative prelude is https://github.com/qfpl/papa

[2018-10-19 05:15] rahulmutt commented on #688
Indeed it is! Closing.

[2018-10-19 05:15] #688 closed

[2018-10-19 23:32] rahulmutt commented on #414
@sand5y Can you file a fresh issue with details about your environment?

[2018-10-21 00:26] mmisamore opened #889 "Compiler panic on FFI static field import with polymorphic return type"
## Description
A static field import with the FFI is failing. Reference repository is: https://github.com/mmisamore/eta-first.git. In particular, replacing "Java Counter ()" below with "Java a ()" switches between a successful compile and a panic:
[code]

## Expected Behavior
Project successfully compiles, or a compiler error is thrown if not allowed (rather than a panic).

## Actual Behavior
[cod

[2018-10-21 00:52] rahulmutt commented on #889
We have yet to introduce proper type checking for FFI imports so this is expected. We're going to have a much better [interop story](#647) going forward in which you can't possibly trigger a panic, so for now this is just something to keep in mind. In the future, FFI imports will be low-level and only used by people who really want some more control.

The reason why static fields/methods have a po

[2018-10-21 01:13] mmisamore commented on #889
That makes sense. I'm still not sure how to convince the compiler to accept the "Java a ()" return type for static fields. This panics for me:
[code]

[2018-10-22 18:30] sand5y opened #890 "symbol lookup error: ghc7.10.3.so: undefined symbol: cur_term"
I am trying to build code on openSUSE Leap 15.0 and I am facing the above error. I have run the command
`sudo zypper install zlib-devel libncurses5 ncurses5-devel libbz2-devel `
and the error still shows up.

[2018-10-22 18:31] sand5y commented on #414
Created. https://github.com/typelead/eta/issues/890

[2018-10-23 02:25] zstone1 opened #891 ""Data.Char.isSymbol" incorrect."
Eta is getting the unicode "General Category" wrong. For example, eta thinks '<' is a control character.
This matters because the lexer in Haskell-src-exts uses 'isSymbol' during lexing, and so it refuses to parse "\\x -> x" because eta is miscategorizing '-' and '>'.  So many quasi-quotations don't work.
## Description
## Expected Behavior
`isSymbol '<' == True`
## Actual Behavior
`isSymbol '<' =

[2018-10-23 06:02] jneira commented on #889
Hi, thanks for reporting this. I've reproduced the problem, the code above throws the same compiler panic as the initial comment. For completeness:
[code]

[2018-10-25 02:06] rahulmutt commented on #561
@jneira Looks good! Interested in submitting a PR?

[2018-10-25 03:19] rahulmutt commented on #889
This is definitely a bug, will need to look into it.

[2018-10-25 04:11] rahulmutt commented on #890
Can you share the instructions you used to followed Eta and the full shell output?

[2018-10-25 05:33] jneira commented on #561
Of course! I'll try to add at the end of section in https://eta-lang.org/docs/user-guides/eta-user-guide/java-interop/java-advanced-ffi#working-with-java-interfaces

[2018-10-25 05:40] rahulmutt commented on #891
The Unicode categorization implementation is untested, so thanks for testing this out!

As you noted, in `GHC.Unicode`, we call out to the Java methods. One way you could debug this is to make a test case that prints out the category for all the categories and run that code both in Eta and GHC and see the output difference and tweak the implementations accordingly.

Would you be interested in cont

[2018-10-25 07:29] jneira opened #892 "Add new case for foreign exports: allow generic type parameter as result"
## Description

I've tried to define a foreign export with this shape:

[code]
(same behaviour replacing `IO ja` with `Java x ja`, being x a free variable or a bound one)
## Expected Behavior
The compiler should generate a java method like:
[code]

## Actual Behavior
Eta throws a compile error:
[code]

## Possible Fix
Add the case to foreign exports

## Steps to Reproduce

## Context
Implementing

[2018-10-25 07:47] rahulmutt commented on #583
Does your nix overlays work satisfy this issue? What else is remaining on that front?

[2018-10-25 07:54] jneira commented on #892
As a workaround i have to wrap the type paremter in a dummy wrapper:
[code]

[2018-10-25 07:56] rahulmutt commented on #892
Great to see a workaround. I think making your original example compile is just relaxing the checks in the foreign export typechecking code.

[2018-10-25 08:56] puffnfresh commented on #583
Yeah it does pretty much what you said in the second comment.

[2018-10-25 08:56] #583 closed

[2018-10-25 18:49] zstone1 commented on #891
I can make an attempt this weekend. I'll update here on progress, if I make any.

[2018-10-26 08:10] jneira commented on #892
It seems the workaround compiles but fails at runtime:

[code]
The call
[code]
fails with
[code]

[2018-10-26 12:11] ror6ax commented on #495
Hi @rahulmutt I would like to try contributing to this project, and have some IRL Haskell experience. If this is still relevant I'll pick it up.

[2018-10-26 12:33] rahulmutt commented on #892
Thanks for testing @jneira! That looks like a bug. It should be fixed as the original issue is worked on as well.

[2018-10-26 12:36] rahulmutt commented on #495
@ror6ax This issue is still relevant yes, but the UI is slightly different since we don't have (recommend) sandboxes anymore b/c we have the `new-build` system which has a Nix-like store.

We have a `cabal.project` file which specifies the entire build so the appropriate place to add the `stackage-resolver` field would be inside of `cabal.project`.

Feel free to ask any questions - happy to help y

[2018-10-29 09:14] jneira commented on #892
@rahulmutt  I would like to try fix this one but i didn't know in deep the guts for typecheck and codegen foreign exports, could you give me some guidance? :sweat_smile:

[2018-10-29 12:48] jneira commented on #892
With #893 compiler accepts the signature and now i have the runtime error mentioned above:
[code]

[2018-10-29 13:03] rahulmutt commented on #892
That was quick! :)

And yes, the code generation bit needs to be tweaked now. I recall making some conservative assumptions about the structure of an foreign export, so those assumptions will be relaxed to handle the more sophisticated exports.

The relevant code is here:

https://github.com/typelead/eta/blob/master/compiler/Eta/DeSugar/DsForeign.hs#L620-L785

It's not very pretty so let me know i

[2018-10-29 13:04] rahulmutt commented on #892
In particular, I think the assumption we made was that the result type of a foreign export would *not* be polymorphic, so we'll need to think through how the code generation will look like in that case.

[2018-10-29 13:09] jneira commented on #892
Thanks a lot, i'll take a look to the code

[2018-10-29 14:48] rahulmutt commented on #892
Ok I understand now why you get PAP errors - a PAP is a curried function.

So the current code generation code was structured to run Java/IO actions that do not have any extends constraints:
[code]
So in this example, only the code generated will supply the `a` argument, but not the `a <: Object` argument. All typeclass constraints end up being real arguments that must be passed to the function. S

[2018-11-02 10:02] rahulmutt commented on #892
@jneira Have you tried some exports in `dhall-eta` and see if it works as intended with your recent patch?

[2018-11-02 22:55] jneira commented on #892
@rahulmutt Yeah, the simple use cases in `dhall-eta` works now
[code]

[2018-11-03 02:55] rahulmutt commented on #892
Ok great! Closing.

[2018-11-03 02:55] #892 closed

[2018-11-04 00:04] jneira commented on #704
Hi, more advances in `dhall-eta`, it has [more complete wrap over dhall main module](https://github.com/eta-lang/dhall-eta/blob/java-types/src/main/eta/Dhall/Eta.hs), including a converter from dhall to classes. Suggestions about the api are welcome!

[code]
Output:
[code]

[2018-11-04 12:46] tittoassini opened #894 "Failed installation of optparse-applicative-0.14.0.0"
## Description

Failed to install optparse-applicative-0.14.0.0
Build log ( /Users/titto/.etlas/logs/eta-0.8.6.2/optparse-applicative-0.14.0.0-Cl5llHZYFjy5i7ettrONls.log ):
etlas: Entering directory '/var/folders/jz/3q6hyr7d1078r8hyvm8v0nxc0000gq/T/etlas-tmp-32239/optparse-applicative-0.14.0.0'
Configuring optparse-applicative-0.14.0.0...
Preprocessing library for optparse-applicative-0.14.0.0..
B

[2018-11-04 21:30] tittoassini commented on #894
Much better.

I got this message:
etlas: symlink-bindir is not defined. Set it in your cabal config file or use
--symlink-bindir=<path>

I set the --symlink-bindir in the cabal config file but I still got the same message so I passed it as a parameter and it compiled ok.

Unfortunately, continuing with my attempt of compiling the 'flat' package, I got another problem:

In order, the following will

[2018-11-04 21:53] tittoassini commented on #894
I am perplexed.

etlas build unix
In order, the following will be built (use -v for more details):
 - unix-2.7.2.2 (lib) (requires build)
Configuring unix-2.7.2.2 (lib)...
Building unix-2.7.2.2 (lib)...

etlas build wcwidth
In order, the following will be built (use -v for more details):
 - wcwidth-0.0.2 (lib:wcwidth) (requires build)
Configuring wcwidth-0.0.2 (all, legacy fallback)...
Building wc

[2018-11-05 20:31] jneira commented on #894
Yeah, it is quite strange. I've downloaded the actual master version (4ec7438041dbbe6d01ebbe0a2f11960ce44d5) and etlas-1.5.0.0 builds it correctly for me. I've checked that there are a lot of comments in `flat.cabal`, maybe are you building another version?

[2018-11-05 20:44] jneira commented on #894
Otoh if i try to install `unix` inside `flat` i've got an error:
[code]

[2018-11-05 20:48] jneira commented on #894
@tittoassini it seems you kept the local dirs of `eta` and `etlas`, could you try again removing `~/etlas` and `~/eta` dirs?

[2018-11-06 10:49] tittoassini commented on #894
Thanks for your help in this matter :-)

I tried to delete both directories but ... no joy.

I just released flat-0.3.4 and this is what I get (on both macOS Sierra and ubuntu):

etlas update;etlas unpack flat-0.3.4;cd flat-0.3.4;etlas build --enable-tests
.....
....
Downloading [source] tasty-quickcheck-0.10...

Failed to build unix-2.7.2.2.
Build log (
/root/.etlas/logs/eta-0.8.6.2/unix-2.7.2.2-

[2018-11-06 11:06] tittoassini commented on #894
The java versions I am using:

java -version
openjdk version "1.8.0_181"
OpenJDK Runtime Environment (build 1.8.0_181-8u181-b13-1ubuntu0.16.04.1-b13)
OpenJDK 64-Bit Server VM (build 25.181-b13, mixed mode)

java -version
java version "1.8.0_25"
Java(TM) SE Runtime Environment (build 1.8.0_25-b17)
Java HotSpot(TM) 64-Bit Server VM (build 25.25-b02, mixed mode)

[2018-11-06 12:39] jneira commented on #894
Ok, it seems etlas is picking a version of tasty package that is not patched (see https://github.com/typelead/eta-hackage/blob/master/patches/tasty-1.1.0.3.patch#L150-L155). In fact i guess it is picking the last one `1.1.0.4`, released in 2018/10/10.
As i am on windows the condition in the cabal file removes those dependencies for me even without the patch, that's why it worked for me.
So patchin

[2018-11-06 13:50] guillaumecherel opened #895 "Nix build: 'eta-build-shell' not found"
Following the [installation instructions](https://eta-lang.org/docs/user-guides/eta-user-guide/installation/nix) for installing eta with Nix fails.

## Description

I tried running

[code]

## Expected Behavior

It should start the interactive nix shell.

## Actual Behavior

The command fails with the message:

## Steps to Reproduce

Follow the eta installation instructions with Nix.

## Context

[2018-11-06 16:42] tittoassini commented on #894
Now we are talking :-)

I fixed that and also modified my cabal to use all the latest patched versions of the dependencies.

I was then able to compile and run both the test suite and a benchmark.

I built test and benchmark with:
etlas build --enable-tests --enable-benchmarks

After that `etlas test` will run the test (that gets stuck and doesn't pass, but that's another issue) but `etlas bench`

[2018-11-06 16:48] tittoassini commented on #894
Another issue with the criterion-based benchmark is that it will crash when criterion prints out a unicode char (µ I believe).

Is this a known issue?

[2018-11-06 20:44] rahulmutt commented on #895
@puffnfresh Do the instructions need to be updated?

[2018-11-06 23:06] jneira commented on #894
* I think the slowdown is within the usual range, taking in account that is jvm vs native code. However maybe it could be analyzed and improved.
* Afaik there is no open issues about the incorrect behaviour of `etlas bench` and the bug in criterion, so feel free to open them
* Once https://github.com/typelead/eta-hackage/pull/123 etlas should build the package with that version

[2018-11-07 07:14] rahulmutt commented on #894
@jneira

- Yes, it can certainly be analyzed and improved. @tittoassini It would be really awesome if you have a dual `stack`/`etlas` setup that we can simply run and measure the difference. The more cases of "I want this particular type of program to run faster" that we have, the easier it is for us profile, figure out the bottleneck, and optimize the runtime, codegen, or the library itself. Plea

[2018-11-07 11:40] tittoassini commented on #894
OK, I will work on these points in the next few days.

In the meantime, is it a known bug that 'read' does not work with records?

data REC = REC {l::Int,r::Int} deriving (Read,Show)

main = print (read "REC {l=3,r=4}" :: REC)

Exception in thread "main" eta.runtime.exception.EtaException:
Prelude.read: no parse

I could not find it in the list of known issues.

On Wed, 7 Nov 2018 at 08:15, Rahul

[2018-11-08 10:53] rahulmutt commented on #894
@tittoassini Haven't seen it before - go ahead and file an issue. Feel free to file issues if you feel something is wrong. Don't worry about duplicating - we'll let you know if it is. I'd rather have a duplicate bug report than not having the report in the first place!

[2018-11-08 13:25] tittoassini opened #897 "Read instance does not work with records"
## Steps to Reproduce

data REC = REC {l::Int,r::Int} deriving (Read,Show)

main = print (read "REC {l=3,r=4}" :: REC)

Exception in thread "main" eta.runtime.exception.EtaException: Prelude.read: no parse

## Your Environment
Did you install an older version of Eta/Etlas before?
Yes, but I removed before installing the latest version.

Current Eta & Etlas version:
eta-0.8.6b2.

etlas version 1.5.

[2018-11-08 14:53] tittoassini opened #898 "unicode char (emoji) considered illegal"
## Description
Some valid unicode characters cause a run time error.

## Steps to Reproduce
module Main where
emoji = "\x1F600"
main = return ()

When run causes:
Exception in thread "main" java.lang.ClassFormatError: Illegal UTF8 string in constant pool in class file main/Main$emoji

## Your Environment
Did you install an older version of Eta/Etlas before?
Yes, but I removed before installing the

[2018-11-08 16:06] tittoassini opened #899 "Endianess reported incorrectly"
## Description
Some packages determine endianess on the base of WORDS_BIGENDIAN from "MachDeps.h".

eta should define this (as java is big endian) but doesn't.

## Steps to Reproduce
{-# LANGUAGE CPP #-}
module Main where

#include "MachDeps.h"

isBigEndian :: Bool
isBigEndian =
#if defined(WORDS_BIGENDIAN)
    True
#else
    False
#endif

main = print isBigEndian

Prints out "False" but should be

[2018-11-08 16:41] rahulmutt commented on #899
Eta has a `MachDeps.h` - https://github.com/typelead/eta/blob/master/libraries/rts/MachDeps.h

Happy to accept a PR for this change.

[2018-11-08 17:16] rahulmutt commented on #898
Was able to reproduce this. This seems to be a fairly straightforward fix - requires debugging how unicode characters are transformed down the compilation pipeline.

We can work backwards step-by-step to see where the incorrect encoding is being produced.

1. Do a successful source installation of eta.
2. The part of the codegen that deals with string literals is here:
https://github.com/typelead/

[2018-11-08 17:17] rahulmutt commented on #898
For this particular program, the expected byte sequence should be:
www.ltg.ed.ac.uk/~richard/utf-8.cgi?input=1F600&mode=hex

[2018-11-08 17:35] tittoassini commented on #899
does eta set up any CPP constant so that it can be identified at compile time?

[2018-11-08 17:39] rahulmutt commented on #899
@tittoassini Yes it does, `ETA_VERSION`. But why would you need that fix this particular problem? Adding `WORDS_BIGENDIAN` definition into `MachDeps.h` should be sufficient right?

[2018-11-08 17:56] tittoassini commented on #899
guess so, but in the meantime...

[2018-11-09 09:48] politrons opened #900 "aeson and http2"
I´m having issues trying to use spock or scotty http server because this two libraries
Any idea if its possible make it works this two F

I’ve read in the issues related of Aeson than there is some patch fot eta but don’t understand how to use that patch.

I’m using gradle.

And this is the error that I receive when I build
Building library for aeson-1.4.0.0..
Building library for http2-1.6.4..
et

[2018-11-09 11:02] jneira commented on #900
Hi! Thanks for trying eta. I am afraid that some haskell packages must be patched to work with eta. The patch is automatically applied by `etlas` using [this repository](https://github.com/typelead/eta-hackage)
There you can check what packages/versions are supported by eta. For `https2` the last supported version is `1.6.2` so we should patch the new version. In the meanwhile, if it fits your req

[2018-11-09 12:16] jneira commented on #881
I wonder if we could use the existing `--staticlib` ghc flag to trigger the uberjar, the description is somewhat applicable:

[2018-11-09 12:18] tittoassini opened #901 "stack overflow iterating on a list"
## Description

A simple recursive iteration on a long list causes a stack overflow error.

I have seen this problem already reported, but I would like to add another case, especially given that it heavily affects the package that I am trying to port to eta.

## Steps to Reproduce

git clone https://github.com/Quid2/flat
cd flat
git checkout d66cc7fc6880b50d81730fb9c075f7681889064f
etlas run listT

[2018-11-09 12:32] tittoassini commented on #894
I have reported the major bugs that I have encountered during the porting of 'flat' to eta elsewhere so this can be closed.

[2018-11-09 12:32] #894 closed

[2018-11-09 21:02] politrons opened #903 "A version of scotty or Spock"
Sorry to ask this here since I know is your issue. But it would be possible in case someone knows a version that works for Spock or Scotty.
 In try some many different version but none are working

[2018-11-09 21:33] jneira commented on #900
What versions have you tried so far? Could you share the `cabal` file of your project (or point to the repo)?

[2018-11-09 21:36] politrons commented on #900
I'm not using any cabal file, I´m using gradle

you can take a look here https://github.com/politrons/Eta-Haskell-server/blob/master/build.gradle

And about the version of scotty, well basically I try all versions and nothing

[2018-11-09 22:04] politrons commented on #571
What is the current state of the Maven Plugin?

[2018-11-10 20:49] jneira commented on #900
Hi @politrons , finally i 've got a working version that, pinning the conflictive dependecies (warp and http2) to the versions supported by eta (you can check the versions [here](https://github.com/typelead/eta-hackage/tree/master/patches))

[code]

[2018-11-10 21:35] politrons commented on #900
Wow @jneira  amazing job man, you manage to make it work, even with the latest version of Scotty 0.11.2. Thanks a lot!

[2018-11-10 21:38] politrons commented on #900
@jneira
This is adifferent question, but now having all dependencies when I run the server I receive this exception

"Starting Server at port 3000"
Setting phasers to stun... (port 3000) (ctrl-c to quit)
Exception in thread "main" java.lang.NoClassDefFoundError: eta/network/Utils

I try also to add the network library but seems is already included and is still failing, you can check the simple sco

[2018-11-10 22:03] jneira commented on #900
Mmm, `gradle run` in the command line works for me, including http requests like `http://localhost:3000/author`. Are you using IntelliJ? Maybe a cleaning could help.

[2018-11-10 23:29] politrons commented on #900
Mmmmm still failing, after clean with gradle. The only thing that I can think about is the Gradle version.

Actually now trying with the local version

I have Gradle 4.
 I cannot clean and run anymore

[code]

Can you tell me which version are you using to try to use that one.

Also Java 8 "1.8.0_161"

Thanks a lot for all the help man

[2018-11-10 23:47] politrons commented on #900
This issue looks related with my gradle version.

https://github.com/typelead/eta/issues/836

I'll update it thanks again!

[2018-11-11 00:16] politrons commented on #900
I update to Gradle 4.10.2 and eta from 0.7.7 to  id 'com.typelead.eta' version '0.7.8' since otherwise was not working, but same issue. I can build but the run is failing

[2018-11-11 09:59] politrons opened #904 "ClassNotFoundException: eta.network.Utils using Scotty"
Hi,

Having this Gradle build

[code]
When I run the main file I have a problem with a` ClassNotFoundException: eta.network.Utils`

Here the complete Stack

"Starting Server at port 3000"
Setting phasers to stun... (port 3000) (ctrl-c to quit)
Exception in thread "main" java.lang.NoClassDefFoundError: eta/network/Utils
	at network.network.Socket$sat$234.thunkEnter(Socket.hs:1271)
	at eta.runtime.t

[2018-11-11 14:05] jneira commented on #904
Hi, i am using gradle 4.7 in my succesful tests:
[code]
In fact [eta gradle examples](https://github.com/typelead/gradle-eta/tree/master/examples/simple) are using a gradle wrapper with that version, so maybe if you use the same wrapper it will work. Copy [the wrapper folder](https://github.com/typelead/gradle-eta/tree/master/examples/simple/gradle/wrapper) to your project should be enough.

[2018-11-11 16:57] politrons commented on #904
Yes, all this time was an issue of Gradle as expected. Using the wrapper works. So it seems EtaLang has some issues with Gradle > 4.8 at least in my case.

Thanks a lot for all the help

[2018-11-11 16:57] #904 closed

[2018-11-11 19:59] jneira commented on #900
I think we can close this one, feel free to reopen

[2018-11-11 19:59] #900 closed

[2018-11-12 15:39] joshsh commented on #571
Btw. I for one no longer need a Maven plugin, although I am hopeful that the Gradle plugin will become a little more automated w.r.t. [reading dependencies](https://github.com/typelead/gradle-eta/issues/30) from `*.cabal`.

[2018-11-12 16:59] y-taka-23 opened #905 "'java.lang.NoClassDefFoundError: eta/primitive/Utils' when using JuicyPixels"
The following runtime error occurs when I read/save images by JuicyPixels 3.3, despite the fact that eta-hackage supports the version (https://github.com/typelead/eta-hackage#graphics.)

The trouble can be re-produced even after clearing eta/etlas/gradle caches.

`src/main/eta/Main.hs`:
[code]

`build.gradle`:
[code]

The full log of `gradle run`:
[code]

[2018-11-13 06:57] jneira commented on #905
Hi, there is a [similar known issue using the eta plugin with gradle version > 4.8](https://github.com/typelead/gradle-eta/issues/36). The suggested workaruound is copy the gradle wrapper files of [gradle-eta examples](https://github.com/typelead/gradle-eta/issues/36):
- `gradlew`/`gradlew.bat` at top
- `gradle/wrapper` folder
and run it with the copied script
Or maybe you are already using `4.7`/

[2018-11-13 09:55] rahulmutt opened #906 "Improving metaprogramming support"
@elfprince13 suggested that we look at the current state-of-the-art in statically typed metaprogramming and incorporate it into Eta eventually.

Paper - https://infoscience.epfl.ch/record/232427

Implementation in Scala - https://github.com/epfldata/squid

[2018-11-13 11:03] y-taka-23 commented on #905
That's it! Actually I used a pretty older Gradle. After upgrading `gradlew` to v4.8 it works, Thx!

[2018-11-13 11:03] #905 closed